@using WebMatrix.Data;
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    
    var verifications = LcData.UserInfo.GetUserVerifications(u.UserID);
}
<div>
    <div class="email-verification-form">
        @RenderPage(LcUrl.RenderLangPath + "Account/$ResendConfirmationEmail.cshtml", new { HeaderHtml = "<h4>E-mail:</h4>" })
    </div>
    @* Social media verifications: request buttons *@
    <div class="social-media">
        <h4>Social media:</h4>
        <ul>
            <li class="facebook">
                @RenderPage(LcUrl.RenderLangPath + "Account/_FacebookConnectButton.cshtml", new { Section = "Verify", Result = "json" } )
            </li>
            @*
            <li class="twitter"><a href="#"><img src="@Href(LcUrl.AppPath + "img/connect-twitter.png")" alt="Sign in Twitter"/></a></li>
            <li class="linkedin"><a href="#"><img src="@Href(LcUrl.AppPath + "img/connect-linkedin.png")" alt="Sign in LinkedIn"/></a></li>
            *@
        </ul>
    </div>
    @* Saved verifications *@
    @if (verifications != null && verifications.Count > 0)
    {
        <div class="user-verifications">
            <h4>Verifications:</h4>
            <ul>
                @foreach (var v in verifications)
                {
                    <li class="@v.Icon @(v.VerificationStatusID == 1 ? "status-confirmed" : "")">@v.VerificationType: <span class="status">@v.VerificationStatusName</span> on @v.LastVerifiedDate</li>
                }
            </ul>
        </div>
    }
</div>