@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    PageData["menu-item"] = "account";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a href="#account-profile">Profile</a></li>
            <li><a href="#account-verifications">Verifications</a></li>
            @if (u.IsProvider){
			<li><a href="#account-payments">Payments</a></li>
            <li><a href="#account-taxes">Taxes</a></li>
                <li><a href="#account-terms">Terms of use</a></li>
            }
        </ul>

		<div id="account-profile" class="tab-body current fancy buttons tabbed">
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#account-profile-contact">Contact Info</a></li>
                <li><a class="button profile fanciful" href="#account-profile-profile">Profile</a></li>
                @if (u.IsProvider)
                {
                <li><a class="button profile fanciful" href="#account-profile-education">Education</a></li>
                }
            </ul>

            <div id="account-profile-contact" class="tab-body current">
                @RenderPage("$AccountProfileContact.cshtml")
            </div><!-- #account-profile-contact -->
            <div id="account-profile-profile" class="tab-body">
                @RenderPage("$AccountProfileProfile.cshtml")
            </div><!-- #account-profile-profile -->
            @if (u.IsProvider)
            {
            <div id="account-profile-education" class="tab-body">
                @RenderPage("$AccountProfileEducation.cshtml")
            </div><!-- #account-profile-education -->
            }

		</div><!-- #account-personal -->

		<div id="account-verifications" class="tab-body fancy buttons">
            @RenderPage("$AccountVerifications.cshtml")
		</div><!-- #account-verifications -->
        
		<div id="account-payments" class="tab-body fancy tabbed buttons">
            <ul class="tabs">
                @if (u.IsProvider)
                {
                <li><a class="button profile fanciful" href="#account-payments-bankinfo">Bank Account</a></li>
                }
                @if (u.IsCustomer)
                {
                <li><a class="button profile fanciful" href="#account-payments-billingaddress">Billing Address</a></li>
                }
                <li class="current"><a class="button profile fanciful" href="#account-payments-transactionhistory">Transaction History</a></li>
            </ul>
            
            @if (u.IsProvider)
            {
            <div id="account-payments-bankinfo" class="tab-body">
                @RenderPage("$AccountPaymentsBankInfo.cshtml")
            </div><!-- #account-payments-bankinfo -->
            }
            @if (u.IsCustomer)
            {
            <div id="account-payments-billingaddress" class="tab-body">
                @RenderPage("$AccountPaymentsBillingAddress.cshtml")
            </div><!-- #account-payments-billingaddress -->
            }
            <div id="account-payments-transactionhistory" class="tab-body current">
                @RenderPage("$ComingSoon.cshtml")
            </div><!-- #account-payments-transactionhistory -->
		</div><!-- #account-payments -->

		<div id="account-taxes" class="tab-body fancy buttons">
            @RenderPage("$AccountTaxes.cshtml")
		</div><!-- #account-taxes -->
        
        <div id="account-terms" class="tab-body fancy">
            @RenderPage(LcUrl.RenderLangPath + "HelpCenter/$TermsOfUse.cshtml")
        </div><!-- #account-terms -->