@*  $CalendarEditEventForm.cshtml
    List provider availability events
 *@
@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    var idprefix = "availabilityEventsList";

    dynamic events = null;
    using (var db = Database.Open("sqlloco")) {
        events = db.Query(@"
            SELECT  E.Id, E.Summary, E.CalendarAvailabilityTypeID, E.StartTime, E.EndTime,
                    T.CalendarAvailabilityTypeName As DisplayName
            FROM    CalendarEvents As E
                     INNER JOIN
                    CalendarAvailabilityType As T
                      ON E.CalendarAvailabilityTypeID = T.CalendarAvailabilityTypeID
                        AND T.LanguageID = @1 AND T.CountryID = @2
            WHERE   UserID = @0
                     AND
                    EventType IN (3, 5)
            ORDER BY StartTime ASC, EndTime ASC
        ", u.UserID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
    }
}
@if (events == null || events.Count == 0)
{
    <div>There is no appointments still!</div>
}
else
{
    <table id="@idprefix">
        <thead>
            <tr>
                <th>What</th>
                <th>Starts</th>
                <th>Ends</th>
                <th>Availability</th>
                <th class="actions">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr class="event crudl-item" data-crudl-item-id="@e.Id">
                    <td>@e.Summary</td>
                    <td>@e.StartTime</td>
                    <td>@e.EndTime</td>
                    <td>@e.DisplayName</td>
                    <td class="actions">
                        <button type="button" class="action edit-action crudl-update">Edit</button>
                        <button type="button" class="action delete-action crudl-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}