@*  $CalendarEditEventForm.cshtml
    Allow edit or create an event.
 *@
@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    var eventID = Request["EventID"].AsInt();
    var idprefix = "editEvent" + eventID.ToString();
    
    if (Request["Action"] == "delete") {

        // TODO Delete eventID
        LcHelpers.ReturnJsonResult(0, "Event was succesful deleted!");
        // ENDS page execution
    }

    // TODO Validation rules
    
    // TODO Save posted data
    if (IsPost && Validation.IsValid()) {
        
        if (ModelState.IsValid) {
            // All was fine, AJAX-JSON response
            LcHelpers.ReturnJsonResult(0, "Event was succesful saved!");
        }
    }
}
<form action="@(LcUrl.LangPath)$Dashboard/$CalendarEditEventForm/" method="post" class="crudl-form ajax ajax-box" id="@idprefix">
    @LcHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)

    @if (eventID == 0)
    {
        <div>New event!</div>
    }
    else
    {
        <div>Editing event @eventID</div>
    }

    <ul>
        <li class="type">
            <label>Type</label>
            <select name="type">
                <option id="3">Appointment</option>
                <option id="6">Offline Booking</option>
                <option id="5">Other</option>
            </select>
        </li>
        <li class="what">
            <label>What</label>
            <input type="text" placeholder="Untitled event" name="title" />
        </li>
        <li class="when">
            <label>When</label>
            <input name="startdate" type="text" value="@DateTime.Today" />
            <input name="starttime" type="text" value="@DateTime.Now.TimeOfDay" />
        </li>
    </ul>

    <div class="actions">
        <button type="button" class="button cancel-action crudl-cancel">Cancel</button>
        <button class="button main-action crudl-save">Save</button>
    </div>
</form>