@*  $CalendarEditEventForm.cshtml
    Allow edit or create an event.
 *@
@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    var eventID = Request["EventID"].AsInt();
    var idprefix = "editEvent" + eventID.ToString();
    
    if (Request["Action"] == "delete") {

        // TODO Delete eventID
        System.Threading.Thread.Sleep(2000);
        LcHelpers.ReturnJsonResult(0, "Event was succesful deleted!");
        // ENDS page execution
    }

    // TODO Validation rules
    
    // TODO Save posted data
    if (IsPost && Validation.IsValid()) {
        System.Threading.Thread.Sleep(2000);
        
        if (ModelState.IsValid) {
            // All was fine, AJAX-JSON response
            LcHelpers.ReturnJsonResult(0, "Event was succesful saved!");
        }
    }
}
<form action="@(LcUrl.LangPath)$Dashboard/$CalendarEditEventForm/" method="post" class="crudl-form ajax ajax-box" id="@idprefix">
    @LcHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)

    @if (eventID == 0)
    {
        <div>New event!</div>
    }
    else
    {
        <div>Editing event @eventID</div>
    }

    <div class="actions">
        <button type="button" class="button cancel-action crudl-cancel">Cancel</button>
        <button class="button main-action crudl-save">Save</button>
    </div>
</form>