@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    // All the data for this email:
    var info = LcEmailTemplateHelper.GetBookingInfo();
    // We need the users data to display names
    var pairUserData = LcData.UserInfo.GetUserRow(info.PairUserID);
    var sentToUserData = LcData.UserInfo.GetUserRow(info.SentToUserID);

    try{
        Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";
        Page.Title = "Your Booking Request has Expired";

        // Data for the EmailLayout:
        PageData["messageTitle"] = "Your Booking Request has Expired";
        PageData["messageSubtitle"] = "";
        // Create URL:
        PageData["ViewOnSiteURL"] = info.ViewOnSiteURL;
   
    }catch(Exception ex){
        showError("HEAD", ex);
    }
}
@helper showError(string section, Exception ex) {
    if (LcHelpers.InProduction) {
        @("We're sorry. There was an error generating an email for you about an expired booking request, please go to your dashboard to see it.")
    } else {
        @(section + " ex: " + ex.Message + "::" + ex.StackTrace)
    }
}
@functions{
    string getExpiredTitle(dynamic booking, dynamic pairUserData, LcData.UserInfo.UserType sentTo) {
        var statusTitle = "Expired booking request involving {0}";
        switch (sentTo) {
			case LcData.UserInfo.UserType.Provider:
                statusTitle = "Booking request from {0} has expired";
                break;
            case LcData.UserInfo.UserType.Customer:
                statusTitle = "Booking request for {0} has expired";
                break;
        }
        return String.Format(statusTitle, LcHelpers.GetUserDisplayName(pairUserData));
    }
}
@if (info.Booking == null)
{
    throw new Exception("We're unable to find this booking request, please contact us and reference Booking Request ID: " + info.BookingRequestID.ToString());
}
else
{
    try
    {
        <div>
            @{
                PageData["messageTitle"] = getExpiredTitle(info.Booking, pairUserData, info.SentTo);
                PageData["messageSubtitle"] = String.Format(
                    "Booking Request ID: {0} last updated: {1:D} at {2:T}",
                    info.BookingRequestID, info.Booking.UpdatedDate, info.Booking.UpdatedDate
                );
            }
            
            @switch (info.SentTo) {
			    case LcData.UserInfo.UserType.Provider:
                    
                    <p @LcEmailTemplateHelper.StyleResetP()>Hello again, @LcHelpers.GetUserDisplayName(sentToUserData)! <br><br>
                    We’re really sorry to have to let you down. @LcHelpers.GetUserDisplayName(pairUserData) did not respond to your request within the alloted time.  Your credit card has not been charged, and your authorization will expire shortly.<br><br>
			        <a style="text-transform: lowercase;width: 100px;display: inline;margin-left: 10px;" href="@(LcUrl.LangUrl)">Click here</a>. to search for another provider. <br><br>
			        At your service,<br><br>
			        The Loconomics team</p>
                    
                    break;
                case LcData.UserInfo.UserType.Customer:

                    <p @LcEmailTemplateHelper.StyleResetP()>Hello @LcHelpers.GetUserDisplayName(sentToUserData), <br><br>
                    You haven´t replied to the booking request from @LcHelpers.GetUserDisplayName(pairUserData) requesting your @info.Booking.PositionSingular services, within the alloted 18 hours, and as a result it has now expired. We know life is busy, but we need our community members to be responsive to ensure the best possible experience for everybody.<br/><br/>  
			        @LcHelpers.GetUserDisplayName(pairUserData) has also been informed.
                    If you’d like to contact @pairUserData.ObjectPronoun, 
                    <a style="text-transform: lowercase;width: 100px;display: inline;margin-left: 10px;" href="@(LcData.UserInfo.GetUserPublicURL(info.PairUserID))">click here</a>.<br><br>
			        At your service,<br><br>
			        The Loconomics team</p>
                
                    break;
            }
        </div>
    }
    catch (Exception ex)
    {
        showError("BODY", ex);
    }
}

