@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";

    // All the data for this email:
    var info = LcEmailTemplateHelper.GetBookingInfo();

    // Data for the EmailLayout:
    PageData["ViewOnSiteURL"] = info.ViewOnSiteURL;
    PageData["messageTitle"] = LcData.Booking.GetBookingRequestTitleFor(info.Booking.BookingRequestStatusID, info.PairUser, info.SentTo);
    PageData["messageSubtitle"] = LcEmailTemplateHelper.GetLastUpdateText(info.Booking.UpdatedDate);
    
    DateTime confirmationLimitDate = info.Booking.UpdatedDate.AddHours(LcData.Booking.BookingRequestConfirmationLimitHours);
}
<div>
    <h4 @LcEmailTemplateHelper.StyleH4("color: #8B2143;")>@info.PairUserType profile</h4>
    @RenderPage(LcUrl.RenderLangPath + "Email/$EmailUserInfoWidget.cshtml", new Dictionary<string, object>{ 
        {"AddContainerStyle", LcEmailTemplateHelper.StyleMessageSection()},        
        {"Data", info.PairUser},
        {"DataPrefix", ""},
        {"Size", "medium"},
        {"UserType", info.PairUserType.ToString().ToLower()}
    })

    @if (info.Booking.BookingRequestStatusID == 2 && info.SentTo == LcData.UserInfo.UserType.Provider)
    {
        <h4 @LcEmailTemplateHelper.StyleH4()>Requested booking times</h4>
        <div style="@LcEmailTemplateHelper.StyleMessageSection()">
            <p @LcEmailTemplateHelper.StyleResetP()>
            @LcHelpers.GetUserDisplayName(info.PairUser) has booked you as a @info.Booking.PositionSingular and chosen
            the following times for you to provide the service. Please confirm one of these times 
            <strong style="font-weight: normal;color: #8b2143;">within @LcData.Booking.BookingRequestConfirmationLimitHours hours (by @confirmationLimitDate.ToShortTimeString(), @confirmationLimitDate.ToLongDateString())</strong>
            to accept this booking.
            </p>
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Preferred time:</h5>
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=preferred">
                Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.PreferredDateStart, info.Booking.PreferredDateEnd)
            </a>
            @if (info.Booking.AlternativeDate1Start is DateTime || info.Booking.AlternativeDate2Start is DateTime)
            {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Alternate times:</h5>
            }
            @if (info.Booking.AlternativeDate1Start is DateTime)
            {
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=alternative1">
                Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate1Start, info.Booking.AlternativeDate1End)
            </a>
            }
            @if (info.Booking.AlternativeDate2Start is DateTime)
            {
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=alternative2">
                Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate2Start, info.Booking.AlternativeDate2End)
            </a>
            }
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Decline booking request</h5>
            <a class="button-decline-booking" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #e95d0f;" href="@(LcUrl.LangUrl)Booking/$DeclineBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)">
                Decline booking (you can offer alternative times to the customer)
            </a>
        </div>
    }
    else if (info.Booking.PreferredDateStart is DateTime)
    {
        <h4 @LcEmailTemplateHelper.StyleH4()>Requested booking times</h4>
        <div style="@LcEmailTemplateHelper.StyleMessageSection()">
            <p @LcEmailTemplateHelper.StyleResetP()>
            @switch (info.SentTo) {
                case LcData.UserInfo.UserType.Provider:
                    <text>You have booked to @LcHelpers.GetUserDisplayName(info.PairUser) as a @info.Booking.PositionSingular and chosen
                    the following time(s) for an appointment:</text>
                    break;
                case LcData.UserInfo.UserType.Customer:
                    <text>@LcHelpers.GetUserDisplayName(info.PairUser) has booked you as a @info.Booking.PositionSingular and chosen
                    the following times for you to provide the service.</text>
                    break;
            }
            </p>
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Preferred time:</h5>
            <div class="selected-date preferred-date">
                @LcHelpers.DateTimeRangeToString(info.Booking.PreferredDateStart, info.Booking.PreferredDateEnd)
            </div>
            @if (info.Booking.AlternativeDate1Start is DateTime || info.Booking.AlternativeDate2Start is DateTime)
            {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Alternate times:</h5>
            }
            @if (info.Booking.AlternativeDate1Start is DateTime)
            {
            <div class="selected-date alternative-date alternative-date-1">
                @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate1Start, info.Booking.AlternativeDate1End)
            </div>
            }
            @if (info.Booking.AlternativeDate2Start is DateTime)
            {
            <div class="selected-date alternative-date alternative-date-2">
                @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate2Start, info.Booking.AlternativeDate2End)
            </div>
            }
        </div>
    }
        
    <h4 @LcEmailTemplateHelper.StyleH4()>Requested services and pricing estimate</h4>
    @RenderPage("$EmailRequestedBookingServicesWidget.cshtml", info.Booking, info.SentTo.ToString().ToLower(), true)

    <h4 @LcEmailTemplateHelper.StyleH4()>Reminders</h4>
    @RenderPage("$EmailBookingRemindersWidget.cshtml", info.SentTo.ToString().ToLower())

</div>