@* Email with updated information about a Booking Request, mainly to communicate to the
    provider that a request was done (BookingRequestStatusID:2, but also generate content for other statuses)
 *@
@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";

    // All the data for this email:
    var info = LcEmailTemplateHelper.GetBookingInfo();

    // Data for the EmailLayout:
    PageData["ViewOnSiteURL"] = info.ViewOnSiteURL;
    PageData["messageTitle"] = LcData.Booking.GetBookingRequestTitleFor(info.Booking.BookingRequestStatusID, info.PairUser, info.SentTo);
    PageData["messageSubtitle"] = LcEmailTemplateHelper.GetLastUpdateText(info.Booking.UpdatedDate);
    PageData["showSign"] = true;
    switch (info.SentTo) {
        case LcData.UserInfo.UserType.Provider:
            PageData["needHelpAddress"] = "providersupport@loconomics.com";
            break;
        case LcData.UserInfo.UserType.Customer:
            PageData["needHelpAddress"] = "support@loconomics.com";
            break;
    }
    
    DateTime confirmationLimitDate = info.Booking.UpdatedDate.AddHours(LcData.Booking.BookingRequestConfirmationLimitHours);
}
<div>
    <p>
        Hello, @(info.SentToUser.FirstName)!
    </p>
    @* For booking request first message (status:request-completed)
     *@
    @if (info.Booking.BookingRequestStatusID == 2)
    {
        switch ((LcData.UserInfo.UserType)info.SentTo)
        {
            case LcData.UserInfo.UserType.Customer:
                <p>
                    Please find the details of your booking request below.
                    We're working with @LcEmailTemplateHelper.PrintUserProfileLink(info.ProviderUser)
                    to confirm it as soon as possible.
                </p>
    
                <h4 @LcEmailTemplateHelper.StyleH4()>Time preferences</h4>
                <div>
                    <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>First choice:</h5>
                    <div class="selected-date preferred-date">
                        @LcHelpers.DateTimeRangeToString(info.Booking.PreferredDateStart, info.Booking.PreferredDateEnd)
                    </div>
                    @if (info.Booking.AlternativeDate1Start is DateTime)
                    {
                        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Second choice:</h5>
                        <div class="selected-date alternative-date alternative-date-1">
                            @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate1Start, info.Booking.AlternativeDate1End)
                        </div>
                    }
                    @if (info.Booking.AlternativeDate2Start is DateTime)
                    {
                        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Third choice:</h5>
                        <div class="selected-date alternative-date alternative-date-2">
                            @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate2Start, info.Booking.AlternativeDate2End)
                        </div>
                    }
                </div>
    
                    break;
            case LcData.UserInfo.UserType.Provider:
                <p>
                    @LcEmailTemplateHelper.PrintUserProfileLink(info.CustomerUser) 
                    (@LcData.UserInfo.GetCustomerGlobalRating(info.Booking.CustomerUserID).ToString("0.0") star rating and member since @info.CustomerUser.MemberSinceDate.ToString("MMMM yyyy"))
                    has booked you as a <strong>@info.Booking.PositionSingular</strong>.
                    @(info.CustomerUser.FirstName)'s chosen the following times for you to meet up for an appointment.
                    In order to accept the booking, chose one of these time slots <strong>withing @LcData.Booking.BookingRequestConfirmationLimitHours hours</strong>
                    from now (<strong>by @confirmationLimitDate.ToShortTimeString(), @confirmationLimitDate.ToLongDateString()</strong>):
                </p>
                <div>
                    <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>First choice:</h5>
                    <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=preferred">
                        Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.PreferredDateStart, info.Booking.PreferredDateEnd)
                    </a>
                    @if (info.Booking.AlternativeDate1Start is DateTime)
                    {
                        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Second choice:</h5>
                        <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=alternative1">
                            Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate1Start, info.Booking.AlternativeDate1End)
                        </a>
                    }
                    @if (info.Booking.AlternativeDate2Start is DateTime)
                    {
                        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Third choice:</h5>
                        <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)&ConfirmedDateType=alternative2">
                            Click here to confirm @LcHelpers.DateTimeRangeToString(info.Booking.AlternativeDate2Start, info.Booking.AlternativeDate2End)
                        </a>
                    }
                    <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Decline booking</h5>
                    <a class="button-decline-booking" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #e95d0f;" href="@(LcUrl.LangUrl)Booking/$DeclineBookingRequest/?BookingRequestID=@(info.Booking.BookingRequestID)">
                        Decline booking
                    </a>
                </div>
                                                                                                                                                                                                                          break;
        }
    }
    else
    {
        <h4 @LcEmailTemplateHelper.StyleH4("color: #8B2143;")>@info.PairUserType information</h4>
        @RenderPage(LcUrl.RenderLangPath + "Email/$EmailUserInfoWidget.cshtml", new Dictionary<string, object>{ 
            {"AddContainerStyle", LcEmailTemplateHelper.StyleMessageSection()},        
            {"Data", info.PairUser},
            {"DataPrefix", ""},
            {"Size", "medium"},
            {"UserType", info.PairUserType.ToString().ToLower()}
        })
    }
 
    <h4 @LcEmailTemplateHelper.StyleH4()>Requested services and pricing estimate</h4>
    @RenderPage("$EmailRequestedBookingServicesWidget.cshtml", info.Booking, info.SentTo.ToString().ToLower(), true)

    <h4 @LcEmailTemplateHelper.StyleH4()>Reminders</h4>
    @RenderPage("$EmailBookingRemindersWidget.cshtml", info.SentTo.ToString().ToLower())

</div>