@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    // All the data for this email:
    var info = LcEmailTemplateHelper.GetBookingInfo();

    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";

    // Data for the EmailLayout:
    PageData["messageSubtitle"] = LcEmailTemplateHelper.GetLastUpdateText(info.Booking.UpdatedDate);
    PageData["ViewOnSiteURL"] = info.ViewOnSiteURL;
    PageData["showSign"] = true;
}
<div>
    @switch (info.SentTo) {
		case LcData.UserInfo.UserType.Provider:
                    
            PageData["messageTitle"] = String.Format("Booking request from {0} has expired", LcHelpers.GetUserDisplayName(info.CustomerUser));
            PageData["needHelpAddress"] = "providersupport@loconomics.com";
   
            <p @LcEmailTemplateHelper.StyleResetP()>Hello, @(info.ProviderUser.FirstName), <br/><br/>

            You haven´t replied to the booking request from @LcHelpers.GetUserDisplayName(info.CustomerUser) requesting your services as a <strong>@info.Booking.PositionSingular</strong>,
            within the alloted 18 hours, and as a result it has now expired.
            We know life is busy, but we need our community members to be responsive to ensure the best possible experience for everybody.
            
            <br/><br/>
			@LcHelpers.GetUserDisplayName(info.CustomerUser) has also been informed.
            If you’d like to contact @info.ProviderUser.ObjectPronoun,
            <a target="_blank" href="@(LcData.UserInfo.GetUserPublicURL(info.Booking.CustomerUserID))">click here</a>.
            </p>

            break;
        case LcData.UserInfo.UserType.Customer:
                
            PageData["messageTitle"] = String.Format("{0} did not respond to your request", LcHelpers.GetUserDisplayName(info.ProviderUser));
            PageData["needHelpAddress"] = "support@loconomics.com";

            <p @LcEmailTemplateHelper.StyleResetP()>Hello again, @(info.CustomerUser.FirstName)! <br/><br/>

            We’re really sorry to have to let you down. <a target="_blank" href="@(LcData.UserInfo.GetUserPublicURL(info.ProviderUser.UserID))">@LcHelpers.GetUserDisplayName(info.ProviderUser)</a> did not respond to your request within the alloted time.
            <strong>Your credit card has not been charged</strong>, and your authorization will expire shortly.

            @*We'd like you to give us another shot, and we'll waive the booking fees. *@
            <a target="_blank" href="@(LcUrl.LangUrl)?s=@(info.Booking.PositionSingular)">Click here</a> to search for another @(info.Booking.PositionSingular).
			
            @* and enter TRYAGAINCODE during the checkout process. *@
            </p>

            break;
    }
</div>
