@* List, create, edit and remove pricing packages of the provider.
*@
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    var pos = PageData["Position"];
    int positionID = pos.PositionID;
    // TODO Get clienttypeid and do something with clienttypeid -- not still defined how clienttype must work and how must be get
    var clienttypeid = 1;
    var pricingTypes = LcData.GetPositionPricingTypes(positionID, clienttypeid);
    var data = LcData.GetPricingPackagesByProviderPosition(u.UserID, positionID);
    var idprefix = "position" + positionID.ToString() + "-pricingwizard-packages";
    
    var datacontext = "pricing-" + positionID.ToString();
}

@if (pricingTypes != null && pricingTypes.Count > 0)
{
    <p class="DashboardSection-page-section-introduction">
        Keeping your prices available and realistic is a good idea.
        If you need help determining what's right, let us know.
        We strive for transparenc--our fees are show below.
    </p>

    <fieldset class="DashboardPricing crudl Crudl--basicStyle" data-crudl-context="@datacontext" data-crudl-item-id-parameter="ProviderPackageID" data-crudl-extra-query="subform=true&PositionID=@positionID">
        <div class="DashboardPricing-editor crudl-editor BasicForm" data-source-url="@(LcUrl.LangUrl)$NewDashboard/YourWork/$PricingItemEdit/">
        </div>
        <div class="DashboardPricing-list crudl-viewer">
            <div class="lc-ressources">
                <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
                <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
            </div>

            <div class="ActionsBoxList">
                @foreach (var pricingType in pricingTypes)
                {
                    var config = LcPricingModel.PackageBasePricingTypeConfigs[(int)pricingType.PricingTypeID];
                    <div class="ActionBox">
                        <a href="#add-@config.SlugName" class="crudl-create" data-crudl-extra-query="PricingTypeID=@(pricingType.PricingTypeID)">@config.AddNewLabel</a>
                        <p>@config.ProviderDescription</p>
                    </div>
                }
            </div>

            @foreach (var pricingType in pricingTypes)
            {
                var config = LcPricingModel.PackageBasePricingTypeConfigs[(int)pricingType.PricingTypeID];
                <div class="crudl-list" data-crudl-extra-query="PricingTypeID=@(pricingType.PricingTypeID)" data-source-url="@(LcUrl.LangPath)PricingWizard/$PricingList/?PositionID=@(positionID)&Editable=true&PricingTypeID=@(pricingType.PricingTypeID)">
                    @RenderPage(LcUrl.RenderLangPath + "PricingWizard/$PricingList.cshtml",
                       new {
                           Data = data,
                           Editable = true,
                           PricingTypeID = pricingType.PricingTypeID,
                           ProviderUserID = u.UserID,
                           PositionID = positionID
                       }
                    )
                </div>
            }
        </div>
    </fieldset>
}
else
{
    <p class="DashboardSection-page-section-introduction">
        We're currently researching how best to calculate pricing estimates for this position.
        We'd love to get your input; please <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">send us a note</a>.
    </p>
}