@{
    var threadID = PageData["threadID"];
    var messageID = PageData["messageID"];
    var messageTitle = PageData["messageTitle"];
    var viewOnSiteUrl = PageData["viewOnSiteUrl"];
    if (threadID != null) {
        viewOnSiteUrl = UrlUtil.LangUrl + "Dashboard/Mailbox/#!Thread-" + threadID;
        if (messageID != null) {
            viewOnSiteUrl += "_Message-" + messageID;
        }
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Loconomics - @Page.Title</title>
    <style type="text/css">
        /* Boilerplate */
            .ExternalClass {width:100%;} 
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;} 
                         
            body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} 
            body {margin:0; padding:0;} 
            table td {border-collapse:collapse;}    

            p {margin:0; padding:0; margin-bottom:0;}       

            h1, h2, h3, h4, h5, h6 {
                color: #00989A; 
                line-height: 100%; 
            }

            a, a:link {
                color:#2A5DB0;
                text-decoration: underline;
            }
 
            body, #body_style {
                background:#fff;
                min-height:1000px;
                color:#6c6c6c;
                font-family:Arial, Helvetica, sans-serif;
                font-size: 13px;
                line-height: 150%;
            }
            span.yshortcuts { color:#000; background-color:none; border:none;}
            span.yshortcuts:hover,
            span.yshortcuts:active,
            span.yshortcuts:focus {color:#000; background-color:none; border:none;}
                     
            a:visited { color: #3c96e2; text-decoration: none}
            a:focus   { color: #3c96e2; text-decoration: underline}
            a:hover   { color: #3c96e2; text-decoration: underline}
        /* End Boilerplate */
            ul, ol, li {
                list-style: none outside none;
                margin: 0;
                padding: 0;
            }
            table {
                font-size: 13px;
            }
            h2.message-title {
                font-size: 12px;
                font-weight: bold;
                height: auto;
                line-height: 15px;
            }
            h3 {
                font-size: 20px;
                margin: 0;
                color: #8B2143;
                font-weight: bold;
            }
            h4 {
                margin: 15px 0 0;
                font-size: 17px;
                color: #8B2143;
            }
            a.respond {
                background: none repeat scroll 0 0 #8B2143 !important;
                border-radius: 20px 20px 20px 20px;
                -o-border-radius: 20px 20px 20px 20px;
                -webkit-border-radius: 20px 20px 20px 20px;
                -moz-border-radius: 20px 20px 20px 20px;
                color: White;
                padding: .4em 1em;
                margin: 1em;
                text-transform: lowercase;
                display: inline-block;
                text-decoration: none;
            }
            a.respond:hover {
                box-shadow: 0 0 5px 2px #8B2143;
            }
            .message-section {
                background: none repeat scroll 0 0 white;
                border: 1px solid #6C6C6C;
                border-radius: 15px 15px 15px 15px;
                padding: 15px;
            }
            .highlighted {
                background-color: #9ACECE;
            }
            .conversation {
                clear: both;
                overflow: hidden;
            }
            .conversation-message {
                clear: both;
                width: 100%;
                overflow: hidden;
                margin-bottom: 20px;
            }
            .conversation-message .message-section {
                margin: 0 13px;
                width: 430px;
                overflow: hidden;
            }
            .conversation-message .mini-user-info {
                width: 60px;
                overflow: hidden;
                margin: 8px 0;
                font-size: 0.9em;
            }
            .conversation-message.customer .message-section,
            .conversation-message.customer .mini-user-info,
            .conversation .customer .message-section,
            .conversation .customer .mini-user-info {
                float: left;
            }
            .conversation-message.provider .message-section,
            .conversation-message.provider .mini-user-info,
            .conversation .provider .message-section,
            .conversation .provider .mini-user-info {
                float: right;
            }
            h3.message-subject {
                margin: 15px 0;
            }
            .user-public-name {
                font-weight: bold;
            }
            .message-copy {
                float: right;
                padding: 15px;
                font-style: italic;
            }
            /* Users */
            .mini-avatar{
                display: inline-block;
                height: 55px;
                margin: 0 5px 0 0;
                vertical-align: top;
                width: 55px;
            }
            /* Class mini-user-info */
            .mini-user-info {
                clear: both;
                display: inline-block !important;
                width: 150px;
                overflow: hidden;
            }
            .mini-user-info > h5 {
                font-size: 1em;
                color: #6c6c6c;
                display: inline;
            }
            .mini-user-info > img.avatar {
                float: left;
                margin: 0 10px 0 0;
            }
            .mini-user-info > a.view-profile,
            .mini-user-info > a.view-profile:link,
            .mini-user-info > a.view-profile:visited {
                color: #00989a;
                display: block;
            }
            /* Class medium-user-info */
            .medium-user-info {
                position: relative;
                font-size: .9em;
            }
            .medium-user-info a.view-profile {
                bottom: 15px;
                display: block;
                position: absolute;
                right: 15px;
                text-transform: lowercase;
                width: 100px;
            }
            .medium-user-info.user-contact-data a.view-profile {
                position: static;
                display: inline;
                margin-left: 10px;
            }
            .medium-user-info .user-text {
                display: inline-block;
                height: 50px;
                line-height: normal;
                overflow: hidden;
                width: 400px;
            }
            .medium-user-info .user-contact-data {
                display: inline-block;
                line-height: normal;
                overflow: hidden;
                width: 400px;
            }
            .medium-user-info h5.user-public-name {
                margin: 0;
                font-size: 1em;
                line-height: 1em;
                display: inline;
                color: #6C6C6C;
            }
            .medium-user-info .user-rating {
                display: inline-block;
            }
            .medium-user-info .user-rating .note {
                font-size: .8em;
                color: #6c6c6c;
                font-style: italic;
            }
            .medium-user-info .google-map {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            /* bookings */
            .booking-request h5 {
                color: #6C6C6C;
                font-size: 1.1em;
                margin: 8px 0 0;
            }
            .booking-request {
                position: relative;
            }
            .booking-request h3,
            .booking-request h4 {
                color: #8B2143;
            }
            .booking-request h3 {
                font-size: 1.4em;
                margin: 0;
            }
            .booking-request h4 {
                font-size: 1.2em;
                margin: 15px 0 0;
            }
            .booking-request h5 {
                font-size: 1.1em;
                margin: 8px 0 0;
                color: #6c6c6c;
            }
            .booking-request p {
                margin: 0;
            }
            .booking-request table.pricing-summary {
                border: none;
            }
            .booking-request table.pricing-summary td.concept {
                padding-right: 5px;
            }
            .booking-request table.pricing-summary td.price {
                padding-left: 3px;
                text-align: right;
                vertical-align: bottom;
            }
            .booking-request table.pricing-summary tr.total {
                font-weight: bold;
            }
            .requested-booking-services .services li {
                margin-left: 20px;
                width: 205px;
                display: inline-block;
            }
            .requested-booking-times .button {
                border-radius: 20px;
                -moz-border-radius: 20px;
                -o-border-radius: 20px;
                -webkit-border-radius: 20px;
                color: White;
                font-size: .9em;
                line-height: 160%;
                margin: 3px 0;
            }
            .requested-booking-times strong {
                font-weight: normal;
                color: #8b2143;
            }
            .button-confirm-datetime {
                background: #99C027 !important;
            }
            .button-decline-booking {
                background: #e95d0f !important;
            }
            .button-confirm-datetime:hover {
                box-shadow: 0 0 5px 2px #99C027;
                -moz-box-shadow: 0 0 5px 2px #99C027;
                -o-box-shadow: 0 0 5px 2px #99C027;
                -webkit-box-shadow: 0 0 5px 2px #99C027;
            }
            .button-decline-booking:hover {
                box-shadow: 0 0 5px 2px #e95d0f;
                -moz-box-shadow: 0 0 5px 2px #e95d0f;
                -o-box-shadow: 0 0 5px 2px #e95d0f;
                -webkit-box-shadow: 0 0 5px 2px #e95d0f;
            }
            .booking-request .reminders ol li {
                list-style: decimal inside;
            }

            /* Booking (booking request confirmed) */
            .booking .booking-time-location {
                position: relative;
            }
            .booking .booking-time-location .google-map {
                position: absolute;
                right: 15px;
                bottom: 15px;
            }

            @@media only screen and (max-device-width: 480px) {
 
            }
            @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {          
 
            }
    </style>
</head>
<body style="background:#ffffff; min-height:1000px; color:#6c6c6c;font-family:Arial, Helvetica, sans-serif; font-size:13px"
alink="#FF0000" link="#FF0000" bgcolor="#ffffff" text="#6c6c6c" yahoo="fix"> 
    <div id="body_style" style="padding:15px;font-size:13px;">
        <table id="table_layout" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="600" align="center">
            <tr class="header">
                <td width="300" style="padding-bottom: 15px">
		            <h1><a id="logo" href="@UrlUtil.LangUrl"><img border="0" alt="Loconomics, at your service." src="@(UrlUtil.AppUrl)img/email/@(UrlUtil.LangId)/loconomics-logo.png" width="172" height="61" /></a></h1>
                </td>
                <td width="300" style="padding-bottom: 15px;padding-right: 30px" align="right">
                    <a style="color:#00989A" target="_blank" href="@viewOnSiteUrl">If you don't see well this message, click here</a>
                </td>
            </tr>
            <tr class="content" style="padding:0 0 15px 0">
                <td colspan="2" style="border-color: #00989A;position:relative;">
                    <h2 class="message-title" style="margin:0;position:relative;z-index:1000;">
                        <span style="display:inline-block;background-color:white;margin:0 0 0 15px;padding-top:3px;padding-left:10px;padding-right:10px;border-style: solid;border-color:#00989A;border-width:2px;border-bottom-color:white;border-radius:10px 10px 0 0;-o-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0">@messageTitle</span>
                        <img style="position: relative;right: 12px;vertical-align: bottom;" src="@(UrlUtil.AppUrl)img/email/tab-right-border.png" width="32" height="22" />
                    </h2>
                    <table width="600" style="position:relative;top:-2px;border-style: solid;border-width: 2px;border-color:#00989A;border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px">
                        <tr>
                            <td style="padding:20px;">
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="footer" height="60" align="center">
                <td colspan="2">Loconomics.com &#0169; @(DateTime.Today.Year). <a style="margin-left: 20px" href="@(UrlUtil.LangUrl)About/Terms/">Terms & Privacy</a></td>
            </tr>
        </table>
 
    @* Some notes to create great html emails, more on http://htmlemailboilerplate.com and http://www.emailology.org
        <p style="margin-top:0"></p>
 
        <a href="http://www.emailonacid.html" style="color:#F00" target ="_blank" title="Email on Acid">Text Link Here</a>
 
        <a href="http://www.emailonacid.pdf" style="color:#F00" target ="_blank" title="Email on Acid">External File</a>
 
        <img src="http://www.emailonacid.com/images/EOA_logo.gif" alt="Info Here" title="Info Here" width="308" height="58"
        style="display:block"  border="0"/>
 
        <table cellpadding="2" cellspacing="2" border="0"> 
            <tr>
                <td valign="top">•</td>
                <td>Test</td>
            </tr>
            <tr>
                <td valign="top">1.)</td>
                <td>Test</td>
            </tr>
        </table>  
 
        <table cellpadding="0" cellspacing="0" border="0"> 
            <tr>
                <td valign="top" background="http://www.emailonacid.com/images/EOA_logo.gif" bgcolor="#006600"> </td>
            </tr>
        </table>  
 
        <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank">
            <img src="http://www.emailonacid.com/images/widget_demo.jpg" alt="Online Demo" title="Online Demo" width="308"
            height="106" style="display:block;" border="0" />
        </a>
         
        <table width="150" cellspacing="3" cellpadding="0" border="0">
            <tr>
              <td width="150" height="35" align="center" background="http://www.emailonacid.com/emails/response_emails/
              button_back.gif" style="background-repeat:repeat-x; background-position:top left; background-color:#3c96e2; 
              border:1px solid #666666; color:#FFFFFF; font-weight:bold; white-space:nowrap; height:35px;">
              <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank" style="color:#FFFFFF; 
              cursor:pointer; font-size:13px; text-align:center; text-decoration:none; vertical-align:baseline; font-weight:bold;"> 
              <span style="padding:10px 10px; color:#FFF">Online Demo ››</span></a></td>
            </tr>
        </table>        
    *@
    </div>
</body>
</html>