@{
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    
    var emailTo = PageData["emailTo"] ?? Request["EmailTo"];
    var threadID = PageData["threadID"];
    var messageID = PageData["messageID"];
    var messageTitle = PageData["messageTitle"];
    var viewOnSiteUrl = PageData["viewOnSiteUrl"];
    if (threadID != null) {
        viewOnSiteUrl = UrlUtil.LangUrl + "Dashboard/Mailbox/#!Thread-" + threadID;
        if (messageID != null) {
            viewOnSiteUrl += "_Message-" + messageID;
        }
    }
    var isNotAUser = (bool)(PageData["isNotAUser"] ?? false);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Loconomics - @Page.Title</title>
    @* Some styles only for capable mail clients -some are features imposible to use without using style-element 
        that is removed by gmail, hotmail and others services-; other are specific for some mail clients that support
        'style' block and has special hacks -as yahoo mail, outlook- *@
    <style type="text/css">
        /* Boilerplate */
            .ExternalClass {width:100%;} 
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;}
            a, a:link {
                color:#2A5DB0;
                text-decoration: underline;
            }
            span.yshortcuts { color:#000; background-color:none; border:none;}
            span.yshortcuts:hover,
            span.yshortcuts:active,
            span.yshortcuts:focus {color:#000; background-color:none; border:none;}
                     
            a:visited { color: #3c96e2; text-decoration: none}
            a:focus   { color: #3c96e2; text-decoration: underline}
            a:hover   { color: #3c96e2; text-decoration: underline}
        /* End Boilerplate */
            a.respond:hover {
                box-shadow: 0 0 5px 2px #8B2143;
            }
            body,table,table td,table th { @* Required to avoid problems with default sizes of table contents in some email clients that don't inherit the body font-size or inline table font-size (but gmail works file without this) *@
                font-size:13px;
            }
            @*@@media only screen and (max-device-width: 480px) {
            }
            @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {          
            }*@
        
        @* TODO: STYLES TO BE MOVED TO LcEmailTemplateHelper and Email* files BECAUSE GMAIL, HOTMAIL DOESN'T READ IT *@
            .message-section {background: none repeat scroll 0 0 white;border: 1px solid #6C6C6C;border-radius: 15px 15px 15px 15px;padding: 15px;}
            .highlighted {
                background-color: #9ACECE;
            }
            .conversation {
                clear: both;
                overflow: hidden;
            }
            .conversation-message {
                clear: both;
                width: 100%;
                overflow: hidden;
                margin-bottom: 20px;
            }
            .conversation-message .message-section {
                margin: 0 13px;
                width: 430px;
                overflow: hidden;
            }
            .conversation-message .mini-user-info {
                width: 60px;
                overflow: hidden;
                margin: 8px 0;
                font-size: 0.9em;
            }
            .conversation-message.customer .message-section,
            .conversation-message.customer .mini-user-info,
            .conversation .customer .message-section,
            .conversation .customer .mini-user-info {
                float: left;
            }
            .conversation-message.provider .message-section,
            .conversation-message.provider .mini-user-info,
            .conversation .provider .message-section,
            .conversation .provider .mini-user-info {
                float: right;
            }
            h3.message-subject {
                margin: 15px 0;
            }
            .user-public-name {
                font-weight: bold;
            }
            .message-copy {
                float: right;
                padding: 15px;
                font-style: italic;
            }
            /* Users */
            .mini-avatar{
                display: inline-block;
                height: 55px;
                margin: 0 5px 0 0;
                vertical-align: top;
                width: 55px;
            }
            /* Class mini-user-info */
            .mini-user-info {
                clear: both;
                display: inline-block !important;
                width: 150px;
                overflow: hidden;
            }
            .mini-user-info > h5 {
                font-size: 1em;
                color: #6c6c6c;
                display: inline;
            }
            .mini-user-info > img.avatar {
                float: left;
                margin: 0 10px 0 0;
            }
            .mini-user-info > a.view-profile,
            .mini-user-info > a.view-profile:link,
            .mini-user-info > a.view-profile:visited {
                color: #00989a;
                display: block;
            }
            /* Class medium-user-info */
            .medium-user-info {
                position: relative;
                font-size: .9em;
            }
            .medium-user-info a.view-profile {
                bottom: 15px;
                display: block;
                position: absolute;
                right: 15px;
                text-transform: lowercase;
                width: 100px;
            }
            .medium-user-info.user-contact-data a.view-profile {
                position: static;
                display: inline;
                margin-left: 10px;
            }
            .medium-user-info .user-text {
                display: inline-block;
                height: 50px;
                line-height: normal;
                overflow: hidden;
                width: 400px;
            }
            .medium-user-info .user-contact-data {
                display: inline-block;
                line-height: normal;
                overflow: hidden;
                width: 400px;
            }
            .medium-user-info h5.user-public-name {
                margin: 0;
                font-size: 1em;
                line-height: 1em;
                display: inline;
                color: #6C6C6C;
            }
            .medium-user-info .user-rating {
                display: inline-block;
            }
            .medium-user-info .user-rating .note {
                font-size: .8em;
                color: #6c6c6c;
                font-style: italic;
            }
            .medium-user-info .google-map {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            /* bookings */
            .booking-request h5 {
                color: #6C6C6C;
                font-size: 1.1em;
                margin: 8px 0 0;
            }
            .booking-request {
                position: relative;
            }
            .booking-request h3,
            .booking-request h4 {
                color: #8B2143;
            }
            .booking-request h3 {
                font-size: 1.4em;
                margin: 0;
            }
            .booking-request h4 {
                font-size: 1.2em;
                margin: 15px 0 0;
            }
            .booking-request h5 {
                font-size: 1.1em;
                margin: 8px 0 0;
                color: #6c6c6c;
            }
            .booking-request p {
                margin: 0;
            }
            .booking-request table.pricing-summary {
                border: none;
            }
            .booking-request table.pricing-summary td.concept {
                padding-right: 5px;
            }
            .booking-request table.pricing-summary td.price {
                padding-left: 3px;
                text-align: right;
                vertical-align: bottom;
            }
            .booking-request table.pricing-summary tr.total {
                font-weight: bold;
            }
            .requested-booking-services .services li {
                margin-left: 20px;
                width: 205px;
                display: inline-block;
            }
            .requested-booking-times .button {
                border-radius: 20px;
                -moz-border-radius: 20px;
                -o-border-radius: 20px;
                -webkit-border-radius: 20px;
                color: White;
                font-size: .9em;
                line-height: 160%;
                margin: 3px 0;
            }
            .requested-booking-times strong {
                font-weight: normal;
                color: #8b2143;
            }
            .button-confirm-datetime {
                background: #99C027 !important;
            }
            .button-decline-booking {
                background: #e95d0f !important;
            }
            .button-confirm-datetime:hover {
                box-shadow: 0 0 5px 2px #99C027;
                -moz-box-shadow: 0 0 5px 2px #99C027;
                -o-box-shadow: 0 0 5px 2px #99C027;
                -webkit-box-shadow: 0 0 5px 2px #99C027;
            }
            .button-decline-booking:hover {
                box-shadow: 0 0 5px 2px #e95d0f;
                -moz-box-shadow: 0 0 5px 2px #e95d0f;
                -o-box-shadow: 0 0 5px 2px #e95d0f;
                -webkit-box-shadow: 0 0 5px 2px #e95d0f;
            }

            /* Booking (booking request confirmed) */
            .booking .booking-time-location {
                position: relative;
            }
            .booking .booking-time-location .google-map {
                position: absolute;
                right: 15px;
                bottom: 15px;
            }
    </style>
</head>
<body alink="#FF0000" link="#FF0000" bgcolor="#ffffff" text="#6c6c6c" yahoo="fix" style="margin:0;padding:0">
    @***body_style*@<div style="padding:10px 0 30px 0;line-height:150%;margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;background:#ffffff;color:#6c6c6c;font-family:Arial,Helvetica,sans-serif;font-size:13px">
        @***table_layout*@<table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="600" align="center">
            @***header*@<tr>
                <td width="300" style="padding-bottom: 15px">
		            <h1 style="font-size:1.4em"><a href="@UrlUtil.LangUrl"><img border="0" alt="Loconomics, at your service." src="@(UrlUtil.AppUrl)img/email/@(UrlUtil.LangId)/loconomics-logo.png" width="172" height="61" /></a></h1>
                </td>
                <td width="300" style="padding-bottom: 15px;padding-right: 30px" align="right">
                    <a style="color:#00989A" target="_blank" href="@viewOnSiteUrl">If you don't see well this message, click here</a>
                </td>
            </tr>
            @***content*@<tr style="padding:0 0 15px 0">
                <td colspan="2" style="border-color:#00989A;background:url('@(UrlUtil.AppUrl)img/email/tab-bottom.png') no-repeat left bottom;padding-bottom:12px">
                    <h2 @LcEmailTemplateHelper.StyleH2("margin:0;background: url('" + UrlUtil.AppUrl + "img/email/tab-top.png') no-repeat 0 0;height:33px;")>
                        <span style="display:block;padding:5px 0 0 30px;width:200px;font-size: 12px;font-weight: bold;line-height: 15px">@messageTitle</span>
                    </h2>
                    <table width="600" style="border:solid 2px #00989A;border-width: 0 2px;font-size:13px;">
                        <tr>
                            <td style="padding:8px 20px">
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            @***footer*@<tr height="60" align="center">
                <td colspan="2">
                    This message was sent to @emailTo <br />
                    @if (!isNotAUser) {
                    <text>Visit <a href="@(UrlUtil.LangUrl)Dashboard/Preferences/">alert preferences</a> to manage your email and mobile alerts. </text><br />
                    }
                    Please add automated@loconomics.com to your address book to ensure delivery of our emails to your in-box. <br />
                    &#0169; @(DateTime.Today.Year) Loconomics, Inc. | All Rights Reserved. <br />
                    3150 18th Street, Suite 438, San Francisco, CA 94110 <br />
                    <a href="@(UrlUtil.LangUrl)About/PrivacyPolicy/">Privacy Policy</a> | <a href="@(UrlUtil.LangUrl)About/TermsOfUse/">Terms of Use</a>
                </td>
            </tr>
        </table>
    @* IF something more is added, add it EVER INSIDE table_layout!!!
        Some notes to create great html emails, more on http://htmlemailboilerplate.com and http://www.emailology.org
        <p style="margin-top:0"></p>
 
        <a href="http://www.emailonacid.html" style="color:#F00" target ="_blank" title="Email on Acid">Text Link Here</a>
 
        <a href="http://www.emailonacid.pdf" style="color:#F00" target ="_blank" title="Email on Acid">External File</a>
 
        <img src="http://www.emailonacid.com/images/EOA_logo.gif" alt="Info Here" title="Info Here" width="308" height="58"
        style="display:block"  border="0"/>
 
        <table cellpadding="2" cellspacing="2" border="0"> 
            <tr>
                <td valign="top">•</td>
                <td>Test</td>
            </tr>
            <tr>
                <td valign="top">1.)</td>
                <td>Test</td>
            </tr>
        </table>  
 
        <table cellpadding="0" cellspacing="0" border="0"> 
            <tr>
                <td valign="top" background="http://www.emailonacid.com/images/EOA_logo.gif" bgcolor="#006600"> </td>
            </tr>
        </table>  
 
        <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank">
            <img src="http://www.emailonacid.com/images/widget_demo.jpg" alt="Online Demo" title="Online Demo" width="308"
            height="106" style="display:block;" border="0" />
        </a>
         
        <table width="150" cellspacing="3" cellpadding="0" border="0">
            <tr>
              <td width="150" height="35" align="center" background="http://www.emailonacid.com/emails/response_emails/
              button_back.gif" style="background-repeat:repeat-x; background-position:top left; background-color:#3c96e2; 
              border:1px solid #666666; color:#FFFFFF; font-weight:bold; white-space:nowrap; height:35px;">
              <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank" style="color:#FFFFFF; 
              cursor:pointer; font-size:13px; text-align:center; text-decoration:none; vertical-align:baseline; font-weight:bold;"> 
              <span style="padding:10px 10px; color:#FFF">Online Demo ››</span></a></td>
            </tr>
        </table>        
    *@
    </div>
</body>
</html>