@{
    var threadID = PageData["threadID"];
    var messageID = PageData["messageID"];
    var messageTitle = PageData["messageTitle"];
    var viewOnSiteUrl = PageData["viewOnSiteUrl"];
    if (threadID != null) {
        viewOnSiteUrl = UrlUtil.LangUrl + "Dashboard/Mailbox/#!Thread-" + threadID;
        if (messageID) {
            viewOnSiteUrl += "_Message-" + messageID;
        }
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Loconomics - @Page.Title</title>
    <style type="text/css">
        /* Boilerplate */
            .ExternalClass {width:100%;} 
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;} 
                         
            body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} 
            body {margin:0; padding:0;} 
            table td {border-collapse:collapse;}    

            p {margin:0; padding:0; margin-bottom:0;}       

            h1, h2, h3, h4, h5, h6 {
                color: black; 
                line-height: 100%; 
            }

            a, a:link {
                color:#2A5DB0;
                text-decoration: underline;
            }
 
            body, #body_style {
                background:#000;
                min-height:1000px;
                color:#fff;
                font-family:Arial, Helvetica, sans-serif;
                font-size:12px;
            }
            span.yshortcuts { color:#000; background-color:none; border:none;}
            span.yshortcuts:hover,
            span.yshortcuts:active,
            span.yshortcuts:focus {color:#000; background-color:none; border:none;}
                     
            a:visited { color: #3c96e2; text-decoration: none}
            a:focus   { color: #3c96e2; text-decoration: underline}
            a:hover   { color: #3c96e2; text-decoration: underline}
        /* End Boilerplate */
            @@media only screen and (max-device-width: 480px) {
 
            }
            @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {          
 
            }
    </style>
</head>
<body style="background:#000; min-height:1000px; color:#fff;font-family:Arial, Helvetica, sans-serif; font-size:12px"
alink="#FF0000" link="#FF0000" bgcolor="#000000" text="#FFFFFF" yahoo="fix"> 
    <div id="body_style" style="padding:15px">
        <table cellpadding="0" cellspacing="0" border="0" bgcolor="#000000" width="600" align="center">
            <tr class="header">
                <td width="300" style="padding-bottom: 15px">
		            <h1><a id="logo" href="@Href(UrlUtil.LangUrl)"><img alt="Loconomics, at your service." src="@(UrlUtil.AppUrl)img/email/@(UrlUtil.LangId)/loconomics-logo.png" width="172" height="61" /></a></h1>
                </td>
                <td width="300" style="padding-bottom: 15px" align="right" style="padding-right: 30px">
                    <a href="@viewOnSiteUrl">If you don't see well this message, click here</a>
                </td>
            </tr>
            <tr class="content" style="padding:0 0 15px 0">
                <td colspan="2" style="border-color: #00989A;position:relative;">
                    <h2 style="margin:0;padding-top:3px;padding-left:10px;padding-right:10px;border-color:#00989A;border-width:2px;border-bottom-color:white;border-radius:10px 10px 0 0;-o-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0">@messageTitle</h2>
                    <table width="600" style="position:relative;top:-2px;border-color:#00989A;border-radius:10px 10px 0 0;-o-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0">
                        <tr>
                            <td>
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="footer">
                <td colspan="2">Loconomics.com &#0169;@(DateTime.Today.Year). <a href="@(UrlUtil.LangUrl)About/Terms">Terms & Privacy</a></td>
            </tr>
        </table>
 
    @* Some notes to create great html emails, more on http://htmlemailboilerplate.com and http://www.emailology.org
        <p style="margin-top:0"></p>
 
        <a href="http://www.emailonacid.html" style="color:#F00" target ="_blank" title="Email on Acid">Text Link Here</a>
 
        <a href="http://www.emailonacid.pdf" style="color:#F00" target ="_blank" title="Email on Acid">External File</a>
 
        <img src="http://www.emailonacid.com/images/EOA_logo.gif" alt="Info Here" title="Info Here" width="308" height="58"
        style="display:block"  border="0"/>
 
        <table cellpadding="2" cellspacing="2" border="0"> 
            <tr>
                <td valign="top">•</td>
                <td>Test</td>
            </tr>
            <tr>
                <td valign="top">1.)</td>
                <td>Test</td>
            </tr>
        </table>  
 
        <table cellpadding="0" cellspacing="0" border="0"> 
            <tr>
                <td valign="top" background="http://www.emailonacid.com/images/EOA_logo.gif" bgcolor="#006600"> </td>
            </tr>
        </table>  
 
        <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank">
            <img src="http://www.emailonacid.com/images/widget_demo.jpg" alt="Online Demo" title="Online Demo" width="308"
            height="106" style="display:block;" border="0" />
        </a>
         
        <table width="150" cellspacing="3" cellpadding="0" border="0">
            <tr>
              <td width="150" height="35" align="center" background="http://www.emailonacid.com/emails/response_emails/
              button_back.gif" style="background-repeat:repeat-x; background-position:top left; background-color:#3c96e2; 
              border:1px solid #666666; color:#FFFFFF; font-weight:bold; white-space:nowrap; height:35px;">
              <a href="http://www.emailonacid.com/email-preview/online_demo/C7" target="_blank" style="color:#FFFFFF; 
              cursor:pointer; font-size:13px; text-align:center; text-decoration:none; vertical-align:baseline; font-weight:bold;"> 
              <span style="padding:10px 10px; color:#FFF">Online Demo ››</span></a></td>
            </tr>
        </table>        
    *@
    </div>
</body>
</html>