		<h2 class="tabby">Featured Provider</h2>
		<div class="spotlight fancy">
			<div class="id col">
            <img src="@Href("~/img/eg-profile-pic.jpg")" alt="" />
			</div><!-- .id.col -->
		   <div class="lang col">
				<div class="rating">
	            <img src="@Href("~/img/star-on.png")" alt="star" />
	            <img src="@Href("~/img/star-on.png")" alt="star" />
	            <img src="@Href("~/img/star-on.png")" alt="star" />
				</div>
				<h3><a href="#">Stephanie W.</a></h3>
				<p>Cleaner, Massage Therapist</p>
				<p class="creds"><img src="@Href("~/img/icon-verifications.png")" /> 4 Verifications &nbsp; <img src="@Href("~/img/icon-licenses.png")" /> 2 Licenses</p>
			</div><!-- .lang.col -->
			<div class="review">
				<img src="@Href("~/img/generic-avatar.png")" alt="" />
				<blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."  <a href="#">read more reviews</a></blockquote>
			</div><!-- .review -->
			<div class="buttons">
				<a class="view button fanciful" href="../en_US/ProviderProfile.cshtml?ProviderID=2&PositionId=14&Position=Cleaner&ServiceType=cleaner">view profile</a> <a class="message button fanciful" href="../en_US/ProviderProfile.cshtml?ProviderID=2&PositionId=14&Position=Cleaner&ServiceType=cleaner">book for $35/hr</a>
			</div>
		</div><!-- .spotlight -->
