@{
    LcHelpers.SecurePage();
    
    Page.Title = "Make your life better!";
    Styles.Add(UrlUtil.AppPath + "Styles/Dashboard.css");
    
    var u = LcData.UserInfo.GetUserRow();
    
    /*
     * Selecting page to render dynamically
     */
    var page = UrlData[0].ToLower();
    var fileToRender = "";
    
    if (String.IsNullOrEmpty(page)) {
        Response.Redirect(UrlUtil.LangPath + "Dashboard/Mailbox/");
    }

    var pages = new List<string> {
        "account", "calendar", "mailbox", "myclients", "myproviders", "positions", "preferences",
        "ressources", "tools", "bookings", "admin"
    };
    if (pages.Contains(page)) {
        fileToRender = UrlUtil.LangPath + "_DashboardContent/$" + page + ".cshtml";
        // Set menu option selected
        PageData["menu-item"] = page;
    } else {
        string folder = "_DashboardContent/";
        string file =  LcHelpers.JoinNotEmptyStrings("/", UrlData.ToArray<string>()) + ".cshtml";
        if (File.Exists(Server.MapPath(UrlUtil.LangPath + folder + file))) {
            if (file.StartsWith("$") || file == "ChangePhoto.cshtml" || file == "UploadPhoto.cshtml") {
                @RenderPage(UrlUtil.LangPath + folder + file);
                return;
            } else {
                fileToRender = UrlUtil.LangPath + folder + file;
            }
        } else {
            throw new HttpException(404, "Page not found");
        }
    }
    // Only apply page layout after analizy url params (to avoid partial pages to use full layout)
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Scripts.Add(UrlUtil.AppPath + "Scripts/Dashboard.js");
}
@helper menu(string item){
    @(LcHelpers.CssCurrent(item, PageData["menu-item"]))
}
        <!-- Dashboard -->
        <div class="provider dashboard editable">
            <div id="container" class="clearfix">
                
                <div id="highlights">
                    @{
                        var greeting = "Hello, {0}!";
                        if (N.W(u.FullName) == null) {
                            greeting = "Hello!";
                        } else {
                            greeting = String.Format(greeting, u.FirstName);
                        }
                    }
                    <h1 class="greeting">@greeting <a class="view-profile" href="@(UrlUtil.LangPath + "Profile/?UserID=" + WebSecurity.CurrentUserId)">View Public Profile</a></h1>
                    <img id="avatar" src="@Href(UrlUtil.LangPath + "Profile/Photo/")" alt="User Photo" />
                    <a id="changephoto" href="#">Change Photo</a>
                    @RenderPage("_DashboardContent/$ProfileProgressWidget.cshtml")
                </div><!-- highlights -->
                
                <div id="dashboard-help">
                    <a class="skip" href="#main">Skip the help.</a>
                    <p>Welcome to your dashboard! Here you'll find everything you need to make your profile great, attract customers,
                        and manage your business. Please ensure you review all alerts frequently, and <a href="mailto:providerhelp@loconomics.com">let us know</a> if you need any help.</p>
                    @RenderPage("_DashboardContent/$UserAlertsWidget.cshtml")
                    <div class="help-point"><a target="_blank" href="@Href(UrlUtil.LangPath + "HelpCenter/")">?</a></div>
                </div><!-- dashboard-help -->
                
                <div id="nav">
                    <ul id="profile-menu" class="autofill-submenu">
                        <li class="@menu("mailbox")"><a href="@(UrlUtil.LangPath)Dashboard/Mailbox/">Inbox</a></li>
                        <li class="@menu("bookings")"><a href="@(UrlUtil.LangPath)Dashboard/Bookings/">Bookings</a></li>
                        @if (u.IsProvider){
                        <li class="@menu("calendar")"><a href="@(UrlUtil.LangPath)Dashboard/Calendar/">Calendar</a></li>
                        <li class="@menu("positions")"><a href="@(UrlUtil.LangPath)Dashboard/Positions/">Positions</a></li>
                        <li class="@menu("tools")"><a href="@(UrlUtil.LangPath)Dashboard/Tools/">Tools</a></li>
                        <li class="@menu("myclients")"><a href="@(UrlUtil.LangPath)Dashboard/MyClients/">My Clients</a></li>
                        }
                        @if (u.IsCustomer){
                        <li class="@menu("myproviders")"><a href="@(UrlUtil.LangPath)Dashboard/MyProviders/">My Providers</a></li>
                        }
                        <li class="@menu("preferences")"><a href="@(UrlUtil.LangPath)Dashboard/Preferences/">Preferences</a></li>
                        <li class="@menu("account")"><a href="@(UrlUtil.LangPath)Dashboard/Account/">Account</a></li>
                        @if (u.IsAdmin){
                        <li class="@menu("admin") admin"><a href="@(UrlUtil.LangPath)Dashboard/Admin/">Admin</a></li>
                        }
                    </ul>
                </div><!-- nav -->
            
                <div id="main" class="tabbed folders">
    
                    @RenderPage(fileToRender)
        
                </div><!-- #main -->
            
            </div><!-- container -->
        </div><!-- Dashboard -->