@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();
    
    Page.Title = "Make your life better!";
    Styles.Add(UrlUtil.AppPath + "Styles/Dashboard.css");
    
    var u = LcData.UserInfo.GetUserRow();
    // Check and remember the value of IsActiveProvider to notify the user if it's profile was enable after previous changes (filled forms that off a required alert)
    var providerProfileWasActived = false;
    if (Session["PreviousIsActiveProvider"] != null) {
        // Check value to decide if show the message
        if (u.IsActiveProvider && (bool)Session["PreviousIsActiveProvider"] == false) {
            providerProfileWasActived = true;
        }
    }
    // Firts time set or Updating 'previous' value:
    Session["PreviousIsActiveProvider"] = u.IsActiveProvider;
    
    /*
     * Selecting page to render dynamically
     */
    var page = UrlData[0].ToLower();
    var fileToRender = "";
    
    if (String.IsNullOrEmpty(page)) {
        Response.Redirect(UrlUtil.LangPath + "Dashboard/Mailbox/");
    }

    var pages = new List<string> {
        "account", "calendar", "mailbox", "myclients", "myproviders", "positions", "preferences",
        "ressources", "tools", "bookings", "admin", "alerts"
    };
    if (pages.Contains(page)) {
        fileToRender = UrlUtil.LangPath + "_DashboardContent/$" + page + ".cshtml";
        // Set menu option selected
        PageData["menu-item"] = page;
    } else {
        string folder = "_DashboardContent/";
        string file =  LcHelpers.JoinNotEmptyStrings("/", UrlData.ToArray<string>()) + ".cshtml";
        if (File.Exists(Server.MapPath(UrlUtil.LangPath + folder + file))) {
            if (file.StartsWith("$") || file == "ChangePhoto.cshtml" || file == "UploadPhoto.cshtml") {
                @RenderPage(UrlUtil.LangPath + folder + file);
                return;
            } else {
                fileToRender = UrlUtil.LangPath + folder + file;
            }
        } else {
            throw new HttpException(404, "Page not found");
        }
    }
    // Only apply page layout after analizy url params (to avoid partial pages to use full layout)
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Scripts.Add(UrlUtil.AppPath + "Scripts/Dashboard.js");
}
@helper menu(string item){
    @(LcHelpers.CssCurrent(item, PageData["menu-item"]))
}
        <!-- Dashboard -->
        <div class="provider dashboard editable">
            <div id="container" class="clearfix">
                
                <div id="highlights">
                    <h1>Dashboard</h1>
                    <div id="dashboard-avatar">
                        <img id="avatar" src="@Href(UrlUtil.LangPath + "Profile/Photo/")" alt="User Photo" />
                        <a id="changephoto" href="#">Edit Profile Photo</a>
                    </div>
                </div><!-- highlights -->
                
                <div id="dashboard-help">
                    <a class="skip" href="#main">Skip the help.</a>
                    @if (u.IsProvider)
                    {
                    <p>You’ll find everything you need to manage your 
                        <a href="@(UrlUtil.LangPath)Dashboard/Account/">account</a>, 
                        <a href="@(UrlUtil.LangPath)Dashboard/Positions/">profiles</a>,
                        and <a href="@(UrlUtil.LangPath)Dashboard/Bookings/">bookings</a> here.
                    </p>
                    }
                    else if (u.IsCustomer)
                    {
                     <p>You’ll find everything you need to manage your 
                        <a href="@(UrlUtil.LangPath)Dashboard/Account/">account</a>
                        and <a href="@(UrlUtil.LangPath)Dashboard/Bookings/">bookings</a> here.
                    </p>
                    }
                    @RenderPage(UrlUtil.LangPath + "HelpCenter/$DashboardHelpWidget.cshtml")

                    @if (providerProfileWasActived) {
                        <div id="profile-activation-message">
                            Your profile is now active and available publicly! <a href="@(UrlUtil.LangPath)Profile/?UserID=@(u.UserID)">View my public profile</a>.
                        </div>
                    }
                </div><!-- dashboard-help -->

                <div id="nav">
                    <ul id="profile-menu" class="autofill-submenu">
                        @{
                            var userAlertsCount = LcData.GetActiveUserAlertsCount(u.UserID);
                        }
                        <li class="@menu("alerts")"><a href="@(UrlUtil.LangPath)Dashboard/Alerts/">Alerts @if (userAlertsCount > 0) { <span class="warning-note">@userAlertsCount</span> }</a></li>
                        <li class="@menu("mailbox")"><a href="@(UrlUtil.LangPath)Dashboard/Mailbox/">Inbox</a></li>
                        <li class="@menu("bookings")"><a href="@(UrlUtil.LangPath)Dashboard/Bookings/">Bookings</a></li>
                        @if (u.IsProvider){
                        <li class="@menu("calendar")"><a href="@(UrlUtil.LangPath)Dashboard/Calendar/">Calendar</a></li>
                        <li class="@menu("positions")"><a href="@(UrlUtil.LangPath)Dashboard/Positions/">My Profile</a></li>
                        <li class="@menu("tools")"><a href="@(UrlUtil.LangPath)Dashboard/Tools/">Tools</a></li>
                        <li class="@menu("myclients")"><a href="@(UrlUtil.LangPath)Dashboard/MyClients/">My Clients</a></li>
                        }
                        @if (u.IsCustomer){
                        <li class="@menu("myproviders")"><a href="@(UrlUtil.LangPath)Dashboard/MyProviders/">My Providers</a></li>
                        }
                        <li class="@menu("preferences")"><a href="@(UrlUtil.LangPath)Dashboard/Preferences/">Privacy Settings</a></li>
                        <li class="@menu("account")"><a href="@(UrlUtil.LangPath)Dashboard/Account/">Account</a></li>
                        @if (u.IsAdmin){
                        <li class="@menu("admin") admin"><a href="@(UrlUtil.LangPath)Dashboard/Admin/">Admin</a></li>
                        }
                    </ul>
                </div><!-- nav -->
            
                <div id="main" class="tabbed folders">
                    @RenderPage(fileToRender)        
                </div><!-- #main -->
            
            </div><!-- container -->
        </div><!-- Dashboard -->