@{  
    Layout = "~/en_US/_SiteLayout.cshtml";
    Page.Title = "Make your life better.";

}




  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
		<form id="homeSearch" action="@Href("~/en_US/Search")" method="post">
			<fieldset>
				<label for="serviceType">Enter Service </label>
            <input type="text" name="serviceType" id="serviceType" value="e.g. Cleaner, Tutor..." />
            <!-- <input class="go" type="submit" value="Find Services"/> -->
				<button class="fancy" type="submit">Find Services</button>
			</fieldset>
			<fieldset>
				<select id="serviceLocation" name="serviceLocation">
					<option value="" selected>Select a location</option>
					<option value="madrid">Madrid</option>
					<option value="minneapolis">Minneapolis</option>
					<option value="new-york">NYC</option>
				</select>
				<label for="serviceDate">Preferred date:</label> <input type="text" id="serviceDate" name="serviceDate" class="date-pick" value="today" />
			</fieldset>
		</form>
     <div class="categories">
			<ul>
				<li>
					<a href="@Href("~/en_US/Search?Service=Home")"><img src="@Href("~/img/splash-icon-home.gif")" alt="" /></a>
					<div class="menu">
						<strong>Home</strong>
						<ul>
							<li><a href="#">Help</a></li>
							<li><a href="#">Garden</a></li>
							<li><a href="#">Maintenance</a></li>
							<li><a href="#">Repair</a></li>
							<li><a href="#">Remodel</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Office</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Child")"><img src="@Href("~/img/splash-icon-child.gif")" alt="" /></a>
					<div class="menu">
						<strong>Child</strong>
						<ul>
							<li><a href="#">Body</a></li>
							<li><a href="#">Mind</a></li>
							<li><a href="#">Care</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Pet")"><img src="@Href("~/img/splash-icon-pets.gif")" alt="" /></a>
					<div class="menu">
						<strong>Pets</strong>
						<ul>
							<li><a href="#">Care</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Personal")"><img src="@Href("~/img/splash-icon-people.gif")" alt="" /></a>
					<div class="menu">
						<strong>Personal</strong>
						<ul>
							<li><a href="#">Body</a></li>
							<li><a href="#">Mind</a></li>
							<li><a href="#">Care</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Transport")"><img src="@Href("~/img/splash-icon-business.gif")" alt="" /></a>
					<div class="menu">
						<strong>Business</strong>
						<ul>
							<li><a href="#">Cleaning &amp; Maintenance</a></li>
							<li><a href="#">Employee Wellness</a></li>
							<li><a href="#">Celebration</a></li>
							<li><a href="#">Administrative</a></li>
						</ul>					
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Elder")"><img src="@Href("~/img/splash-icon-elderly.gif")" alt="" /></a>
					<div class="menu">
						<strong>Elderly</strong>
						<ul>
							<li><a href="#">Body</a></li>
							<li><a href="#">Mind</a></li>
							<li><a href="#">Care</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="@Href("~/en_US/Search?Service=Celebration")"><img src="@Href("~/img/splash-icon-celebrations.gif")" alt="" /></a>
					<div class="menu">
						<strong>Celebrations</strong>
						<ul>
							<li><a href="#">Party</a></li>
							<li><a href="#">Wedding</a></li>
							<li><a href="#">Children</a></li>
							<li><a href="#">Religious</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
    </div><!-- #main -->

	 <div id="secondary">
		<div class="spotlight">
			<div class="id col">
            <img src="../img/eg-profile-pic.jpg" alt="" />
			</div><!-- .id.col -->
		   <div class="lang col">
				<h3><a href="../en_US/ProviderProfile.cshtml?ProviderID=2&PositionId=14&Position=Cleaner&ServiceType=cleaner">Cleaner, Massage Therapist</a></h3>
				<table>
					<tr>
						<td>
						    <input type="radio" class="star" disabled="disabled"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star" checked="checked"/>
						</td>
						<th>Professionalism</th>
					</tr>
					<tr>
						<td>
							<input type="radio" class="star" disabled="disabled"/>
                     <input type="radio" class="star"/>
                     <input type="radio" class="star"/>
                     <input type="radio" class="star"/>
                     <input type="radio" class="star" checked="checked"/>
						</td>
						<th>Attention to detail</th>
					</tr>
					<tr>
						<td>
						    <input type="radio" class="star" disabled="disabled"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star"/>
                      <input type="radio" class="star" checked="checked"/>
						</td>
						<th>Trustworthiness</th>
					</tr>
				</table>
			</div><!-- .lang.col -->
			<a class="button fanciful" href="../en_US/ProviderProfile.cshtml?ProviderID=2&PositionId=14&Position=Cleaner&ServiceType=cleaner">View availability &amp; book</a>
		</div><!-- .spotlight -->
		<div class="video">
			<h3>How it works</h3>
			<img src="../img/home-video-placeholder.jpg" alt="" />
		</div><!-- .video -->
	 </div><!-- #secondary -->

   </div><!-- #container -->








