@{
    PageData["PositionID"] = 0;
    
    if (IsPost)
    {
        var db = Database.Open("sqlloco");
        var UserID = WebSecurity.CurrentUserId;
        var LanguageID = 1;
        var CountryID = 1;
        var ErrorMessage = "start";
        var theDate = DateTime.Now.ToString("yyyy-MM-dd");

        var PositionID = Request.Form["select-position"];
        try{
            PageData["PositionID"] = int.Parse(PositionID);
        }catch{}
        
        var ADD_Details = Request.Form["ADD_Details"];
        var ADD_minTime = Request.Form["ADD_minTime"];
        var ADD_maxTime = Request.Form["ADD_maxTime"];
        var ADD_minBetween = Request.Form["ADD_minBetween"];
        var ADD_experience = Request.Form["ADD_experience"];
        var ADD_travelRadius = Request.Form["ADD_travelRadius"];
        var ADD_Personal = Request.Form["ADD_Personal"];
        var ADD_Public = Request.Form["ADD_Public"];

        var sqlinsertPosition = "EXEC dbo.InsertUserProfilePositions @0,@1,@2,@3,@4,@5,@6,@7";
        var sqlInsertAttribute = "insert into userprofileserviceattributes values(@0,@1,@2,@3,@4,@5,@6,'Sys',0)";
        var sqlInsertAdditional = "insert into userprofilepositionadditional values(@0,@1,@2,@3,@4,@5,@6,@7,@8,@9,@10,@11,@12,@13,@14,@15,@16,@17,'Sys')";


        if (WebSecurity.IsAuthenticated)
        {

            var Results = db.QuerySingle(sqlinsertPosition, UserID, PositionID, LanguageID, CountryID, theDate, theDate, "sys", 1);

            if (Results.Result != "Success")
            {
                ErrorMessage = Results.Result;
            }
            else
            {

                for (int i = 0; i < Request.Form.Count; i++)
                {
                    var temp = Request.Form.GetKey(i);
                    if (temp.IndexOf("ADD") != 0)
                    {
                        db.Execute(sqlInsertAttribute, UserID, PositionID, Request.Form.Get(i), LanguageID, CountryID, theDate, theDate);
                    }
                }

                db.Execute(sqlInsertAdditional, UserID, PositionID, LanguageID, CountryID, ADD_minTime, ADD_maxTime, ADD_minBetween, ADD_experience, ADD_travelRadius, ADD_Details, ADD_Personal, ADD_Public, "0000000", "000000000000000000000000", "AM", "PST", theDate, theDate);

                // We return a json with result OK (=0), and response end just after this:
                CommonHelpers.ReturnJsonError(0, "");
            }
        }
        else
        {
            CommonHelpers.ReturnJsonError(-1, "Un-authenticated");
        }
    }
}
@{/* Example c# function of result html code to be produced in javascript */}
@helper printServiceAttributeCategoryExample(int id){
            <fieldset class="service-attribute-category" id="service-attribute-category-@id">
                <legend>Service Attribute Category @id:</legend>
                @for(int i=0; i < 16; i++){
                <label><input name="positionservices-category[1]-attribute[@i]" type="checkbox"/><span>Attribute</span></label>
                }
            </fieldset>
}
@helper printPositions(){
    var db = Database.Open("sqlloco");
    var sql = "SELECT distinct PositionSingular, PositionID FROM positions WHERE PositionSingular LIKE @0 and LanguageID = 1 and CountryID = 1 ORDER BY PositionSingular";
    var data = db.Query(sql, "%");
    int PositionID = PageData["PositionID"];
    foreach (var row in data){
        <option value="@row.PositionID" @(row.PositionID == PositionID ? "selected" : "" )>@row.PositionSingular</option>
    }
}
<p class="info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpatid adipiscing placerat, convallis sit orci. Donec quis enim nunc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volut
</p>
<form action="@(UrlUtil.LangPath)Provider-sign-up/$Your-work/" method="post" id="provider-sign-up-your-work" class="your-work">
    <fieldset class="select-position">
        <legend>Select position:</legend>
        <select name="select-position">
            <option value="">__Select a Position__</option>
            @printPositions()
        </select>
    </fieldset>
    <fieldset class="select-attributes">
        
        <div class="service-attribute-categories">
            
        </div>

        <div class="your-work-sidebar">
            <fieldset class="experience-level-dropdown">
                <legend>Experience Level</legend>
                <select name="experience-level">
                    <option value="1">I'm new to this!</option>
                    <option value="2">Beginner</option>
                    <option value="3">Intermediate</option>
                    <option value="4">Professional</option>
                    <option value="5">Expert</option>
                </select>
            </fieldset>
            <fieldset class="year-experience">
                <legend>Years Experience</legend>
                <select name="year-sexperience">
                    <option value="0">&lt;0.5 years</option>
                    <option value="0.5">0.5 years</option>
                    <option value="1">1 year</option>
                    <option value="1.5">1.5 years</option>
                    @for(int y = 2; y < 41; y++){
                    <option value="@y">@y years</option>
                    }
                </select>
            </fieldset>
            <fieldset class="languages-spoken" id="service-attribute-category-5">
                <legend>Languages Spoken</legend>
                <ul>
                    <li><label><input name="language-spoken-english" type="checkbox"/>English</label>
                        <select name="languages-spoken-englishlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="language-spoken-spanish" type="checkbox"/>Spanish</label>
                        <select name="languages-spoken-spanishlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="languages-spoken-catalan" type="checkbox"/>Catalan</label>
                        <select name="languages-spoken-catalanlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="languagespoken-galician" type="checkbox"/>Galician</label>
                        <select name="languagesspoken-galicianlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
            <fieldset class="clients-types" id="service-attribute-category-7">
                <legend>Clients Types</legend>
                <label><input type="checkbox" name="clients-types-residential"/>Residential</label>
                <label><input type="checkbox" name="clients-types-business"/>Business</label>
            </fieldset>
        </div>
    </fieldset>
    <fieldset class="actions">
        <button data-wizard-next-step="#next-steps" class="next">Continue</button>
    </fieldset>
</form>
