@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    var u = LcData.UserInfo.GetUserRow();
    var isHomePage = PageData["IsHomePage"] ?? false;
    var abbrLangCode = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var culture = System.Globalization.CultureInfo.CurrentUICulture.Name;
}
@helper howItWorksLi(){
                        <li>
                            <dl class="how-it-works">
                                <dt><a id="launchHowItWorks" href="@(LcUrl.LangPath)HelpCenter/HowItWorks/">How it works &#x25BC;</a></dt>
                                <dd>
                                    <ul>
                                        <li><a href="@(LcUrl.LangPath)HelpCenter/HowItWorks/#howitworks-customers">Customers</a></li>
                                        <li><a href="@(LcUrl.LangPath)HelpCenter/HowItWorks/#howitworks-providers">Service providers</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
}
<!doctype html>
    <!--[if lt IE 7]> <html class="no-js ie ie6 oldie" lang="@abbrLangCode"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js ie ie7 oldie" lang="@abbrLangCode"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie ie8 oldie" lang="@abbrLangCode"> <![endif]-->
    <!--[if gt IE 8]> <html class="no-js ie" lang="@abbrLangCode"> <![endif]-->
    <!--[if !IE]><!--> <html class="no-js" lang="@abbrLangCode" data-culture="@culture"> <!--<![endif]-->
     <head>
          <meta charset="utf-8"/>
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
          <title>Loconomics - @Page.Title</title>
          <meta name="description" content="Find service providers to do the job right. At your service!"/>
          <meta name="author" content="Loconomics Inc."/>
          @* Mobile viewport optimization is need only if there is a well optimized css counter-part, disabled until that: <meta name="viewport" content="width=device-width,initial-scale=1"/>*@
          <link rel="shortcut icon" href="@Href(LcUrl.AppPath + "favicon.ico")" type="image/x-icon" />
          <link rel="stylesheet" href="@Href(LcUrl.AppPath + "Styles/smoothness/jquery-ui-1.8.21.custom.css")"/>
           @* Our styles *@
           <link rel="stylesheet" href="@Href(LcUrl.AppPath + "Styles/style.css?v=20121203")"/>
           @Styles.GetStylesTags()
           <script src="@Href(LcUrl.AppPath + "Scripts/libs/modernizr.custom.2.6.1.js")" type="text/javascript"></script>
           @if (!isHomePage)
           {
           <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jquery-1.7.2.min.js")" type="text/javascript"></script>
           }
            @* Our LcUrl class *@
            <script type="text/javascript">
                @Html.Raw(LcUrl.ToJsVar())
            </script>
    </head>
    <body class="@PageData["BodyClass"]">
        @RenderBody()
        <header id="site-header">
		    <div class="wrap">
			    <a id="logo" class="replace" href="@Href(LcUrl.LangPath)">Loconomics, at your service.</a>
                @if (!WebSecurity.IsAuthenticated) {
                <ul class="anonymous-tools">
                        @howItWorksLi()
                        <li><a class="register" href="@(LcUrl.LangPath)Account/Register/">Sign Up</a></li>
                        <li><a class="login" href="@(LcUrl.LangPath)Account/Login/">Login</a></li>
                </ul>
                }
			    <ul class="user-tools">
                    @if (WebSecurity.IsAuthenticated) {
			            <li>
					        <dl class="user-nav">
                                @{
                                    var usermenuGreeting = "Welcome, {0}!";
                                    if (N.W(u.FirstName) == null) {
                                        usermenuGreeting = "Welcome!";
                                    } else {
                                        usermenuGreeting = String.Format(usermenuGreeting, u.FirstName);
                                    }
						        <dt>@(usermenuGreeting) &#x25BC;</dt>
                                }
						        <dd>
                                    <ul>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Alerts/")">Alerts</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Mailbox/")">Inbox</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Bookings/")">Bookings</a></li>
                                        @if (u.IsProvider)
                                        {
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Calendar/")">Calendar</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Positions/")">My Profile</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Tools/")">Tools</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/MyClients/")">My Clients</a></li>
                                        }
                                        @if (u.IsCustomer)
                                        {
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/MyProviders/")">My Providers</a></li>
                                        }
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Preferences/")">Privacy Settings</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Dashboard/Account/")">Account</a></li>
                                        <li><a href="@Href(LcData.UserInfo.GetMyPublicURL())">Public Profile</a></li>
                                        <li><a href="@Href(LcUrl.LangPath + "Account/Logout/")">Logout</a></li>
                                    </ul>
						        </dd>
					        </dl>
				        </li>
                        @howItWorksLi()
                    }
				    <li>
					    <dl class="lang-country">
						    <dt class="current-lang-country @LcUrl.LangId">English (US) &#x25BC;</dt>
						    <dd>
                                <ul>
							        <li class="current"><a href="@Href(LcUrl.AppPath)en-US/">English (US)</a></li>
                                </ul>
						    </dd>
					    </dl>
				    </li>
                    @if (!WebSecurity.IsAuthenticated || !u.IsProvider)
                    {
			            <li class="actions"><a class="main-action" href="@(LcUrl.LangPath)ProviderSignUp/">Become a provider</a></li>
                    }
			    </ul>
		    </div>
        </header>
        <footer id="site-footer">
            <div class="truste-seal">@RenderPage(LcUrl.RenderLangPath + "HelpCenter/_TrusteSealWidget.cshtml")</div>
            <div class="social-links"><a class="replace icon facebook" href="http://www.facebook.com/loconomics">Facebook</a></div>
            <div class="social-links"><a class="replace icon twitter" href="http://www.twitter.com/loconomics">Twitter</a></div>
            <div class="site-links"><a href="@(LcUrl.LangPath)About/">About</a>|<a href="@(LcUrl.LangPath)About/TermsOfUse/">Terms of Use</a>|<a href="@(LcUrl.LangPath)About/PrivacyPolicy/">Privacy Policy</a>|<a href="@Href(LcUrl.LangPath + "HelpCenter/")">FAQs</a></div>
        </footer>
        <div class="scripts">           
            @if (isHomePage)
            {
                @* Loading blockUI jquery-plugin and our script in a delayed way only on Home Page, to be faster loading *@
                <script type="text/javascript">
                    Modernizr.load({ load: [
                        LcUrl.AppPath + "Scripts/jquery/jquery-1.7.2.min.js",
                        LcUrl.AppPath + "Scripts/jquery/jquery-ui-1.8.21.custom.min.js",
                        @if (LcData.GetCurrentLanguageID() == 2)
                        {
                        <text>LcUrl.AppPath + "Scripts/jquery/jquery.ui.datepicker-es.js"</text>
                        }
                    ], complete: function () {
                        $.datepicker.setDefaults($.datepicker.regional[$('html').attr('lang')]);
                        $('.date-pick', document).datepicker({
                            showAnim: 'blind'
                        });
                        // Location js-dropdown
                        var s = $('#search-location');
                        s.prop('readonly', true);
                        s.autocomplete({
                            source: LC.searchLocations
                            , autoFocus: true
                            , minLength: 0
                            , select: function () {
                                return false;
                            }
                        });
                        s.on('focus click', function () { s.autocomplete('search', '') });

                        /* Positions autocomplete */
                        var positionsAutocomplete = $('#search-service').autocomplete({
                            source: LcUrl.JsonPath + 'GetPositions/Autocomplete/',
                            autoFocus: false,
                            minLength: 0,
                            select: function (event, ui) {
                                // We want show the label (position name) in the textbox, not the id-value
                                //$(this).val(ui.item.label);
                                $(this).val(ui.item.positionSingular);
                                return false;
                            },
                            focus: function (event, ui) {
                                if (!ui || !ui.item || !ui.item.positionSingular);
                                // We want the label in textbox, not the value
                                //$(this).val(ui.item.label);
                                $(this).val(ui.item.positionSingular);
                                return false;
                            }
                        });
                        // Load all positions in background to replace the autocomplete source (avoiding multiple, slow look-ups)
                        /*$.getJSON(LcUrl.JsonPath + 'GetPositions/Autocomplete/',
                            function (data) {
                                positionsAutocomplete.autocomplete('option', 'source', data);
                            }
                        );*/

                        // More to load:
                        Modernizr.load([
                            LcUrl.AppPath + "Scripts/jquery/jQuery.blockUI.js",
                            LcUrl.AppPath + "Scripts/script.js?v=20121203"
                        ]);
                    }
                    });
                </script>
            } else {
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
                if (LcData.GetCurrentLanguageID() == 2)
                {
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jquery.ui.datepicker-es.js")" type="text/javascript"></script>
                }
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jquery.ba-hashchange.min.js")" type="text/javascript"></script>
                @* IagoSRL: Disable to investigate if really are being used this scripts from old code:
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery.selectboxes.pack.js")" type="text/javascript"></script>
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery.backgroundPosition.js")" type="text/javascript"></script>*@
                @*
                IagoSRL: The author recommends replace the autocomplete plugin by the autocomplete widget included in jQuery.UI
                Original author migration guide: http://www.learningjquery.com/2010/06/autocomplete-migration-guide
                <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jquery.autocomplete.js")" type="text/javascript"></script>
                *@
		        <script src="@Href(LcUrl.AppPath + "Scripts/jquery/jQuery.blockUI.js")" type="text/javascript"></script>
                @* Our scripts *@
                <script src="@Href(LcUrl.AppPath + "Scripts/script.js?v=20121203")" type="text/javascript"></script>
            }
            @* Javascript linked from asp.net *@
            @Scripts.GetScriptTags()
            @if (PageData["InlineScript"] != null)
            {
                <script type="text/javascript">@Html.Raw(PageData["InlineScript"])</script>
            }
            @* Google Analytics *@
            @if (LcHelpers.InProduction) {
            <script type="text/javascript">
                var _gaq = _gaq || [];
  				_gaq.push(['_setAccount', 'UA-36860613-1']);
  				_gaq.push(['_trackPageview']);
  				(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  				})();
            </script>
            }
       
        </div>
        <div class="lc-ressources">
            <span id="lcres-quit-without-save">@LcRessources.GetText("quit-without-save")</span>
            <span id="lcres-changes-not-saved">@LcRessources.GetText("changes-not-saved")</span>
            <span id="lcres-tab-has-changes-stay-on">@LcRessources.GetText("tab-has-changes-stay-on")</span>
            <span id="lcres-tab-has-changes-continue-without-change">@LcRessources.GetText("tab-has-changes-continue-without-change")</span>
        </div>
    </body>
</html>
