@using WebMatrix.Data;
@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    bool performSearch = false;
    
    PageData["Customer"] = LcData.UserInfo.GetUserRow();
    
    /* Getting search parameters */
    var serviceType = PageData["s"] = Request["s"];
    var serviceCat = PageData["c"] = Request["c"];
    var serviceLocation = PageData["location"] = Request["location"];
    var serviceDate = PageData["date"] = Request["date"];
    
    if (!String.IsNullOrWhiteSpace(serviceType) ||
        !String.IsNullOrWhiteSpace(serviceCat)) {
        performSearch = true;
    }
    bool categorizedResults = (String.IsNullOrEmpty(serviceCat) ? false : true);
    dynamic posrow = null;

    if (performSearch) {
        PageData["BodyClass"] = "search";
        PageData["IsHomePage"] = true; // consider true for now just all home script are shared
        Page.Title = "Search Results...";
        LcAssets.AddStyle(LcUrl.AppPath + "Styles/Search.css");
        
        // Building sql parameters:
        var LC_Term  = "%" + serviceType + "%";
        var LC_Cat = serviceCat;
        // Performing search:
        using (var db = Database.Open("sqlloco")) {
            if (categorizedResults) {
                // By category:
                var searchsql = "EXEC SearchPositionsByCategory @0, @1, @2, @3"; // "EXEC dbo.GetSearchResults @0,@1,@2,@3";
                posrow = db.Query(searchsql, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID(), LC_Cat, serviceLocation);
            } else {
                // By PositionSingular
                var searchsql = "EXEC dbo.SearchProvidersByPositionSingular @0,@1,@2";
                posrow = db.Query(searchsql, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID(), LC_Term);
            }
        }
    } else {
        PageData["BodyClass"] = "home";
        PageData["IsHomePage"] = true;
        Page.Title = "Make your life better.";
    }
}
@helper searchForm(){
        // We will return an array for the search-location autocomplete script
        string locationsCSV = "'San Francisco, CA', 'Other locations coming soon'";
        if (LcData.GetCurrentCountryID() == 2){
            locationsCSV = "'Barcelona', 'Other locations coming soon'";
        }
        PageData["InlineScript"] = @"
            window['LC'] = window['LC'] || {};
            LC.searchLocations = [ " + locationsCSV + @" ];
        ";
        <form id="homeSearch" method="get">
			<fieldset class="search-options">
                <ul>
                    <li class="search-service">
                        <label for="search-service">Search for a (e.g. Tutor, Gardener...)</label>
                        <input id="search-service" type="text" name="s" placeholder="Dog Walker" value="@Request["s"]" />
                    </li>
                    <li class="search-location">
                        <label for="search-location">Where</label>
                        <input id="search-location" type="text" name="location" placeholder="San Francisco, CA" value="@Request["location"]" />
                    </li>
                    <li class="search-date">
                        <label for="search-date">When</label>
                        <input id="search-date" class="date-pick" type="text" name="date" value="@(DateTime.Today.ToShortDateString())" value="@Request["date"]" />
                    </li>
                    <li class="actions">
                        <label>&nbsp;</label>
                        <button class="main-action" type="submit">GO!</button>
                    </li>
                </ul>
            </fieldset>
		</form>
}
<div id="container" class="clearfix @(performSearch ? "searched" : "")">
    <div id="main">
     @if (!performSearch)
     {
		<h1>@Page.Title</h1>
        <p>Easily book local and independent service providers here.</p>
         
        @searchForm()

        @RenderPage(LcUrl.RenderLangPath + "/Search/_CategoriesList.cshtml", new { CategoriesTitle = "Or browse by category", UrlBase = "" })
     }
     else
     {
         @*if (!String.IsNullOrWhiteSpace(serviceType))
         {*@
            @searchForm()
         @*}
         else
         {
             @RenderPage(LcUrl.RenderLangPath + "Search/_CategoriesList.cshtml", new { SelectedCategory = serviceCat, UrlBase = "" })
         }*@
        
        <div class="search-results">
            @if (categorizedResults)
            {
                // hacking the results to emulate a search
                var n = 0;
            <ol class="search-results-categories">
                @{
                    using (var db = Database.Open("sqlloco"))
                    {
                        foreach (var item in posrow)
                        {
                        <li class="clearfix">
                            <h3>@item.PositionPlural</h3>
                            <p>@item.PositionSearchDescription</p>
                            <div class="stats">
                                <div>Average rate from <strong>@(item.AverageHourlyRate == null ? "N/A" : item.AverageHourlyRate.ToString("c"))</strong></div>
                                <div>Average response time <strong>@(LcData.UserInfo.GetFormatedUserResponseTime(item.AverageResponseTimeMinutes))</strong></div>
                                <div>Average rating <strong class="user-rating">@RenderPage(LcUrl.RenderLangPath + "Reviews/_StarRating.cshtml", new String[] { "CategoryAverageRating_" + serviceCat, item.AverageRating.ToString(), "true", "image" }) (@(item.TotalRatings ?? 0))</strong></div>
                            </div>
                            <div class="category-data">
                                <div class="position-providers">
                                @foreach(var prov in db.Query("SearchTopProvidersByPosition @0, @1, @2", LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID(), item.PositionID))
                                {
                                    <a href="@(LcData.UserInfo.GetUserPublicURL(prov.UserID))"><img class="avatar micro-avatar" title="@(prov.FirstName)" alt="@(prov.FirstName)'s Photo" src="@(LcUrl.LangPath)Profile/Photo/@(prov.UserID)" width="30" height="30" /></a>
                                }
                                </div>
                                <div class="actions">
                                    <a class="view-more main-action" href="?s=@(item.PositionSingular)&location=@(serviceLocation)&date=@(serviceDate)">View all @item.ProvidersCount @item.PositionPlural</a>
                                </div>
                            </div>
                        </li>
                        }
                    }
                }
            </ol>
            }
            else
            {
            <ol class="search-results-items">
                @foreach (var item in posrow)
                {
                <li class="clearfix">
                    @RenderPage(LcUrl.RenderLangPath + "Search/_Item.cshtml", new { Item = item })
                </li>
                }
            </ol>
            }

        </div>
     }
    </div>
    @if (performSearch)
    {
        <div id="secondary">
            @if (!categorizedResults)
            {
                <div class="sidebar-main-box refine-search-results">
                    <h2>Refine Results</h2>
                </div>
                <div class="refine-search-groups">
                    <div class="refine-search-group">
                        <h3>Price Range ($/hr)</h3>
                    </div>
                    <div class="refine-search-group">
                        <h3>Star Rating</h3>
                    </div>
                    <div class="refine-search-group">
                        <h3>Service Options</h3>
                    </div>
                </div>
            }
            else
            {
                @RenderPage(LcUrl.RenderLangPath + "Search/_CategoryBox.cshtml", new { Category = serviceCat })
            }
            @RenderPage(LcUrl.RenderLangPath + "Search/_CategoriesList.cshtml", new { UrlBase = "", CategoriesTitle = "Browse by category" })
        </div>
    }
</div>
