@* It shows a summary of messages, last ones, link to the full messages list.
*@
@using WebMatrix;
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    
    var messages = LcMessaging.GetLastNewReadSentMessages((int)u.UserID, 3);

    var newsCount = messages["new"].Count;
    
    // NOTE: Section IDs just to link from alerts and other places, not for styling/scripting
}

@helper showReceivedMessageSummary(dynamic r) {
    var s = new LcMessaging.MessageSummary(r, WebSecurity.CurrentUserId);
    <li><a href="@(s.GetMessageUrl())">@s.GetMessageTypeLabel()</a>
    from @s.GetThreadParticipantFirstName() @s.GetMessageTypeDependantSubject()</li>
}
@helper showSentMessageSummary(dynamic r) {
    var s = new LcMessaging.MessageSummary(r, WebSecurity.CurrentUserId);
    <li>To @s.GetThreadParticipantFirstName() about 
    <a href="@(s.GetMessageUrl())">@s.GetMessageTypeDependantSubject()</a></li>
}
<div id="DashboardMessagesSummary" class="DashboardSection-page-section DashboardMessages">
    <h2 class="DashboardSection-page-section-header">Messages @(newsCount > 0 ? "(" + newsCount.ToString() + " new)" : "")</h2>
    <div class="DashboardMessages-summary DashboarSummary-group">
        <a class="DashboardSummary-group-iconlink" href="@(LcUrl.LangPath)dashboard/messages/">Go to messages</a>
        <div class="DashboardMessages-summary-list DashboardSummary-group-content">
            <h3 class="DashboardSummary-group-listHeader">New</h3>
            <ul class="DashboardSummary-group-list">
                @foreach (var r in messages["new"])
                {
                    @showReceivedMessageSummary(r)
                }
            </ul>
            
            <h3 class="DashboardSummary-group-listHeader">Read</h3>
            <ul class="DashboardSummary-group-list">
                @foreach (var r in messages["read"])
                {
                    @showReceivedMessageSummary(r)
                }
            </ul>

            <h3 class="DashboardSummary-group-listHeader">Sent</h3>
            <ul class="DashboardSummary-group-list">
                @foreach (var r in messages["sent"])
                {
                    @showSentMessageSummary(r)
                }
            </ul>
        </div>
    </div>
</div>