@{
    var idprefix = "account-verification-basicinfo";
}
<p class="setting-instructions">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.
</p>
<form method="post" id="@idprefix-form">
    @Html.ValidationSummary(LocoRessources.ValidationSummaryTitle)
    <div class="col col-2 col-2-1">
        <fieldset id="@idprefix-fs-contactinfo">
            <legend>Basic personal information:</legend>
            <ul>
                <li><label for="@idprefix-firstname">First Name:</label><input id="@idprefix-firstname" type="text" name="firstname"/></li>
                <li><label for="@idprefix-middleinitial">Middle Initial:</label><input id="@idprefix-middleinitial" type="text" name="middleinitial"/></li>
                <li><label for="@idprefix-lastname">Last Name:</label><input id="@idprefix-lastname" type="text" name="lastname"/></li>
                <li><label for="@idprefix-streetaddress1">Street Address 1:</label><input id="@idprefix-streetaddress1" type="text" name="streetaddress1"/></li>
                <li><label for="@idprefix-streetaddress2">Street Address 2:</label><input id="@idprefix-streetaddress2" type="text" name="streetaddress2"/></li>
                <li><label for="@idprefix-city">City:</label><input id="@idprefix-city" type="text" name="city"/></li>
                <li><label for="@idprefix-state">State:</label>
                    <select id="@idprefix-state" name="state">
                        @CommonHelpers.CountryOptions()
                    </select>
                </li>
                <li><label for="@idprefix-zipcode">Zip Code:</label><input id="@idprefix-zipcode" type="text" name="zipcode"/></li>
                <li><label for="@idprefix-mobilephone">Mobile Phone:</label><input id="@idprefix-mobilephone" type="text" name="mobilephone"/></li>
                <li class="legal"><input id="@idprefix-auth-zumigo" type="checkbox" name="auth-zumigo"/><label for="@idprefix-auth-zumigo">I authorize Zumigo, Inc. to use my mobile phone number to verify my name, address, and phone number.</label></li>
                <li class="legal"><input id="@idprefix-auth-loconomics" type="checkbox" name="auth-loconomics"/><label for="@idprefix-auth-loconomics">I authorize Loconomics to use Zumigo services for location-based messaging.</label></li>
            </ul>
        </fieldset>
    </div>
    <div class="col col-2 col-2-2">
        <fieldset id="@idprefix-fs-socialmedia" class="social-media">
            <legend>Social media:</legend>
            <ul>
                <li class="facebook"><a href="#"><img src="@Href(UrlUtil.AppPath + "img/connect-facebook.png")" alt="Facebook Connect"/></a></li>
                <li class="twitter"><a href="#"><img src="@Href(UrlUtil.AppPath + "img/connect-twitter.png")" alt="Sign in Twitter"/></a></li>
                <li class="linkedin"><a href="#"><img src="@Href(UrlUtil.AppPath + "img/connect-linkedin.png")" alt="Sign in LinkedIn"/></a></li>
            </ul>
        </fieldset>
    </div>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Submit</button>
    </fieldset>
</form>