@{
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
}
@helper printDistanceSelect(){
    <select name="positionlocations-maxdistance">
        <option value="1">1 mile</option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="25">25 miles</option>
    </select>
}
@helper printAddress(IDictionary<string, object> addressDetails){
        <div class="address">
            <span class="address-name">@addressDetails["name"]</span>
            <span class="address-location">@addressDetails["location"]</span>
            <span class="address-city">@addressDetails["city"]</span>
            <span class="address-state">@addressDetails["state"]</span>
            <span class="address-zipcode">@addressDetails["zipcode"]</span>
            <div class="tools">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="map">Map</a>
                <a href="#" class="remove">Remove</a>
            </div>
        </div>
}
<p class="setting-instructions">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.
</p>
<form action="#" method="post" class="positionlocations" id="position#@(n)-locations">
    <input type="hidden" name="position-number" value="@n"/>
    <input type="hidden" name="position-id" value="@p.PositionID"/>
    <div class="col col-2 col-2-1">
        <fieldset class="positionlocations-itravel has-confirm">
            <legend>I travel to clients:</legend>
            <div class="confirm positionlocations-itravel-confirm">
                <label>Yes<input type="radio" name="positionlocations-itravel" value="yes"/></label>
                <label>No<input type="radio" name="positionlocations-itravel" value="no"/></label>
            </div>
            <a href="#" class="addlocation">Add location</a>
            <fieldset class="positionlocations-itravelfrom">
                <legend>I travel from this location (one only):</legend>
                @printAddress(new Dictionary<string, object>() {{"name", "My home"}, {"location", "187 Bocana St"}, {"city", "San Francisco"}, {"state", "CA"}, {"zipcode", "94110"} })
                <label>I will travel up to @printDistanceSelect() from this location.</label>
            </fieldset>
            <fieldset class="positionlocations-itravelusing">
                <legend>I travel to jobs using primarily:</legend>
                <label><input type="radio" name="positionlocations-itravelusing" value="public"/>Public transport</label>
                <label><input type="radio" name="positionlocations-itravelusing" value="walk"/>Walk</label>
                <label><input type="radio" name="positionlocations-itravelusing" value="automobile"/>Automobile</label>
            </fieldset>
        </fieldset>
    </div>
    <div class="col col-2 col-2-2">
        <fieldset class="positionlocations-servicelocations has-confirm">
            <legend>I perform services at specific locations:</legend>
            <div class="positionlocations-servicelocations-confirm confirm">
                <label>Yes<input type="radio" name="positionlocations-itravel" value="yes"/></label>
                <label>No<input type="radio" name="positionlocations-itravel" value="no"/></label>
            </div>
            <a href="#" class="addlocation">Add location</a>
            <ul>
                <li>
                    @printAddress(new Dictionary<string, object>() {{"name", "Equinox Fitness"}, {"location", "301 Pine Street"}, {"city", "San Francisco"}, {"state", "CA"}, {"zipcode", "94012"} })
                </li>
                <li>
                    @printAddress(new Dictionary<string, object>() {{"name", "My home"}, {"location", "187 Bocana St"}, {"city", "San Francisco"}, {"state", "CA"}, {"zipcode", "94110"} })
                </li>
                <li>
                    @printAddress(new Dictionary<string, object>() {{"name", "Equinox Fitness"}, {"location", "301 Pine Street"}, {"city", "San Francisco"}, {"state", "CA"}, {"zipcode", "94012"} })
                </li>
            </ul>
        </fieldset>
    </div>
    <fieldset class="actions">
        <button class="save main-button" type="submit">Save</button>
    </fieldset>
</form>