@{
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
}
@helper printOptionsHours(){
    var firstHour = new TimeSpan(9, 0, 0);
    var lastHour = new TimeSpan(18, 30, 0);
    var interval = new TimeSpan(0, 30, 0);
    for (var hour = firstHour; hour <= lastHour; hour += interval)
    {
        <option value="@hour.ToString("c")">@((new DateTime(hour.Ticks)).ToShortTimeString())</option>
    }
}
@helper printHourPerDayElements(){
    var days = new string[]{"Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays", "Sundays"};
    foreach (var day in days){
    <li>
        <span class="day">@day</span>
        <select name="positionavailability-hours-@day.ToLower()-since">@printOptionsHours()</select>
        and
        <select name="positionavailability-hours-@day.ToLower()-to">@printOptionsHours()</select>
    </li>
    }
}
@helper printDaysElements(){
    var days = new string[]{"Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays", "Sundays"};
    foreach (var day in days){
    <li>
        <span class="day">@day</span>
        <label>Yes<input name="positionavailability-days-@day.ToLower()" value="yes" type="radio"/></label>
        <label>No<input name="positionavailability-days-@day.ToLower()" value="no" type="radio"/></label>
    </li>
    }
}
@helper printHoursBooking(string what){
    <select name="positionsavailability-booking-@what">
        <option value="1">1 Hour</option>
        <option value="2">2 Hours</option>
        <option value="3">3 Hours</option>
        <option value="4">4 Hours</option>
        <option value="5">5 Hours</option>
        <option value="6">6 Hours</option>
    </select>
}

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.

<form action="#" method="post" class="positionavailability" id="position#@(n)-availability">
    <input type="hidden" name="position-number" value="@n"/>
    <input type="hidden" name="position-id" value="@p.PositionID"/>
    <fieldset class="positionavailability-days">
        <legend>I'm available these days:</legend>
        <ul>
            @printDaysElements()
        </ul>
    </fieldset>
    <fieldset class="positionavailability-hours">
        <legend>Generally between these hours:</legend>
        <ul>
            @printHourPerDayElements()
        </ul>
    </fieldset>
    <fieldset class="positionavailability-program">
        <legend>I already use a calendar program:</legend>
        <ul>
            <li class="positionavailability-use-program">
                <label>Yes<input type="radio" name="positionavailability-use-program" value="yes"/></label>
                <label>No<input type="radio" name="positionavailability-use-program" value="no"/></label>
            </li>
            <li class="positionavailability-program-type">
                <label for="position#@(n)-availability-program-type">Which type?</label>
                <select name="positionavailability-program-type" id="position#@(n)-availability-program-type">
                    <option value="gmail">Gmail</option>
                </select>
            </li>
            <li class="positionavailability-program-url">
                <label for="position#@(n)-availability-program-url">Public URL:</label>
                <input type="text" name="positionavailability-program-url" id="position#@(n)-availability-program-url"/>
            </li>
        </ul>
    </fieldset>
    <fieldset class="positionavailability-booking">
        <legend>I require:</legend>
        <label>Time in advance of bookings:@printHoursBooking("advance")</label>
        <label>Minimun booking time:@printHoursBooking("min")</label>
        <label>Maximum booking time:@printHoursBooking("max")</label>
        <label>Minimun time between bookings:@printHoursBooking("between")</label>
    </fieldset>
</form>