@{
    DashboardFunctions.SecurePage();
    
    Layout = "_Layout.cshtml";
    Page.Title = "Make your life better!";
    
    PageData["userow"] = DashboardFunctions.GetUserRow();
    PageData["posrows"] = DashboardFunctions.GetUserPos();
    PageData["menu-item"] = "positions";
    
    // Number of maximum positions displayed:
    var maxPositions = 5;
}

        @{
            int n = 0;
        }
		<ul class="tabs autofill-submenu-items">
            @{
                foreach(var c in PageData["posrows"]){
                    n++;
                    if (n > maxPositions) { break; }
                    var cls = (n==1 ? "current" : "");
                    <li class="@cls"><a class="@cls" href="@("#position"+n)">@c.PositionSingular</a></li>
                }
            }
		</ul>
        
        @{
            n = 0;
            foreach(var position in PageData["posrows"]){
                n++;
                if (n > maxPositions) { break; }
                var cls = (n==1 ? "current" : "");
                PageData["position"] = position;
                PageData["npos"] = n;
        <div id="@("position"+n)" class="tab-body fancy tabbed buttons @cls">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="@("#position"+n)-services">Services</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-availability">Availability</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-pricing">Pricing</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-photos">Photos</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-locations">Locations</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-licenses">Licenses</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-reviews">Reviews</a></li>
            </ul>
            
            <div id="@("position"+n)-services" class="tab-body current">
                @RenderPage("_PositionsServices.cshtml")                
            </div><!-- #@("position"+n)-services -->
            <div id="@("position"+n)-availability" class="tab-body">
                @RenderPage("_PositionsAvailability.cshtml")                
            </div><!-- #@("position"+n)-availability -->
            <div id="@("position"+n)-pricing" class="tab-body">
                Pricing <!-- TODO here must be the back-end content -->
            </div><!-- #@("position"+n)-pricing -->
            <div id="@("position"+n)-photos" class="tab-body">
                @RenderPage("_PositionsPhotos.cshtml")
            </div><!-- #@("position"+n)-photos -->
            <div id="@("position"+n)-locations" class="tab-body">
                @RenderPage("_PositionsLocations.cshtml")
            </div><!-- #@("position"+n)-locations -->
            <div id="@("position"+n)-licenses" class="tab-body">
                @RenderPage("_PositionsLicenses.cshtml")
            </div><!-- #@("position"+n)-licenses -->
            <div id="@("position"+n)-reviews" class="tab-body">
                Reviews <!-- TODO here must be the back-end content -->
                @RenderPage("_PositionsOldCode.cshtml")
            </div><!-- #@("position"+n)-reviews -->
            
        </div><!-- #position@n -->
            }
        }
