@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.AdminPage();
    
    // var u = LcData.UserInfo.GetUserRow();
    int userID = WebSecurity.CurrentUserId;
    
    string idprefix = "admin-bookings";
    
    // possible values: "maybe-performed" (confirmed in post end-time dates), "dispute", "performed" (both with and without pricing adjustment), "completed"
    string view = PageData["view"] ?? Request["view"] ?? "maybe-performed";

    // NOTE: SAME as the Select part of the sqlGetBookingsByDateRange found in Booking/$BookingsList; must be converted to a database view (and with the order clause)
    var sqlSelectBookings = @"
        SELECT  R.BookingRequestID,
                B.BookingID,
                R.ProviderUserID,
                R.CustomerUserID,
                R.PricingEstimateID,
                R.BookingRequestStatusID,
                B.BookingStatusID,
                
                UC.FirstName As CustomerFirstName,
                UC.LastName As CustomerLastName,

                UP.FirstName As ProviderFirstName,
                UP.LastName As ProviderLastName,

                E.StartTime,
                E.EndTime,
                E.TimeZone,
                Pos.PositionSingular,
                Pr.TotalPrice
        FROM    Booking As B
                 INNER JOIN
                BookingRequest As R
                  ON B.BookingRequestID = R.BookingRequestID
                 INNER JOIN
                PricingEstimate As Pr
                  ON Pr.PricingEstimateID = R.PricingEstimateID
                 INNER JOIN
                Users As UC
                  ON UC.UserID = R.CustomerUserID
                 INNER JOIN
                Users As UP
                  ON UP.UserID = R.ProviderUserID
                 LEFT JOIN
                CalendarEvents As E
                  ON E.Id = B.ConfirmedDateID
                 INNER JOIN
                Positions As Pos
                  ON Pos.PositionID = R.PositionID
					AND Pos.LanguageID = @2 AND Pos.CountryID = @3
    ";
    var sqlWhereMaybePerformedBooking = @"
        WHERE   
                -- Only bookings confirmed by customer and provider
                B.BookingStatusID = 1
                 AND
                Convert(date, E.EndTime) <= @0
                 AND
                (@1 is null OR Convert(date, E.EndTime) > @1)
    ";
    var sqlWhereDisputeBooking = @"
        WHERE
                -- State dispute-dispute
                B.BookingStatusID = 5
    ";
    var sqlWherePerformedBooking = @"
        WHERE
                -- States performed with or without pricing adjustment
                B.BookingStatusID IN (2, 3)
    ";
    var sqlWhereCompletedBooking = @"
        WHERE
                -- State Completed
                B.BookingStatusID = 4
    ";
    var sqlOrderASCBooking = @"
        ORDER BY E.EndTime ASC, B.UpdatedDate ASC, R.UpdatedDate ASC
    ";
    var sqlOrderDESCBooking = @"
        ORDER BY E.EndTime DESC, B.UpdatedDate DESC, R.UpdatedDate DESC
    "; 
    var sqlGetMaybePerformedBooking = sqlSelectBookings + sqlWhereMaybePerformedBooking + sqlOrderDESCBooking;
    var sqlGetDisputeBooking = sqlSelectBookings + sqlWhereDisputeBooking + sqlOrderDESCBooking;
    var sqlGetPerformedBooking = sqlSelectBookings + sqlWherePerformedBooking + sqlOrderDESCBooking;
    var sqlGetCompletedBooking = sqlSelectBookings + sqlWhereCompletedBooking + sqlOrderASCBooking;

    dynamic justMaybePerformedBookings = null, maybePerformedBookings = null, disputeBookings = null, performedBookings = null, 
        completedBookings = null;
    using (var db = Database.Open("sqlloco")) {
        switch (view) {
            case "maybe-performed":
                DateTime moreRecent = DateTime.Today;
                DateTime olderDate = DateTime.Today.AddDays(3);
                
                justMaybePerformedBookings = db.Query(sqlGetMaybePerformedBooking, 
                    DateTime.Today, olderDate,
                    LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
                maybePerformedBookings = db.Query(sqlGetMaybePerformedBooking, 
                    olderDate, null,
                    LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
                break;
            case "dispute":
                disputeBookings = db.Query(sqlGetDisputeBooking, null, null, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
                break;
            case "performed":
                performedBookings = db.Query(sqlGetPerformedBooking, null, null, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
                break;
            case "completed":
                completedBookings = db.Query(sqlGetCompletedBooking, null, null, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
                break;
        }
    }
    
    /* Some static strings */
    string strBookingSingular = "booking";
    string strBookingPlural = "bookings";
}
@helper printDateTimeRange(DateTime? start, DateTime? end){
    if (start.HasValue && end.HasValue) {
        @start.Value.ToLongDateString()
        <text>, </text>
        @start.Value.ToShortTimeString()
        <text> to </text>
        @end.Value.ToShortTimeString()
    } else {
        <span class="no-dates">Date not available</span>
    }
}
@* Print a Booking or BookingRequest *@
@helper printItem(dynamic item) {
    string buttonAction = "view", buttonLabel = "View";
    if ((int)item.BookingStatusID > 0) {
        switch ((int)item.BookingStatusID){
            case 1:
                buttonAction = "confirmed";
                buttonLabel = "Confirmed";
                break;
            case 2:
                buttonAction = "performed-without";
                buttonLabel = "Performed, no pricing adjustment";
                break;
            case 3:
                buttonAction = "performed-with";
                buttonLabel = "Performed, with pricing adjustment";
                break;
            case 4:
                buttonAction = "completed";
                buttonLabel = "Completed";
                break;
            case 5:
                buttonAction = "dispute";
                buttonLabel = "Dispute";
                break;
        }
    }

  <li>
    <div>
    <h5>BookingID: @item.BookingID</h5>
    <h5>Status: @buttonLabel</h5>
    </div>
    <h5>Provider</h5>
    @RenderPage(UrlUtil.LangPath + "Profile/$UserInfoWidget.cshtml", new Dictionary<string, object>{ 
        {"Data", item},
        {"DataPrefix", "Provider"},
        {"Size", "mini"},
        {"UserType", "provider"}
    })
    <h5>Customer</h5>
    @RenderPage(UrlUtil.LangPath + "Profile/$UserInfoWidget.cshtml", new Dictionary<string, object>{ 
        {"Data", item},
        {"DataPrefix", "Customer"},
        {"Size", "mini"},
        {"UserType", "customer"}
    })
    <div class="actions">
        <button class="item-action @buttonAction" data-booking-id="@item.BookingID" data-booking-request-id="@item.BookingRequestID">View</button>
        <button class="item-action change-state" data-booking-id="@item.BookingID">Change State</button>
        <div class="total-price item-extra-info">$@item.TotalPrice</div>
    </div>
    <ul class="item-summary">
        <li>
            <h5>Time:</h5> @*Monday, April 15th, 2012, 11:00am to 2:00pm*@
                @printDateTimeRange(item.StartTime, item.EndTime)
        </li>
        <li>
            <h5>Position:</h5> @item.PositionSingular
        </li>
        <li>
            <h5>Details:</h5> @printItemDetails(item)
        </li>
    </ul>
  </li>
}
@helper printItemDetails(dynamic item) {
    /* Copied from Booking/$Payment */
    var sqlGetPricingVars = @"
        SELECT  V.CustomerPricingVariableDisplayText As Name, P.CustomerPricingDataInput As Quantity
        FROM    PricingEstimateDetail As P
                 INNER JOIN
                PricingVariable As V
                  ON V.PricingVariableID = P.PricingVariableID
        WHERE   P.PricingEstimateID = @0
                 AND V.CountryId = @1 AND V.LanguageID = @2
    ";
    var db = Database.Open("sqlloco");
    var i = 0;
    var iprint = "";
    foreach (var pitem in db.Query(sqlGetPricingVars, item.PricingEstimateID, 1, 1)) {
        if (i > 0) {
            iprint = "; ";
        }
        i++;
        @(iprint + pitem.Name + " " + pitem.Quantity)
    }
}
<div class="change-booking-status edit-popup" data-source-url="@(UrlUtil.LangPath)Admin/$ChangeBookingState/?BookingID=0"></div>
<ul class="booking-list-groups items-groups-list">

    @if (view == "maybe-performed")
    {
        if (maybePerformedBookings.Count > 0)
        {
        <li>
            <h3>Maybe performed bookings, because state is 'confirmed' and Service End Date is older than 2 days ago (@DateTime.Today.AddDays(2).ToShortDateString()):
                <span class="items-count bookings-number">@maybePerformedBookings.Count @(maybePerformedBookings.Count == 1 ? strBookingSingular : strBookingPlural)</span>
            </h3>
            <ul class="bookings-list items-list maybe-performed-bookings">
                @foreach (var item in maybePerformedBookings)
                {
                    @printItem(item)
                }
            </ul>
        </li>
        }

        if (justMaybePerformedBookings.Count > 0)
        {
        <li>
            <h3>Maybe performed bookings, because state is 'confirmed' and Service End Date is between today and 3 days ago (@DateTime.Today.AddDays(3).ToShortDateString()):
                <span class="items-count bookings-number">@justMaybePerformedBookings.Count @(justMaybePerformedBookings.Count == 1 ? strBookingSingular : strBookingPlural)</span>
            </h3>
            <ul class="bookings-list items-list maybe-performed-bookings maybe-today-performed-bookings">
                @foreach (var item in justMaybePerformedBookings)
                {
                    @printItem(item)
                }
            </ul>
        </li>
        }

        if (maybePerformedBookings.Count == 0 && justMaybePerformedBookings.Count == 0)
        {
            <li class="no-items">There are not bookings</li>
        }
    }
    else if (view == "dispute")
    {
        if (disputeBookings.Count > 0)
        {
        <li>
            <h3>In Dispute:
                <span class="items-count bookings-number">@disputeBookings.Count @(disputeBookings.Count == 1 ? strBookingSingular : strBookingPlural)</span>
            </h3>
            <ul class="bookings-list items-list dispute-bookings">
                @foreach (var item in disputeBookings)
                {
                    @printItem(item)
                }
            </ul>
        </li>
        }
        else
        {
            <li class="no-items">There are not bookings</li>
        }
    }
    else if (view == "performed")
    {
        if (performedBookings.Count > 0)
        {
        <li>
            <h3>Performed (both with or without pricing adjustment):
                <span class="items-count bookings-number">@performedBookings.Count @(performedBookings.Count == 1 ? strBookingSingular : strBookingPlural)</span>
            </h3>
            <ul class="bookings-list items-list performed-bookings">
                @foreach (var item in performedBookings)
                {
                    @printItem(item)
                }
            </ul>
        </li>
        }
        else
        {
            <li class="no-items">There are not bookings</li>
        }
    }
    else if (view == "completed")
    {
        if (completedBookings.Count > 0)
        {
        <li>
            <h3>Completed:
                <span class="items-count bookings-number">@completedBookings.Count @(completedBookings.Count == 1 ? strBookingSingular : strBookingPlural)</span>
            </h3>
            <ul class="bookings-list items-list completed-bookings">
                @foreach (var item in completedBookings)
                {
                    @printItem(item)
                }
            </ul>
        </li>
        }
        else
        {
            <li class="no-items">There are not bookings</li>
        }
    }
</ul>