@{
    // Account/About-you
    LcHelpers.SecurePage();
    var isInOnboarding = (bool)(PageData["IsInOnboarding"] ?? false);
    
    // Errors are managed through this page ModelState offered to imported pages as PageState
    
    var u = LcData.UserInfo.GetUserRow();
}
<h1 class="DashboardSection-page-header">About you (outside of work)</h1>
<p class="DashboardSection-page-introduction">
    Loconomics is made up of your neighbors--some you know, some you don't. For those that don't know you,
    let them know who you are by sharing a little about yourself outside of your professional life.
</p>

<div class="DashboardAboutYou BasicForm ajax-box">

    <form class="BasicForm ajax" method="post" action="@(LcUrl.LangPath)$NewDashboard/$about-you/">

        @if (u.IsCustomer && !u.IsProvider) {
            <div class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Add your contact information</h2>
                @RenderPage("AboutYou/_$ContactInfo.cshtml", new { PageState = ModelState })
            </div>
        }

        <div class="DashboardSection-page-section is-required">
            <h2 class="DashboardSection-page-section-header">Fill in your public bio</h2>
            @RenderPage("AboutYou/_$PublicBio.cshtml", new { PageState = ModelState })
        </div>

        <div class="DashboardSection-page-section">
            <h2 class="DashboardSection-page-section-header">Add your personal website</h2>
            @RenderPage("AboutYou/_$PersonalWebsite.cshtml", new { PageState = ModelState })
        </div>

        <div class="DashboardSection-page-section">
            <h2 class="DashboardSection-page-section-header">Add any relevant education</h2>
            @RenderPage("AboutYou/_$Education.cshtml", new { PageState = ModelState })
        </div>

        <div class="DashboardSection-page-section">
            <h2 class="DashboardSection-page-section-header">Add verifications</h2>
            @RenderPage("AboutYou/_$Verifications.cshtml", new { PageState = ModelState })
        </div>

        @* Light wrapper to avoid visibility problems (applying javascript educationCrudl *@
        <div>
            @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
        </div>

        <div class="actions">
            <button class="main-action" type="submit">@(isInOnboarding ? "Next" : "Save")</button>
        </div>
    </form>
</div>

<div class="InlineNotification InlineNotification--hasRequiredSections">
    Required sections
</div>

@{
    // On Post check validation status, returning a Json response or html
    LcHelpers.CheckDashboardSuccessPost("about-you");
}