@{
    // Account/Privacy
    var u = LcData.UserInfo.GetUserRow();
}
<h1 class="DashboardSection-page-header">Privacy settings</h1>
<p class="DashboardSection-page-introduction">
Yep, privacy is pretty important. 
Let us know what you’re thinking below, 
and <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">let us know</a> of any concerns or questions.
</p>

<div class="DashboardPrivacy">
    <form class="BasicForm ajax ajax-box" method="post" action="@(LcUrl.LangPath)$NewDashboard/$privacy/">

        <div class="DashboardSection-page-section">
            @RenderPage("Promote/_$PrivacySettings.cshtml", new { PageState = ModelState })
        </div>

        @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
        
        <div class="actions">
            <button class="main-action" type="submit">Save</button>
        </div>
    </form>

    <div class="DashboardPrivacy-accountRessources lc-ressources">
        @if (u.AccountStatusID > 0)
        {
        <div class="delete-message-confirm">
            <p>Are you sure you want to delete your account?</p>
            <p>We hate to see you go! Please reconsider and contact us with any concerns. We want you to stay.</p>
            <form action="@(LcUrl.LangPath)Account/$Delete/" method="post" class="ajax ajax-box confirm actions">
                <button type="button" class="cancel-action">No</button>
                <button type="submit" class="main-action">Yes</button>
            </form>
        </div>
        }
        @if (u.AccountStatusID == 1)
        {
        <div class="deactivate-message-confirm">
            <p>Are you sure you want to deactivate your account?</p>
            <form action="@(LcUrl.LangPath)Account/$Deactivate/" method="post" class="ajax ajax-box confirm actions">
                <button type="button" class="cancel-action">No</button>
                <button type="submit" class="main-action">Yes</button>
            </form>
        </div>
        }
        @if (u.AccountStatusID == 2)
        {
        <div class="reactivate-message-confirm">
            <p>Are you sure you want to reactivate your account?</p>
            <form action="@(LcUrl.LangPath)Account/$Reactivate/" method="post" class="ajax ajax-box confirm actions">
                <button type="button" class="cancel-action">No</button>
                <button type="submit" class="main-action">Yes</button>
            </form>
        </div>
        }
    </div>
</div>

@{
    // On Post check validation status, returning a Json response or html
    if (IsPost && ModelState.IsValid && Request.IsAjaxRequest()) {
        LcHelpers.ReturnJsonResult(5, LcRessources.ShortDataSaved);
    }
}