@{  
    Layout = "~/en_ES/_SiteLayout.cshtml";
    Page.Title = "Make your life better.";

}
  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
		<form id="homeSearch" action="@Href("~/en_ES/Search")" method="post">
			<fieldset>
				<label for="serviceType">Enter Service </label>
            <input type="text" name="serviceType" id="serviceType" value="e.g. Cleaner, Tutor..." />
            <!-- <input class="go" type="submit" value="Find Services"/> -->
				<button class="fancy" type="submit">Find Services</button>
			</fieldset>
			<fieldset>
				<select id="serviceLocation" name="serviceLocation">
					<option value="" selected>Select a location</option>
					<option value="madrid">Madrid</option>
					<option value="minneapolis">Minneapolis</option>
					<option value="new-york">NYC</option>
				</select>
				<label for="serviceDate">Preferred date:</label> <input type="text" id="serviceDate" name="serviceDate" class="date-pick" value="today" />
			</fieldset>
		</form>
     <div class="categories">
			<ul>
			    <li><a href="@Href("~/en_ES/Search?Service=Home")"><img src="@Href("~/img/splash-icon-home.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Child")"><img src="@Href("~/img/splash-icon-child.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Pet")"><img src="@Href("~/img/splash-icon-pets.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Personal")"><img src="@Href("~/img/splash-icon-people.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Transport")"><img src="@Href("~/img/splash-icon-transport.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Elder")"><img src="@Href("~/img/splash-icon-elderly.gif")" alt="" /></a></li>
				<li><a href="@Href("~/en_ES/Search?Service=Celebration")"><img src="@Href("~/img/splash-icon-celebrations.gif")" alt="" /></a></li>
			</ul>
		</div>
    </div><!-- #main -->

   </div><!-- #container -->

