@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    // Initialize general page variables
    var username = "";
    var password = "";
    var rememberMe = false;
    
    var facebookAppId = Facebook.AppId;
    var facebookRedirectUri = UrlUtil.LangUrl + "Account/Facebook/";
    var facebookPermissions = "email"; //"COMMA_SEPARATED_LIST_OF_PERMISSION_NAMES";
    // "SOME_ARBITRARY_BUT_UNIQUE_STRING";
    var facebookState = Session["facebookState"] = Guid.NewGuid().ToString();
    
    // Setup Validation
    // Validate the user's username
    Validation.RequireField("username", "You must specify a user name.");
    // Validate the user's password
	Validation.RequireField("password", "You must specify a password.");
    

    /* OAuth provider login disabled currently -need review when enable-
    if (IsPost){
        // is this a OAuth sign in request?
        string provider = Request.Form["provider"];
        if (!provider.IsEmpty()) {
            OAuthWebSecurity.RequestAuthentication(provider, UrlUtil.LangPath + "Account/RegisterService/");
            return;
        }
    }*/

    
    if (IsPost && Validation.IsValid()){

        username = Request.Form["username"];
        password = Request.Form["password"];
        rememberMe = Request.Form["rememberMe"].AsBool();
        
        if (WebSecurity.UserExists(username) && WebSecurity.GetPasswordFailuresSinceLastSuccess(username) > 4 && WebSecurity.GetLastPasswordFailureDate(username).AddSeconds(60) > DateTime.UtcNow) {
            // We return a json with result OK and redirect link (Code=1),
            // and response end just after this:
            CommonHelpers.ReturnJsonResult(1, UrlUtil.LangPath + "Account/AccountLockedOut/");
        }

        // Attempt to login to the Security object using provided creds
        if (WebSecurity.Login(username, password, rememberMe)) {
                
            // mark the user as logged in via a normal account,
            // as opposed to via an OAuth or OpenID provider.
            Session["OAuthLoggedIn"] = false;

            string redirect = N.W(Request.QueryString["ReturnUrl"])
                ?? N.W(Request["Redirect"])
                ?? UrlUtil.LangPath;
            string hash = Request.QueryString["HASH"];
            if (!string.IsNullOrEmpty(hash)) {
                redirect += "#" + hash;
            }

            // We return a json with result OK and redirect link (Code=1),
            // and response end just after this:
            CommonHelpers.ReturnJsonResult(1, redirect);
        }
        else {
            ModelState.AddFormError("Incorrect Username or password.");
        }
    }
}
@CommonHelpers.GetValidationScripts()
<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.hash) {
            var log = $('form.login');
            var act = $('form.login').attr('action');
            if (/\?/.test(act))
                log.attr('action', act + "&HASH=" + window.location.hash.substring(1));
            else
                log.attr('action', act + "?HASH=" + window.location.hash.substring(1));
        }
    });
</script>
<article id="loginBox" class="ajax-box account-popup">
    <hgroup class="title">
        <h1>Log in to Loconomics</h1>
    </hgroup>
    <section>
        <form class="choice-option ajax login" data-success-post-message="Logged successfully!" method="post" action="@(UrlUtil.LangPath)Account/$Login/@(Request.Url.Query)">
            @* If one or more validation errors exist, show an error *@
            @Html.ValidationSummary(null, true, null)

            <fieldset>
                <legend>Log in to Your Account</legend>
                <ul>
                    <li class="username">
                        <label for="username" @if(!ModelState.IsValidField("username")){<text>class="error-label"</text>}>E-mail address:</label>
                        <input type="text" id="username" class="@(ModelState.IsValidField("Ausername") ? "" : "input-validation-error")" name="username" value="@username" title="Username" @Validation.GetHtml("username")/>
                        @* Write any username validation errors to the page *@
                        @Html.ValidationMessage("username")
                    </li>
                    <li class="password">
                        <label for="password" @if(!ModelState.IsValidField("password")){<text>class="error-label"</text>}>Password:</label>
                        <input type="password" id="password" class="@(ModelState.IsValidField("Apassword") ? "" : "input-validation-error")" name="password" title="Password" @Validation.GetHtml("password")/>
                        @* Write any password validation errors to the page *@
                        @Html.ValidationMessage("password")
                    </li>
                    <li class="remember-me">
                        <input type="checkbox" id="rememberMe" name="rememberMe" value="true" title="Remember Me" @if (rememberMe) {<text>checked="checked"</text>} />
                        <label class="checkbox" for="rememberMe">Remember me next time</label>
                    </li>
                    <li class="actions">
                        <button type="submit" class="main-action">Login</button>
                    </li>
                </ul>
            </fieldset>
        </form>
        <p class="choice-or">or</p>
        <div class="social choice-option">
            @RenderPage("_FacebookConnectButton.cshtml")
        </div>
        <div class="account-tools">
            <a class="forgot-password" href="@(UrlUtil.LangPath)Account/ForgotPassword/">Forgot password?</a>
            <a class="register" href="@(UrlUtil.LangPath)Account/Register/">Need an account?</a>
        </div>
    </section>
</article>