@helper GetFacebookInitializationScripts() {
    var urlsection = PageData["Section"] ?? "Callback"; // Possible values: Callback, Verify, Callback/Provider
    var result = PageData["Result"] ?? "redirect"; // Possible values: redirect, json
    var facebookPermissions = "email,user_about_me";
    var redirectUrl = PageData["Redirect"] ?? Request["Redirect"];
    
    <div id="fb-root" style="display: none"></div>
    <script type="text/javascript">
        var facebookInitialized, facebookConnect, fbtimer;

        if (!facebookInitialized) {
            Modernizr.load({ load: document.location.protocol +
                '//connect.facebook.net/@(Facebook.Language)/all.js',
                callback: function () {
                    FB.init({ appId: '@Facebook.AppId', status: true, cookie: true, xfbml: true });
                }
            });

            if (!facebookConnect)
                facebookConnect = function () {
                    // If FB is was not loaded still, auto try again
                    if (typeof(FB) === 'undefined') {
                        fbtimer = setTimeout(facebookConnect, 500);
                    } else {
                        if (fbtimer) clearTimeout(fbtimer);
                        FB.login(function (response) {
                            if (response.authResponse) {
                                //console.log('FacebookConnect: Welcome!');
                                $.blockUI(loadingBlock);
                                var url = UrlUtil.LangPath + "Account/Facebook/@urlsection/?Redirect=@Uri.EscapeDataString(redirectUrl ?? "")";
                                @if (result == "redirect") {
                                <text>
                                window.location = url;
                                </text>
                                } else if (result == "json") {
                                <text>
                                popup(url, 'small', null, "Verifing");
                                </text>
                                }
                                /*FB.api('/me', function (response) {
                                console.log('FacebookConnect: Good to see you, ' + response.name + '.');
                                });*/
                            } else {
                                //console.log('FacebookConnect: User cancelled login or did not fully authorize.');
                            }
                        }, { scope: '@facebookPermissions' });
                    }
                }

            facebookInitialized = true;
        }
    </script>
}

    @*<a href="https://www.facebook.com/dialog/oauth?client_id=@Server.UrlEncode(facebookAppId)&redirect_uri=@Server.UrlEncode(facebookRedirectUri)&scope=@Server.UrlEncode(facebookPermissions)&state=@Server.UrlEncode((string)facebookState)">
        <img alt="Facebook Connect" src="@(UrlUtil.AppPath)img/connect-facebook.png">
    </a>*@

    <a href="javascript: facebookConnect();">
        @GetFacebookInitializationScripts()
        <img alt="Facebook Connect" src="@(UrlUtil.AppPath)img/theme/connect-facebook.png"/>
    </a>

    @*
    @GetFacebookInitializationScripts()
    @Facebook.LoginButton(
        registerUrl: UrlUtil.LangPath + "Account/Facebook/Register/",
        returnUrl: UrlUtil.LangPath, 
        callbackUrl: UrlUtil.LangPath + "Account/Facebook/Callback/",
        buttonText: "Connect with Facebook",
        extendedPermissions: facebookPermissions)
        *@
    @*
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : 'YOUR_APP_ID',
                status     : true, 
                cookie     : true,
                xfbml      : true,
                oauth      : true,
              });
            };
            (function(d){
               var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
               d.getElementsByTagName('head')[0].appendChild(js);
             }(document));
          </script>
          <div class="fb-login-button">Login with Facebook</div>
    *@