@{
    // Set the layout page and page title
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Password Reset";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];
    var disabledAttribute = "";

    bool tokenExpired = false;
    bool isSuccess = false;
    
    // Setup validation
    // Add Validation scripts
    Scripts.Add(UrlUtil.AppPath + "Scripts/jquery.validate.min.js");
    Scripts.Add(UrlUtil.AppPath + "Scripts/jquery.validate.unobtrusive.min.js");

    // Validate the user's username
    Validation.RequireField("newPassword", "Please enter a new password.");
    Validation.Add("confirmPassword", 
        Validator.EqualsTo("newPassword", "The password confirmation did not match the new password."));
    Validation.RequireField("passwordResetToken", "The password reset token is invalid.");

    if (IsPost && Validation.IsValid()) {
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];

        if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {   
            disabledAttribute = @"disabled=""disabled""";
            isSuccess = true;
        } else {
            ModelState.AddError("passwordResetToken", "The password reset token is invalid.");
            tokenExpired = true;
        }
    }
}

  <div id="container" class="clearfix">

<hgroup class="title">
    <h1>Reset Password.</h1>
    <h2>Use the form below to reset your password.</h2>
</hgroup>


@if (!WebMail.SmtpServer.IsEmpty()) {
    if (!Validation.IsValid()) {
        <p class="validation-summary-errors">
            @if (tokenExpired) {
                <text>The password reset token is incorrect or may be expired. Visit the <a href="@Href(UrlUtil.LangPath + "Account/ForgotPassword/")">forgot password page</a> 
                to generate a new one.</text>
            }
            else {
                <text>Could not reset password. Please correct the errors and try again.</text>
            }
        </p>
    }

    if(isSuccess) {
        <p class="message-success">
            Password changed! Click <a href="@Href(UrlUtil.LangPath + "Account/Login/")" title="Log in">here</a> to log in.
        </p>
    }
    
    <form method="post" action="">
        <fieldset>
            <legend>Password Change Form</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>New Password:</label> 
                    <input type="password" id="newPassword" name="newPassword" title="New Password" @disabledAttribute @Validation.GetHtml("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Confirm Password:</label> 
                    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" @disabledAttribute @Validation.GetHtml("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) {<text>class="error-label"</text>}>Password Reset Token:</label> 
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" title="Password reset token" @disabledAttribute @Validation.GetHtml("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Reset Password" title="Reset password" @disabledAttribute/>
        </fieldset>
    </form>    

}
else {
    <p class="message-info">
        Password recovery is disabled for this website because the SMTP server is 
        not configured correctly. Please contact the owner of this site to reset 
        your password.
    </p>
}
</div>