@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.RenderLangPath + "_EmailLayout.cshtml";
    Page.Title = "Thanks For Signing Up To Loconomics!";
    
    var thisUserID = Request["UserID"].AsInt();
    var thisUser = LcData.UserInfo.GetUserRow(thisUserID);
    
    var confirmationURL = Request["ConfirmationURL"];
    var confirmationToken = Request["ConfirmationToken"];
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Welcome to a new kind of marketplace";
    
    if (String.IsNullOrEmpty(confirmationURL)) {
        // Create URL:
        PageData["viewOnSiteUrl"] = UrlUtil.LangUrl + "Dashboard/";
    } else {
        PageData["viewOnSiteUrl"] = confirmationURL;
    }
}

<div>
    <p @LcEmailTemplateHelper.StyleResetP()>Welcome in, @thisUser.FirstName!<br>We’re glad you’re a part of our ever-growing community. Check out the three simple steps below to start your profile off with a bang and begin marketing your services. </p>

    <h4 @LcEmailTemplateHelper.StyleH4()>Step 1: Activate your profile</h4>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>
        This is basic stuff. You need to:
        </p>
        <ul @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>Upload your photo</li>
            <li>Write a few descriptions of yourself and your work</li>
            <li>Fill out basic contact info, tell us when you’re available to work, and verify your work eligibility</li>
            <li>Ask previous clients for references</li>
            <li>Verify your account by clicking the green button below:</li>
        </ul>
    	<div>
        @if (String.IsNullOrEmpty(confirmationURL))
        {
            <a href="@PageData["viewOnSiteUrl"]" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Go to my dashboard</a>
        }
        else
        {
            <a href="@confirmationURL" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Verify my account</a>
        }
    	</div>
    </div>

    <h4 @LcEmailTemplateHelper.StyleH4()>Step 2: Decide how you want to be paid</h4>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>
        This is important stuff. You can:
        </p>
        <ul @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>Receive a direct deposit straight into your checking or savings account</li>
            <li>Opt for a paper check in your mailbox instead. This might take a bit longer.</li>
        </ul>
    </div>

    <h4 @LcEmailTemplateHelper.StyleH4()>Step 3: Enhance your profile</h4>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>This is the extra-fun stuff. You can:</p>
        <ul @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>Add slick photos of your work</li>
            <li>Show off your background checks and licenses, if applicable</li>
            <li>Link to your social media accounts</li>
            <li>Share your profile with favorite folks: present clients, friends, and family.<br><br></li>
        </ul>
    </div>

    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>Alternatively, copy and paste the following link into your browser to verify your account: @confirmationURL</p>
        @if (!String.IsNullOrEmpty(confirmationToken)) {
        <p>Or go to <a href="@(UrlUtil.LangUrl)Account/Confirm/">@(UrlUtil.LangUrl)Account/Confirm/</a> and input
        the confirmation code: @confirmationToken </p>
        }
    </div>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>At your service,<br><br>The Loconomics Team</p>
    </div>

    <h4 @LcEmailTemplateHelper.StyleH4()>Reminders:</h4>

    <div style="@LcEmailTemplateHelper.StyleMessageSection()">
        <ol @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>You have to complete the steps above to successfully activate your profile.</li>
            <li>We’re always available at providersupport@loconomics.com to help answer any questions or address feedback.</li>
            <li>Keep your Loconomics password private!</li>
        </ol>
    </div>
</div>
