@{
    string userType = ""; // Possible values: provider and customer
    var u = LcData.UserInfo.GetUserRow();
    if (u != null) {
        if (u.IsProvider) {
            userType = "provider";
        } else if (u.IsCustomer) {
            userType = "customer";
        }
    }
}
<div class="dashboard-help-widget user-type-@userType">
    @switch (userType)
    {
        case "provider":
            <article class="quick-links">
                <h3>Quick links</h3>
                <ul>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Calendar/">Update my availability</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Positions/#!pricing">Update my pricing</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Positions/">Update my profile</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Preferences/#privacy-settings">Manage privacy settings</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Account/#account-personal">Update contact info</a></li>
                </ul>
            </article>
            <article class="top-five-faqs">
                <h3>Top five FAQs</h3>
                <a class="view-more" target="_blank" href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">view all</a>
                <ul>
                    <li><a href="#FAQs-BecomeProvider-Q13">When will I be paid?</a></li>
                    <li><a href="#FAQs-BecomeProvider-Q17">Are there any costs?</a></li>
                    <li><a href="#FAQs-BecomeProvider-Q4">Who submits reviews?</a></li>
                    <li><a href="#FAQs-BecomeProvider-Q6">Why isn't my profile activated?</a></li>
                    <li><a href="#FAQs-BecomeProvider-Q11">Do I pay taxes?</a></li>
                </ul>
            </article>
            <article class="support">
                <h3>How can we help?</h3>
                <ul>
                    <li><a href="mailto:providerhelp@loconomics.com">Contact us</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Profile%20issues">Profile issues</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Problems%20with%20a%20payment">Payment problem</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Change%20or%20cancel%20a%20booking">Change/cancel a booking</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Problem%20with%20a%20client">Problem with a client</a></li>
                </ul>
            </article>
            break;
        case "customer":
            break;
    }
</div>