@*
    Print a list of search categories (aka position main categories)
    Params (via PageData):
        string CategoriesTitle = null : optional string to show a h3 header element as list title.
        string SelectedCategory = null : optional string identifying the category that must be marked as 'selected item'
*@
@{
    string title = PageData["CategoriesTitle"];
    string urlBase = PageData["UrlBase"] ?? LcUrl.LangPath + "Search/";
}
@functions{
    string sel(string name){
        return (name == (PageData["SelectedCategory"] ?? "").ToLower()) ? "selected" : "";
    }
}
<div class="search-categories">
    @if (!String.IsNullOrEmpty(title))
    {
         <h3 class="cat-list-title">@title</h3>
    }
    <ul>
		<li class="cat-home @sel("home")">
			<a href="@(urlBase + "?c=Home")">Home</a>
            <div class="details">
                <div class="description">
                    <h5><strong>home</strong> services ready to be booked</h5>
                    <p>Need a handy hand or two? Browse and find painters, housekeepers, decorators, and more who fit your needs and your budget.</p>
                </div>
            </div>
		</li>
		<li class="cat-child @sel("child")">
			<a href="@(urlBase + "?c=Child")">Child</a>
            <div class="details">
                <div class="description">
                    <h5><strong>child</strong> services ready to be booked</h5>
                    <p>Get a night for yourself with a babysitter, an A+ in math for little Jimmy with a tutor, the photo that will remind you of your little one's happy moods. Music teachers, study help, childcare, and more await.</p>
                </div>
            </div>
		</li>
		<li class="cat-pets @sel("pet")">
			<a href="@(urlBase + "?c=Pet")">Pets</a>
            <div class="details">
                <div class="description">
                    <h5><strong>pet</strong> services ready to be booked</h5>
                    <p>Finally give that smelly dog a bath. Find groomers, walkers, sitters, and special friends.</p>
                </div>
            </div>
		</li>
		<li class="cat-people @sel("personal")">
			<a href="@(urlBase + "?c=Personal")">Personal</a>
            <div class="details">
                <div class="description">
                    <h5><strong>personal</strong> services ready to be booked</h5>
                    <p>This isn't about treating yourself, it's about getting what you deserve. Massage therapists, hairstylists, estheticians, music teachers, personal trainers, and everyone who can help you improve your life is here.</p>
                </div>
            </div>
		</li>
		<li class="cat-transport @sel("transport")">
			<a href="@(urlBase + "?c=Transport")">Transport</a>
            <div class="details">
                <div class="description">
                    <h5><strong>transport</strong> services ready to be booked</h5>
                    <p>Get where you need to go with auto and bike mechanics, detailers, and more.</p>
                </div>
            </div>
		</li>
		<li class="cat-business @sel("office")">
			<a href="@(urlBase + "?c=Office")">Office</a>
            <div class="details">
                <div class="description">
                    <h5><strong>office</strong> services ready to be booked</h5>
                    <p>Clean up loose ends pre-tax season, finally get your office in order -- whatever it is, there are experts for the job.</p>
                </div>
            </div>
		</li>
		<li class="cat-elderly @sel("senior")">
			<a href="@(urlBase + "?c=Senior")">Senior</a>
            <div class="details">
                <div class="description">
                    <h5><strong>senior</strong> services ready to be booked</h5>
                    <p>We all need a little extra help. In-home care, routine assistance -- find people to address you or your loved one's specific needs.</p>
                </div>
            </div>
		</li>
		<li class="cat-celebrations @sel("celebration")">
			<a href="@(urlBase + "?c=Celebration")">Celebrations</a>
            <div class="details">
                <div class="description">
                    <h5><strong>celebrations</strong> services ready to be booked</h5>
                    <p>Nothing says "party" like a professionally-prepared...party. Find caterers, DJS, event planners, and more.</p>
                </div>
            </div>
		</li>
	</ul>
</div>