@*
    List user verifications
 *@
@using WebMatrix.Data;
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    
    var verifications = LcData.UserInfo.GetUserVerifications(u.UserID);
        
    var hasEmailVerification = PageData["HasEmailVerification"] ?? LcData.UserInfo.HasEmailVerification(u.UserID);
}
@if (verifications != null && verifications.Count > 0 || hasEmailVerification)
{
    <div>
        <ul>
            @if (hasEmailVerification)
            {
                <li class="DashboardVerifications-list-item ItemBox">
                    <h1 class="ItemBox-name">Email</h1>

                    <p><span class="DashboardVerifications-list-item-status DashboardVerifications-list-item-status--confirmed">Confirmed</span> (@(u.Email))</p>
                </li>
            }
            @if (verifications != null && verifications.Count > 0)
            {
                foreach (var v in verifications)
                {
                <li class="DashboardVerifications-list-item ItemBox crudl-item" data-crudl-item-id="@v.VerificationID">
                    <h1 class="ItemBox-name">@v.VerificationType</h1>
                    
                    <p><span class="DashboardVerifications-list-item-status @(v.VerificationStatusID == 1 ? "DashboardVerifications-list-item-status--confirmed" : "")">@v.VerificationStatusName</span> since @v.LastVerifiedDate</p>
                      
                    @* There is no way to edit verifications right now
                    <div class="actions ItemBox-actions">
                        <a href="#delete" class="crudl-delete">Delete</a>
                        <a href="#edit" class="crudl-update">Edit</a>
                    </div>
                    *@
                </li>
                }
            }
            @if (u.IsProvider)
            {
                @RenderPage("$BackgroundCheckListItems.cshtml", new { ItemClass = "DashboardVerifications-list-item" })
            }
        </ul>
    </div>
}