@{
    dynamic data = PageData["data"];
    dynamic editable = PageData["editable"] ?? Request["editable"].AsBool();
    string type = PageData["Type"] ?? Request["Type"] ?? "packages";

    var pos = LcData.UserInfo.GetUserCurrentPos();
    if (data == null) {
        data = LcData.GetProviderPackageByProviderPosition(pos.UserID, pos.PositionID);
    }
}
        @if (data.Packages != null && data.Packages.Count > 0)
        {
        <div class="lc-ressources">
            <div class="confirm-delete-package-message">Are you sure do you want to remove this package?</div>
            <div class="delete-package-loading-message">The package is being removed...</div>
        </div>
        <ul>
            @foreach (var pak in data.Packages)
            {
                switch (type) {
                    case "packages":
                    default:
                        if (pak.IsAddOn)
                        {
                            continue;
                        }
                        break;
                    case "addons":
                        if (!pak.isAddOn)
                        {
                            continue;
                        }
                        break;
                }

                var withDetails = false;
            <li class="provider-package">
                <h4>@pak.Name</h4>
                <div class="provider-package-service-summary">
                    @{
                        var summaryFormat = "";
                    }
                    @switch (type)
                    {
                        case "packages":
                        default:
                            summaryFormat = "{0} sessions - {1} minutes each";
                            break;
                        case "addons":
                            summaryFormat = "Duration of add-on service: {1} minutes";
                            break;
                    }
                    @String.Format(summaryFormat, pak.NumberOfSessions, pak.ServiceDuration)
                    <div class="provider-package-price">
                        @if (editable)
                        {
                            <text>$@pak.Price</text>
                        }
                        else
                        {
                            <div class="actions book">
                                <a class="button book-action main-action" href="@Href(UrlUtil.LangPath + "Booking/?providerid=" + pos.UserID + "&positionid=" + pos.PositionID + "&packageid=" + pak.ProviderPackageID)">Book now for @String.Format("{0:c}", pak.Price)</a>
                            </div>
                        }
                    </div>
                </div>
                @if (editable)
                {
                <div class="edit-actions">
                    <a href="#delete" class="delete" data-provider-package-id="@pak.ProviderPackageID">Delete</a>
                    <a href="#edit" class="edit" data-provider-package-id="@pak.ProviderPackageID">Edit</a>
                </div>
                }
                <h5>Description:</h5>
                <div class="provider-package-description">
                    @LcHelpers.PrintTextAsHtml(pak.Description)
                </div>
                <h5>Services included in this package:</h5>
                <ul class="provider-package-services attributes-list">
                    @foreach (var ser in data.PackagesDetails)
                    {
                        // PackagesDetails has details for ALL provider packages, filter for only this package
                        if (ser.ProviderPackageID == pak.ProviderPackageID) {
                            withDetails = true;
                            <li title="@ser.Name" data-description="@ser.ServiceAttributeDescription" data-service-attribute-id="@ser.ServiceAttributeID">@ser.Name</li>
                        }
                    }
                    @if (!withDetails) {
                        <li class="empty">Please contact the provider for more information about this package.</li>
                    }
                </ul>
            </li>
            }
        </ul>
        }