@{
    CommonHelpers.SecurePage();
    var p = DashboardFunctions.GetUserRow();
    var packageID = Request["ProviderPackageID"].AsInt();
    
    dynamic package, attributes = null;
    using (var db = Database.Open("sqlloco")) {
        package = db.QuerySingle(@"
            SELECT  p.ProviderPackageID
                    ,p.ProviderPackageName As Name
                    ,p.ProviderPackageDescription As Description
                    ,p.ProviderPackagePrice As Price
                    ,p.ProviderPackageServiceDuration As ServiceDuration
                    ,p.FirstTimeClientsOnly
                    ,p.NumberOfSessions
                    ,p.ProviderUserID
                    ,p.PositionID
            FROM    providerpackage As p
            WHERE   p.ProviderPackageID = @0
                     AND 
                    p.LanguageID = @1 AND p.CountryID = @2
                     AND 
                    p.Active = 1
        ", packageID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());     
        attributes = db.Query(@"

            -- GetServiceAttributes

            SELECT  A.ServiceAttributeID
                    ,PD.ServiceAttributeID As PackageAttributeID
                    ,A.Name
                    ,A.ServiceAttributeDescription
            FROM    ServiceAttribute As A
                     LEFT JOIN
                    ProviderPackageDetail As PD
                      ON A.ServiceAttributeID = PD.ServiceAttributeID
                        AND PD.ProviderPackageID = @0 AND PD.Active = 1
            WHERE   1=1--A.PositionID = @1
                     AND A.LanguageID = @2 AND A.CountryID = @3
        ", packageID, package == null ? 0 : package.PositionID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
    }
}
<form method="post" class="ajax ajax-box" action="@(UrlUtil.LangPath)PricingWizard/$ProviderPackageEdit/?ProviderPackageID=@packageID">
    <fieldset class="package-data">
        <input class="package-name" type="text" name="package-name" placeholder="Type the name of the package; e.g., Introductory Special" value="@(Request["package-name"] ?? package == null ? "" : package.Name)" />
        <label class="package-sessions">Number of sessions included in this package: 
            <input type="text" name="sessions-number" value="@(Request["sessions-number"] ?? package == null ? "" : package.NumberOfSessions)" /></label>
        <label class="package-price">Total price for package: 
            <input type="text" name="price" value="@(Request["price"] ?? package == null ? "" : package.Price)" /></label>
        <label class="package-duration">Duration of each session: 
            <input type="text" name="minutes" value="@(Request["minutes"] ?? package == null ? "" : package.ServiceDuration)" /> minutes</label>
        <label class="only-first-time-clients">
            <input type="checkbox" name="first-time-clients-only" value="True" @CommonHelpers.IsChecked(true, Request["first-time-clients-only"] ?? (package == null ? false : package.FirstTimeClientsOnly)) />
            This package is only available to first-time clients
        </label>
        <textarea name="package-description" placeholder="Describe in full detail what the client will receive.">@(Request["package-description"] ?? (package == null ? "" : package.Description))</textarea>
    </fieldset>
    <fieldset class="package-details">
        <h5>Services included in this package:</h5>
        <ul class="provider-package-services">
        @if (attributes == null || attributes.Count == 0)
        {
            <li class="empty">There is no eligible attributes for packages (you must select some attributes in the 'Services' tab previously)</li>
        }
        else
        {
            foreach (var att in attributes)
            {
                <li alt="@att.Name" data-description="@att.ServiceAttributeDescription">
                    <label><input name="package-service-attribute" type="checkbox" value="@att.ServiceAttributeID" /> @att.Name</label>
                </li>
            }
        }
        </ul>
    </fieldset>
    <fieldset class="actions">
        <button class="button main-action">Save</button>
    </fieldset>
</form>