@* 
    Pricing Wizard, Customer View, PricingType 2:Custom
 *@
@using WebMatrix.Data;
@{
    var clienttypeid = PageData["ClientTypeID"];
    var c = PageData["customerrow"];
    var pos = PageData["positionrow"];
    dynamic pvars;

    using (var db = Database.Open("sqlloco")){
        // Get the Variables
        pvars = db.Query(@"
            SELECT *
            FROM    pricingvariable
            WHERE   CountryID=@0 AND LanguageID=@1 AND ClientTypeID=@2 AND PositionID=@3
                     AND Active = 1 AND PricingTypeID = 2
        ", 1, 1, clienttypeid, pos.PositionID);
    }
        
    var idprefix = "pricingwizard";
    
    
    if (IsPost){
        if (UrlData[0].ToLower() == "calculate"){
            // Do the calculation and return the result
            
        }else{
            // TODO Save the data into the database
            
            // All OK:
            CommonHelpers.ReturnJsonResult(0, null);
        }
    }
}
@functions{
    string[] getValuesFromCSV(string line){
        return line.Split(',');
    }
}
@helper getChecked(string name, string value){
    @Html.Raw(Request[name] == value ? "selected='selected'" : "")
}
    <ul>
    @foreach (var pvar in pvars){
        <li class="@pvar.PricingVariableName">
            <label for="@idprefix-@pvar.PricingVariableName">@pvar.CustomerPricingVariableDisplayText</label>
            @switch((string)@pvar.CustomerDataInputType){
                case "dropdown":
                    <select id="@idprefix-@pvar.PricingVariableName" name="@pvar.PricingVariableName" class="data-type-dropdown">
                        @{
                            var optvalues = getValuesFromCSV(pvar.CustomerDataValues);
                            foreach(string optv in optvalues){
                                var v = optv.Trim();
                                <option value="@v" @getChecked(pvar.PricingVariableName, v)>@v</option>
                            }
                        }
                    </select>
                    break;
                case "number":
                case "text":
                    <input type="text" id="@idprefix-@pvar.PricingVariableName" name="@pvar.PricingVariableName" value="@Request[pvar.PricingVariableName]" class="data-type-@pvar.CustomerDataInputType" />
                    break;
                default:
                    <text>Unknowed CustomerDataInputType: @pvar.CustomerDataInputType</text>
                    break;
            }
        </li>
    }

    </ul>
    <div class="calculate-price-button actions">
        <button class="button calculate-price-button ajax-fieldset-submit">Calculate</button>
    </div>
    <div class="calculation">
        <table class="calculation">
            <tr><th>Time required:</th><td class="time-required">3 hours</td></tr>
            <tr>
                <th><span class="time-required">3 hours</span> @@ <span class="hour-price">$22.00</span></th>
                <td class="subtotal-price">$66.00</td>
            </tr>
            <tr>
                <th>Loconomics service fee:</th>
                <td class="fee-pricee">$6.00</td>
            </tr>
            <tr>
                <th>Total price:</th>
                <td class="total-price">$72.00</td>
            </tr>
        </table>
    </div>
