@* 
    Pricing Wizard, Provider Setup View, PricingType 2:Custom
 *@
@using WebMatrix.Data;
@{
    var clienttypeid = PageData["ClientTypeID"];
    var p = DashboardFunctions.GetUserRow();
    var pos = DashboardFunctions.GetUserCurrentPos();
    var idprefix = PageData["idprefix"] ?? "pricingwizard";
    dynamic pvars, poptions;
    dynamic hourlyRate = 0;

    using (var db = Database.Open("sqlloco")){
        // Get the Pricing Variables with the selected Provider Value
        pvars = db.Query(@"
            SELECT  pv.PricingVariableID, pv.PricingVariableName, 
                    pv.ProviderInputDataRequired, pv.ProviderDataInputType,
                    pv.ProviderDataValues, pv.ProviderPricingVariableDisplayText,
                    pv.ProviderDataInputUnit,
                    pi.PricingDataInput As ProviderDataInputValue
            FROM    pricingvariable As pv
                     LEFT JOIN
                    providerpricingvariableinputs as pi
                      ON pv.PricingVariableID = pi.PricingVariableID
                       AND pi.Active = 1 AND pi.ProviderUserID = @5
            WHERE   pv.CountryID=@0 AND pv.LanguageID=@1
                     AND 
                    pv.ClientTypeID=@2 AND pv.PositionID=@3
                     AND 
                    pv.ProviderInputDataRequired = 1
                     AND
                    pv.Active = 1 AND pv.PricingTypeID = @4
        ", 1, 1, clienttypeid, pos.PositionID, 2, p.UserID);
        
        // Get the Pricing Options
        poptions = db.Query(@"
            SELECT  pr.PricingOptionID, pr.PricingOptionName, 
                    pr.ProviderInputDataRequired, pr.ProviderDataInputType,
                    pr.ProviderDataValues, pr.ProviderPricingOptionDisplayText,
                    pr.ProviderDataInputUnit,
                    pi.PricingDataInput As ProviderDataInputValue,
                    pr.ProviderTimeInputRequired,
                    pr.ProviderTimeRequiredValues,
                    pi.ProviderTimeRequired
            FROM    pricingoption As pr
                     LEFT JOIN
                    providerpricingoptioninputs as pi
                      ON pr.PricingOptionID = pi.PricingOptionID
                       AND pi.Active = 1 AND pi.ProviderUserID = @5
            WHERE   pr.CountryID=@0 AND pr.LanguageID=@1
                     AND 
                    pr.ClientTypeID=@2 AND pr.PositionID=@3
                     AND 
                    pr.ProviderInputDataRequired = 1
                     AND
                    pr.Active = 1 AND pr.PricingTypeID = @4
        ", 1, 1, clienttypeid, pos.PositionID, 2, p.UserID);
        
        // Get hourly rate
        hourlyRate = db.QueryValue(@"
            SELECT  HourlyRate
            FROM    ProviderHourlyRate
            WHERE   UserID = @0
                        AND
                    PositionID = @1
                        AND
                    ClientTypeID = @2
        ", p.UserID, pos.PositionID, PageData["ClientTypeID"]);
    }
    
    // IMPORTANT: because limitations of 'asp.net web pages', add several times the
    // same validation rule (that happens if this page is added more than one time
    // in the same execution, like with multiple positions providers), 
    // page WILL BREAK if we don't check if we added rules previously:
    if (Validation.GetHtml("hourly-rate") == null) {
        Validation.RequireField("hourly-rate", "Please, enter your hourly rate");
    }
    
    // IMPORTANT NOTE: There are some crazy problems with validation inside RenderPage's
    // with form outside, I don't know why but break validation and modelstate errors control
    // Doing some manual check, adding ModelState errors if validation fails (must be auto, but not
    // just here !?).
    if (IsPost) {
        if (Validation.IsValid()) {
            if (!Request["hourly-rate"].IsDecimal()){
                ModelState.AddError("hourly-rate", "Hourly rate must be a number");
            }
        } else {
            ModelState.AddError("hourly-rate", "Please, enter your hourly rate");
        }
    }
    
    if (IsPost && Validation.IsValid() && ModelState.IsValid){
        var sqlSetVar = @"
            BEGIN TRAN
                UPDATE  providerpricingvariableinputs WITH (serializable)
                SET     PricingDataInput = @0,
                        UpdatedDate = getdate(),  
                        ModifiedBy = 'sys',
                        Active = 1
                WHERE   ProviderUserId = @1 AND PricingVariableID = @2

               IF @@rowcount = 0
               BEGIN
                    INSERT INTO providerpricingvariableinputs (PricingDataInput,
                        ProviderUserID, PricingVariableID, CreatedDate, UpdatedDate, 
                        ModifiedBy, Active)
                    VALUES (@0, @1, @2, getdate(), getdate(), 'sys', 1)
               END
            COMMIT TRAN
        ";
        var sqlDelVar = @"
            DELETE FROM providerpricingvariableinputs
            WHERE       ProviderUserId = @0 AND PricingVariableID = @1
        ";
        var sqlSetOpt = @"
            BEGIN TRAN
                UPDATE  providerpricingoptioninputs WITH (serializable)
                SET     PricingDataInput = @2,
                        ProviderTimeRequired = @3,
                        UpdatedDate = getdate(),
                        ModifiedBy = 'sys',
                        Active = 1
                WHERE   ProviderUserId = @0 AND PricingOptionID = @1

               IF @@rowcount = 0
               BEGIN
                    INSERT INTO providerpricingoptioninputs (
                        ProviderUserID, PricingOptionID, 
                        PricingDataInput, ProviderTimeRequired,
                        CreatedDate, UpdatedDate, ModifiedBy, Active)
                    VALUES (@0, @1, @2, @3, getdate(), getdate(), 'sys', 1)
               END
            COMMIT TRAN
        ";
        var sqlDelOpt = @"
            DELETE FROM providerpricingoptioninputs
            WHERE       ProviderUserId = @0 AND PricingOptionID = @1
        ";
        var sqlSetHourlyRate = @"
            BEGIN TRAN
                UPDATE  ProviderHourlyRate WITH (serializable)
                SET     HourlyRate = @3
                WHERE   UserID = @0
                         AND
                        PositionID = @1
                         AND
                        ClientTypeID = @2

                IF @@rowcount = 0 BEGIN
                    INSERT INTO ProviderHourlyRate (
                        UserID, PositionID, ClientTypeID,
                        HourlyRate, CreatedDate, UpdatedDate, ModifiedBy, Active
                    ) VALUES (@0, @1, @2, @3, getdate(), getdate(), 'sys', 1)
                END
            COMMIT TRAN
        ";
        
        using (var db = Database.Open("sqlloco")){
            // Iterate all variables and save into providerpricingvariableinputs
            foreach (var pvar in pvars) {
                db.Execute(sqlSetVar, Request[pvar.PricingVariableName], p.UserID, pvar.PricingVariableID);
            }
            // Iterate all options and save into providerpricingoptioninputs
            foreach (var popt in poptions) {
                if (Request[popt.PricingOptionName + "-check"] == "true") {
                    db.Execute(sqlSetOpt, p.UserID, popt.PricingOptionID, 
                        Request[popt.PricingOptionName], 
                        Request[popt.PricingOptionName + "-time"]);
                } else {
                    db.Execute(sqlDelOpt, p.UserID, popt.PricingOptionID);
                }
            }
            // Save Hourly Rate
            db.Execute(sqlSetHourlyRate,
                p.UserID,
                pos.PositionID,
                PageData["ClientTypeID"],
                Request["hourly-rate"].AsDecimal());
            // Test alert conditions to update alert and provider state
            db.Execute("EXEC TestAlertPricingDetails @0,@1",
                p.UserID,
                pos.PositionID);
        }
            
        // All OK:
        CommonHelpers.ReturnJsonResult(0, LcRessources.DataSaved);
    }
}
@functions{
    string[] getValuesFromCSV(string line){
        return line.Split(',');
    }
}
@helper getChecked(string name, string value, dynamic poptvar){
    // Get checked if was setted by form of is was previously setted at database
    @Html.Raw((Request[name] == value || poptvar.ProviderDataInputValue != null) ? "checked='checked'" : "")
}
@helper getSelected(string name, string value, object value2){
    var valuealt = (value2 == null ? "" : value2.ToString());
    @Html.Raw((Request[name] == value || valuealt == value) ? "selected='selected'" : "")
}
@Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
<div class="hourly-rate">
    <label>My hourly rate ($):
        <input type="text" class="number money" value="@(Request["hourly-rate"] ?? hourlyRate)" name="hourly-rate" @Validation.GetHtml("hourly-rate")/>
    </label>
</div>
@if (pvars.Count > 0)
{
    <table class="pricing-vars">
        <thead>
            <tr>
                <th>Please enter a time estimate for each vairable below:</th>
                <th>Average Time</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var pvar in pvars)
    {
        <tr class="@pvar.PricingVariableName data-type-@pvar.ProviderDataInputType">
            <td class="pricing-item-name pricing-var-name">
                <label for="@idprefix-var-@pvar.PricingVariableName">@pvar.ProviderPricingVariableDisplayText</label>
            </td>
            <td class="pricing-var-value">
            @switch ((string)@pvar.ProviderDataInputType)
            {
                case "dropdown":
                    <select id="@idprefix-var-@pvar.PricingVariableName" name="@pvar.PricingVariableName">
                        @{
                            var optvalues = getValuesFromCSV(pvar.ProviderDataValues);
                            foreach (string optv in optvalues)
                            {
                                var v = optv.Trim();
                                <option value="@v" @getSelected(pvar.PricingVariableName, v, pvar.ProviderDataInputValue)>@v @pvar.ProviderDataInputUnit</option>
                            }
                        }
                    </select>
                    break;
                case "number":
                case "text":
                    <input type="text" id="@idprefix-var-@pvar.PricingVariableName" name="@pvar.PricingVariableName" value="@(Request[pvar.PricingVariableName] ?? pvar.ProviderDataInputValue)"/>
                    break;
                case "":
                    break;
                default:
                    <text>Unknowed ProviderDataInputType: @pvar.ProviderDataInputType</text>
                    break;
            }
            </td>
        </tr>
    }
       </tbody>
   </table>
} else {
    <div class="no-pricing-wizard">
        There is not variables to customize the pricing wizard for your position.
    </div>
}
@if (poptions.Count > 0) {
    <table class="pricing-options">
        <thead>
            <tr>
                <th>Optional services/materials you can provide:</th>
                <th>Fee</th>
                <th>Average time:</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var popt in poptions)
        {
            <tr class="@popt.PricingOptionName data-type-@popt.ProviderDataInputType">
                <td class="pricing-option-check pricing-item-name">
                    <input type="checkbox" name="@popt.PricingOptionName-check" id="@idprefix-@popt.PricingOptionName-check" @getChecked(popt.PricingOptionName + "-check", "true", popt) value="true" />
                    <label for="@idprefix-@popt.PricingOptionName-check">@popt.ProviderPricingOptionDisplayText</label>
                </td>
                <td class="pricing-option-value">
                @switch ((string)@popt.ProviderDataInputType)
                {
                    case "dropdown":
                        <select id="@idprefix-@(popt.PricingOptionName)" name="@(popt.PricingOptionName)">
                            @{
                                var optvalues = getValuesFromCSV(popt.ProviderDataValues);
                                foreach (string optv in optvalues)
                                {
                                    var v = optv.Trim();
                                    <option value="@v" @getSelected(popt.PricingOptionName, v, popt.ProviderDataInputValue)>@v</option>
                                }
                             }
                        </select>
                        break;
                    case "number":
                    case "text":
                        <input type="text" id="@idprefix-@(popt.PricingOptionName)" name="@(popt.PricingOptionName)-value" value="@(Request[popt.PricingOptionName] ?? popt.ProviderDataInputValue)"/>
                        break;
                    case "":
                        <text>N/A</text>
                        break;
                    default:
                        <text>Unknowed ProviderDataInputType: @popt.ProviderDataInputType</text>
                        break;
                }
                </td>
                <td class="pricing-option-time">
                    @if (popt.ProviderTimeInputRequired)
                    {
                        <select id="@idprefix-@(popt.PricingOptionName)-time" name="@(popt.PricingOptionName)-time">
                            @{
                                var optvalues = getValuesFromCSV(popt.ProviderTimeRequiredValues);
                                foreach (string optv in optvalues)
                                {
                                    var v = optv.Trim();
                                    <option value="@v" @getSelected(popt.PricingOptionName + "-time", v, popt.ProviderTimeRequired)>@v minutes</option>
                                }
                             }
                        </select>
                    }
                    else
                    {
                        @: N/A
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="no-pricing-wizard">
        There is not options to customize the pricing wizard for your position.
    </div>
}