@* 
    Pricing Wizard, Provider Setup View, PricingType 3:Packages
 *@
@using WebMatrix.Data;
@{
    var clienttypeid = PageData["ClientTypeID"];
    var p = DashboardFunctions.GetUserRow();
    var pos = DashboardFunctions.GetUserCurrentPos();
    var idprefix = PageData["idprefix"] ?? "pricingwizard";
    dynamic ppackages, ppackagesdetails, poptions;
    
    using (var db = Database.Open("sqlloco")){
        // Get the Provider Packages
        ppackages = db.Query(@"
            SELECT  p.ProviderPackageID
                    ,p.ProviderPackageName As Name
                    ,p.ProviderPackageDescription As Description
                    ,p.ProviderPackagePrice As Price
                    ,p.ProviderPackageServiceDuration As ServiceDuration
                    ,p.FirstTimeClientsOnly
                    ,p.NumberOfSessions
            FROM    providerpackage As p
            WHERE   p.ProviderUserID = @0 AND P.PositionID = @1
                     AND 
                    p.LanguageID = @2 AND p.CountryID = @3
                     AND 
                    p.Active = 1
        ", p.UserID, pos.PositionID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
        ppackagesdetails = db.Query(@"
            SELECT  PD.ServiceAttributeID
                    ,A.Name
                    ,A.ServiceAttributeDescription
            FROM    ProviderPackageDetail As PD
                     INNER JOIN
                    ProviderPackage As P
                      ON P.ProviderPackageID = PD.ProviderPackageID
                     INNER JOIN
                    ServiceAttribute As A
                      ON A.ServiceAttributeID = PD.ServiceAttributeID
                        AND A.LanguageID = P.LanguageID AND A.CountryID = P.CountryID
            WHERE   P.ProviderUserID = @0
                     AND P.LanguageID = @1 AND P.CountryID = @2
                     AND PD.Active = 1 AND P.Active = 1
        ", p.UserID, pos.PositionID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
    }
}
<div class="add-package"><a href="#add-package">@(ppackages.Count == 0 ? "Start adding a package, click me!" : "Add another package")</a></div>
<div class="edit-panel" data-source-url="@(UrlUtil.LangPath)PricingWizard/$ProviderPackageEdit/?ProviderPackageID=0">
    @if (ppackages.Count == 0){
        @RenderPage("$ProviderPackageEdit.cshtml")
    }
</div>
<div class="your-packages">
    <h3>Your Packages:</h3>
    <ul>
        @foreach (var pak in ppackages) {
        <li class="provider-package">
            <h4>@pak.ProviderPackageName</h4>
            <div class="provider-package-service-summary">
                @pak.NumberOfSessions sessions - @pak.ServiceDuration minutes each
            </div>
            <div class="provider-package-price">@pak.Price</div>
            <div class="edit-actions">
                <a href="#delete" class="delete">Delete</a>
                <a href="#edit" class="edit">Edit</a>
            </div>
            <h5>Description:</h5>
            <div class="provider-package-description">
                @pak.Description
            </div>
            <h5>Services included in this package:</h5>
            <ul class="provider-package-services">
                @foreach (var ser in ppackagesdetails){
                    <li alt="@ser.Name" data-description="@ser.ServiceAttributeDescription" data-service-attribute-id="@ser.ServiceAttributeID">@ser.Name</li>
                }
            </ul>
        </li>
        }
    </ul>
</div>
