@* 
    Pricing Wizard, Provider Setup View, PricingType 3:Packages
 *@
@using WebMatrix.Data;
@{
    var clienttypeid = PageData["ClientTypeID"];
    var p = DashboardFunctions.GetUserRow();
    var pos = DashboardFunctions.GetUserCurrentPos();
    var idprefix = PageData["idprefix"] ?? "pricingwizard";
    dynamic ppackages, ppackagesdetails, poptions;
    
    using (var db = Database.Open("sqlloco")){
        // Get the Provider Packages
        ppackages = db.Query(@"
            SELECT  p.ProviderPackageID
                    ,p.ProviderPackageName As Name
                    ,p.ProviderPackageDescription As Description
                    ,p.ProviderPackagePrice As Price
                    ,p.ProviderPackageServiceDuration As ServiceDuration
                    ,p.FirstTimeClientsOnly
                    ,p.NumberOfSessions
            FROM    providerpackage As p
            WHERE   p.ProviderUserID = @0 AND P.PositionID = @1
                     AND 
                    p.LanguageID = @2 AND p.CountryID = @3
                     AND 
                    p.Active = 1
        ", p.UserID, pos.PositionID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
        ppackagesdetails = db.Query(@"
            SELECT  PD.ServiceAttributeID
                    ,A.Name
                    ,A.ServiceAttributeDescription
            FROM    ProviderPackageDetail As PD
                     INNER JOIN
                    ProviderPackage As P
                      ON P.ProviderPackageID = PD.ProviderPackageID
                     INNER JOIN
                    ServiceAttribute As A
                      ON A.ServiceAttributeID = PD.ServiceAttributeID
                        AND A.LanguageID = P.LanguageID AND A.CountryID = P.CountryID
            WHERE   P.ProviderUserID = @0
                     AND P.LanguageID = @1 AND P.CountryID = @2
                     AND PD.Active = 1 AND P.Active = 1
        ", p.UserID, pos.PositionID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
    }
}
<div class="@PageData["PricingWizardClasses"] pricingwizard package-pricing-type">
    <div class="add-package"><a href="#add-package">Add another package</a></div>
    <div class="edit-panel" data-source-url="@(UrlUtil.LangPath)PricingWizard/$ProviderPackageEdit/?ProviderPackageID=0&PositionID=@pos.PositionID">
        @if (ppackages.Count == 0){
            <div class="empty">You have not packages, start adding one!</div>
            @RenderPage("$ProviderPackageEdit.cshtml", new { PositionID = pos.PositionID })
        }
    </div>
    <div class="your-packages" data-source-url="@(UrlUtil.LangPath)PricingWizard/">
        <h3>Your Packages:</h3>
        <ul>
            @foreach (var pak in ppackages) {
            <li class="provider-package">
                <h4>@pak.Name</h4>
                <div class="provider-package-service-summary">
                    @pak.NumberOfSessions sessions - @pak.ServiceDuration minutes each
                </div>
                <div class="provider-package-price">@pak.Price</div>
                <div class="edit-actions">
                    <a href="#delete" class="delete">Delete</a>
                    <a href="#edit" class="edit">Edit</a>
                </div>
                <h5>Description:</h5>
                <div class="provider-package-description">
                    @pak.Description
                </div>
                <h5>Services included in this package:</h5>
                <ul class="provider-package-services">
                    @foreach (var ser in ppackagesdetails){
                        <li alt="@ser.Name" data-description="@ser.ServiceAttributeDescription" data-service-attribute-id="@ser.ServiceAttributeID">@ser.Name</li>
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
    <script type="text/javascript">
        $('.add-package').click(function () {
            $(this).siblings('.edit-panel').reload();
            $(this).hide('slow');
        });
        $('.pricingwizard').on('ajaxSuccessPost', '.edit-panel form', function (data) {
            if (data.Code == 0) {
                var pw = $(this).closest('.pricingwizard');
                pw.find('.your-packages').reload();
                pw.find('.add-package').show('slow');
            }
        }).on('ajaxSuccessPostMessageClosed', '.edit-panel .ajax-box', function (data) {
            $(this).closest('.edit-panel').hide('fast');
        });
    </script>
</div>