

    @{
        


                    Layout = "~/_SiteLayout.cshtml";
     
                    var stringPosted = "Nothing";
                    var UserID = WebSecurity.CurrentUserId;
                    var PositionID =  Request.QueryString["selectedTitles"];;
                    var db = Database.Open("sqlloco");
            
                    var theDate = DateTime.Now.ToString("yyyy-MM-dd");
                    var sqlinsertPosition = "insert into userprofilepositions values(@0,@1,@2,@3,'Sys',0)";
          
                    var sqlposition = "select ";
                        sqlposition += "a.PositionSingular, ";
                        sqlposition += "b.ServiceSubCategoryID, ";
                        sqlposition += "b.PositionID, ";
                        sqlposition += "c.Name, ";
                        sqlposition += "c.ServiceCategoryID ";
                        sqlposition += "from positions a ";
                        sqlposition += "join servicecategoryposition  b ";
                        sqlposition += "on a.positionid = b.positionid ";
                        sqlposition += "join servicesubcategory c ";
                        sqlposition += "on b.ServiceSubCategoryID = c.ServiceSubCategoryID ";
                        sqlposition += "where a.PositionID = @0 ";
                        sqlposition += "and a.LanguageID = 1 and a.CountryID = 1 ";

                    var sqlcat = "select distinct se.ServiceAttributeCategoryID, ";
                        sqlcat += "se.ServiceAttributeCategory as ServiceCat ";
                        sqlcat += "from servicecategoryposition  a ";
                        sqlcat += "join servicecategorypositionattribute d ";
                        sqlcat += "on a.SCPID = d.SCPID ";
                        sqlcat += "join servicecategoryattributemapping e ";
                        sqlcat += "on d.SCAMID = e.SCAMID ";
                        sqlcat += "join serviceattributecategory se ";
                        sqlcat += "on e.ServiceAttributeCategoryID = se.ServiceAttributeCategoryID ";
                        sqlcat += "join serviceattribute s ";
                        sqlcat += "on e.ServiceAttributeID = s.ServiceAttributeID ";
                        sqlcat += "where  a.PositionID = @0 ";
                        sqlcat += "and se.ServiceAttributeCategoryID  <> 5 ";

                    var sqlattribute = "select ";
                        sqlattribute += " se.ServiceAttributeCategoryID, ";
                        sqlattribute += " se.ServiceAttributeCategory as ServiceCat,  ";
                        sqlattribute += " d.SCAMID,  ";
                        sqlattribute += " s.ServiceAttributeID , ";
                        sqlattribute += " s.Name as ServiceAttribute ";
                        sqlattribute += " from servicecategoryposition  b ";
                        sqlattribute += " join servicecategorypositionattribute d ";
                        sqlattribute += " on b.SCPID = d.SCPID ";
                        sqlattribute += " join servicecategoryattributemapping e ";
                        sqlattribute += " on d.SCAMID = e.SCAMID ";
                        sqlattribute += " join serviceattributecategory se ";
                        sqlattribute += " on e.ServiceAttributeCategoryID = se.ServiceAttributeCategoryID ";
                        sqlattribute += " join serviceattribute s ";
                        sqlattribute += " on e.ServiceAttributeID = s.ServiceAttributeID ";
                        sqlattribute += " where  b.PositionID = @0 ";
                        sqlattribute += " and e.ServiceAttributeCategoryID <> 5 ";
                        sqlattribute += " and e.ServiceAttributeCategoryID = @1 ";
                        sqlattribute += " order by se.ServiceAttributeCategory,s.Name; ";

                    var posrow = db.QuerySingle(sqlposition,PositionID);
                    var catrow = db.Query(sqlcat,PositionID);
                    var sqlInsertAttribute = "insert into userprofileserviceattributes values(@0,@1,@2,@3,@4,'Sys',0)";
                    var sqlInsertAdditional = "insert into userprofilepositionadditional values(@0,@1,@2,@3,@4,@5,@6,@7,@8,@9,@10,@11,'Sys')";
                    var ADD_Details = Request.Form["ADD_Details"];
                    var ADD_minTime = Request.Form["ADD_minTime"];
                    var ADD_maxTime = Request.Form["ADD_maxTime"];
                    var ADD_minBetween = Request.Form["ADD_minBetween"];
                    var ADD_experience = Request.Form["ADD_experience"];
                    var ADD_travelRadius = Request.Form["ADD_travelRadius"];
                    var ADD_Personal = Request.Form["ADD_Personal"];
                    var ADD_Public = Request.Form["ADD_Public"];
            
         
            
             if (WebSecurity.IsAuthenticated) {        
                    
             if(IsPost){

                       
                    db.Execute(sqlinsertPosition,UserID,PositionID,theDate,theDate);
                       
                    for(int i = 0; i < Request.Form.Count ; i++){
                            var temp = Request.Form.GetKey(i);
                                if(temp.IndexOf("ADD") != 0){
                                     db.Execute(sqlInsertAttribute,UserID,PositionID,Request.Form.Get(i),theDate,theDate);
                                                            }
          
                                                    }
                           
                                    db.Execute(sqlInsertAdditional,UserID,PositionID,ADD_minTime,ADD_maxTime,ADD_minBetween,ADD_experience,ADD_travelRadius,ADD_Details,ADD_Personal,ADD_Public,theDate,theDate); 
                                    Response.Redirect("~/provider-dashboard-profile.cshtml");

                        }        
                    
            }else{

            Response.Redirect("~/Default");

            }
            
               
        
     }
    
    
   <div id="container" class="sign-up">

	<div id="main">
      



		<form id="createLogin3" class="stepped" action="" method="post">
			<div class="progress-bar">
				<span class="total"><span class="percent-done"></span></span>
				<span class="text"><span class="percent-done">30%</span> complete</span>
			</div>
			<h1>Step 3: Job Title Details</h1>
			<p>Customers in the loconomics community want to know as much as possible about each service you're offering.  Please help us by being concise, detailed, and honest.  Keep in mind it can be updated as you acquire more skills.</p>
			<h2>@posrow.PositionSingular</h2>
			<table class="form">
				<tr>
					<td><label for="ADD_Details">Please type here a brief description of your experience as a cleaner and what makes your services unique.  Be specific and brief.</label></td>
					<td><textarea id="ADD_Details" rows="5" cols="40" name="ADD_Details"></textarea></td>
					<td class="status"></td>
				</tr>
			      @foreach(var c in catrow){          
                    <tr><td><h4>@c.ServiceCat</h4></td></tr>
                          
                         <tr>  <td>
                        @foreach(var s in db.Query(sqlattribute,PositionID,c.ServiceAttributeCategoryID)){            
                          
						    <fieldset class="checklist">
							        <fieldset><input  type="checkbox" name="@s.SCAMID"  value="@s.SCAMID" id="@s.SCAMID" /> <label for="@s.SCAMID">@s.ServiceAttribute</label></fieldset>
							</fieldset>
					        
                            }
                        </td></tr>                              
                     }       
                                        
                <tr>
					<td><label for="ADD_minTime">What is the minimum time you're willing to this job?</label></td>
					<td>
						<select id="ADD_minTime" name="ADD_minTime">
							<option value="0" selected="selected">15 minutes</option>
							<option value="30">30 minutes</option>
							<option value="60">1 hour</option>
							<option value="120">2 hours</option>
						</select>
					</td>
					<td class="status"></td>
				</tr>
				<tr>
					<td><label for="ADD_maxTime">What is the maximum number of hours per week you can perform this job?</label> </td>
					<td>
						<select id="ADD_maxTime" name="ADD_maxTime">
							<option value="120" >2 hours</option>
							<option value="240">4 hours</option>
							<option value="360">6 hours</option>
							<option value="480" selected="selected">8 hours</option>
						</select>
					</td>
					<td class="status"></td>
				</tr>
				<tr>
					<td><label for="ADD_minBetween">What is the minimum time you need between clients?</label></td>
					<td>
						<select id="ADD_minBetween" name="ADD_minBetween">
							<option value="0" selected="selected">15 minutes</option>
							<option value="30">30 minutes</option>
							<option value="60">1 hour</option>
							<option value="120">2 hours</option>
						</select>
					</td>
					<td class="status"></td>
				</tr>
				<tr>
					<td><label for="ADD_experience">Experience Level:</label></td>
					<td>
						<select id="ADD_experience" name="ADD_experience">
							<option value="0" selected="selected">Less than one year</option>
							<option value="1">One year</option>
							<option value="2">Two years</option>
							<option value="10">Ten years</option>
						</select>
					</td>
					<td class="status"></td>
				</tr>
				<tr>
					<td>Where are you willing to work?</td>
					<td>
						<select id="ADD_travelRadius" name="ADD_travelRadius">
							<option value="0" selected="selected">Service radius</option>
							<option value="5">5 miles</option>
							<option value="10">10 miles</option>
							<option value="50">50 miles</option>
							<option value="100">100 miles</option>
						</select>
						<fieldset><input type="checkbox" value="1" id="tr1" name="ADD_Personal" /> <label for="tr1">I have my own vehicle</label></fieldset>
						<fieldset><input type="checkbox" value="1" id="tr2" name="ADD_Public" /> <label for="tr2">I use public transportation</label></fieldset>
					</td>
					<td class="status"></td>
				</tr>
			</table>
		 <fieldset class="buttons">
				<button class="next fancy" type="submit">Save &amp; Close</button>
				<button id="advancer" class="next fancy" type="submit">@posrow.PositionSingular</button>
				<input type="submit" class="hidden" />
			</fieldset>
            
		</form>
    </div><!-- #main -->
	
  </div> <!-- #container -->



