@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    CommonHelpers.SecurePage();
    var thisUserID = WebSecurity.CurrentUserId;
    var provider = DashboardFunctions.GetUserRow();
    int bookingID = Request["BookingID"].AsInt();
    if (bookingID == 0) {
        bookingID = (int)PageData["BookingID"];
    }
    
    dynamic booking = PageData["booking"] ?? BookingHelper.GetBookingBasicInfo(bookingID);
    dynamic customer = null;

    // Check booking is valid and current user is the provider (only he can rate customer at this bookingid)
    if (booking == null || booking.ProviderUserID != thisUserID) {
        ModelState.AddFormError("Not valid booking to review");
    } else {
        customer = DashboardFunctions.GetUserRow(booking.CustomerUserID);
    }

    if (ModelState.IsValid) {
        Validation.RequireField("question2", "Please response to section 3 question");
        Validation.RequireField("rating1", "Please rate customer");
        Validation.RequireField("public-review", "Please write a public review");
        Validation.RequireField("private-review", "Please write a private review");

        if(IsPost && Validation.IsValid()){

            var answer2 = Request["question2"].AsBool();
            var rating1 = Request["rating1"].AsInt();
            var publicreview = Request["public-review"];
            var privatereview = Request["private-review"];

            if(ModelState.IsValid){
                var sqlCheckReview = @"
                    SELECT  count(*)
                    FROM    UserReviews
                    WHERE   BookingID = @0
                             AND
                            PositionID = @1
                ";
                var sqlGetScores = @"
                    SELECT  Rating1, Rating2, Rating3, Rating4, Answer1, Answer2, TotalRatings
                    FROM    UserReviewScores
                    WHERE   UserID = @0
                             AND
                            PositionID = @1
                ";
                var sqlInsertScores = @"
                    INSERT INTO UserReviewScores (
                        UserID, PositionID,
                        TotalRatings,
                        Rating1, Rating2, Rating3, Rating4,
                        Answer1, Answer2,
                        CreatedDate, UpdatedDate, ModifiedBy
                    ) VALUES (
                        @0, @1,
                        @2, 
                        @3, @4, @5, @6,
                        @7, @8,
                        getdate(), getdate(), 'sys'
                    )
                ";
                var sqlUpdateScores = @"
                    UPDATE UserReviewScores SET
                        TotalRatings = @2,
                        Rating1 = @3, Rating2 = @4, Rating3 = @5, Rating4 = @6,
                        Answer1 = @7, Answer2 = @8,
                        UpdatedDate = getdate(),
                        ModifiedBy = 'sys'
                    WHERE   UserID = @0
                             AND
                            PositionID = @1
                ";
                var sqlInsertReview = @"
                    INSERT INTO UserReviews (
                        BookingID, CustomerUserID, ProviderUserID, PositionID,
                        Rating1, Rating2, Rating3, Rating4,
                        Answer1, Answer2,
                        Answer1Comment, Answer2Comment,
                        PrivateReview, PublicReview,
                        CreatedDate, UpdatedDate, ModifiedBy
                    ) VALUES (
                        @0, @1, @2, @3,
                        @4, @5, @6, @7,
                        @8, @9,
                        @10, @11,
                        @12, @13,
                        getdate(), getdate(), 'sys'
                    )
                ";

                using (var db = Database.Open("sqlloco")) {
                    var hasreview = db.QueryValue(sqlCheckReview, bookingID, 0);
                    if(hasreview > 0){
                        ModelState.AddFormError("The review for this service already exist");
                    } else {
                        //Look for existing scores
                        var scores = db.QuerySingle(sqlGetScores, booking.CustomerUserID, 0);
                        if (scores == null) {
                            //First scores for the customer (positionID=0)
                            db.Execute(sqlInsertScores, 
                                booking.CustomerUserID, 0,
                                1,
                                rating1, null, null, null,
                                null, (answer2 ? 1 : 0));
                        } else {
                            // Recalculate and Save the updated scores
                            var tr = scores.TotalRatings;
                            var ntr = tr + 1;
                            db.Execute(sqlUpdateScores,
                                booking.CustomerUserID, 0,
                                ntr,
                                ((scores.Rating1 ?? 0) * tr + rating1) / ntr,
                                // No usamos rating2-4, mantenemos el valor que hubiese -que será null-
                                scores.Rating2,
                                scores.Rating3,
                                scores.Rating4,
                                scores.Answer1,
                                (answer2 ? scores.Answer2 + 1 : scores.Answer2));
                        };
                        //Store Review
                        db.Execute(sqlInsertReview, 
                            bookingID, booking.CustomerUserID, thisUserID, 0,
                            rating1, null, null, null,
                            null, answer2, null, null,
                            privatereview, publicreview);
                    }
                }
                if(ModelState.IsValid){
                    CommonHelpers.ReturnJsonResult(0, "Thanks for rating");
                }
            }
        }
    }
}
<form class="customer-rating-form ajax ajax-box" method="post" action="@(UrlUtil.LangPath)Reviews/$CustomerRatingForm/">
    @CommonHelpers.SetupStarRatingPlugin()
    @CommonHelpers.GetValidationScripts()
    @Html.ValidationSummary()
    @if (booking != null && provider != null) {
        <input type="hidden" name="BookingID" value="@bookingID" />
        <fieldset class="section-1">
            <legend>Section 1: Rate @customer.FirstName as customer</legend>
            <ul>
                <li class="rating1">
                    <span>Rate @customer.FirstName as customer:</span>
                    <div class="rate-user">
                        @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { "rating1", Request["rating1"], "false" })
                    </div>
                </li>
                <li class="publicreview">
                    <label for="public-review">Write a brief review for other Loconomics members to view 
                    (please be respectful and constructive)</label>
                    <textarea rows="4" id="public-review" name="public-review" placeholder="(250 or fewer characters)">@Request["public-review"]</textarea>
                </li>
            </ul>
        </fieldset>
        <fieldset class="section-2">
            <legend>Section 2: Help @customer.FirstName</legend>
            <ul>
                <li class="private-review">
                    <label for="private-review">Please give @customer.FirstName any constructive criticism to help
                        him (only @customer.FirstName will see this):</label>
                    <textarea rows="10" id="private-review" name="private-review" placeholder="(1000 or fewer characters)">@Request["private-review"]</textarea>
                </li>
            </ul>
        </fieldset>
        <fieldset class="section-3">
            <legend>Section 3: Recommend @customer.FirstName</legend>
            <ul>
                <li class="question2">
                    <span>Would you work with @customer.FirstName again?</span>
                    <label>Yes<input type="radio" name="question2" @CommonHelpers.IsChecked("true", Request["question2"]) value="true" /></label>
                    <label>No<input type="radio" name="question2" @CommonHelpers.IsChecked("false", Request["question2"]) value="false" /></label>
                </li>
            </ul>
        </fieldset>
        <fieldset class="actions">
            <button class="button main-action" type="submit">Submit feedback</button>
        </fieldset>
    }
</form>