@using WebMatrix.Data;
@{
    var reviewedID = PageData["ReviewedID"] ?? Request["ReviewedID"].AsInt();
    var positionID = PageData["PositionID"] ?? Request["PositionID"].AsInt();
    if (reviewedID == null) {
        throw new Exception("Not valid ReviewedID");
    }
    if (positionID == null) {
        positionID = 0;
    }
    
    dynamic review = null;
    string reviewerUserType = null, reviewedUserType = null;
    
    using (var db = Database.Open("sqlloco")) {
        if (positionID == 0) {
            // Reviewed is customer
            reviewedUserType = "customer";
            reviewerUserType = "provider";
            
            // TODO: reviews for customer
        } else {
            // Reviewed is provider
            reviewedUserType = "provider";
            reviewerUserType = "customer";
            
            var sqlFeaturedReview = @"
                SELECT TOP 1
                    R.BookingID, R.PositionID,
                    R.CustomerUserID As ReviewerUserID,
                    R.ProviderUserID As ReviewedUserID,
                    UC.FirstName As ReviewerFirstName,
                    UC.LastName As ReviewerLastName,
            
                    R.Rating1, R.Rating2, R.Rating3, R.Rating4,
                    R.PublicReview,
                    R.UpdatedDate As LastRatingDate,
                    R.ServiceHours, R.HelpfulReviewCount
                FROM
                    UserReviews As R
                     INNER JOIN
                    Users As UC
                      ON UC.UserID = R.CustomerUserID
                WHERE
                    R.ProviderUserID = @0
                     AND
                    R.PositionID = @1
                ORDER BY R.UpdatedDate DESC
            ";
            review = db.QuerySingle(sqlFeaturedReview, reviewedID, positionID);
        }
    }
}
@if (review != null)
{
<div class="featured-review have-view-more">
    <div class="review-micro-summary">
        <h5>Review from <span class="user-public-name reviewer-name">@CommonHelpers.GetUserDisplayName(review, "Reviewer")</span>
            (<span class="reviewer-date">@review.LastRatingDate.ToShortDateString()</span>):
        </h5>
    </div>
    <img class="reviewwer-avatar avatar mini-avatar" alt="@(review.ReviewerFirstName)'s Photo" src="@(UrlUtil.LangPath)Profile/Photo/@review.ReviewerUserID" width="55" height="55" />
    <div class="public-review">@CommonHelpers.PrintTextAsHtml(review.PublicReview)</div>
    <a href="#" class="view-more">More reviews</a>
</div>
}