@* Form to review a provider by a customer based on a performed Booking
*@
@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    CommonHelpers.SecurePage();
    var customerUserID = WebSecurity.CurrentUserId;
    var customer = DashboardFunctions.GetUserRow();
    int bookingID = PageData["BookingID"] ?? Request["BookingID"].AsInt();
    int providerUserID = 0, positionID = 0;
    decimal serviceHours = 0M;
    bool pastReference = false;
    dynamic provider = null, position = null;
    
    if (bookingID == 0) {
        // Past review (from ProviderReferenceForm)
        providerUserID = Request["ProviderUserID"].AsInt();
        positionID = Request["PositionID"].AsInt();
        pastReference = true;
    } else if (bookingID > 0) {
        dynamic booking = PageData["booking"] ?? LcData.Booking.GetBooking(bookingID);
        
        // Check booking is valid and current user is the customer (only he can rate provider at this bookingid)
        if (booking == null || booking.CustomerUserID != customerUserID) {
            ModelState.AddFormError("Not valid booking to review");
        } else {
            providerUserID = booking.ProviderUserID;
            positionID = booking.PositionID;
            serviceHours = booking.ServiceDuration;
        }
    }
    
    provider = DashboardFunctions.GetUserRow(providerUserID);
    position = DashboardFunctions.GetUserPos(providerUserID, positionID);
    
    if (provider == null || position == null) {
        ModelState.AddFormError("No valid provider or position to review");
    }

    if (ModelState.IsValid) {
        if (!pastReference){
            Validation.RequireField("question1", "Please response to section 1 question");
            Validation.RequireField("private-review", "Please write a private review");
        }
        Validation.RequireField("question2", "Please response to section 3 question");
        Validation.RequireField("rating1", "Please rate its quality of work");
        Validation.RequireField("rating2", "Please rate its efficiency");
        Validation.RequireField("rating3", "Please rate its professionalism");
        Validation.RequireField("public-review", "Please write a public review");
        if (pastReference) {
            Validation.Add("serviceHours", Validator.Decimal("Service Hours must be a valid number"));
        }

        if(IsPost && Validation.IsValid()){

            var answer1 = Request["question1"].AsBool();
            var answer2 = Request["question2"].AsBool();
            var answer1Comment = Request["question1-comment"];
            var rating1 = Request["rating1"].AsInt();
            var rating2 = Request["rating2"].AsInt();
            var rating3 = Request["rating3"].AsInt();
            var publicreview = Request["public-review"];
            var privatereview = Request["private-review"];
            if (pastReference) {
                serviceHours = Request["serviceHours"].AsDecimal();
                // there is no question1 showed to a past customer, but if he/she is here rating is because is happy with the provider, not? We set 'true'
                answer1 = true;
                answer1Comment = "";
            }
        
            if (answer1 == false && answer1Comment.IsEmpty()) {
                ModelState.AddError("question1-comment", "Please, tell us what was not performed");
            }

            if(ModelState.IsValid){
                var sqlCheckReview = @"
                    SELECT  count(*)
                    FROM    UserReviews
                    WHERE   BookingID = @0
                             AND
                            PositionID = @1
                ";
                var sqlGetScores = @"
                    SELECT  Rating1, Rating2, Rating3, Rating4, Answer1, Answer2, TotalRatings, ServiceHours
                    FROM    UserReviewScores
                    WHERE   UserID = @0
                             AND
                            PositionID = @1
                ";
                var sqlInsertScores = @"
                    INSERT INTO UserReviewScores (
                        UserID, PositionID,
                        TotalRatings,
                        Rating1, Rating2, Rating3, Rating4,
                        Answer1, Answer2,
                        ServiceHours, LastRatingDate,
                        CreatedDate, UpdatedDate, ModifiedBy
                    ) VALUES (
                        @0, @1,
                        @2, 
                        @3, @4, @5, @6,
                        @7, @8,
                        @9, @10,
                        getdate(), getdate(), 'sys'
                    )
                ";
                var sqlUpdateScores = @"
                    UPDATE UserReviewScores SET
                        TotalRatings = @2,
                        Rating1 = @3, Rating2 = @4, Rating3 = @5, Rating4 = @6,
                        Answer1 = @7, Answer2 = @8,
                        ServiceHours = @9, LastRatingDate = @10,
                        UpdatedDate = getdate(),
                        ModifiedBy = 'sys'
                    WHERE   UserID = @0
                             AND
                            PositionID = @1
                ";
                var sqlInsertReview = @"
                    INSERT INTO UserReviews (
                        BookingID, CustomerUserID, ProviderUserID, PositionID,
                        Rating1, Rating2, Rating3, Rating4,
                        Answer1, Answer2,
                        Answer1Comment, Answer2Comment,
                        PrivateReview, PublicReview,
                        ServiceHours, HelpfulReviewCount,
                        CreatedDate, UpdatedDate, ModifiedBy
                    ) VALUES (
                        @0, @1, @2, @3,
                        @4, @5, @6, @7,
                        @8, @9,
                        @10, @11,
                        @12, @13,
                        @14, @15,
                        getdate(), getdate(), 'sys'
                    )
                ";

                using (var db = Database.Open("sqlloco")) {
                    var hasreview = db.QueryValue(sqlCheckReview, bookingID, positionID);
                    if(hasreview > 0){
                        ModelState.AddFormError("The review for this service already exist");
                    } else {
                        //Look for existing scores
                        var scores = db.QuerySingle(sqlGetScores, providerUserID, positionID);
                        if (scores == null) {
                            //First scores for the provider and positionID
                            db.Execute(sqlInsertScores, 
                                providerUserID, positionID,
                                1,
                                rating1, rating2, rating3, null,
                                (answer1 ? 1 : 0), (answer2 ? 1 : 0),
                                serviceHours, DateTime.Now);  
                        } else {
                            // Recalculate and Save the updated scores
                            var tr = scores.TotalRatings;
                            var ntr = tr + 1;
                            db.Execute(sqlUpdateScores,
                                providerUserID, positionID,
                                ntr,
                                ((scores.Rating1 ?? 0) * tr + rating1) / ntr,
                                ((scores.Rating2 ?? 0) * tr + rating2) / ntr,
                                ((scores.Rating3 ?? 0) * tr + rating3) / ntr,
                                // No usamos el rating4, mantenemos el valor que hubiese -que será null-
                                scores.Rating4,
                                (answer1 ? scores.Answer1 + 1 : scores.Answer1),
                                (answer2 ? scores.Answer2 + 1 : scores.Answer2),
                                scores.ServiceHours + serviceHours,
                                DateTime.Now);
                        };
                        //Store Review
                        db.Execute(sqlInsertReview, 
                            bookingID, customerUserID, providerUserID, positionID,
                            rating1, rating2, rating3, null,
                            answer1, answer2, answer1Comment, null,
                            privatereview, publicreview,
                            serviceHours, 0);
                        
                        // Set VerificationID:11 for reviewed user as confirmed just with only receive a review(see issue #8 comment https://github.com/djorgensen/Loconomics/issues/8#issuecomment-6807651)
                        db.Execute(@"EXEC SetUserVerification @0,@1,@2,@3", providerUserID, 11, DateTime.Now, 1);
                    }
                }
                if(ModelState.IsValid){
                    if (pastReference) {
                        CommonHelpers.ReturnJsonResult(0, "Thanks for rating! Press on the Loconomics logo to continue.", false);
                    } else {
                        CommonHelpers.ReturnJsonResult(3, UrlUtil.LangPath + "Reviews/$BookingRatingDetails/?BookingID=" + bookingID, false);
                    }
                    
                    // Send emails recommending this provider to comma-sepparated 'share-email-addresses'
                    var emails = Request["share-email-addresses"];
                    string subject = "{0} {1} recommends you book {2} as a {3}";
                    if (!string.IsNullOrWhiteSpace(emails)) {
                        var add = emails.Split(',', ';', '\n');
                        string newemails = "";
                        List<string> emailslist = new List<string>();
                        foreach (string ad in add) {
                            if (LcValidators.IsEmailAdress(ad)) {
                                emailslist.Add(ad);
                            }
                        }
                        newemails = CommonHelpers.JoinNotEmptyStrings(",", emailslist.ToArray<string>());
                        if (!string.IsNullOrEmpty(newemails)) {
                            LcMessaging.SendMail(newemails, String.Format(subject, customer.FirstName, customer.LastName,
                                provider.FirstName, position.PositionSingular),
                                LcMessaging.ApplyTemplate(UrlUtil.LangPath + "Profile/EmailRecommendation/",
                                new Dictionary<string,object>{ 
                                    { "CustomerUserID", customerUserID },
                                    { "ProviderUserID", provider.UserID },
                                    { "PositionID", position.PositionID }
                                }));
                        }
                    }
                    Response.End();
                }
            }
        }
    }
}
@helper printProviderRating3(dynamic provider){
            <li class="rating3">
                <span>Rate @(provider.FirstName)'s professionalism</span>
                <div class="rate-user">
                    @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { "rating3", Request["rating3"], "false" })
                </div>
            </li>
}
<form class="provider-rating-form ajax ajax-box" method="post" action="@(UrlUtil.LangPath)Reviews/$ProviderRatingForm/@(Request.Url.Query)">
    @CommonHelpers.SetupStarRatingPlugin()
    @CommonHelpers.GetValidationScripts()
    @Html.ValidationSummary()
    @if (provider != null && position != null)
    {
    <input type="hidden" name="BookingID" value="@bookingID" />
    <fieldset class="section-1">
        <legend>Section 1: @(pastReference ? "Review " + provider.FirstName + "’s past work for you as a " + position.PositionSingular : "Review the work done")</legend>
        <ul>
            @if (!pastReference)
            {
            <li class="question1">
                <span>Did @provider.FirstName perform all the services you requested?</span>
                <label>Yes<input type="radio" @CommonHelpers.IsChecked("true", Request["question1"]) name="question1" value="true" /></label>
                <label>No<input type="radio" @CommonHelpers.IsChecked("false", Request["question1"]) name="question1" value="false" /></label>
            </li>
            <li class="question1-comment">
                <textarea rows="3" name="question1-comment" placeholder="Tell use what work was not performed." @Validation.GetHtml("question1-comment")>@Request["question1-comment"]</textarea>
            </li>
            }
            <li class="rating1">
                <span>Rate the quality of work @provider.FirstName performed:</span>
                <div class="rate-user">
                    @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { "rating1", Request["rating1"], "false" })
                </div>
            </li>
            <li class="rating2">
                <span>Rate the efficience in which @provider.FirstName performed the work:</span>
                <div class="rate-user">
                    @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { "rating2", Request["rating2"], "false" })
                </div>
            </li>
            @if (pastReference)
            {
                @printProviderRating3(provider)
            <li class="serviceHours">
                <label>Please, let us know how many hours (approximately) took the work done by @provider.FirstName:
                    <input type="text" name="serviceHours" @Validation.GetHtml("serviceHours") value="@(Request["serviceHours"])" />
                </label>
            </li>
            }
            <li class="publicreview">
                <label for="public-review">Write a brief review for other Loconomics members to view 
                (please be respectful and constructive)</label>
                <textarea rows="4" id="public-review" name="public-review" placeholder="(250 or fewer characters)">@Request["public-review"]</textarea>
            </li>
        </ul>
    </fieldset>
    if (!pastReference)
    {
    <fieldset class="section-2">
        <legend>Section 2: Help @provider.FirstName grow professionally</legend>
        <ul>
            @printProviderRating3(provider)
            <li class="private-review">
                <label for="private-review">Please give @provider.FirstName any constructive criticism to help
                    him do a better job (only @provider.FirstName will see this):</label>
                <textarea rows="10" id="private-review" name="private-review" placeholder="(1000 or fewer characters)">@Request["private-review"]</textarea>
            </li>               
        </ul>
    </fieldset>
    }
    <fieldset class="section-3">
        <legend>Section @(pastReference ? "2" : "3"): Recommend @provider.FirstName</legend>
        <ul>
            <li class="question2">
                <span>Would you hire @provider.FirstName as a @position.PositionSingular again?</span>
                <label>Yes<input type="radio" name="question2" @CommonHelpers.IsChecked("true", Request["question2"]) value="true" /></label>
                <label>No<input type="radio" name="question2" @CommonHelpers.IsChecked("false", Request["question2"]) value="false" /></label>
            </li>
            <li class="share-social">
                Please share @(provider.FirstName)'s profile with your family and friends 
                @if (!pastReference){ 
                    <text> and earn a $5 credit when they make a purchase:</text> 
                }
                @RenderPage(UrlUtil.LangPath + "Social/_SocialNetworkingWidget.cshtml",
                    new
                    {
                        URL = UrlUtil.LangPath + "Profile/?UserID=" + provider.UserID + "&PositionID=" + position.PositionID,
                        Title = "An amazing " + position.PositionSingular + ": " + CommonHelpers.GetUserDisplayName(provider)
                    })
            </li>
            <li class="share-email">
                <label for="share-email-addresses">Enter e-mail addresses, separated by commas:</label>
                <textarea rows="4" id="share-email-addresses" name="share-email-addresses">@Request["share-email-addresses"]</textarea>
            </li>
        </ul>
    </fieldset>
    <fieldset class="actions">
        <button class="button main-action" type="submit">Submit feedback</button>
    </fieldset>
    }
</form>