@{
    LcHelpers.TestArea();
    Layout = "_TestLayout.cshtml";

    if (IsPost)
    {
        var url = Request["url"].Replace(LcUrl.SiteUrl, "");
        LcMessaging.SendMail(Request["email"], "Testing Email " + url,
            LcMessaging.ApplyTemplate(url, null));
    }

    var list = new Dictionary<string, List<string>>{
        { "EmailWelcomeProvider", new List<string> {
            "Email/EmailWelcomeProvider?UserID=141&ConfirmationURL=theurl&ConfirmationToken=sometoken&RequestKey=abcd3&EmailTo=iagosrl@gmail.com"
            ,"Email/EmailWelcomeProvider?UserID=141&ConfirmationURL=theurl&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailLicenseVerificationRequest", new List<string> { "Email/EmailLicenseVerificationRequest/?ProviderUserID=141&PositionID=14&LicenseCertificationID=18&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailInquiry", new List<string> {
            "Messaging/EmailInquiry/?ThreadID=13&MessageID=26&Kind=-1&RequestKey=abcd3&EmailTo=iagosrl@gmail.com"
            ,"Messaging/EmailInquiry/?ThreadID=13&MessageID=26&Kind=2&RequestKey=abcd3&EmailTo=iagosrl@gmail.com"} }
        ,{ "EmailProviderReference", new List<string> { "Email/EmailProviderReference/?UserID=141&PositionID=14&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailResetPassword", new List<string> { "Email/EmailResetPassword/?UserID=141&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailWelcomeCustomer", new List<string> { "Email/EmailWelcomeCustomer/?UserID=141&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailRequestMoreServiceAttributes", new List<string> { "Email/EmailRequestMoreServiceAttributes/?ProviderUserID=141&PositionID=14&RequestKey=abcd3&EmailTo=providerhelp@loconomics.com&RequestedAttributes=example1, example2, example3, example4, example5" } }
        ,{ "EmailBackgroundCheckRequest", new List<string> { "Email/EmailBackgroundCheckRequest/?ProviderUserID=141&PositionID=14&BackgroundCheckID=1&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
        ,{ "EmailReportUnauthorizedUse", new List<string> { "Email/EmailReportUnauthorizedUse/?ReportedUserID=141&ReportedByUserID=141&Message=Reporting+some+problem&RequestKey=abcd3&EmailTo=iagosrl@gmail.com" } }
    };

    // Booking Template Names for new EmailCommunications
    var bookingBookNowClient = new string[] {
        "BookingCancelledByClient",
        "BookingCancelledByServiceProfessional",
        "BookingReminder",
        "BookingRequestConfirmed",
        "BookingRequestDeclined",
        "BookingRequestExpired",
        "BookingRequestSummary",
        "BookingUpdatedByClient",
        "BookingUpdatedByServiceProfessional",
        "InstantBookingConfirmed",
        "RequestToReview",
        "RequestToReviewReminder"
    };
    var bookingBookNowServiceProfessional = new string[] {
        "BookingCancelledByClient",
        "BookingReminder",
        "BookingRequestConfirmed",
        "BookingRequestExpired",
        "BookingRequestSummary",
        "BookingUpdatedByClient",
        "BookingUpdatedByServiceProfessional",
        "InstantBookingConfirmed"
    };
    var bookingMarketplaceClient = new string[] {
        "BookingRequestConfirmed",
        "BookingrequestSummary"
    };
    var bookingServiceProfessionalBookingClient = new string[] {
        "BookingCancelledByClient",
        "BookingCancelledByServiceProfessional",
        "BookingReminder",
        "BookingUpdatedByClient",
        "BookingUpdatedByServiceProfessional",
        "InstantBookingConfirmed",
        "RequestToReview",
        "RequestToReviewReminder"
    };
    var bookingServiceProfessionalBookingServiceProfessional = new string[] {
        "BookingCancelledByClient",
        "BookingUpdatedByClient"
    };
    // Add Booking URLs
    var testBookingID = Request["BookingID"].AsInt(628);
    var isHipaa = Request["hippa"].AsBool();
    var bookingList = new Dictionary<string, List<string>> ();
    bookingList.Add("BOOKING: BookNow ToClient",
        bookingBookNowClient.Select(x => "EmailCommunications/Booking/BookNow/ToClient/" + x + (isHipaa ? "HIPAA" : "") + "?RequestKey=abcd3&BookingID=" + testBookingID).ToList());
    bookingList.Add("BOOKING: BookNow ToServiceProfessional",
        bookingBookNowServiceProfessional.Select(x => "EmailCommunications/Booking/BookNow/ToServiceProfessional/" + x + (isHipaa ? "HIPAA" : "") + "?RequestKey=abcd3&BookingID=" + testBookingID).ToList());
    bookingList.Add("BOOKING: Marketplace ToClient",
        bookingMarketplaceClient.Select(x => "EmailCommunications/Booking/Marketplace/ToClient/" + x + (isHipaa ? "HIPAA" : "") + "?RequestKey=abcd3&BookingID=" + testBookingID).ToList());
    // TODO Marketplace ToServiceProfessional
    bookingList.Add("BOOKING: ServiceProfessionalBooking ToClient",
        bookingServiceProfessionalBookingClient.Select(x => "EmailCommunications/Booking/ServiceProfessionalBooking/ToClient/" + x + (isHipaa ? "HIPAA" : "") + "?RequestKey=abcd3&BookingID=" + testBookingID).ToList());
    bookingList.Add("BOOKING: ServiceProfessionalBooking ToServiceProfessional",
        bookingServiceProfessionalBookingServiceProfessional.Select(x => "EmailCommunications/Booking/ServiceProfessionalBooking/ToServiceProfessional/" + x + (isHipaa ? "HIPAA" : "") + "?RequestKey=abcd3&BookingID=" + testBookingID).ToList());
}
@helper printList(Dictionary<string, List<string>> list)
{
    <ul>
    @foreach (var l in list)
    {
        <li>@l.Key
            <ul>
                @foreach (var l2 in l.Value)
                {
                    <li><a target="_blank" href="@(LcUrl.LangPath + l2)">@l2</a></li>
                }
            </ul>
        </li>
    }
    </ul>
}
<h1>Testing Email Templates along the site</h1>
<h3>Use next links to test every template with some example data in the parameters</h3>
@printList(list)
<h3>Booking emails</h3>
<form action="" method="get">
    <label>Use BookingID: <input type="text" name="BookingID" placeholder="BookingID" /></label>
    <label><input type="checkbox" name="hippa" value="true" /> <span>Use HIPAA templates</span></label>
    <input type="submit" value="APPLY" />
</form>
@printList(bookingList)
<form action="" method="post">
    <h2>Send a testing email:</h2>
    <input type="text" name="url" placeholder="Email template URL" style="width:80%" />
    <input type="text" name="email" placeholder="Email to..." style="width:80%" />
    <input type="submit" value="Send email" style="display:block" />
</form>
