@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.LangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Inquiry";
    var kind = Request["Kind"].AsInt();
    var threadID = Request["ThreadID"].AsInt();
    var messageID = Request["MessageID"].AsInt();
    
    // Data for the EmailLayout:
    if (kind == 2) {
        PageData["messageTitle"] = "Provider answer to your inquiry";
    } else {
        PageData["messageTitle"] = "Customer Inquiry";
    }
    // Create URL:
    PageData["viewOnSiteUrl"] = UrlUtil.LangUrl + "Dashboard/Mailbox/#!Thread-" + threadID.ToString() + "_Message-" + messageID.ToString();
    
    /* SQLs similar to Messaging/MessageThread but without user check */
    var sqlGetMessageThread = @"
        SELECT  T.ThreadID,
                T.CustomerUserID,
                T.ProviderUserID,
                T.PositionID,
                T.MessageThreadStatusID,
                T.UpdatedDate As LastMessageDate,
                T.Subject,

                UC.FirstName As CustomerFirstName,
                UC.LastName As CustomerLastName,

                UP.FirstName As ProviderFirstName,
                UP.LastName As ProviderLastName,

                Pos.PositionSingular
        FROM    MessagingThreads As T
                 INNER JOIN
                Users As UC
                  ON UC.UserID = T.CustomerUserID
                 INNER JOIN
                Users As UP
                  ON UP.UserID = T.ProviderUserID
                 INNER JOIN
                Positions As Pos
                  ON Pos.PositionID = T.PositionID
					AND Pos.CountryID = @1 AND Pos.LanguageID = @2
        WHERE   ThreadID = @0
    ";
    var sqlListMessagesInThread = @"
        SELECT  M.MessageID,
                M.BodyText,
                M.MessageTypeID,
                M.UpdatedDate As MessageDate
        FROM    Messages As M
        WHERE   M.ThreadID = @0
        ORDER BY M.CreatedDate ASC
    ";

    dynamic messages = null, thread = null;
    using (var db = Database.Open("sqlloco")){
        thread = db.QuerySingle(sqlGetMessageThread, threadID, 1, 1);
        messages = db.Query(sqlListMessagesInThread, threadID);
    }
}
@helper printMessageBodyAsHtml(string messageBody){
    @Html.Raw(messageBody.Replace("\n", "<br/>"))
}
@*Current user: @WebSecurity.CurrentUserId to test secure alternatives *@
    @if (kind < 0)
    {
        <div style="@LcEmailTemplateHelper.StyleMessageCopy()">Copy of your sent message</div>
    }
    <h3 style="@LcEmailTemplateHelper.StyleMessageSubject()">@thread.Subject</h3>
    <div style="clear:both;overflow:hidden;">
        @foreach (var message in messages)
        {
            string userPrefix = "Customer", messageStyle = "float: left;";
            if (message.MessageTypeID == 3)
            {
                userPrefix = "Provider";
                messageStyle = "float:right;";
            }
            <div style="clear: both;width: 100%;overflow: hidden;margin-bottom: 20px;">
                <div style="@LcEmailTemplateHelper.StyleMiniUserInfo();@(messageStyle)width: 60px;overflow: hidden;margin: 8px 0;font-size: .9em">
                    <h5 style="@LcEmailTemplateHelper.StyleUserPublicName()@LcEmailTemplateHelper.StyleMiniUserInfoH5()">@CommonHelpers.GetUserDisplayName(thread, userPrefix)</h5>
                    <div>@message.MessageDate.ToShortDateString()</div>
                </div>
                <div style="@LcEmailTemplateHelper.StyleMessageSection();margin: 0 13px;width: 430px;overflow: hidden;@(messageStyle)@(message.MessageID == messageID ? LcEmailTemplateHelper.StyleHighlighted() : ""))">@printMessageBodyAsHtml(message.BodyText)</div>
            </div>
        }
    </div>
    <div><a style="@LcEmailTemplateHelper.StyleRespondButton()" target="_blank" href="@PageData["viewOnSiteUrl"]">Respond to this inquiry at loconomics.com</a></div>