@{     
    Layout = UrlUtil.RenderLangPath + "_SiteLayout.cshtml";
    Styles.Add(UrlUtil.AppPath + "Styles/Profile.css");
    
    PageData["Customer"] = LcData.UserInfo.GetUserRow();

    int userid = (PageData["UserID"] ?? Request["userid"].AsInt(UrlData[0].AsInt()));

    // Preserve compability with providerid url param still:
    if (userid == 0) {
        userid = Request["ProviderID"].AsInt();
    }
    int positionid = Request["PositionID"].AsInt();

    if (userid == 0) {
        Response.Redirect(UrlUtil.LangPath);
    }

    var u = LcData.UserInfo.GetRequestedUserRow(userid);
    if (u == null) {
        Response.Redirect(UrlUtil.LangPath);
    }
    userid = u.UserID;
    var ustats = LcData.UserInfo.GetUserStats(userid);

    string view = Request["PositionID"] == "0" ? "customer" : ""; // possible values: "customer"
    // If is customer view, positionid is not relevant:
    if (view == "customer") {
        positionid = 0;
    }

    dynamic posrows = null;
    if (u.IsProvider) {
        posrows = LcData.UserInfo.GetUserPos(userid, true);
        
        if (view != "customer") {
            // Check if the positionid requested exists for current user:
            var posexists = false;
            foreach(var c in posrows){
                if (c.PositionID == positionid) {
                    posexists = true;
                }
            }
            if (!posexists) {
                if (posrows.Count > 0) {
                    positionid = posrows[0].PositionID;
                } else {
                    positionid = 0;
                }
            }
        }
    } else {
        positionid = 0;
    }
    
    // Stats display setup
    var responseTime = "N/A";
    if (ustats != null) {
        responseTime = LcData.UserInfo.GetFormatedUserResponseTime(ustats.ResponseTimeMinutes);
    }

    // Number of maximum positions displayed:
    var maxPositions = 5;
    
    Page.Title = u.FirstName;
    Scripts.Add(UrlUtil.AppPath + "Scripts/Profile.js");
    
    int n = 0, ip = 0;
}
@helper printFriend(string name, string photo){
    if (String.IsNullOrEmpty(photo)){ photo = "generic-friend-avatar.png";}
    /* Between LI and A elements must not have white spaces */
    <li><a href="@Href(UrlUtil.LangPath + "Profile/?user=" + name)"><img alt="@name" src="@Href(UrlUtil.AppPath + "img/theme/" + photo)"/></a></li>
}
@helper printName(dynamic p){
    string l = (string)p["LastName"];
    if (l.Length > 1) { l = l.Substring(0, 1); }
    @(p["FirstName"] + " " + @l + ".")
}
<div id="container" class="profile clearfix">
    <div id="main" class="tabbed folders">

	    <div id="profileHeader" class="clearfix">
            <div id="profile-avatar">
                <img class="avatar image-1dppx" src="@Href(UrlUtil.LangPath + "Profile/Photo/" + u["UserID"] + "/")" alt="User Photo" />
                <img class="avatar image-2dppx" src="@Href(UrlUtil.LangPath + "Profile/Photo/" + u["UserID"] + "/2x/")" alt="User Photo" />
            </div>
            <h1 class="profile-name">@printName(u)</h1>
		    
		    <div class="profile-desc">
                <p>
                @if (!String.IsNullOrWhiteSpace(u["PublicBio"])) {
                    @u["PublicBio"]
                } else {
                  <text></text>
                }
                </p>
                <a href="#read-more" class="read-more">read more</a>
            </div>
        <!--<a href="#report-unauthorized-use" class="report-action report-unauthorized-use" data-reported-userid="@u["UserID"]">report unauthorized use</a> -->
            @*RenderPage("$UserVerificationsWidget.cshtml", new { UserID = userid })*@
            <aside>
                <div class="user-rating global-rating">
                    @RenderPage(UrlUtil.RenderLangPath + "Reviews/$UserRatingSummaryWidget.cshtml", new
                    {
                        ReviewedID = userid,
                        // global rating of the user, as all positions when provider (-2) without include 
                        // its customer rating (for that, use -1),
                        // or as customer (0)
                        PositionID = (u.IsProvider ? -2 : 0),
                        ReviewedData = u,
                        RatingSummaryMode = "summary",
                        ShowReviewsCountAsNote = true
                    })
                </div>
                @RenderPage("$UserVerificationsWidget.cshtml", new { UserID = userid, Size = "mini", ContainerID = "", OnlyIconType = "verification" })
                <div class="response-time">
                    <em>Response time</em> <strong>@responseTime</strong>
                </div>
                @*
                @if (u.IsProvider) {
                <div class="social-connections">
                    <ul>
                        @printFriend("Fernando", null)
                        @printFriend("Joshua", null)
                        @printFriend("Fernando", null)
                        @printFriend("Joshua", null)
                        @printFriend("Fernando", null)
                    </ul>
                    <span class="friends"><span class="quantity">14</span> of your friends have used this provider's services</span>
                </div>
                }
                *@
                @RenderPage(UrlUtil.RenderLangPath + "Social/_SocialNetworkingWidget.cshtml")
            </aside>
	    </div><!-- #profileHeader -->
        
        @if (u.IsProvider) {
		<ul class="tabs">
            @{
                n = 0;
                foreach(var c in posrows){
                    n++;
                    if (n > maxPositions) { break; }
                    ip = c.PositionID;
                    var cls = (c.PositionID == positionid ? "current" : "");
                    <li class="@cls"><a class="@cls" href="@("#position"+ip)">@c.PositionSingular</a></li>
                }
            }
            @if (n > 0 && u.IsCustomer && view == "customer") {
            <li class="@(positionid == 0 ? "current" : "")"><a href="#customer-overview">As Customer</a></li>
            }
		</ul><!-- .tabs -->
        }
        
        @if (u.IsProvider) {
            n = 0;
            foreach(var position in posrows){
                n++;
                if (n > maxPositions) { break; }
                var cls = (position.PositionID == positionid ? "current" : "");
                PageData["position"] = position;

                ip = position.PositionID;
                <div id="@("position"+ip)" class="tab-body fancy tabbed buttons @cls position-tab">
            
                    @RenderPage("_PositionSummary.cshtml")
                    <ul class="tabs">
                        <li class="current"><a class="button profile fanciful" href="@("#position"+ip)-overview">Overview</a></li>
                        <li><a class="button profile fanciful" href="@("#position"+ip)-pricing">Pricing</a></li>
                        <li><a class="button profile fanciful" href="@("#position"+ip)-reviews">Reviews</a></li>
                        <li class="volatile"><a class="button profile fanciful" href="@("#position"+ip)-mywork">My Work</a></li>
                        <li><a class="button profile fanciful" href="@("#position"+ip)-map">Map</a></li>
                        <li><a class="button profile fanciful" href="@("#position"+ip)-availability">Availability</a></li>
                        <li><a class="button profile fanciful" href="@("#position"+ip)-verifications">Verifications</a></li>
                        <li class="message-tab-marker"><a class="button profile" href="@("#position"+ip)-message">Message</a></li>
                    </ul>

                   <div id="@("position"+ip)-overview" class="tab-body current overview">
                        @RenderPage("_ProviderOverview.cshtml")
                    </div><!-- #@("position"+ip)-overview -->
                    <div id="@("position"+ip)-pricing" class="tab-body pricing">
                        @RenderPage("_Pricing.cshtml")
                    </div><!-- #@("position"+ip)-pricing -->
                    <div id="@("position"+ip)-reviews" class="tab-body reviews">
                        @RenderPage("_Reviews.cshtml")
                    </div><!-- #@("position"+ip)-reviews -->
                    <div id="@("position"+ip)-mywork" class="tab-body mywork">
                        @RenderPage("_MyWork.cshtml")
                    </div><!-- #@("position"+ip)-mywork -->
                    <div id="@("position"+ip)-map" class="tab-body map" data-source-url="@(UrlUtil.LangPath + "Profile/$Map/?UserID=" + userid + "&PositionID=" + ip)">
                        @*RenderPage("$Map.cshtml")*@
                    </div><!-- #@("position"+ip)-map -->
                    <div id="@("position"+ip)-availability" class="tab-body availability">
                        @RenderPage("_Availability.cshtml")
                    </div><!-- #@("position"+ip)-availability -->
                    <div id="@("position"+ip)-verifications" class="tab-body verifications">
                        @RenderPage("_Verifications.cshtml")
                    </div><!-- #@("position"+ip)-verifications -->
                    <div id="@("position"+ip)-message" class="tab-body message">
                        @RenderPage("$Message.cshtml")
                    </div><!-- #@("position"+ip)-message -->
                    <!-- TODO Remove this element, without break the position-summary -->
                    <div class="clearfix"></div>
            
                </div><!-- #position@n -->
            }
        }
        @if (u.IsCustomer && view == "customer") {
            <div id="customer-overview" class="tab-body fancy customer customer-overview @(positionid == 0 ? "current" : "")">
                @RenderPage("$CustomerOverview.cshtml")
            </div><!-- #customer-overview -->
        }
        
    </div>
    
    @{ /*   "Taking out search box in profile" 
            @RenderPage("Profile/_SearchInProfile.cshtml") */   }
    
</div>