@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    // Provider
    var p = LcData.UserInfo.GetRequestedUserRow(Request["ProviderID"].AsInt());
    // Current position data record:
    var pos = PageData["position"] ?? LcData.UserInfo.GetUserPos(Request["ProviderID"].AsInt(),
        Request["PositionID"].AsInt());
    // Current position number/index
    var n = pos.PositionID;

    Validation.RequireField("message-body", "Message cannot be empty!");
    Validation.RequireField("subject", "Subject cannot be empty!");
    
    if (IsPost && Validation.IsValid()) {
        var u = LcData.UserInfo.GetUserRow();
        
        if (u == null){
            ModelState.AddFormError("You need be logged to post a message!");
        }
        
        if (ModelState.IsValid) {
            LcMessaging.SendCustomerInquiry(u.UserID, p.UserID, pos.PositionID, 
                Request["subject"], Request["message-body"]);
            
            LcHelpers.ReturnJsonResult(0, "Your message was sucessfully sent!");
        }
    }
}
<p class="message-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>
@if (WebSecurity.IsAuthenticated) {
    var u = LcData.UserInfo.GetUserRow();
    <form action="@(UrlUtil.LangPath)Profile/$Message/" method="post" class="message send-message-form ajax ajax-box" id="position#@(n)-message">
        <input type="hidden" name="ProviderID" value="@p.UserID"/>
        <input type="hidden" name="PositionID" value="@pos.PositionID"/>
        @LcHelpers.GetValidationScripts()
        @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
        <div class="from-line">
            <label>From:</label>
            <img class="user-pic" alt="@(u.FirstName)'s Photo" src="@(UrlUtil.LangPath)Profile/Photo/@(u.UserID)" width="55" height="55" />
            <span class="from">@LcHelpers.GetUserDisplayName(u)</span>
        </div>
        <div class="subject">
            <label>Subject: <input type="text" name="subject" value="Message from @LcHelpers.GetUserDisplayName(u) about @pos.PositionSingular services"/></label>
        </div>
        <div class="message-body">
            <textarea name="message-body" placeholder="Write your message to @LcHelpers.GetUserDisplayName(p)"></textarea>
        </div>
        <fieldset class="actions">
            <button class="main-action" type="submit">Send message</button>
        </fieldset>
    </form>
}
else
{
    <div class="require-login">
        <h2>Please <a class="login" href="@(UrlUtil.LangPath)Account/Login/">Login</a> to send a message</h2>
    </div>
}