@{
    var size = PageData["Size"] ?? "mini"; // medium, large
    var withContactData = PageData["WithContactData"] ?? false;
    var data = PageData["Data"];
    var dataPrefix = PageData["DataPrefix"] ?? "";
    var userType = PageData["UserType"] ?? "user"; // customer, provider
    var addCssClasses = PageData["AddCssClasses"] ?? "";
    
    if (data == null) {
        // TODO: load user data from database
        dataPrefix = "";
    }
    // TODO: Get User Rate
    var customerRate = 2;
    
    if (Array.IndexOf<string>(new string[] { "mini", "medium", "large" }, size) == -1) {
        throw new Exception("Size is not valid: " + size);
    }
    if (Array.IndexOf<string>(new string[] { "user", "customer", "provider" }, userType) == -1) {
        throw new Exception("UserType is not valid: " + userType);
    }
}
@if (size == "medium" && userType == "customer")
{
    <div class="customer medium-user-info @addCssClasses">
        <img class="mini-avatar avatar" alt="@data[dataPrefix + "FirstName"]'s Photo" src="@(UrlUtil.LangPath)Profile/Photo/@data[dataPrefix + "UserID"]" width="50" height="50" />
        <p class="user-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. Ut vel nisl vel augue cursus viverra vitae sed lectus. Nunc varius vehicula felis, in tincidunt lorem venenatis
        </p>
        <h5 class="user-public-name">@CommonHelpers.GetUserDisplayName(data, dataPrefix)</h5>
        <span class="member-since">Member since @data[dataPrefix + "MemberSinceDate"].ToString("MMMM yyyy")</span>
        <div class="customer-rating">
            @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { "UserRatingSummaryWidget_Customer_" + data[dataPrefix + "UserID"], customerRate.ToString(), "true" })
            <span class="note">*100% of service providers would work for @CommonHelpers.GetUserDisplayName(data, dataPrefix) again.</span>
        </div>

        <a class="view-profile" href="@(UrlUtil.LangPath)Profile/?UserID=@data[dataPrefix + "UserID"]">View full profile</a>
    </div>
}
else
{
    <strong>User Info Widget: option not implemented!</strong>
}