@{
    // Provider
    var provider = PageData["providerrow"];
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
    
    var fromText = "Stephanie L.";
}
@helper oldPrintMessageForm(){
    // TODO Review old code:
    /*
    <div id="gardener-message" class="tab-body"> 
        <h2>Submit Email Request for Assistance</h2>
        <form method="post" action="ProcessRequest.cshtml">
            <div>
                <input id="customerName" name="customerName" value="@posrow.Name"/>
                <input id="ProviderID" name="ProviderID" value="@ProviderID"/>
                <input id="PositionID" name="PositionID" value="@PositionID"/>
                <input id="PositionSingular" name="PositionSingular" value="@Position"/>
            </div>
    
            <div>
                Details about your problem: <br />
                <textarea name="customerRequest" cols="45" rows="4"></textarea>
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div><!-- #gardener-message -->
    */
}
<p class="message-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>

<form action="#" method="post" class="message" id="position#@(n)-message">
    <div class="from-line">
        <label>From:</label>
        <img class="user-pic" alt="User photo" src="@Href("~/img/eg-profile-pic.jpg")"/>
        <span class="from">@fromText</span>
    </div>
    <div class="subject">
        <label>Subject: <input type="text" name="subject" value="Message from @fromText about @p.PositionSingular services"/></label>
    </div>
    <div class="message-body">
        <textarea name="message-body">
            Fernando was an amazing cleaner with a great attention-to-detail and a sense of humor.  Right from the beginning, he was asking questions to ensure the job was done right.  I’m very thankful we met and will be hiring him again.  Great job, Fernando!!  Fernando was an amazing cleaner with a great attention-to-detail and a sense of humor.  Right from the beginning, he was asking questions to ensure the job was done right.  I’m very thankful we met and will be hiring him again.  Great job, Fernando!!
            
            Fernando was an amazing cleaner with a great attention-to-detail and a sense of humor.  Right from the beginning, he was asking questions to ensure the job was done right.  I’m very thankful we met and will be hiring him again.  Great job, Fernando!!
        </textarea>
    </div>
</form>