@{
    // Provider
    var provider = PageData["providerrow"];
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
}
<p class="my-work-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>

<div class="highlighted-photo-large gallery-highlighted">
    <img alt="Highlighted photo" src="@Href(UrlUtil.AppPath + "img/child.jpg")" />
    <h5 class="photo-caption">This is a picture of a child.</h5>
</div>

<ol class="photo-library gallery-content">
    <li class="selected"><a href="#"><img alt="Library photo" src="@Href(UrlUtil.AppPath + "img/child.jpg")"/></a></li>
    <li><a href="#"><img alt="Library photo" src="@Href(UrlUtil.AppPath + "img/child.jpg")"/></a></li>
    <li><a href="#"><img alt="Library photo" src="@Href(UrlUtil.AppPath + "img/child.jpg")"/></a></li>
    <li><a href="#"><img alt="Library photo" src="@Href(UrlUtil.AppPath + "img/child.jpg")"/></a></li>
</ol>
