@using WebMatrix.Data;
@{
    // Current provider data record:
    var p = PageData["providerrow"];
    // Current position data record:
    var pos = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
    
    dynamic services, serviceswithfees, posRatings;
    int servicesId = 2, serviceswithfeesId = 3;    
    
    using (var db = Database.Open("sqlloco")) {
        posRatings = db.QuerySingle(@"
            SELECT	@0 As ProviderID, @1 As PositionID,
                    avg(Rating1) As Rating1,
		            avg(Rating2) As Rating2,
		            avg(Rating3) As Rating3,
                    123 As Hours
            FROM	UserReviews
            WHERE	ProviderID = @0
		             AND
		            PositionID = @1
        ", p["UserID"], pos["PositionID"]);
     
        var sqlattribute = "exec GetServiceAttributes @0,@1,1,1,@2";
        // Getting the 'Services routinely included' (cat=2)
        services = db.Query(sqlattribute, pos.PositionID, servicesId, p.UserID);
        // Getting the 'Services upon request' (cat=3)
        serviceswithfees = db.Query(sqlattribute, pos.PositionID, serviceswithfeesId, p.UserID);
    }    
}
@helper printTestAttributes(string cat){
    string[] atts = new string[]{ "Ironing", "Mopping", "Vacuuning", "Sweeping",  "Ironing", "Mopping", "Vacuuning", "Sweeping",  "Ironing", "Mopping" };
    for(int i=0; i < 10; i++){
        <li class="attribute-@cat-@i">@atts[i]</li>
    }
}
@helper printAttributes(int catId, dynamic atts){
    <ul>
        @foreach(var att in atts){
            if (att.UserChecked) {
                <li class="positionservices-category[@(catId)]-attribute[@(att.ServiceAttributeID)]">@att.ServiceAttribute</li>
            }
        }
    </ul>    
}
@helper printStartRating(dynamic posrow, string index, string rate){
    var id = "ProviderProfileRating" + index + ":" + posrow["PositionID"];
    var n = "rating" + index;
    switch(index){
        default:
            <label>@n</label>
            break;
        case "1":
            <label>Proffesionalism</label>
            break;
        case "2":
            <label>Quality-of-work</label>
            break;
        case "3":
            <label>Efficiency</label>
            break;
    }
    @RenderPage(UrlUtil.LangPath + "Reviews/_StarRating.cshtml", new String[] { id, rate, "true" });
}
@helper printRating(dynamic posrow){
    <ul class="review-ratings" style="clear:both">
        @{
            for(var s=1; s < 4; s++){
                var rate = posrow["Rating" + s.ToString()] ?? 0;
                <li>
                    @printStartRating(posrow, s.ToString(), rate.ToString())
                </li>
            }
        }
    </ul>
    <span class="note">*based on @posrow["Hours"] hours of work</span>
}
<p class="profile-intro">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>
@CommonHelpers.SetupStarRatingPlugin()
<div class="star-ratings">
    <!-- Temporary static code -->
    <ul>
        <li class="professionalism">
            <span class="rate"></span>Professionalism
        </li>
        <li class="quality">
            <span class="rate"></span>Quality-of-work
        </li>
        <li class="efficiency">
            <span class="rate"></span>Efficiency
        </li>
    </ul>
    <span class="note">*based on 156 hours of work</span>
    @*printRating(posRatings)*@
</div>
<div class="featured-review review have-view-more">
    <h6>Review from <span class="reviewer-name">Joshua D.</span> (<span class="reviewer-date">27-jul-2011</span>):</h6>
    <img alt="Reviewer photo" class="reviewer-photo" width="50px" height="50px" src="@Href(UrlUtil.AppPath + "img/eg-profile-pic.jpg")"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc.</p>
    <a href="#" class="view-more">More reviews</a>
</div>

<div class="service-attribute-category two-columns">
    <div class="have-view-more">
        <h5>Service regularly included:</h5>
        <a class="button view-more" href="#">More</a>
        @*<ul>
            @printTestAttributes("1")
        </ul>*@
        @printAttributes(servicesId, services)
        <a class="view-more" href="#">View more</a>
    </div>
    <div class="service-attribute-category2 have-view-more">
        <h5>Services upon request:</h5>
        <a class="button view-more" href="#">More</a>
        @*<ul>
            @printTestAttributes("2")
        </ul>*@
        @printAttributes(serviceswithfeesId, serviceswithfees)
        <a class="view-more" href="#">View more</a>
    </div>
    @*<div class="service-attribute-category3 have-view-more">
        <h5>Service regularly included:</h5>
        <a class="button view-more" href="#">More</a>
        <ul>
            @printTestAttributes("3")
        </ul>
        <a class="view-more" href="#">View more</a>
    </div>*@
</div>
