@using WebMatrix.Data;
@{
    var p = DashboardFunctions.GetRequestedUserRow();
    var pos = PageData["position"];
    
    var dataCats = LcData.GetServiceCatsAndItsAttributes(pos.PositionID, "only-special-cats", pos.UserID);
    
    var hourlyRate = 0M;
    var minimumBookingTime = 0M;
    using (var db = Database.Open("sqlloco")){
        // Get hourly rate
        hourlyRate = db.QueryValue(@"
            SELECT  HourlyRate
            FROM    ProviderHourlyRate
            WHERE   UserID = @0
                        AND
                    PositionID = @1
                        AND
                    ClientTypeID = @2
        ", p.UserID, pos.PositionID, 1) ?? 0;
        // TODO: ClientTypeID must NOT BE static! (but still is not defined how will work :(
        minimumBookingTime = db.QueryValue(@"
            SELECT  MinTime
            FROM    CalendarProviderAttributes
            WHERE   UserID = @0
        ", p.UserID);
    }
}
@helper printAttList(dynamic cat){
    <ul>
        @foreach (var att in cat["ServiceAttributes"]) {
            if (att.UserChecked) {
            <li title="@att["ServiceAttribute"]" data-description="@att["ServiceAttributeDescription"]">@att["ServiceAttribute"]</li>
            }
        }
    </ul>
}
@helper printCatTitle(dynamic cat){
    <h5 title="@cat["ServiceAttributeCategoryName"]" data-description="@cat["ServiceAttributeCategoryDescription"]">
        @cat["ServiceAttributeCategoryName"]
    </h5>
}
            <div class="position-summary">
                <div class="actions book">
                    <a class="button book" href="@Href(UrlUtil.LangPath + "Booking/?providerid=" + p.UserID + "&positionid=" + pos.PositionID)">Book now</a>
                </div>
                <span class="hour-price"><span class="price">$@hourlyRate</span>/h</span>
                <!--Updated 30/03/2012 by manfontan Added a href to the Pricing Wizard page TODO: Front End tech review-->
                <a class="calculate-price" href="@(UrlUtil.LangPath)PricingWizard/">Calculate for your needs</a>
                
                <div class="provider-features-lists">
                    @if (dataCats.ContainsKey(LcData.ServiceAttCatIDExperienceLevel) && dataCats[LcData.ServiceAttCatIDExperienceLevel]["ServiceAttributes"].Count > 0)
                    {
                        var cat = dataCats[LcData.ServiceAttCatIDExperienceLevel];
                        <div class="experience-level">
                            @printCatTitle(cat)
                            <a class="button view-more" href="#">More</a>
                            @printAttList(cat)
                        </div>
                    }
                    @if (dataCats.ContainsKey(LcData.ServiceAttCatIDExperience) && dataCats[LcData.ServiceAttCatIDExperience]["ServiceAttributes"].Count > 0)
                    {
                        var cat = dataCats[LcData.ServiceAttCatIDExperience];
                        <div class="years-experience">
                            @printCatTitle(cat)
                            <a class="button view-more" href="#">More</a>
                            @printAttList(cat)
                        </div>
                    }
                    @if (minimumBookingTime > 0)
                    {
                    <div class="min-booing-time">
                        <h5>Minimum booking time:</h5>
                        <a class="button view-more" href="#">More</a>
                        <ul><li>
                            @(minimumBookingTime) @(minimumBookingTime == 1 ? "hour" : "hours")
                            </li></ul>
                    </div>
                    }
                    @if (dataCats.ContainsKey(LcData.ServiceAttCatIDClientTypes) && dataCats[LcData.ServiceAttCatIDClientTypes]["ServiceAttributes"].Count > 0)
                    {
                        var cat = dataCats[LcData.ServiceAttCatIDClientTypes];
                        <div class="client-types">
                            @printCatTitle(cat)
                            <a class="button view-more" href="#">More</a>
                            @printAttList(cat)
                        </div>
                    }
                    @if (dataCats.ContainsKey(LcData.ServiceAttCatIDLanguages) && dataCats[LcData.ServiceAttCatIDLanguages]["ServiceAttributes"].Count > 0)
                    {
                        var cat = dataCats[LcData.ServiceAttCatIDLanguages];
                        <div class="languages-spoken">
                            @printCatTitle(cat)
                            <a class="button view-more" href="#">More</a>
                            @printAttList(cat)
                        </div>
                    }
                </div>
            </div>
