@using WebMatrix.Data;
@{
    // Current provider data record:
    var p = DashboardFunctions.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];
    // Current position number/index
    var n = pos.PositionID;
    
    dynamic posRatings;
    var dataCats = LcData.GetServiceCatsAndItsAttributes(pos.PositionID, "without-special-cats", pos.UserID);
    
    using (var db = Database.Open("sqlloco")) {
        posRatings = db.QuerySingle(@"
            SELECT	@0 As ProviderUserID, @1 As PositionID,
                    avg(Rating1) As Rating1,
		            avg(Rating2) As Rating2,
		            avg(Rating3) As Rating3,
                    123 As Hours
            FROM	UserReviews
            WHERE	ProviderUserID = @0
		             AND
		            PositionID = @1
        ", p["UserID"], pos["PositionID"]);
    }
}
@helper printAttributes(int catId, dynamic atts){
    <ul>
        @foreach(var att in atts){
            if (att.UserChecked) {
                <li title="@att["ServiceAttribute"]" data-description="@att["ServiceAttributeDescription"]" class="positionservices-category[@(catId)]-attribute[@(att.ServiceAttributeID)]">@att.ServiceAttribute</li>
            }
        }
    </ul>
}
<p class="profile-intro">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>
@CommonHelpers.SetupStarRatingPlugin()
@RenderPage(UrlUtil.LangPath + "Reviews/$UserRatingSummaryWidget.cshtml", new { ReviewedID = p.UserID, PositionID = pos.PositionID })
@RenderPage(UrlUtil.LangPath + "Reviews/$FeaturedReview.cshtml", new { ReviewedID = p.UserID, PositionID = pos.PositionID })

<div class="service-attribute-category two-columns">

    <div class="service-attribute-categories">
        @foreach (var cat in dataCats)
        {
            if (cat.Value["ServiceAttributes"].Count > 0)
            {
                <div class="have-view-more">
                    <h5 data-description="@cat.Value["ServiceAttributeCategoryDescription"]" title="@cat.Value["ServiceAttributeCategoryName"]">@cat.Value["ServiceAttributeCategoryName"]:</h5>
                    @if(!String.IsNullOrEmpty(cat.Value["ServiceAttributeCategoryDescription"])){<a class="tooltip-button button view-more" href="#" data-description="@cat.Value["ServiceAttributeCategoryDescription"]" title="@cat.Value["ServiceAttributeCategoryName"]">More</a>}
                    @printAttributes(cat.Key, cat.Value["ServiceAttributes"])
                    <!--<a class="view-more" href="#">View more</a>-->
                </div>
            }
        }
    </div>
</div>
