@{     
    Layout = "../_SiteLayout.cshtml";

    int providerid = PageData["providerid"] = (int)ProfileFunctions.GetRequiredParam<int>("ProviderId");
    int positionid = PageData["positionid"] = (int)ProfileFunctions.GetRequiredParam<int>("PositionID");
    // var Service, string ServiceType, string position
    
    var providerrow = PageData["providerrow"] = ProfileFunctions.GetProfileRow(providerid);
    //var posrows = PageData["posrows"] = ProfileFunctions.GetPositionRow(providerid, positionid);
    var posrows = PageData["posrows"] = DashboardFunctions.GetUserPos(providerid);
    
    Page.Title = PageData["providerrow"].Name;
    Scripts.Add("~/Scripts/Profile.js");
}
@helper printFriend(string name, string photo){
    if (String.IsNullOrEmpty(photo)){ photo = "generic-friend-avatar.png";}
    /* Between LI and A elements must not have white spaces */
    <li><a href="@Href("~/en_US/profile?user=" + name)"><img alt="@name" src="@Href("~/img/" + photo)"/></a></li>
}

<div id="container" class="profile clearfix">
    <div id="main" class="tabbed folders">

	    <div id="profileHeader" class="clearfix">
            <img alt="Photo" class="profile-pic" src="@Href("~/" + providerrow.Photo)"/>
            <h1 class="profile-name">@providerrow.Name</h1>
		    
		    <p class="profile-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. Ut vel nisl vel augue cursus viverra vitae sed lectus. Nunc varius vehicula felis, in tincidunt lorem venenatis mattis. Praesent vehicula justo quis justo laoreet et fringilla nibh iaculis. 
            </p>
            <ul id="verifications">
                <li class="license">Professional license</li>
                <li class="verification">Customer-reviewed</li>
                <li class="verification">Background checked</li>
                <li class="verification">Address verified</li>
                <li class="verification">SSN verified</li>
            </ul>
            <ul class="social-networking">
                <li class="facebook">
                    <script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                    <fb:like href="@Request.Url.PathAndQuery" send="true" layout="button_count" width="100" show_faces="true" font=""></fb:like>
                </li><!-- facebook -->
                <li class="linkedin">
                    <script src="https://platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/Share" data-url="@Request.Url.PathAndQuery" data-counter="right"></script>
                </li><!-- linkedin -->
                <li>
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                        { lang: 'en' }
                    </script>
                    <g:plusone size="medium" href="@Request.Url.PathAndQuery"></g:plusone>
                </li><!-- google -->
                <li>
                    <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform0.twitter.com/widgets/tweet_button.html" class="twitter-share-button twitter-count-horizontal" style="width: 110px; height: 20px;" title="Twitter For Websites: Tweet Button"></iframe>
                </li><!-- twitter -->
            </ul>
            <div class="social-connections">
                <ul>
                    @printFriend("Fernando", null)
                    @printFriend("Joshua", null)
                    @printFriend("Fernando", null)
                    @printFriend("Joshua", null)
                    @printFriend("Fernando", null)
                </ul>
                <span class="friends"><span class="quantity">14</span> of your friends have used this provider's services</span>
            </div>
	    </div><!-- #profileHeader -->
        
		<ul class="tabs">
            @{
                var n = 0;
                foreach(var c in PageData["posrows"]){
                    n++;
                    var cls = (c.PositionID == positionid ? "current" : "");
                    <li class="@cls"><a class="@cls" href="@("#position"+n)">@c.PositionSingular</a></li>
                }
            }
		</ul><!-- .tabs -->
        
        @{
            n = 0;
            foreach(var position in PageData["posrows"]){
                n++;
               var cls = (position.PositionID == positionid ? "current" : "");
                PageData["position"] = position;
                PageData["npos"] = n;
        <div id="@("position"+n)" class="tab-body fancy tabbed buttons @cls position-tab">
            
            @RenderPage("_PositionSummary.cshtml")
            
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="@("#position"+n)-overview">Overview</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-reviews">Reviews</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-mywork">My Work</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-map">Map</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-availability">Availability</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-verifications">Verifications</a></li>
                <li><a class="button profile fanciful" href="@("#position"+n)-message">Message</a></li>
            </ul>
            
            <div id="@("position"+n)-overview" class="tab-body current overview">
                @RenderPage("_Overview.cshtml")
            </div><!-- #@("position"+n)-overview -->
            <div id="@("position"+n)-reviews" class="tab-body reviews">
                @RenderPage("_Reviews.cshtml")
            </div><!-- #@("position"+n)-reviews -->
            <div id="@("position"+n)-mywork" class="tab-body mywork">
                @RenderPage("_MyWork.cshtml")
            </div><!-- #@("position"+n)-mywork -->
            <div id="@("position"+n)-map" class="tab-body map">
                @RenderPage("_Map.cshtml")
            </div><!-- #@("position"+n)-map -->
            <div id="@("position"+n)-availability" class="tab-body availability">
                @RenderPage("_Availability.cshtml")
            </div><!-- #@("position"+n)-availability -->
            <div id="@("position"+n)-verifications" class="tab-body verifications">
                @RenderPage("_Verifications.cshtml")
            </div><!-- #@("position"+n)-verifications -->
            <div id="@("position"+n)-message" class="tab-body message">
                @RenderPage("_Message.cshtml")
            </div><!-- #@("position"+n)-message -->
            
            <!-- TODO Remove this element, without break the position-summary -->
            <div class="clearfix"></div>
            
        </div><!-- #position@n -->
            }
        }
        
    </div>
    
    @{ /*   "Taking out search box in profile" 
            @RenderPage("Profile/_SearchInProfile.cshtml") */   }
    
</div>