@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.LangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Recommendation";
    
    var customerID = Request["CustomerUserID"].AsInt();
    var customer = DashboardFunctions.GetUserRow(customerID);
    var providerID = Request["ProviderUserID"].AsInt();
    var provider = DashboardFunctions.GetUserRow(providerID);
    var position = DashboardFunctions.GetUserPos(providerID, Request["PositionID"].AsInt());
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Recommendation";
    // Create URL:
    PageData["viewOnSiteUrl"] = UrlUtil.LangUrl + "Profile/?UserID=" + providerID.ToString();
}
<div>
    Your friend @customer.FirstName @customer.LastName recommends you book @LcHelpers.GetUserDisplayName(provider)
    as a @position.PositionSingular at <a href="@UrlUtil.LangUrl">Loconomics.com</a>
    <a href="@PageData["viewOnSiteUrl"]">View @provider.FirstName full profile</a>

    @RenderPage(UrlUtil.LangPath + "Email/$EmailUserInfoWidget.cshtml", new Dictionary<string, object>{ 
        {"AddContainerStyle", LcEmailTemplateHelper.StyleMessageSection()},        
        {"Data", provider},
        {"DataPrefix", ""},
        {"Size", "medium"},
        {"UserType", "provider"},
        {"WithContactData", true},
        {"WithGoogleMap", false}
    })
</div>