@{
    var booking = PageData["BookingData"];
    var myUserType = PageData["MyUserType"];
}
<div class="w-BookingRequestedTimes">
    @if (booking.BookingRequestStatusID == 2 && myUserType == LcData.UserInfo.UserType.Provider)
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>First choice:</h5>
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(booking.BookingRequestID)&ConfirmedDateType=preferred&@(PageData["autologinQuery"])">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </a>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Second choice:</h5>
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(booking.BookingRequestID)&ConfirmedDateType=alternative1&@(PageData["autologinQuery"])">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </a>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Third choice:</h5>
            <a class="button-confirm-datetime" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #99C027;" href="@(LcUrl.LangUrl)Booking/$ConfirmBookingRequest/?BookingRequestID=@(booking.BookingRequestID)&ConfirmedDateType=alternative2&@(PageData["autologinQuery"])">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.AlternativeDate2Start, booking.AlternativeDate2End)
            </a>
        }

        @* TODO Still not implemented the feature 'propose new times'
        <h5 class="w-BookingRequestedTimes-optionTitle">Propose new times</h5>
        <button type="button" class="action booking-request-action propose-booking-times-action" data-booking-request-id="@booking.BookingRequestID">
            Click here to propose new times to Joshua.
        </button>*@
        
        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Decline booking</h5>
        <a class="button-decline-booking" style="@LcEmailTemplateHelper.StyleButton();padding:.1em 1em;margin:.2em 0;background: #e95d0f;" href="@(LcUrl.LangUrl)Booking/$DeclineBookingRequest/?BookingRequestID=@(booking.BookingRequestID)&@(PageData["autologinQuery"])">
            Decline booking
        </a>
    }
    else
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>First choice:</h5>
            <div>
                @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </div>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Second choice:</h5>
            <div>
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </div>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Third choice:</h5>
            <div>
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate2Start, booking.AlternativeDate2End)
            </div>
        }
    }
</div>