@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";
    Page.Title = "Thanks For Signing Up To Loconomics!";
    
    var thisUserID = Request["UserID"].AsInt();
    var thisUser = LcData.UserInfo.GetUserRow(thisUserID);
    
    var confirmationURL = Request["ConfirmationURL"];
    var confirmationToken = Request["ConfirmationToken"];
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Welcome to a new kind of marketplace";
    // Create URL:
    PageData["viewOnSiteUrl"] = confirmationURL;
}

<div>
    @*<h3 @LcEmailTemplateHelper.StyleH3()>Welcome to a new kind of marketplace</h3>*@
    <p @LcEmailTemplateHelper.StyleResetP()>Welcome in!<br><br></p>

    @if (!String.IsNullOrEmpty(confirmationURL))
    {
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>We’re glad you’re a part of our ever-growing community. To activate your profile, you'll need to verify your account by clicking the green button below:</p>
    </div>
    } 
    <div>
        @if (String.IsNullOrEmpty(confirmationURL))
        {
            <a href="@PageData["viewOnSiteUrl"]" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Go to my dashboard</a>
        }
        else
        {
            <a href="@confirmationURL" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Verify my account</a>
        }
    </div>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>We also welcome you to upload a photo and fill out a short bio on you profile to let service providers know who they're going to be working with. Only service providers you request bookings from will see this information.<br><br></p>
    </div>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>Alternatively, copy and paste the following link into your browser to verify your account: @confirmationURL</p>
        @if (!String.IsNullOrEmpty(confirmationToken)) {
        <p>Or go to <a href="@(LcUrl.LangUrl)Account/Confirm/">@(LcUrl.LangUrl)Account/Confirm/</a> and input
        the confirmation code: @confirmationToken </p>
        }
    </div>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>At your service,<br><br>The Loconomics Team</p>
    </div>

    <h4 @LcEmailTemplateHelper.StyleH4()>Reminders</h4>

    <div style="@LcEmailTemplateHelper.StyleMessageSection()">
        <ol @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>We’re always available at support@loconomics.com to help answer any questions or address feedback. </li>
            <li>Keep your Loconomics password private!</li>
        </ol>
    </div>
</div>