@*
    Presentation page at provider dashboard of different pricing types available for a specific position (PositionID),
    with options to add a new from that opening the edit form or edit/delete one from the full list of pricing packages
    that provider has created.
*@
@using WebMatrix.Data;
@{
    int positionID = PageData["PositionID"];
    // TODO Get clienttypeid and do something with clienttypeid -- not still defined how clienttype must work and how must be get
    var clienttypeid = PageData["ClientTypeID"] ?? 1;
    var pricingTypes = PageData["PricingTypes"] ?? LcData.GetPositionPricingTypes(positionID, clienttypeid);
    var p = LcData.UserInfo.GetUserRow();
    var data = LcData.GetPricingPackagesByProviderPosition(p.UserID, positionID);
    var idprefix = PageData["idprefix"] ?? "position" + positionID.ToString() + "-pricingwizard-packages";
    var datacontext = "pricing-" + positionID.ToString();
}
<div class="@PageData["PricingWizardClasses"] crudl package-pricing-type provider-pricing-types" data-crudl-context="@(datacontext)" data-crudl-item-id-parameter="ProviderPackageID" data-crudl-extra-query="PositionID=@positionID">

  @if (pricingTypes != null && pricingTypes.Count > 0)
  {

    <div class="crudl-editor edit-panel" data-source-url="@(LcUrl.LangPath)PricingWizard/$PackageBaseEdit/"></div>
    <div class="crudl-viewer pricing-types-list">
        <div class="lc-ressources">
            <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
            <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
        </div>
        @* List of pricing types, description and 'add' option *@
        <h2 class="section-title">Add pricing</h2>
        <div class="pricing-types-list clearfix">
            @foreach (var pricingType in pricingTypes)
            {
                var config = LcPricingModel.PackageBasePricingTypeConfigs[(int)pricingType.PricingTypeID];
                <div class="pricing-type-box">
                    <a class="add-package-action crudl-create" data-crudl-extra-query="PricingTypeID=@(pricingType.PricingTypeID)" href="#add-@config.SlugName"><h5 class="pricing-type-title">@config.AddNewLabel</h5></a>
                    <p class="pricing-type-description">@config.ProviderDescription</p>
                </div>
            }
        </div>
        <h2 class="section-title">My pricing</h2>
        @foreach (var pricingType in pricingTypes)
        {
            var config = LcPricingModel.PackageBasePricingTypeConfigs[(int)pricingType.PricingTypeID];
            <div class="pricing-type-packages-list" data-crudl-extra-query="PricingTypeID=@(pricingType.PricingTypeID)">
                @* Title and additional button not wanted now #190:
                <div class="add-item crudl-create actions">
                    <a class="add-package-action" href="#add-@config.SlugName">Add another @config.SingularName</a>
                </div>
                <h3 class="packages-list-title">Your @config.PluralName:</h3>
                *@
                <div class="your-packages crudl-list pricing-type-@config.SlugName" data-source-url="@(LcUrl.LangPath)PricingWizard/$PricingList/?PositionID=@(positionID)&Editable=true&PricingTypeID=@(pricingType.PricingTypeID)">
                    @RenderPage("$PricingList.cshtml", new { Data = data, Editable = true, PricingTypeID = pricingType.PricingTypeID, ProviderUserID = p.UserID })
                </div>
            </div>
        }
    </div>

  }
  else
  {
    <p>We're currently researching how best to calculate pricing estimates for this position.  We'd love to get your input; please <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">send us a note</a>.</p>
  }
</div>
<script type="text/javascript">
    jQuery(function ($) {
        LC.initCrudl();
    });
</script>