@* It shows the full Todos list and other registered 'To-dos' in the Dashboard Summary format.
*@
@{
    LcHelpers.SecurePage();
    
    // Load alerts:
    dynamic todos = PageData["Data"] ?? LcData.GetActiveUserAlerts(WebSecurity.CurrentUserId);
    
    // NOTE: Section IDs just to link from alerts and other places, not for styling/scripting
}
@if (todos != null && todos.Count > 0)
{
<div id="DashboardTodosSummary" class="DashboardSection-page-section DashboardTodos">
    <h2 class="DashboardSection-page-section-header">To-do</h2>
    <div class="DashboardTodos-summary DashboarSummary-group">
        <div class="DashboardTodos-summary-list DashboardSummary-group-content">
        @{
            // We need show the results in groups based on AlerType fields
            // We already get the data sorted by AlertTypeName, we implement
            // the group-by here in the view generation instead of do a 
            // database call for groups and other for each group alerts.
            // Simply remember last AlertTypeName and compare, when changed the new
            // group header must be showed
            var lastAlertType = "";
            foreach (var alert in todos)
            {
                // Check AlerType for grouping
                var changed = lastAlertType != alert.AlertTypeName;
                if (changed)
                {
                    // Close any previous list, except for the first iteration
                    if (lastAlertType != "" && changed)
                    {
                        @Html.Raw("</ul>")
                    }
                    <h3 class="DashboardSummary-group-listHeader">@alert.AlertTypeName</h3>
                    // Open list:
                    @Html.Raw("<ul class='DashboardSummary-group-list'>")
                }
                lastAlertType = alert.AlertTypeName;

                string completeUrl = LcData.CreateAlertURL(alert);
                <li class="@(alert.Required ? "is-required" : "")">
                    @if (completeUrl != null)
                    {
                        <a class="alert-info" href="@completeUrl">@alert.AlertHeadlineDisplay</a>
                    }
                    else
                    {
                        <span>@alert.AlertHeadlineDisplay</span>
                    }
                    @if (alert.PositionSpecific)
                    {
                        <span class="DashboardTodos-summary-list-position">to your @(alert.PositionSingular) profile</span>
                    }
                    @* Dismiss feature #243, only for non required alerts *@
                    @if (!alert.Required) {
                        <a title="dismiss this to-do" class="has-tooltip DashboardTodos-summary-list-dismiss" href="@(LcUrl.LangPath)dashboard/todos/dismiss/@(alert.AlertID)/@(alert.PositionID)/">X</a>
                    }
                </li>
            }
        }

        </div>
    </div>
</div>
}