@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "About Loconomics";
    PageData["ShowWelcomePopup"] = false;
    string section = UrlData[0] != null ? UrlData[0].ToUpper() : "";
    
}

      <div id="container" class="clearfix editable helpcenter">
        @if (section == "PRIVACYPOLICY")
        {
            @RenderPage("HelpCenter/$PrivacyPolicy.cshtml")
        }
        else if (section == "TERMSOFUSE")
        {
            @RenderPage("HelpCenter/$TermsOfUse.cshtml")
        }
        else if (section == "BYLAWS")
        {
            @RenderPage("HelpCenter/$Bylaws.cshtml")
        }
        else if (section == "BOARDNOMINATIONFORM")
        {
            @RenderPage("HelpCenter/$BoardNominationForm.cshtml")
        }
        else if (section == "OWNERACKNOWLEDGMENT")
        {
            @RenderPage("HelpCenter/$OwnerAcknowledgment.cshtml")
        }
        else
        {
        <div id="main" class="tabbed folders">
		    <h1 class="withsub cushycms">A different kind of marketplace</h1>
            <p class="subh1 cushycms">We want you to feel at home</p>
        
		    <ul class="tabs autofill-submenu-items">
			    <li class="current"><a href="#about" class="cushycms">About</a></li>
            </ul>
        
		    <div id="about" class="tab-body fancy current">
		        <p>Loconomics is changing the way local business is done. We link people in need of a service with experienced, individual providers. By partnering with local folks, we help them bring more business to their door. At the same time, we want customers to feel like they’re in safe and trusted hands. We let them review their experiences, search, and book new appointments. Our site transforms the marketplace so that it’s about people, not just goods. Using Loconomics means tapping into a huge community of skilled individuals who take pride in their work. 
		        </p>
		        <p><strong>We believe:</strong></p>
		        <ul>
			        <li>Anyone can be self-employed.</li>
			        <li>With a little help, any animal trainer or plumber can find specific customers in need of an obedient dog or a working sink.</li>
		        </ul>
		        <p>And they should. By connecting directly to local people, they spread the word about their certifications, experience, neighborhoods served, and services offered. We’ve got their back, too, with tools like appointment calendars to keep their head in the game.
		        </p>
		        <p>Ultimately, customers feel safe and happy dealing with local professionals rather than large agencies and mysterious middlemen. The people are out there who can give you a great massage, assemble your shed, wash your windows, care for your children, and finally fix your grandfather’s old watch (though probably not all at the same time). With Loconomics, these people are not only easy to find, they’re guaranteed to be great, thanks to customer reviews.
		        </p>
		        <p>Loconomics empowers both the customer and the service provider. We believe in local business and the individual people behind it. 
		        </p>
		    </div><!-- #about -->

        
        </div><!-- #main -->
        }
      </div><!-- #container -->
