@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    CommonHelpers.SecurePage();

    var termsofuse = Request.Form["termsofuse"];
    var termsofuse1 = Request.Form["termsofuse1"];
    var termsofuse2 = Request.Form["termsofuse2"];
    var termsofuse3 = Request.Form["termsofuse3"];
    var termsofuse4 = Request.Form["termsofuse4"];
    var termsofuse5 = Request.Form["termsofuse5"];
    var ppolicy = Request.Form["ppolicy"];
        
    if (IsPost && Validation.IsValid()) {
        using (var db = Database.Open("sqlloco")) {
            db.Execute(@"
                UPDATE users
                SET     IAgreeTerms = @1,
                        TermsOfUse1 = @2,
                        TermsOfUse2 = @3,
                        TermsOfUse3 = @4,
                        TermsOfUse4 = @5,
                        TermsOfUse5 = @6,
                        PPolicy = @7,
                        UpdatedDate=getdate(), ModifiedBy='sys'
                WHERE   UserID = @0
                -- Check Alerts:
                EXEC TestAlertProviderLogin @0
            ", WebSecurity.CurrentUserId,
                termsofuse.AsBool() ? 1 : 0,
                termsofuse1.AsBool() ? 1 : 0,
                termsofuse2.AsBool() ? 1 : 0,
                termsofuse3.AsBool() ? 1 : 0,
                termsofuse4.AsBool() ? 1 : 0,
                termsofuse5.AsBool() ? 1 : 0,
                ppolicy.AsBool() ? 1 : 0);
        }
        
        CommonHelpers.ReturnJsonResult(1, UrlUtil.LangPath + "Dashboard/Account/#account-personal");
    }
    
    var idprefix = "account-terms";
    dynamic data = null;
    using (var db = Database.Open("sqlloco")){
        data = db.QuerySingle(@"
            SELECT  *
            FROM    Users
            WHERE   UserID = @0
        ", WebSecurity.CurrentUserId);
    }
}
<p class="setting-instructions">
    You must agree all terms and privacy policy to get enabled your Provider account.
</p>
<div>
<form method="post" action="@(UrlUtil.LangPath)Dashboard/$AccountTerms/" id="providerterms" class="ajax ajax-box">
    @CommonHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset class="legal-agreement">
        <legend>We’re all in this together--please read these carefully!</legend>
        <ul>
            <li class="view-terms-of-use">
                <div class="stronger">Terms of use--this is how we will work together (view in separate window)
                 <div class="short-legal-terms">This User Agreement contains the terms on which Loconomics, Inc. (“Loconomics”) offers you access to the loconomics.com site (the “Marketplace”) and various services provided by Loconomics or third parties.
                 Click to see full Agreement.</div>
                 </div>
             </li>
             <li>
                <label><input type="checkbox" @Validation.GetHtml("termsofuse") @CommonHelpers.IsChecked(Request["termsofuse"] ?? (data.IAgreeTerms == null ? "False" : data.IAgreeTerms.ToString()), "True") name="termsofuse" id="termsofuse" value="True"/>I have read and understand the <a class="view-privacy-policy" target="_blank" href="@(UrlUtil.LangPath)About/TermsOfUse/">terms of use</a></label>
                @Html.ValidationMessage("termsofuse")
             </li>
             <li>
                 <strong>Specifically, I understand and agree to the following:</strong>
                 <ul>
                     <li>
                        <label><input type="checkbox" @Validation.GetHtml("termsofuse1") @CommonHelpers.IsChecked(Request["termsofuse1"] ?? (data.TermsOfUse1 == null ? "False" : data.TermsOfUse1.ToString()), "True") name="termsofuse1" id="termsofuse1" value="True"/>I personally will provide the services listed on my profile</label>
                        @Html.ValidationMessage("termsofuse1")
                     </li>
                     <li>
                        <label><input type="checkbox" @Validation.GetHtml("termsofuse2") @CommonHelpers.IsChecked(Request["termsofuse2"] ?? (data.TermsOfUse2 == null ? "False" : data.TermsOfUse2.ToString()), "True") name="termsofuse2" id="termsofuse2" value="True"/>I am not employed by an agency or employer for services booked using my profile</label>
                        @Html.ValidationMessage("termsofuse2")
                     </li>
                     <li>
                        <label><input type="checkbox" @Validation.GetHtml("termsofuse3") @CommonHelpers.IsChecked(Request["termsofuse3"] ?? (data.TermsOfUse3 == null ? "False" : data.TermsOfUse3.ToString()), "True") name="termsofuse3" id="termsofuse3" value="True"/>I am legally authorized to perform the services listed on my profile and possess any required licenses</label>
                        @Html.ValidationMessage("termsofuse3")
                     </li>
                     <li>
                        <label><input type="checkbox" @Validation.GetHtml("termsofuse4") @CommonHelpers.IsChecked(Request["termsofuse4"] ?? (data.TermsOfUse4 == null ? "False" : data.TermsOfUse4.ToString()), "True") name="termsofuse4" id="termsofuse4" value="True"/>I will not engage in any unlawful or inappropriate activity while performing services for Loconomics Customers</label>
                        @Html.ValidationMessage("termsofuse4")
                     </li>
                     <li>
                        <label><input type="checkbox" @Validation.GetHtml("termsofuse5") @CommonHelpers.IsChecked(Request["termsofuse5"] ?? (data.TermsOfUse5 == null ? "False" : data.TermsOfUse5.ToString()), "True") name="termsofuse5" id="termsofuse5" value="True"/>I will take the necessary safety precautions when meeting clients to ensure both their and my own safety</label>
                        @Html.ValidationMessage("termsofuse5")
                     </li>
                 </ul>
             </li>
             <li class="view-privacy-policy">
                 <div class="stronger">Privacy policy--we want you to feel comfortable with how we use your data (view in separate window)
                 <div class="short-legal-terms">Loconomics is committed to protecting the privacy of your personal information. We recognize that privacy is of utmost importance.  This Privacy Policy explains how we collect information from our users, and how we use this information. Please note that any term that is capitalized but not defined in this Privacy Policy is defined in the User Agreement.
                 Click to see full Privacy Policy.</div>
                 </div>
             </li>
             <li>
                <label><input type="checkbox" @Validation.GetHtml("ppolicy") @CommonHelpers.IsChecked(Request["ppolicy"] ?? (data.PPolicy == null ? "False" : data.PPolicy.ToString()), "True") name="ppolicy" id="ppolicy" value="True"/>I have read and understand the <a class="view-privacy-policy" target="_blank" href="@(UrlUtil.LangPath)About/PrivacyPolicy/">privacy policy</a></label>
                @Html.ValidationMessage("ppolicy")
             </li>
         </ul>
     </fieldset>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>
</div>