@{
    CommonHelpers.SecurePage();
   
    PageData["userow"] = DashboardFunctions.GetUserRow();
    PageData["menu-item"] = "admin";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#admin-bookings">Bookings</a></li>
        </ul>

		<div id="admin-bookings" class="tab-body current fancy tabbed buttons clearfix bookings-tab">
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#bookings-maybe-performed">Maybe Performed</a></li>
                <li><a class="button profile fanciful" href="#bookings-dispute">In Dispute</a></li>
                <li><a class="button profile fanciful" href="#bookings-performed">Performed</a></li>
                <li><a class="button profile fanciful" href="#bookings-completed">Completed</a></li>
            </ul>
            
            <div id="bookings-maybe-performed" class="tab-body current" data-source-url="@(UrlUtil.LangPath + "Admin/$AdminBookings/?view=maybe-performed")">
                @RenderPage(UrlUtil.LangPath + "Admin/$AdminBookings.cshtml", new { view = "maybe-performed" })
            </div><!-- #bookings-maybe-performed -->
            <div id="bookings-dispute" class="tab-body" data-source-url="@(UrlUtil.LangPath + "Admin/$AdminBookings/?view=dispute")">
                @*@RenderPage(UrlUtil.LangPath + "Admin/$AdminBookings.cshtml", new { view = "dispute" })*@
            </div><!-- #bookings-dispute -->
            <div id="bookings-performed" class="tab-body" data-source-url="@(UrlUtil.LangPath + "Admin/$AdminBookings/?view=performed")">
                @*@RenderPage(UrlUtil.LangPath + "Admin/$AdminBookings.cshtml", new { view = "performed" })*@
            </div><!-- #bookings-performed -->
            <div id="bookings-completed" class="tab-body" data-source-url="@(UrlUtil.LangPath + "Admin/$AdminBookings/?view=completed")">
                @*@RenderPage(UrlUtil.LangPath + "Admin/$AdminBookings.cshtml", new { view = "completed" })*@
            </div><!-- #bookings-completed -->
		</div><!-- #admin-bookings -->
        <script type="text/javascript">
            $(function () {
                //$('#admin-bookings').on('tabFocused', '.tab-body', function () {
                $('#admin-bookings > .tab-body').on('tabFocused', function () {
                    var $t = $(this);
                    if ($t.children().length == 0)
                        $t.reload();
                });
            });
        </script>