@using WebMatrix.Data;
@{
    var u = DashboardFunctions.GetUserRow();
    // Current position data record:
    var p = DashboardFunctions.GetUserCurrentPos();
    var n = p.PositionID;
    dynamic workLocations = null, travelLocations = null;
    var postedLocations = new Dictionary<string,System.Collections.Specialized.NameValueCollection>();
    var postedRemovedLocs = new List<int>();
    
    if (IsPost) {
        var sqlRemoveLoc = @"
            DELETE FROM ServiceAddress
            WHERE ServiceAddressID = @0

            IF @@ERROR <> 0 BEGIN
                -- Non deletable serviceaddress, because is linked, simply 'unactive'
                UPDATE ServiceAddress SET
                    Active = 0
                WHERE   ServiceAddressID = @0
            END
        ";
        var sqlInsLoc = @"
            INSERT INTO ServiceAddress (
                UserID, PositionID, AddressTypeID, AddressName, AddressLine1, AddressLine2,
                City, StateProvinceID, PostalCodeID, CountryID, 
                ServicesPerformedAtLocation, TravelFromLocation,
                ServiceRadiusFromLocation, TransportType,
                CreatedDate, UpdatedDate, ModifiedBy, Active
            ) VALUES (
                @0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10, @11, @12, @13, getdate(), getdate(), 'sys', 1
            )
        ";
        var sqlUpdLoc = @"
            UPDATE ServiceAddress SET
                NickName = @1,
                AddressLine1 = @2,
                AddressLine2 = @3,
                City = @4,
                StateProvinceID = @5,
                PostalCodeID = @6,
                CountryID = @7,
                ServiceRadiusFromLocation = @8,
                TransportType = @9
            WHERE   ServiceAddressID = @0
        ";
        /*var sqlSetLocationPreferences = @"
            UPDATE ServiceAddress SET
                ServiceRadiusFromLocation = @2,
                TransportType = @3
            WHERE   UserID = @0
                     AND
                    PositionID = @1
                     AND
                    TravelFromLocation = 1
        ";*/
        var removedLocs = Request.Form.GetValues("remove-locations");
        var locs = Request.Form.GetValues("locations");
        using (var db = Database.Open("sqlloco")) {
            if (locs != null) {
                foreach (string loc in locs) {
                    var locdata = HttpUtility.ParseQueryString(loc, System.Text.Encoding.UTF8);
                    var locid = locdata["location-id"].AsInt();
                    bool locerror = false;
                    
                    try{
                        // Validate Postal Code
                        var state = locdata["location-state"].AsInt();
                        var zip = LcData.GetPostalCodeID(locdata["location-zipcode"], state);
                        if (zip == 0) {
                            ModelState.AddFormError("Location '" + locdata["location-name"] + "': Postal Code not valid");
                            locerror = true;
                        } else {
                            if (locid == 0) {
                                // @2 = 12 --others
                                db.Execute(sqlInsLoc,
                                    u.UserID, p.PositionID, 12, 
                                    locdata["location-name"],
                                    locdata["location-addressline1"],
                                    locdata["location-addressline2"],
                                    locdata["location-city"],
                                    state,
                                    zip,
                                    u.CountryID,
                                    locdata["location-type"] == "work" ? 1 : 0,
                                    locdata["location-type"] == "travel" ? 1 : 0,
                                    locdata["location-travel-radius"].AsDecimal(),
                                    locdata["location-travel-transport"].AsInt()
                                );
                            } else {
                                db.Execute(sqlUpdLoc,
                                    locdata["location-id"].AsInt(),
                                    locdata["location-name"],
                                    locdata["location-addressline1"],
                                    locdata["location-addressline2"],
                                    locdata["location-city"],
                                    state,
                                    zip,
                                    u.CountryID,
                                    locdata["location-travel-radius"].AsDecimal(),
                                    locdata["location-travel-transport"].AsInt()
                                );
                            }
                        }
                    }catch (Exception ex){
                        ModelState.AddFormError("There was an error saving the data " + ex.Message);
                        locerror = true;
                    }
                    if (locerror) {
                        // Saving location in an index for post-error recovering
                        locdata.Add("original-posted-value", loc);
                        if (locid > 0) {
                            postedLocations.Add("LOCID" + locid.ToString(), locdata);
                        } else {
                            postedLocations.Add(locdata["location-editor-id"], locdata);
                        }
                    }
                }
            }
            if (removedLocs != null) {
                foreach (string loc in removedLocs) {
                    db.Execute(sqlRemoveLoc, loc);
                    // Saving removed ID for post-error recovering
                    postedRemovedLocs.Add(loc.AsInt());
                }
            }
            
            // Set addresses as Active or not depending on the yes/no buttons
            db.Execute(@"
                UPDATE  ServiceAddress
                SET     Active = @2
                WHERE   UserID = @0
                         AND PositionID = @1
                         AND NickName is not null AND NickName not like ''
                         AND TravelFromLocation = 1
            ", u.UserID, p.PositionID, Request["positionlocations-itravel"].AsBool());
            db.Execute(@"
                UPDATE  ServiceAddress
                SET     Active = @2
                WHERE   UserID = @0
                         AND PositionID = @1
                         AND NickName is not null AND NickName not like ''
                         AND ServicesPerformedAtLocation = 1
            ", u.UserID, p.PositionID, Request["positionlocations-iworkon"].AsBool());
            
            // Save location preferences:
            //var transportTypeId = Request["positionlocations-itravelusing"].AsInt();
            //var travelRadius = Request["positionlocations-maxdistance"];
            //db.Execute(sqlSetLocationPreferences, u.UserID, p.PositionID, travelRadius, transportTypeId);
        }
        
        if (ModelState.IsValid) {
            // To avoid duplications when posting form several times, this needs to be
            // reset after every change posted, return html with a saved message instead json
            //LcHelpers.ReturnJsonResult(0, "Locations saved");
        }
    }

    var sqlGetLocations = @"
        SELECT  L.AddressID
                ,L.UserID
                ,SA.PositionID
                ,L.AddressTypeID
                ,L.AddressName
                ,L.AddressLine1
                ,L.AddressLine2
                ,L.City
                ,L.StateProvinceID
                ,L.PostalCodeID
                ,L.CountryID
                ,L.Latitude
                ,L.Longitude
                ,L.GoogleMapsURL
                ,L.SpecialInstructions

                ,SA.ServicesPerformedAtLocation
                ,SA.TravelFromLocation
                ,SA.ServiceRadiusFromLocation
                ,SA.PreferredAddress                                                                                                                                                                                                                                                

                ,PC.PostalCode
                ,SP.StateProvinceCode
                ,SP.StateProvinceName
                ,TT.TransportTypeID
                ,TT.TransportTypeName
        FROM    Address As L
                 INNER JOIN
                ServiceAddress As SA
                  ON L.AddressID = SA.AddressID
                      AND L.UserID = SA.UserID
                 INNER JOIN
                StateProvince As SP
                  ON L.StateProvinceID = SP.StateProvinceID
                 INNER JOIN
                PostalCode As PC
                  ON PC.PostalCodeID = L.PostalCodeID
                 LEFT JOIN
                TransportType As TT
                  ON TT.TransportTypeID = SA.TransportType
        WHERE   L.UserID = @0
                 AND SA.PositionID = @1
                 -- We get all location, not only active: -- AND Active = 1
                 AND L.AddressName is not null AND L.AddressName not like ''
    ";
    var sqlGetLocationPreferences = @"
        SELECT  TOP 1 ServiceRadiusFromLocation, TransportType
        FROM    ServiceAddress
        WHERE   UserID = @0
                    AND
                PositionID = @1
                    AND
                TravelFromLocation = 1
    ";
    var sqlcondWorkLocations = " AND ServicesPerformedAtLocation = 1";
    var sqlcondTravelLocations = " AND TravelFromLocation = 1";
    var sqlgetTransports = @"
        SELECT *
        FROM    TransportType
        WHERE   Active = 1
    ";
    dynamic transports = null, preferences = null;
    var transportsDictionary = new Dictionary<int, string>();
    using (var db = Database.Open("sqlloco")) {
        workLocations = db.Query(sqlGetLocations + sqlcondWorkLocations, u.UserID, p.PositionID);
        travelLocations = db.Query(sqlGetLocations + sqlcondTravelLocations, u.UserID, p.PositionID);
        transports = db.Query(sqlgetTransports);
        preferences = db.QuerySingle(sqlGetLocationPreferences, u.UserID, p.PositionID);
    }
    foreach (var t in transports){
        transportsDictionary.Add(t.TransportTypeID, t.TransportTypeName);
    }
    var transportType = preferences == null ? "" : preferences.TransportType.ToString();
    var serviceradius = preferences == null ? "" : preferences.ServiceRadiusFromLocation.ToString();
    
    bool itravelActive = false, iworkonActive = false;
    foreach (var l in travelLocations){
        if (l.Active) {
            itravelActive = true;
            break;
        }
    }
    foreach (var l in workLocations){
        if (l.Active) {
            iworkonActive = true;
            break;
        }
    }
}
@helper printDistanceSelect(string selected){
    <select name="location-travel-radius">
        <option @LcHelpers.IsSelected(selected, "1") value="1">1 mile</option>
        <option @LcHelpers.IsSelected(selected, "5") value="5">5 miles</option>
        <option @LcHelpers.IsSelected(selected, "10") value="10">10 miles</option>
        <option @LcHelpers.IsSelected(selected, "25") value="25">25 miles</option>
    </select>
}
@helper printAddress(IDictionary<string, object> addressDetails, IDictionary<int, string> transportsDictionary = null){
    var contId = (string)addressDetails["container-id"];
    var cid = String.IsNullOrWhiteSpace(contId) ? "" : "id='" + contId + "'";
    var transportName = "";
    if (transportsDictionary != null && addressDetails.ContainsKey("travel-transport-id")){
        transportName = transportsDictionary[(int)addressDetails["travel-transport-id"]];
    }
        <div class="address" @Html.Raw(cid) data-location-id="@addressDetails["id"]" data-location-name="@addressDetails["name"]">
            <span class="address-name">@addressDetails["name"]</span>
            <span class="address-line">
                <span class="address-line1">@addressDetails["addressline1"]</span>
                <span class="address-line2">@addressDetails["addressline2"]</span>
            </span>
            <span class="address-city">@addressDetails["city"]</span>
            <span class="address-state">@addressDetails["state"]</span>
            <span class="address-zipcode">@addressDetails["zipcode"]</span>
            @if (transportsDictionary != null) {
            <div class="travel-options">
                <span class="travel-radius-label">Transport radius: <span class="travel-radius">@addressDetails["travel-radius"]</span></span>
                <span class="travel-transport-label">I travel using primarly: <span data-transport-id="@addressDetails["travel-transport-id"]" class="travel-transport">@transportName</span></span>
            </div>
            }
            <div class="tools">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="map">Map</a>
                <a href="#" class="remove">Remove</a>
            </div>
        </div>
}
<p class="setting-instructions">
Let clients know where you'll perform services.  We won't disclose the exact address until after you accept a booking to ensure you and your client's safety.
</p>
<div class="edit-popup-container">
    <form action="@(UrlUtil.LangPath)Dashboard/$PositionsLocations/" method="post" class="positionlocations ajax ajax-box" id="position#@(n)-locations">
        <input type="hidden" name="PositionID" value="@p.PositionID"/>
        @* 
        In javascript will be created hidden elements with location data to be created or updated with name=locations as next example
        <input type="hidden" name="locations" value="location-edit-form data as form-query-string serialized format"/>
        In javascript, will be created hidden elements with location id's to be deleted as next example
        <input type="hidden" name="remove-locations" value="32"/>
        If we are in IsPost, we restore posted values:
         *@
        @foreach (var l in postedLocations)
        {
            <input type="hidden" name="locations" value="@l.Value["original-posted-value"]" id="HIDE-@l.Value["location-editor-id"]" />
        }
        @foreach (var l in postedRemovedLocs)
        {
            <input type="hidden" name="remove-locations" value="@l.ToString()" id="HIDE-REMOVED-LOCATION-@l.ToString()" />
        }
        @LcHelpers.GetValidationScripts()
        @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
        @if (IsPost && ModelState.IsValid)
        {
            <div class="popups">
                <div class="saved info success">Locations saved!</div>
            </div>
        }
        <div class="col col-2 col-2-1">
            <fieldset class="positionlocations-itravel has-confirm locations-set" data-location-type="travel">
                <legend>I travel to clients:</legend>
                <div class="confirm positionlocations-itravel-confirm">
                    <label>Yes<input type="radio" @LcHelpers.IsChecked(true, itravelActive) name="positionlocations-itravel" value="True"/></label>
                    <label>No<input type="radio" @LcHelpers.IsChecked(false, itravelActive) name="positionlocations-itravel" value="False"/></label>
                </div>
                <a href="#" class="addlocation">Add location</a>
                <fieldset class="positionlocations-itravelfrom">
                    <legend>I travel to clients from this location:</legend>
                    <ul class="travel-locations">
                    @foreach (var location in travelLocations)
                    {
                        <li>
                        @* Must be checked the posted data too, to recover data when a post error happen.
                            If there is not posted data, database location is showed.
                         *@
                        @if (!postedRemovedLocs.Contains((int)location.ServiceAddressID))
                        {
                            if (postedLocations.ContainsKey("LOCID" + location.ServiceAddressID.ToString()))
                            {
                                var l = postedLocations["LOCID" + location.ServiceAddressID.ToString()];
                                @printAddress(new Dictionary<string, object>() {
                                    { "container-id", l["location-editor-id"] },
                                    { "id", l["location-id"] },
                                    { "name", l["location-name"] },
                                    { "addressline1", l["location-addressline1"]},
                                    { "addressline2", l["location-addressline2"]},
                                    { "city", l["location-city"] },
                                    { "state", l["location-state-code"] },
                                    { "zipcode", l["location-zipcode"] },
                                    { "travel-radius", l["location-travel-radius"] },
                                    { "travel-transport-id", l["location-travel-transport"] }
                                }, transportsDictionary)
                                postedLocations.Remove("LOCID" + location.ServiceAddressID.ToString());
                            }
                            else
                            {
                                @printAddress(new Dictionary<string, object>() {
                                    { "container-id", "" },
                                    { "id", location.ServiceAddressID },
                                    { "name", location.NickName },
                                    { "addressline1", location.AddressLine1},
                                    { "addressline2", location.AddressLine2},
                                    { "city", location.City },
                                    { "state", location.StateProvinceCode },
                                    { "zipcode", location.PostalCode },
                                    { "travel-radius", location.ServiceRadiusFromLocation },
                                    { "travel-transport-id", location.TransportType }
                                }, transportsDictionary)
                            }
                        }
                        </li>
                    }
                    @foreach (var location in postedLocations)
                    {
                        var l = location.Value;
                        // Only type 'travel' locations
                        if (l["location-type"] == "travel")
                        {
                            <li>
                            @printAddress(new Dictionary<string, object>() {
                                { "container-id", l["location-editor-id"] },
                                { "id", l["location-id"] },
                                { "name", l["location-name"] },
                                { "addressline1", l["location-addressline1"]},
                                { "addressline2", l["location-addressline2"]},
                                { "city", l["location-city"] },
                                { "state", l["location-state-code"] },
                                { "zipcode", l["location-zipcode"] },
                                { "travel-radius", l["location-travel-radius"] },
                                { "travel-transport-id", l["location-travel-transport"] }
                            })
                            </li>
                        }
                    }
                    </ul>
                </fieldset>
            </fieldset>
        </div>
        <div class="col col-2 col-2-2">
            <fieldset class="positionlocations-servicelocations has-confirm locations-set" data-location-type="work">
                <legend>I perform services at specific locations:</legend>
                <div class="positionlocations-servicelocations-confirm confirm">
                    <label>Yes<input @LcHelpers.IsChecked(true, iworkonActive) type="radio" name="positionlocations-iworkon" value="True"/></label>
                    <label>No<input @LcHelpers.IsChecked(false, iworkonActive) type="radio" name="positionlocations-iworkon" value="False"/></label>
                </div>
                <a href="#" class="addlocation">Add location</a>
                <ul class="work-locations">
                    @foreach (var location in workLocations)
                    {
                        <li>
                        @* Must be checked the posted data too, to recover data when a post error happen.
                            If there is not posted data, database location is showed.
                         *@
                        @if (!postedRemovedLocs.Contains((int)location.ServiceAddressID))
                        {
                            if (postedLocations.ContainsKey("LOCID" + location.ServiceAddressID.ToString()))
                            {
                                var l = postedLocations["LOCID" + location.ServiceAddressID.ToString()];
                                @printAddress(new Dictionary<string, object>() {
                                    { "container-id", l["location-editor-id"] },
                                    { "id", l["location-id"] },
                                    { "name", l["location-name"] },
                                    { "addressline1", l["location-addressline1"]},
                                    { "addressline2", l["location-addressline2"]},
                                    { "city", l["location-city"] },
                                    { "state", l["location-state-code"] },
                                    { "zipcode", l["location-zipcode"] }
                                })
                                postedLocations.Remove("LOCID" + location.ServiceAddressID.ToString());
                            }
                            {
                                @printAddress(new Dictionary<string, object>() {
                                   { "container-id", "" },
                                   { "id", location.ServiceAddressID },
                                    { "name", location.NickName },
                                    { "addressline1", location.AddressLine1},
                                    { "addressline2", location.AddressLine2},
                                    { "city", location.City },
                                    { "state", location.StateProvinceCode },
                                    { "zipcode", location.PostalCode }
                                })
                            }
                        }
                        </li>
                    }
                    @foreach (var location in postedLocations)
                    {
                        var l = location.Value;
                        // Only type 'work' locations
                        if (l["location-type"] == "work")
                        {
                            <li>
                            @printAddress(new Dictionary<string, object>() {
                                { "container-id", l["location-editor-id"] },
                                { "id", l["location-id"] },
                                { "name", l["location-name"] },
                                { "addressline1", l["location-addressline1"]},
                                { "addressline2", l["location-addressline2"]},
                                { "city", l["location-city"] },
                                { "state", l["location-state-code"] },
                                { "zipcode", l["location-zipcode"] }
                            })
                            </li>
                        }
                    }
                </ul>
            </fieldset>
        </div>
        <fieldset class="actions">
            <button class="save main-action" type="submit">Save</button>
        </fieldset>
    </form>
    <form action="#" method="post" class="location-edit-form">
        <fieldset class="location-edit-panel edit-popup">
            <div class="readonly-location-base">
                @printAddress(new Dictionary<string, object>() {
                    { "container-id", "" },
                    { "id", 0 },
                    { "name", "" }, 
                    { "addressline1", ""},
                    { "addressline2", ""},
                    { "city", "" }, 
                    { "state", "" },
                    { "zipcode", "" }
                })
            </div>
            <div class="edit-location">
                <input type="hidden" name="location-editor-id" value="" />
                <input type="hidden" name="location-id" value="0" />
                <input type="hidden" name="location-type" value="" />
                <ul class="location-data">
                    <li class="location-name">
                        <label>Name: <input type="text" name="location-name" data-val="true" data-val-required="Location Name is required"/></label>
                        <span data-valmsg-replace="true" data-valmsg-for="location-name" class="field-validation-valid"></span>
                    </li>
                    <li class="location-addressline location-addressline1">
                        <label>Address Line 1: <input type="text" name="location-addressline1" data-val="true" data-val-required="Address Line 1 is required"/></label>
                        <span data-valmsg-replace="true" data-valmsg-for="location-addressline1" class="field-validation-valid"></span>
                    </li>
                    <li class="location-addressline location-addressline2">
                        <label>Address Line 2: <input type="text" name="location-addressline2" /></label>
                    </li>
                    <li class="location-city">
                        <label>City: <input type="text" name="location-city" data-val="true" data-val-required="City is required"/></label>
                        <span data-valmsg-replace="true" data-valmsg-for="location-city" class="field-validation-valid"></span>
                    </li>
                    <li class="location-state">
                        <label>State:
                            <select name="location-state" data-val="true" data-val-required="State is required">
                                @LcHelpers.StateProvinceOptions(0)
                            </select>
                            <input type="hidden" name="location-state-code" />
                            <span data-valmsg-replace="true" data-valmsg-for="location-state" class="field-validation-valid"></span>
                        </label>
                    </li>
                    <li class="location-zipcode">
                        <label>Zip Code: <input type="text" name="location-zipcode" data-val="true" data-val-required="Zip Code is required"/></label>
                        <span data-valmsg-replace="true" data-valmsg-for="location-zipcode" class="field-validation-valid"></span>
                    </li>
                </ul>
                <ul class="travel-options">
                    <li><label>I will travel up to @printDistanceSelect(Request["location-travel-radius"] ?? serviceradius) from this location.</label></li>
                    <li>
                        <span>I travel to jobs using primarily:</span>
                        <ul class="transport-type">
                        @foreach (var t in transports)
                        {
                            <li>
                                <label><input type="radio" @LcHelpers.IsChecked(t.TransportTypeID, Request["location-travel-transport"] ?? transportType) name="location-travel-transport" value="@t.TransportTypeID"/>@t.TransportTypeName</label>
                            </li>
                        }
                        </ul>
                    </li>
                </ul>
                <div class="actions">
                    <button class="button cancel fancy" type="button">Cancel</button>
                    <button class="button save item-action" type="submit">Save location</button>        
                </div>
            </div>
        </fieldset>
    </form>
</div>