@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    var u = LcData.UserInfo.GetUserRow();
    var p = LcData.UserInfo.GetUserCurrentPos();
    var n = p.PositionID;
    
    var redirectURL = LcHelpers.GetRedirectURLFromReferrer("/alerts");
    
    // We need load locations both in Post and Get requests:
    dynamic workLocations = null, travelLocations = null;

    var sqlcondWorkLocations = " AND ServicesPerformedAtLocation = 1";
    var sqlcondTravelLocations = " AND TravelFromLocation = 1";

    using (var db = Database.Open("sqlloco")) {
        workLocations = db.Query(LcData.sqlGetServiceAddresses + sqlcondWorkLocations, u.UserID, p.PositionID,
            LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
        travelLocations = db.Query(LcData.sqlGetServiceAddresses + sqlcondTravelLocations, u.UserID, p.PositionID,
            LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
    }
}
@helper printAddress(string contId, dynamic address){
    var cid = String.IsNullOrWhiteSpace(contId) ? "" : "id='" + contId + "'";

        <div class="address" @Html.Raw(cid) data-location-id="@address.AddressID">
            <span class="address-name">@address.AddressName</span>
            <span class="address-line">
                <span class="address-line1">@address.AddressLine1</span>
                <span class="address-line2">@address.AddressLine2</span>
            </span>
            <span class="address-city">@address.City</span>
            <span class="address-state">@address.StateProvinceCode</span>
            <span class="address-zipcode">@address.PostalCode</span>
            @if (address.TravelFromLocation) {
            <div class="travel-options">
                <span class="travel-radius-label">Transport radius: <span class="travel-radius">@address.ServiceRadiusFromLocation</span></span>
                <span class="travel-transport-label">I travel using primarily: <span class="travel-transport">@address.TransportTypeName</span></span>
            </div>
            }
            <div class="tools">
                <a href="#" class="edit">Edit</a>
                <a href="#" class="delete">Remove</a>
            </div>
        </div>
}
<div class="lc-ressources">
    <div class="confirm-delete-location-message">Are you sure do you want to remove this location?</div>
    <div class="delete-location-loading-message">The location is now removed</div>
</div>
@if (travelLocations.Count == 0 && workLocations.Count == 0) {
    <p class="warning">Please enter at least one location that you travel from or at which you perform services</p>
}
<div class="clearfix">
        <div class="col col-2 col-2-1">
            <div class="positionlocations-itravel locations-set" data-location-use="travel">
                <h4>I travel to clients:</h4>
                @* Issue #86, details. for now, only allow one 'travel from' location for a simpler customer visualization of provider working zones *@
                <div class="actions">
                    <a href="#" class="addlocation @(travelLocations.Count > 0 ? "hidden" : "") action main-action" data-extra-query="itravel=True">Add location</a>
                </div>
                <ul class="travel-locations positionlocations-itravelfrom">
                @foreach (var location in travelLocations)
                {
                    <li>
                        @printAddress(null, location)
                    </li>
                }
                </ul>
            </div>
        </div>
        <div class="col col-2 col-2-2">
            <div class="positionlocations-servicelocations locations-set" data-location-use="work">
                <h4>I perform services at specific locations:</h4>
                <div class="actions">
                    <a href="#" class="addlocation action main-action" data-extra-query="iworkon=True">Add location</a>
                </div>
                <ul class="work-locations">
                    @foreach (var location in workLocations)
                    {
                        <li>
                            @printAddress(null, location)
                        </li>
                    }
                </ul>
            </div>
        </div>
</div>