@using WebMatrix.Data;
@{
    // Current user data
    var u = DashboardFunctions.GetUserRow();
    // Current position data record:
    var p = DashboardFunctions.GetUserCurrentPos();
    var n = p.PositionID;
    // From 0 (sunday) to 6 (saturday), true: is available
    bool[] availDates = new bool[7];
    bool useCalendarProgram = false;
    var programType = "";
    var programURL = "";
    var advanceTime = 0;
    var minTime = 0;
    var maxTime = 0;
    var betweenTime = 0;

    // fullset needed?
    //var varSqlGetAvailTime = "EXEC GetProviderAvailabilityFullSet @0, @1";
    var varSQLGetUserFreeTimeSettings = "EXEC GetUserFreeTimeSettings @0";
    var varSQLGetUserCalendarProviderAttributes = "EXEC GetUserCalendarProviderAttributes @0";
    
    if (!IsPost) {
        dynamic UserFreeTimeSettings = null, atts = null;
        using (var db = Database.Open("sqlloco")) {
            //data = db.Query(varSqlGetAvailTime, u.UserID, DateTime.Now);
            UserFreeTimeSettings = db.Query(varSQLGetUserFreeTimeSettings ,u.UserID);
            atts = db.QuerySingle(varSQLGetUserCalendarProviderAttributes, u.UserID);  
        }
        if (atts != null) {
            useCalendarProgram      = atts.UseCalendarProgram;
            programType             = atts.CalendarType;
            programURL              = atts.CalendarURL;
            advanceTime             = atts.AdvanceTime;
            minTime                 = atts.MinTime;
            maxTime                 = atts.MaxTime;
            betweenTime             = atts.BetweenTime;
        }
    } else {
        for (int d = 0; d < 7; d++) {
            availDates[d] = Request["availday-" + d.ToString()].AsBool();
        }
        useCalendarProgram      = Request["use-program"].AsBool();
        programType             = Request["program-type"];
        programURL              = Request["program-url"];
        advanceTime             = Request["advance-time"].AsInt();
        minTime                 = Request["min-time"].AsInt();
        maxTime                 = Request["max-time"].AsInt();
        betweenTime             = Request["between-time"].AsInt();
        
        if (Validation.IsValid()) {
            
            var varSqlInsertAvailFreetime = "EXEC InsertProviderAvailabilityFreeTime @0,@1,@2,@3";
            var varSqlInsertCalendarProviderAttributes = "EXEC dbo.InsertCalendarProviderAttributes @0,@1,@2,@3,@4, @5,@6,@7";

            using (var db = Database.Open("sqlloco")) {
                // Save data

                db.Execute(varSqlInsertCalendarProviderAttributes, u.UserID, 
                    advanceTime,
                    minTime,
                    maxTime,
                    betweenTime,
                    useCalendarProgram,
                    programType,
                    programURL);

                foreach (var d in availDates) {
                    if (d) {
                        db.Execute(varSqlInsertAvailFreetime, u.UserID, 1, 
                            Request["hours-" + d.ToString() + "-since"], 
                            Request["hours-" + d.ToString() + "-to"]);
                    }
                }

                // All was fine, AJAX-JSON response
                CommonHelpers.ReturnJsonResult(0, "Availability data was succesful saved!");
            }
        }
    }
}
@helper printOptionsHours(){
    var firstHour = new TimeSpan(9, 0, 0);
    var lastHour = new TimeSpan(18, 30, 0);
    var interval = new TimeSpan(0, 30, 0);
    for (var hour = firstHour; hour <= lastHour; hour += interval)
    {
        <option value="@hour.ToString("c")">@((new DateTime(hour.Ticks)).ToShortTimeString())</option>
    }
}
@helper printHourPerDayElements(){
    var days = new string[]{"Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"};

    for (var d = 0; d < 7; d++){
    <li>
        <span class="day">@days[d]</span>
        <select name="hours-@d-since">@printOptionsHours()</select>
        and
        <select name="hours-@d-to">@printOptionsHours()</select>
    </li>
    }
}
@helper printDaysElements(){
    var days = new string[]{"Sundays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays", "Mondays"};
    for (var d = 0; d < 7; d++){
        <li>
            <span class="day">@days[d]</span>
            <label>Yes<input name="days-@d" value="yes" type="radio"/></label>
            <label>No<input name="days-@d" value="no" type="radio"/></label>
        </li>
    }
}
@helper printHoursBooking(string what, string selected){
    <select name="@(what)-time">
        <option value="1">1 Hour</option>
        @for(var h = 2; h < 10; h++) {
            <option @CommonHelpers.IsSelected(selected, h.ToString()) value="@h">@h Hours</option>
        }
    </select>
}

<p class="setting-instructions">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.
</p>
<div>
<form action="@(UrlUtil.LangPath)Dashboard/$PositionsAvailability/" method="post" class="positionavailability ajax ajax-box" id="position#@(n)-availability">
    <input type="hidden" name="PositionID" value="@p.PositionID"/>
    @CommonHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset class="positionavailability-days">
        <legend>I'm available these days:</legend>
        <ul>
            @printDaysElements()
        </ul>
    </fieldset>
    <fieldset class="positionavailability-hours">
        <legend>Generally between these hours:</legend>
        <ul>
            @printHourPerDayElements()
        </ul>
    </fieldset>
    <fieldset class="positionavailability-program has-confirm">
        <legend>I already use a calendar program:</legend>

        <div class="confirm positionavailability-use-program">
            <label>Yes<input @CommonHelpers.IsChecked(useCalendarProgram.ToString(), "True") type="radio" name="use-program" value="True"/></label>
            <label>No<input @CommonHelpers.IsChecked(useCalendarProgram.ToString(), "False") type="radio" name="use-program" value="False"/></label>
        </div>
        <ul>
            <li class="positionavailability-program-type">
                <label for="position#@(n)-availability-program-type">Which type?</label>
                <select name="program-type" id="position#@(n)-availability-program-type">
                    <option @CommonHelpers.IsSelected(programType, "gmail") value="gmail">Gmail</option>
                </select>
            </li>
            <li class="positionavailability-program-url">
                <label for="position#@(n)-availability-program-url">Public URL:</label>
                <input type="text" name="program-url" value="@programURL" id="position#@(n)-availability-program-url"/>
            </li>
        </ul>
    </fieldset>
    <fieldset class="positionavailability-booking">
        <legend>I require:</legend>
        <label>Time in advance of bookings:@printHoursBooking("advance", advanceTime.ToString())</label>
        <label>Minimun booking time:@printHoursBooking("min", minTime.ToString())</label>
        <label>Maximum booking time:@printHoursBooking("max", maxTime.ToString())</label>
        <label>Minimun time between bookings:@printHoursBooking("between", betweenTime.ToString())</label>
    </fieldset>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>
</div>