@using WebMatrix.Data;
@{
    // Current user data
    var u = DashboardFunctions.GetUserRow();
    // Current position data record:
    var p = DashboardFunctions.GetUserCurrentPos();
    var n = p.PositionID;
    
    var idprefix = "position#" + n + "-licenses";
    bool saved = false;
    
    dynamic licenses = null, userLicenses = null;
    var sqlGetLicenses = @"
        SELECT
            L.*,
            SP.StateProvinceName,
            SP.StateProvinceCode
        FROM
            licensecertification As L
             INNER JOIN
            positionlicense As P
              ON L.LicenseCertificationID = P.LicenseCertificationID
                AND L.StateProvinceID = P.StateProvinceID
                AND L.CountryID = P.CountryID
             INNER JOIN
            StateProvince As SP
              ON SP.StateProvinceID = L.StateProvinceID
        WHERE
            P.PositionID = @0
             AND
            L.Active = 1
             AND
            P.Active = 1
             AND
            L.StateProvinceID = @1
    ";
    var sqlGetUserLicenses = @"
        SELECT
            L.LicenseCertificationType,
            S.StatusName,
            S.StatusDescription
        FROM
            LicenseCertification As L
             INNER JOIN
            userlicenseverification As V
              ON L.LicenseCertificationID = V.LicenseCertificationID
             INNER JOIN
            Status As S
              ON V.StatusID = S.StatusID
        WHERE
            V.ProviderUserID = @0
             AND
            V.PositionID = @1
    ";
    
    Validation.RequireField("license-type", LcRessources.RequiredField("License"));
    Validation.RequireField("first-name", LcRessources.RequiredField("First name"));
    Validation.RequireField("last-name", LcRessources.RequiredField("Last name"));
    Validation.RequireField("license-number", LcRessources.RequiredField("License number"));
    Validation.RequireField("county", LcRessources.RequiredField("County"));

    if (IsPost && Validation.IsValid()) {
        var sqlCheckLicense = @"
            SELECT  count(*)
            FROM    userlicenseverification
            WHERE   ProviderUserID = @0
                     AND
                    PositionID = @1
                     AND
                    LicenseCertificationID = @2 
        ";
        var sqlCheckOptionGroup = @"
            DECLARE @OptionGroup varchar(50)

            SELECT  @OptionGroup = OptionGroup
            FROM    LicenseCertification As L
            WHERE   L.LicenseCertificationID = @2

            SELECT  count(*)
            FROM    licensecertification As L
                     INNER JOIN
                    userlicenseverification As R
                      ON L.LicenseCertificationID = R.LicenseCertificationID
            WHERE
                    ProviderUserID = @0
                     AND
                    PositionID = @1
                     AND
                    L.Active = 1
                     AND
                    L.OptionGroup is not null
                     AND
                    L.OptionGroup = @OptionGroup
        ";
        var sqlInsRequest = @"
            INSERT INTO userlicenseverification (
                ProviderUserID,
                PositionID,
                -- License info
                LicenseCertificationID,
                LicenseCertificationURL,
                LicenseCertificationNumber,
                -- Provider personal
                FirstName,                
                LastName,
                SecondLastName,
                MiddleInitial,
                BusinessName,
                -- Provider location
                City,
                CountyID,
                StateProvinceID,
                CountryID,
                -- Record
                CreatedDate,
                ModifiedDate,
                ModifiedBy,
                StatusID
            ) VALUES (
                @0, @1,
                @2, @3, @4,
                @5, @6, @7, @8, @9,
                @10, @11, @12, @13,
                getdate(), getdate(), 'sys', 1 --Pending status
            )
        ";
        using (var db = Database.Open("sqlloco")) {
            
            if (db.QueryValue(sqlCheckLicense, u.UserID, p.PositionID, Request["license-type"]) > 0) {
                ModelState.AddError("license-type", "You already have this license registered!");
            }
            if (ModelState.IsValid && db.QueryValue(sqlCheckOptionGroup, u.UserID, p.PositionID, Request["license-type"]) > 0) {
                ModelState.AddError("license-type", "You have a license that is incompatible with this one.");
            }
            
            if (ModelState.IsValid) {
                db.Execute(sqlInsRequest,
                    u.UserID,
                    p.PositionID,
                    Request["license-type"],
                    Request["license-link"],
                    Request["license-number"],
                    Request["first-name"],
                    Request["last-name"],
                    Request["second-last-name"],
                    Request["middle-initial"],
                    Request["business-name"],
                    u.City,
                    Request["county"],
                    u.StateProvinceID,
                    u.PreferredCountryID //LcData.GetCurrentCountryID()
                );
                saved = true;
                /*if (!saved) {
                    ModelState.AddFormError("We're sorry, there was an unexpected error and your request couldn't be registered.");
                }*/
            }
        }
    }
    
    using (var db = Database.Open("sqlloco")) {
        licenses = db.Query(sqlGetLicenses, p.PositionID, u.StateProvinceID);
        userLicenses = db.Query(sqlGetUserLicenses, u.UserID, p.PositionID);
    }
}
@if (licenses == null || licenses.Count == 0)
{
    <p class="setting-instructions">
        Our research has indicated that a license or certification is not needed for this type of work. If you feel that is incorrect, please <a href="mailto:providerhelp@loconomics.com">e-mail us</a>. We'd be happy to hear from you!
    </p>
}
else
{
    <p class="setting-instructions">
        Our research tells that you require a professional license or certication to perform this work. Please input your license details below, and we’ll verify it right away.  If you feel any of the information below is incomplete or inaccurate, please <a href="mailto:providerhelp@loconomics.com">e-mail us</a>. We’d be happy to hear from you!
    </p>
    <div>
        @if (userLicenses != null && userLicenses.Count > 0)
        {
        <div class="user-licenses">
            <h4>You have @userLicenses.Count @(userLicenses.Count == 1 ? "license" : "licenses"): </h4>
            <ul>
            @foreach (var ul in userLicenses)
            {
                <strong>@(ul.LicenseCertificationType)</strong><text>,
                status: </text><em>@ul.StatusName</em> <text>@ul.StatusDescription</text>
            }
            </ul>
        </div>
        }
    @if (IsPost && saved)
    {
        <p class="success">Your license verification request was successfully registered! We are working to verify it and you will be noticed when complete.</p>
    }
    <form action="@(UrlUtil.LangPath)Dashboard/$PositionsLicenses/" method="post" class="positionlicenses ajax ajax-box" id="@idprefix-licenses">
        <input type="hidden" name="PositionID" value="@p.PositionID"/>
        @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
        <fieldset class="license-type-selector">
            <label for="@idprefix-license-type">Please select the license you possess:</label>
            <select id="@idprefix-license-type" name="license-type" @Validation.GetHtml("license-type")>
                <option value=""></option>
                @foreach (var license in licenses)
                {
                    <option value="@license.LicenseCertificationID" 
                        data-description="@license.LicenseCertificationTypeDescription"
                        data-state-name="@license.StateProvinceName"
                        data-authority-name="@license.LicenseCertificationAuthority"
                        data-verification-url="@license.VerificationWebsiteURL"
                        data-get-license-url="@license.HowToGetLicensedURL">
                        @license.LicenseCertificationType</option>
                }
            </select>
            <ul class="license-details">
                <li><strong>Description:</strong> <span class="license-description"></span></li>
                <li><strong>State:</strong> <span class="license-state"></span></li>
                <li><strong>Certifying Board:</strong> <a href="#" target="_blank" class="license-authority"></a></li>
            </ul>
        </fieldset>
        <fieldset class="license-request">
            <ul>
                <li>
                    <label for="@idprefix-county">County:</label>
                    <select id="@idprefix-county" name="county" @Validation.GetHtml("county")>
                        @CommonHelpers.CountyOptions()
                    </select>
                </li>
                <li>
                    <label for="@idprefix-license-number">License number:</label>
                    <input type="text" id="@idprefix-license-number" name="license-number" @Validation.GetHtml("license-number")/>
                </li>
                <li>
                    <label for="@idprefix-business-name">Business name (optional):</label>
                    <input type="text" id="@idprefix-business-name" name="business-name" @Validation.GetHtml("business-name")/>
                </li>
                <li>
                    <label for="@idprefix-first-name">First Name:</label>
                    <input type="text" id="@idprefix-first-name" name="first-name" @Validation.GetHtml("first-name")/>
                </li>
                <li>
                    <label for="@idprefix-last-name">Last Name:</label>
                    <input type="text" id="@idprefix-last-name" name="last-name" @Validation.GetHtml("last-name")/>
                </li>
                @if (LcData.GetCurrentCountryID() == 1)
                {
                <li>
                    <label for="@idprefix-middle-initial">Middle Initial:</label>
                    <input type="text" id="@idprefix-middle-initial" name="middle-initial" @Validation.GetHtml("middle-initial")/>
                </li>
                }
                @if (LcData.GetCurrentCountryID() == 2)
                {
                <li>
                    <label for="@idprefix-second-last-name">Second Last Name:</label>
                    <input type="text" id="@idprefix-second-last-name" name="second-last-name" @Validation.GetHtml("second-last-name")/>
                </li>
                }
                <li>
                    <label for="@idprefix-license-link">Link to license:</label>
                    <input type="text" id="@idprefix-license-link" name="license-link" @Validation.GetHtml("license-link")/>
                </li>
                <li class="get-license-info">
                    Need to apply or renew this license/certification? Please <a class="get-license-url" target="_blank" href="#">visit this link</a>.
                </li>
            </ul>
        </fieldset>
        <fieldset class="actions">
            <button class="save main-action" type="submit">Save</button>
        </fieldset>
        @CommonHelpers.GetValidationScripts()
    </form></div>
}