@{
    // Current position data record:
    var p = PageData["position"];
    var n = p.PositionID;
}
<p class="setting-instructions">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.
</p>
<div>
<form action="@(UrlUtil.LangPath)Dashboard/$PositionsPhotos/" method="post" class="positionphotos ajax ajax-box" id="position#@(n)-photos">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".positionphotos .positionphotos-gallery > ol").sortable({
                placeholder: "ui-state-highlight"
            });
        });
    </script>
    <input type="hidden" name="PositionID" value="@p.PositionID"/>
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset class="positionphotos-edit">
        <legend>Edit this photo:</legend>
        <ul>
            <li class="positionphotos-edit-photo"><img alt="Photo to edit" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")" /></li>
            <li class="positionphotos-edit-caption">
                <label for="position#@(n)-photos-edit-caption">Caption:</label>
                <input type="text" id="position#@(n)-photos-edit-caption" name="positionphotos-edit-caption"/>
            </li>
            <li class="positionphotos-edit-primary">
                <h6>Make primary photo?</h6>
                <label>Yes<input type="radio" name="positionphotos-edit-primary" value="yes"/></label>
                <label>No<input type="radio" name="positionphotos-edit-primary" value="no"/></label>
            </li>
            <li class="positionphotos-edit-delete">
                <a href="#">Delete this photo</a>
            </li>
        </ul>
    </fieldset>
    <fieldset class="positionphotos-gallery">
        <legend>Stored photos:</legend>
        <ol>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li class="selected"><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/billgates.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/billgates.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
        </ol>
    </fieldset>
    <fieldset class="positionphotos-tools">
        <ul>
            <li class="positionphotos-tools-upload"><a href="#">Upload photos</a></li>
            <li class="positionphotos-tools-arrange">To arrange photos, click hover a photo and drag and drop. When finish, click save to remember the order.</li>
        </ul>
    </fieldset>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>
</div>