@{
    // Current position data record:
    var p = PageData["position"];
    var n = p.PositionID;
}
<p class="setting-instructions">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus.
</p>
<form action="#" method="post" class="positionphotos" id="position#@(n)-photos">
    <input type="hidden" name="position-number" value="@n"/>
    <input type="hidden" name="position-id" value="@p.PositionID"/>
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset class="positionphotos-edit">
        <legend>Edit this photo:</legend>
        <ul>
            <li class="positionphotos-edit-photo"><img alt="Photo to edit" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")" /></li>
            <li class="positionphotos-edit-caption">
                <label for="position#@(n)-photos-edit-caption">Caption:</label>
                <input type="text" id="position#@(n)-photos-edit-caption" name="positionphotos-edit-caption"/>
            </li>
            <li class="positionphotos-edit-primary">
                <h6>Make primary photo?</h6>
                <label>Yes<input type="radio" name="positionphotos-edit-primary" value="yes"/></label>
                <label>No<input type="radio" name="positionphotos-edit-primary" value="no"/></label>
            </li>
            <li class="positionphotos-edit-delete">
                <a href="#">Delete this photo</a>
            </li>
        </ul>
    </fieldset>
    <fieldset class="positionphotos-gallery">
        <legend>Stored photos:</legend>
        <ol>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li class="selected"><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/billgates.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/stevejobs.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
            <li><a href="#"><img alt="Stored photo" src="@Href(UrlUtil.AppPath + "img/thumbs/billgates.jpeg")"/></a><a class="edit" href="#">Edit</a></li>
        </ol>
    </fieldset>
    <fieldset class="positionphotos-tools">
        <ul>
            <li class="positionphotos-tools-upload"><a href="#">Upload photos</a></li>
            <li class="positionphotos-tools-arrange"><a href="#">Arrange photos</a></li>
        </ul>
    </fieldset>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>