@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    CommonHelpers.SecurePage();
    var idprefix = "preferences";
    
    var u = DashboardFunctions.GetUserRow();
    PageData["userPrefs"] = null;
    
    Validation.RequireField("SMSBookingCommunication", "Bookings by SMS preference is required");
    Validation.RequireField("PhoneBookingCommunication", "Bookings by Phone preference is required");
    Validation.RequireField("LoconomicsCommunityCommunication", "Loconomics community messages preference is required");
    Validation.RequireField("LoconomicsDBMCampaigns", "Marketing e-mails about Loconomics Service Providers preference is required");
    if (u.IsProvider) {
        Validation.RequireField("ProfileSEOPermission", "Include my profile in search listings preference is required");
        Validation.RequireField("LoconomicsMarketingCampaigns", "Loconomics marketing messages preference is required");
    }

    if (IsPost) {
        using (var db = Database.Open("sqlloco")){
            db.Execute(@"
                UPDATE  users
                SET     SMSBookingCommunication=@1
                        ,PhoneBookingCommunication=@2
                        ,LoconomicsCommunityCommunication=@3
                        ,LoconomicsDBMCampaigns=@4
                        ,ProfileSEOPermission=@5
                        ,LoconomicsMarketingCampaigns=@6
                        ,UpdatedDate=getdate()
                        ,ModifiedBy='sys'
                WHERE   UserID = @0
            ", u.UserID,
                Request["SMSBookingCommunication"].AsBool(), 
                Request["PhoneBookingCommunication"].AsBool(),
                Request["LoconomicsCommunityCommunication"].AsBool(),
                Request["LoconomicsDBMCampaigns"].AsBool(),
                u.IsProvider ? Request["ProfileSEOPermission"].AsBool() : false,
                u.IsProvider ? Request["LoconomicsMarketingCampaigns"].AsBool() : false
            );
        }
        CommonHelpers.ReturnJsonResult(0, "Preferences updated!");
    } else {
        using (var db = Database.Open("sqlloco")){
            PageData["userPrefs"] = db.QuerySingle(@"
                SELECT  SMSBookingCommunication
                        ,PhoneBookingCommunication
                        ,LoconomicsCommunityCommunication
                        ,LoconomicsDBMCampaigns
                        ,ProfileSEOPermission
                        ,LoconomicsMarketingCampaigns
                FROM    Users
                WHERE   UserID=@0
            ", u.UserID);
        }
    }
}
@helper printYesNoOption(string fieldName, bool isYes) {
    string label = isYes ? "Yes" : "No";
    string rvalue = isYes ? "True" : "False";
    <label>@label <input type="radio" @Validation.GetHtml(fieldName) value="@rvalue" name="@fieldName" @CommonHelpers.IsChecked(rvalue, Request[fieldName] ?? (PageData["userPrefs"] != null ? PageData["userPrefs"][fieldName].ToString() : "")) /></label>
}
@helper printChoiceOptions(string fieldName, string fieldLabel) {
    @printYesNoOption(fieldName, true)
    @printYesNoOption(fieldName, false)
    <span class="choice-label">@fieldLabel</span>
}
<p class="setting-instructions">
Your privacy is of our upmost concern.  Please indicate your preferences below, and <a href="mailto:providerhelp@loconomics.com">e-mail us</a> with any questions.  
</p>
<div>
<form method="post" action="@(UrlUtil.LangPath)Dashboard/$PreferencesPreferences/" class="ajax ajax-box preferences">
    @CommonHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset id="@idprefix-fs-bookingscommunication">
        <legend>Communication about bookings</legend>
        <ul>
            <li>
                @printChoiceOptions("SMSBookingCommunication", "It’s okay to contact me via SMS/text message about bookings or booking-related questions")
            </li>
            <li>
                @printChoiceOptions("PhoneBookingCommunication", "It’s okay to phone me about bookings or booking-related questions")
            </li>
        </ul>
    </fieldset>
    <fieldset id="@idprefix-fs-loconomicscommunication">
        <legend>Communication about Loconomics</legend>
        <ul>
            <li>
                @printChoiceOptions("LoconomicsCommunityCommunication", "It’s okay to e-mail me updates about the Loconomics community")
            </li>
            <li>
                @printChoiceOptions("LoconomicsDBMCampaigns", "It's okay to e-mail me marketing e-mails about Loconomics Service Providers")
            </li>
        </ul>
    </fieldset>
    @if (u.IsProvider)
    {
    <fieldset id="@idprefix-fs-marketingcommunication">
        <legend>Marketing communications</legend>
        <ul>
            <li>
                @printChoiceOptions("ProfileSEOPermission", "It’s okay to include me in search engine listings (e.g. Google, Bing, Yahoo)")
            </li>
            <li>
                @printChoiceOptions("LoconomicsMarketingCampaigns", "It’s okay to include my profile in marketing done by Loconomics")
            </li>
        </ul>
    </fieldset>
    }
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>
</div>