@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    dynamic alerts = null;
    using (var db = Database.Open("sqlloco")) {
        alerts = db.Query(@"
            SELECT *
            FROM    Alert As A
                     INNER JOIN
                    UserAlert As UA
                      ON A.AlertID = UA.AlertID
            WHERE   UA.UserID = @0
        ", WebSecurity.CurrentUserId);
    }
}
@helper printCompleteUrl(dynamic alert){
    switch ((string)alert.AlertName) {
        case "personalinfo":
            @(UrlUtil.LangPath + "Dashboard/Account/#account-personal")
            break;
        case "photo":
            @("javascript:$('#changephoto').click()")
            break;
        case "payment":
            @(UrlUtil.LangPath + "Dashboard/Account/#account-payments")
            break;
        case "taxdocs":
            @(UrlUtil.LangPath + "Dashboard/Account/#account-taxes")
            break;
        case "availability":
            @(UrlUtil.LangPath + "Dashboard/Positions/#position" + alert.PositionID + "-availability")
            break;
        case "pricingdetails":
            @(UrlUtil.LangPath + "Dashboard/Positions/#position" + alert.PositionID + "-pricing")
            break;
        default:
            @("#")
            break;
    }
}
@if (alerts != null && alerts.Count > 0)
{
<div id="dashboard-alerts">
    <a class="more previous" href="#previous">Previous alerts</a>
    <ul>
        @foreach (var alert in alerts)
        {
            <li>
                <h5>@alert.AlertHeadlineDisplay</h5>
                <p>@alert.AlertTextDisplay</p>
                <a class="more" href="@printCompleteUrl(alert)">Complete &gt;&gt;</a>
            </li>
        }
    </ul>
    <a class="more next" href="#next">Next alerts</a>
</div><!-- dashboard-alerts -->
}