@using WebMatrix.Data;
@using WebMatrix.WebData;
@functions{
    void SaveUserPhotoName(string fileName, int userId){
        using (var db = Database.Open("sqlloco")){
            // First, get current photo name at databse
            var photo = db.QueryValue(@"
                SELECT  TOP 1 photo
                FROM    users
                WHERE   UserID=@0
            ", userId);
            
            // If current photo is different than new photo filename,
            if (!(photo is System.DBNull) && (string)photo != fileName) {
                // we remove current photo file
                string virtualPath = UrlUtil.AppPath + "img/userphotos/u" + userId.ToString() + "/" + photo;
                try{
                    File.Delete(Server.MapPath(virtualPath));
                }catch{}
            }
            if (photo is System.DBNull || (string)photo != fileName) {
                // we update the new photo name
                db.Execute(@"
                    UPDATE  users
                    SET     photo=@0
                    WHERE   UserID=@1
                    -- Check Alerts:
                    EXEC TestAlertPhoto @1
                ", fileName, userId);
            }
        }
    }
}
@{
    LcHelpers.SecurePage();
    var userId = WebSecurity.CurrentUserId;
    var ajaxEnabled = true;
    
    // Delete file support:
    if (Request["delete"].AsBool()) {
        // We don't need the upload staff here, simply update database removing all file, both
        // managed by next common function:
        SaveUserPhotoName(null, userId);
        
        LcHelpers.ReturnJsonResult(0, "Photo was removed");
    }
    
    // qq File uploader support, XHR Upload
    if (!String.IsNullOrEmpty(Request["qqfile"])){
        string fileName = (string)Request["qqfile"];
        string virtualPath = UrlUtil.AppPath + "img/userphotos/u" + userId.ToString() + "/";

        try{
            if (!Directory.Exists(Server.MapPath(virtualPath))) {
                Directory.CreateDirectory(Server.MapPath(virtualPath));
            }
            byte[] content = new byte[Request.InputStream.Length];
            Request.InputStream.Read(content, 0, (int)Request.InputStream.Length);
            File.WriteAllBytes(Server.MapPath(virtualPath + fileName), content);
            Request.InputStream.Dispose();
        } catch(Exception ex) {
            LcHelpers.ReturnJson(
                new Dictionary<string, object>(){
                    { "error", "There was an error: " + ex.Message }
                }
            );
        }
        
        // File saved, change the user preference at the database and remove previous photo:
        SaveUserPhotoName(fileName, userId);
        
        LcHelpers.ReturnJson(
            new Dictionary<string, object>(){
                { "success", "File was saved" }
            }
        );
    } else {
        if (IsPost){
            
            var fileuploaded = Request.Files["qqfile"] ?? Request.Files["avatar"];
            
            if (fileuploaded == null || String.IsNullOrEmpty(fileuploaded.FileName)) {
                ModelState.AddFormError("Please, select an image");
            }
            
            if (ModelState.IsValid) {
                System.IO.FileInfo fileinfo = new FileInfo(fileuploaded.FileName);
            
                string virtualPath = UrlUtil.AppPath + "img/userphotos/u" + userId.ToString() + "/";
            
                try{
                    if (!Directory.Exists(Server.MapPath(virtualPath))) {
                        Directory.CreateDirectory(Server.MapPath(virtualPath));
                    }
                    fileuploaded.SaveAs(Server.MapPath(virtualPath + fileinfo.Name));
                    fileuploaded.InputStream.Dispose();
                } catch(Exception ex) {
                    if (ajaxEnabled) {
                    // NOTE: IE problems with contentype=json, use JsonHelper directly:
                    //LcHelpers.ReturnJson(
                    Json.Write(
                        new Dictionary<string, object>(){
                            { "error", "There was an error: " + ex.Message }
                        },
                    Response.Output);
                    Response.End();
                    } else {
                        ModelState.AddFormError("There was an error: " + ex.Message);
                    }
                }
            
                // File saved, change the user preference at the database:
                SaveUserPhotoName(fileinfo.Name, userId);
            
                if (ajaxEnabled) {
                    // NOTE: There is some issues with IE managing this result with contenttype=json
                    // because of this, here we use directly the Json helper instead our helper
                    //LcHelpers.ReturnJson(
                    Json.Write(
                        new Dictionary<string, object>(){
                            { "success", "File was saved" }
                        },
                    Response.Output);
                    Response.End();
                }
            }
        } else {
            // Manage normal GET
        }
    }
}
<html>
    <head>
        <script src="@Href(UrlUtil.AppPath + "Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Href(UrlUtil.AppPath + "Scripts/fileuploader/fileuploader.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@Href(UrlUtil.AppPath + "Scripts/fileuploader/fileuploader.css")"/>

        <script type="text/javascript">
            @Html.Raw(UrlUtil.ToJsVar())
        </script>
        <style type="text/css">
            body {
                font-family: "Alte Haas Grotesk", Helvetica, Arial, sans-serif;
            }
            .qq-upload-button {
                width: 100%;
                border: none;
                display: block;
                font-size: 1em;
            }
            .qq-upload-list {
                margin: 15px 0 !important;
                max-height: 120px !important;
                overflow: auto;
            }
        </style>

        <script type="text/javascript">
            @if (ajaxEnabled)
            {
            <text>
            var a = jQuery.noConflict();
            a(document).ready(function () {
                var uploader = new qq.FileUploader({
                    element: document.getElementById('change-photo-file-uploader'),
                    // path to server-side upload script
                    action: UrlUtil.LangPath + 'Dashboard/ChangePhoto/',
                    allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                    onComplete: function (id, fileName, responseJSON) {
                        window.parent.reloadUserPhoto();
                    }
                });
            });
            </text>
            }
            else if (IsPost)
            {
                <text>
                reloadUserPhoto();
                window.close();
                </text>
            }
        </script>
    </head>
    <body>
        <div class="change-photo">
            <div id="change-photo-file-uploader">
                @if(!ajaxEnabled) {
                <form action="@(UrlUtil.LangPath)Dashboard/ChangePhoto/" method="post" enctype="multipart/form-data">
                    @Html.ValidationSummary()
                    <label>Choose an image from your computer: <input type="file" name="avatar" /></label>
                    <button class="button main-action" type="submit">Upload!</button>
                </form>
                }
            </div>
            <div id="delete-photo">
                <button type="button" class="qq-upload-button">Remove photo</button>
                <script type="text/javascript">
                    jQuery('#delete-photo > button').click(function () {
                        window.parent.deleteUserPhoto();
                    })
                    .hover(function () {
                        jQuery(this).addClass('qq-upload-button-hover');
                    }, function () {
                        jQuery(this).removeClass('qq-upload-button-hover');
                    });
                </script>
            </div>
        </div>
    </body>
</html>