@*TODO Refactor*@
@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Background Check Request";
    
    var providerID = Request["userID"].AsInt();
    var checkID = Request["backgroundCheckID"].AsInt();
    var provider = LcRest.UserProfile.Get(providerID);

    var sqlGetBackgroundCheckRequest = @"
        SELECT  B.BackgroundCheckID
                ,B.BackgroundCheckName
                ,B.BackgroundCheckDescription
                ,B.BackgroundCheckPrice
        FROM    BackgroundCheck As B
        WHERE   B.BackgroundCheckID = @0
                AND B.Language = @1
    ";
    dynamic data = null;
    using (var db = Database.Open("sqlloco")) {
        data = db.QuerySingle(sqlGetBackgroundCheckRequest, checkID, LcRest.Locale.Current.ToString());
    }
}
<div>
    <h2>Background Check Request</h2>
    <ul>
        <li><strong>User - UserID:</strong> @providerID</li>
        <li><strong>User - Email:</strong> @provider.email</li>
        <li><strong>User - First Name:</strong> @provider.firstName</li>
        <li><strong>User - Last Name:</strong> @provider.lastName</li>
        <li><strong>Background Check - ID:</strong> @checkID</li>
        <li><strong>Background Check - Name:</strong> @data.BackgroundCheckName</li>
        <li><strong>Background Check - Price:</strong> @data.BackgroundCheckPrice</li>
    </ul>
</div>