@*TODO Refactor*@
@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Provider Request More Service Attributes";
    
    var providerID = Request["userID"].AsInt();
    var positionID = Request["jobTitleID"].AsInt();
    var reqatts = Request["requestedAttributes"];
    var provider = LcData.UserInfo.GetUserRowWithContactData(providerID);
    var position = LcData.UserInfo.GetUserPos(providerID, positionID);
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Provider Request More Service Attributes";
    // Create URL:
    PageData["viewOnSiteUrl"] = LcUrl.SiteUrl + LcData.UserInfo.GetUserPublicURL(providerID);
}
<div>
    <ul>
        <li><strong>User - UserID:</strong> @providerID</li>
        <li><strong>User - Email:</strong> @provider.Email</li>
        <li><strong>User - First Name:</strong> @provider.FirstName</li>
        <li><strong>User - Last Name:</strong> @provider.LastName</li>
        @if (LcData.GetCurrentCountryID() == 1)
        {
        <li><strong>User - Middle Initial:</strong> @provider.MiddleIn</li>
        }
        @if (LcData.GetCurrentCountryID() == 2)
        {
        <li><strong>User - Second Last Name:</strong> @provider.SecondLastName</li>
        }
        <li><strong>User - City:</strong> @provider.City</li>
        <li><strong>User - State Name:</strong> @provider.StateProvinceName</li>
        <li><strong>Position - PositionID:</strong> @positionID</li>
        <li><strong>Position - Position Name:</strong> @position.PositionSingular</li>
        
        <li><strong>Requested Service Attributes:</strong> @reqatts</li>
    </ul>
</div>