@* Cancellation Policy as displayed to the service professional.
 *@
@using WebMatrix.Data;
@{
    // All the data for this component:
    var info = LcEmailTemplate.GetBookingInfo(PageData);
    var policy = info.cancellationPolicy;
}
@if (policy != null)
{
<!-- $CancellationPolicyClientCopy -->
<!-- COMPACT ARTICLE SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center" style="border-bottom: 1px solid #d2d2d2; padding: 0 15px 40px 15px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;" class="responsive-table">
                <tr>
                    <td style="padding: 40px 0 0 0;" class="no-padding">
                        <!-- ARTICLE -->
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" style="padding: 0 25px 5px 0; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding-copy">Cancellation Policy</td>
                            </tr>
                            <tr>
                                 <td align="left" style="padding: 10px 25px 15px 0; text-align: justify; text-justify: auto; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">@policy.description
									 @if (info.cancellationLimitDate <= DateTime.Now)
										{
											var tpl = "Since the requested time is within {0} hours, @info.client.firstName will not be able to cancel this appointment.";
											<span>
												@String.Format(tpl, policy.hoursRequired)
											</span>
										}
										else
										{
											<span>
												 @info.client.firstName would need to cancel or reschedule by <strong>@(info.cancellationLimitDate.ToShortTimeString()) on @info.cancellationLimitDate.ToLongDateString()</strong> to receive a @(policy.refundIfCancelledBefore.ToString("0.##%")) refund.
											</span>
										}
                                 </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="middle" style="padding: 10px 0 0 0;" class="mobile-hide"><a href="#" target="_blank"><img src="@(LcUrl.AppUrl)img/email/ion-ios-close-outline.png" alt="alt text here" width="150" height="150" border="0" style="display: block; font-family: Arial; color: #666666; font-size: 14px;"></a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}





