@using Braintree;
@using System.Configuration;
@using WebMatrix.Data;
@{
    // true to testing, false to production/use braintree
    var TESTING_EMULATEBRAINTREE = Request.Params["TESTING_EMULATEBRAINTREE"].AsBool();
    
    var p = PageData["providerrow"] ?? LcData.UserInfo.GetUserRow(Request["providerid"].AsInt());
    var c = PageData["customerrow"] ?? LcData.UserInfo.GetUserRow();
    var pos = PageData["positionrow"] ?? LcData.UserInfo.GetUserPos(Request["providerid"].AsInt(),
        Request["positionid"].AsInt());
    DateTime dt1Start, dt1End, dt2Start, dt2End, dt3Start, dt3End;
    dt1Start = dt1End = dt2Start = dt2End = dt3Start = dt3End = DateTime.MinValue;
    
    if (p == null || c == null || pos == null){
        var inputdataerrormessage = "No enought input data to show results";
        if (Request.IsAjaxRequest()){
            LcHelpers.ReturnJsonError(-1, inputdataerrormessage);
        }else{
            throw new Exception(inputdataerrormessage);
        }
    }
    
    // Check if is a valid booking process (session not expired or error at first step)
    var bookingRequestID = Session["BookingRequestID"] is int ? (int)Session["BookingRequestID"] : 0;
    bool validBookingSession = false;
    if (bookingRequestID > 0) {
        try{
            var brdates = ((Dictionary<int, Dictionary<string, DateTime>>)Session["BookingRequests"])[bookingRequestID];
            dt1Start = brdates["dt1Start"];
            dt1End = brdates["dt1End"];
            dt2Start = brdates["dt2Start"];
            dt2End = brdates["dt2End"];
            dt3Start = brdates["dt3Start"];
            dt3End = brdates["dt3End"];
            
            validBookingSession = true;
        } catch {}
    }
    if (!validBookingSession) {
        /* Several options to do here
            * - Show error (strange message for user, need restart again introducing first his login)
            * X Silently redirect to start booking again
            * - Request login via ajax, re-send form data, looking in the database for a 'timeouted'
            *   bookingrequest for this customer at this provider and position, recover it to continue
            *   processing the form (if there is no bookingrequestid again, do second option).
            */
        //ModelState.AddFormError("Booking request is not valid, maybe the session time expired");
        LcHelpers.ReturnJsonResult(1, 
            UrlUtil.LangPath + "Booking/?ProviderID=" + p.UserID.ToString() +
            "&PositionID=" + pos.PositionID.ToString());
    }

    /*
     * Validation
     */
    Validation.RequireField("name-on-card", "'Name as on card' is required");
    Validation.RequireField("street-address-line-1", "Street address is required");
    Validation.RequireField("city", "City is required");
    Validation.RequireField("state", "State is required");
    Validation.RequireField("zip", "Zip Postal Code is required");
    Validation.RequireField("card-number", "Card number is required");
    Validation.RequireField("cvv", "CVV code is required");
    Validation.RequireField("card-exp-month", "Card expiration month is required");
    Validation.RequireField("card-exp-year", "Card expiration year is required");
    Validation.Add("zip", Validator.Integer("Zip postal code must be a valid number"));
    
    if (IsPost && Validation.IsValid()){
        /*
         * Complext validations
         */
        if (Request["save-payment"] == "true" && Request["save-payment-as"].IsEmpty()){
            ModelState.AddError("save-payment-as", "To save the payment is required a name");
        }
        using (var db = Database.Open("sqlloco")) {

            // Validate that Zip Postal Code is valid, and get the matching ID to be used later
            var postalCodeID = LcData.GetPostalCodeID(Request["zip"], Request["state"].AsInt());
            if (postalCodeID == 0) {
                ModelState.AddError("zip", "Zip Postal Code is not valid");
            }
        
            if (ModelState.IsValid){
                try {
                    /*
                     * Get data from our database about BookingRequest in order to
                     * do further operations -braintree, timezones-
                     */
                    // Get data from the BookingRequest
                    var sqlGetBookingPrice = @"
                        SELECT  TOP 1
                                P.TotalPrice
                        FROM    BookingRequest As B
                                 INNER JOIN
                                PricingEstimate As P
                                  ON P.PricingEstimateID = B.PricingEstimateID
                        WHERE   B.CustomerUserID = @0 AND B.ProviderUserID = @1
                                 AND B.PositionID = @2 AND B.BookingRequestID = @3
                    ";
                    var TotalPrice = db.QueryValue(sqlGetBookingPrice, c.UserID, p.UserID, pos.PositionID, bookingRequestID);
                    

                    /*
                     * User wants to save as 'my location'?
                     */
                    string paymentNickName = null;
                    if (Request["save-payment"] == "true" &&
                        !String.IsNullOrWhiteSpace(Request["save-payment-as"])) {
                        paymentNickName = Request["save-payment-as"];
                    }
                    if (paymentNickName != null) {
                        // Check if there is already a 'billing' address (only can exists one) and get its AddressID
                        // to update it with the new data - or inserts one new if AddressID=0
                        int billingAddressID = db.QueryValue(@"
                            SELECT  AddressID
                            FROM    Address
                            WHERE   AddressTypeID = 13 -- 'billing' type
                                     AND
                                    UserID = @0
                        ", c.UserID) ?? 0;
                        
                        // Save location as service location
                        db.Execute(LcData.sqlSetAddress,
                            billingAddressID,
                            c.UserID,
                            Request["street-address-line-1"],
                            Request["street-address-line-2"],
                            Request["city"],
                            Request["state"],
                            postalCodeID,
                            LcData.GetCurrentCountryID(),
                            paymentNickName,
                            13 /*AddressType: Billing*/,
                            null, // special instructions
                            null, null, null /* coordinates and googlemaps */);
                    }
                    
                    /*
                     * Saving booking data from form and previous lookups.
                     * State will still be '1:created' and not '2:complete' because
                     * payment transaction need be done still, but to ensure avoid
                     * problems with most saving errors, save some data now and let
                     * to after payment only transaction data and state changes, minifying
                     * possible errors after payment that can break the booking request:
                     */
                    if (ModelState.IsValid) {
                        
                        /*
                         * Check if there are not events on the booking request, because this is
                         * the first attempt and not a save-after-error 
                         */
                        if (0 == (int)db.QueryValue(@"
                                SELECT  count(*)
                                FROM    BookingRequest
                                WHERE   BookingRequestID = @0
                                        AND PreferredDateID is not null
                            ", bookingRequestID)) {
                        
                            /*
                             * Creating events with the passed data by the user for this Booking setting the Time Zone we found 
                             * looking in our Postal Codes table.
                             */
                            var sqlGetTimeZone = @"
                                SELECT  TimeZone
                                FROM    PostalCode
                                WHERE   PostalCodeID = @0
                            ";
                            var sqlInsCalendarEvent = @"
                                INSERT INTO [CalendarEvents]
                                           ([UserId]
                                           ,[CalendarAvailabilityTypeID]
                                           ,[StartTime]
                                           ,[EndTime]
                                           ,[TimeZone])
                                     VALUES (@0, @1, @2, @3, @4)
                                SELECT Cast(@@Identity As int) As CalendarEventID
                            ";
                            var timeZone = db.QueryValue(sqlGetTimeZone, postalCodeID);
                            // Save date-times as 'tentative' provider Events
                            var dt1ID = db.QueryValue(sqlInsCalendarEvent, p.UserID,
                                3, // Availability is 'Tentative'
                                dt1Start, dt1End, timeZone);
                            var dt2ID = db.QueryValue(sqlInsCalendarEvent, p.UserID,
                                3, // Availability is 'Tentative'
                                dt2Start, dt2End, timeZone);
                            var dt3ID = db.QueryValue(sqlInsCalendarEvent, p.UserID,
                                3, // Availability is 'Tentative'
                                dt3Start, dt3End, timeZone);

                            /*
                             * Save event IDs.
                             * State is still 1:created
                             */
                            db.Execute(@"
                                UPDATE  BookingRequest
                                SET     
                                        PreferredDateID = @1
                                        ,AlternativeDate1ID = @2
                                        ,AlternativeDate2ID = @3
                                WHERE   BookingRequestID = @0
                            ", bookingRequestID, 
                             dt1ID, dt2ID, dt3ID);
                        }
                        
                        /*
                         * Save last card number digits encrypted
                         * State is still 1:created
                         */
                        db.Execute(@"
                            UPDATE  BookingRequest
                            SET     
                                    PaymentLastFourCardNumberDigits = @1
                            WHERE   BookingRequestID = @0
                        ", bookingRequestID, 
                            LcEncryptor.Encrypt(LcHelpers.GetLastStringChars(Request["card-number"], 4)));
                    }


                    /*
                     * Payment transaction
                     */                    
                    var transactionID = "";
                    if (TESTING_EMULATEBRAINTREE) {
                        // TESTING, emulate Braintree generating false transactionID,
                        // avoiding comunicate with them.
                        transactionID = "TEST:" + Guid.NewGuid().ToString();
                    } else {
                        // REAL Braintree Code
                        BraintreeGateway gateway = LcPayment.NewBraintreeGateway();
                        
                        //string credidtCardToken = c.UserID.ToString() + ":creditcard:" + LcHelpers.ConvertToBraintreeToken(paymentNickName);
                        
                        /*
                         * Send customer payment data to Braintree, 
                         * using our UserID as identifier.
                         */
                        
                        // Find or create Customer on Braintree
                        Customer gc = gateway.Customer.Find(c.UserID.ToString());
                        if (gc == null) {
                            var gcr = new CustomerRequest{
                                Id = c.UserID.ToString()
                            };
                            var r = gateway.Customer.Create(gcr);
                            if (!r.IsSuccess()) {
                                ModelState.AddFormError(r.Message);
                                foreach (var error in r.Errors.All()) {
                                    ModelState.AddFormError(error.Message);
                                }
                            }
                        }
                        
                        if (ModelState.IsValid) {
                            TransactionRequest request = new TransactionRequest
                            {
                                Amount = TotalPrice,
                                CustomerId = c.UserID.ToString(),
                                CreditCard = new TransactionCreditCardRequest
                                {
                                    //Token = credidtCardToken,
                                    CardholderName = Request["name-on-card"],
                                    Number = Request["card-number"],
                                    ExpirationDate = Request["card-exp-month"] + "/" + Request["card-exp-year"],
                                    CVV = Request["cvv"]
                                },
                                BillingAddress = new AddressRequest
                                {
                                    StreetAddress = Request["street-address-line-1"],
                                    ExtendedAddress = Request["street-address-line-2"],
                                    Locality = Request["city"],
                                    Region = Request["state"],
                                    PostalCode = Request["zip"],
                                    CountryCodeAlpha2 = "US"
                                },
                                Options = new TransactionOptionsRequest
                                {
                                    StoreInVaultOnSuccess = true,
                                    AddBillingAddressToPaymentMethod = true
                                }
                            };
                    
                            Result<Transaction> result = null;
                            try{
                                result = gateway.Transaction.Sale(request);
                            } catch{}
                    
                            // Checking results:
                            if (result == null) {
                                ModelState.AddFormError("Unexpected error during credit card verification");
                            } else if (result.IsSuccess()
                                && result.Target != null
                                && !String.IsNullOrEmpty(result.Target.Id)) {
                                transactionID = result.Target.Id;
                            } else {
                                if (result.IsSuccess()) {
                                    ModelState.AddFormError("Impossible to know transaction details, please contact support");
                                } else {
                                    ModelState.AddFormError(result.Message);
                                    foreach (var error in result.Errors.All()) {
                                        ModelState.AddFormError(error.Message);
                                    }
                                }
                            }
                        }
                    }
                    
                    
                    /*
                     * Save Braintree Transaction ID in the Booking Request and card digits
                     * and updating State to 'Booking Request Completed' (2:completed)
                     */
                    db.Execute(@"
                        UPDATE  BookingRequest
                        SET     PaymentTransactionID = @1
                                ,BookingRequestStatusID = 2 -- Completed
                        WHERE   BookingRequestID = @0
                    ", bookingRequestID, transactionID);
                    
                    
                } catch (Exception ex) {
                    if (Context.IsDebuggingEnabled) {
                        throw ex;
                    }
                    LcHelpers.ReturnJsonError(-1, ex.Message);
                }
            }
            if (ModelState.IsValid) {
                /*
                * Create, save and send Message
                */
                LcMessaging.SendBookingRequest(c.UserID, p.UserID, pos.PositionID, bookingRequestID);
                
                // Return OK result
                LcHelpers.ReturnJsonResult(0, null);
            }
        }
    }
    
    /*
     * Get Data
     */
    dynamic summary = LcData.Booking.GetBookingRequestForUser(bookingRequestID, c.UserID, c.IsAdmin);
    string strDetails = LcData.Booking.GetBookingRequestDetails(0, summary.PricingEstimateID);
    string strServices = LcData.Booking.GetBookingRequestServices(0, summary.PricingEstimateID);
    string strPackages = LcData.Booking.GetBookingRequestPackages(0, summary.PricingEstimateID);
    dynamic billingAddress = null;
    using (var db = Database.Open("sqlloco")) {
        billingAddress = db.QuerySingle(LcData.sqlGetAddresses + " AND L.AddressTypeID = 13 -- Billing address", c.UserID);
    }
}
@* From Profile/_PositionSummary *@
@helper printCatTitle(dynamic cat){
    <h5 title="@cat["ServiceAttributeCategoryName"]" data-description="@cat["ServiceAttributeCategoryDescription"]">
        @cat["ServiceAttributeCategoryName"]
    </h5>
}
@* From Profile/_PositionSummary *@
@helper printAttList(dynamic cat){
    <ul class="attributes-list">
        @foreach (var att in cat["ServiceAttributes"]) {
            if (att["UserChecked"]) {
            <li title="@att["ServiceAttribute"]" data-description="@att["ServiceAttributeDescription"]">@att["ServiceAttribute"]</li>
            }
        }
    </ul>
}
@* Portion from Profile/_PositionSummary *@
@helper printProviderFeaturedInfo(dynamic pos){
    var dataCats = LcData.GetServiceCatsAndItsAttributes(pos.PositionID, "only-special-cats", pos.UserID);
    <div class="provider-features-lists">
        @if (dataCats.ContainsKey(LcData.ServiceAttCatIDExperienceLevel) && dataCats[LcData.ServiceAttCatIDExperienceLevel]["ServiceAttributes"].Count > 0)
        {
            var cat = dataCats[LcData.ServiceAttCatIDExperienceLevel];
            <div class="experience-level">
                @printCatTitle(cat)
                <!--<a class="button view-more" href="#">More</a>-->
                @printAttList(cat)
            </div>
        }
        
        @RenderPage(UrlUtil.LangPath + "Profile/$UserVerifiedLicensesWidget.cshtml", new { 
            UserID = pos.UserID,
            ContainerClasses = "licenses",
            Size = "mini",
            Title = "Licenses"
        })

        @*if (dataCats.ContainsKey(LcData.ServiceAttCatIDExperience) && dataCats[LcData.ServiceAttCatIDExperience]["ServiceAttributes"].Count > 0)
        {
            var cat = dataCats[LcData.ServiceAttCatIDExperience];
            <div class="years-experience">
                @printCatTitle(cat)
                <!--<a class="button view-more" href="#">More</a>-->
                @printAttList(cat)
            </div>
        }*@
    </div>
}
<p class="info">
    Please review the summary and provide your payment details below. You will be charged immediately.  We withhold payment to your provider until after the services are performed for your safety.
</p>
<form action="@(UrlUtil.LangPath)Booking/$Payment/@Request.Url.Query" method="post" class="payment" id="booking-payment">
    <input type="hidden" name="providerid" value="@p.UserID"/>
    <input type="hidden" name="positionid" value="@pos.PositionID"/>
    @LcHelpers.GetValidationScripts()
    @*LcHelpers.SetupStarRatingPlugin()*@
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    <fieldset class="billing-info box">
        <legend>Billing information:</legend>
        <ul>
            <li class="name-on-card">
                <label>Name as on card:<input type="text" name="name-on-card" value="@Request["name-on-card"]" @Validation.GetHtml("name-on-card")/></label>
            </li>
            <li class="street-address-line-1">
                <label>Street address line 1:<input type="text" name="street-address-line-1" value="@(Request["street-address-line-1"] ?? (billingAddress == null ? null : billingAddress.AddressLine1) )" @Validation.GetHtml("street-address-line-1")/></label>
            </li>
            <li class="street-address-line-2">
                <label>Street address line 2:<input type="text" name="street-address-line-2" value="@(Request["street-address-line-2"] ?? (billingAddress == null ? null : billingAddress.AddressLine2) ) " @Validation.GetHtml("street-address-line-2")/></label>
            </li>
            <li class="city">
                <label>City:<input type="text" name="city" value="@(Request["city"] ?? (billingAddress == null ? null : billingAddress.City) )" @Validation.GetHtml("city")/></label>
            </li>
            <!-- Collapsed next elements code to avoid white spaces that create excesive width on IE -->
            <li class="state"><label>State:<select name="state" @Validation.GetHtml("state")>
                        @LcHelpers.StateProvinceOptions(Request["state"] ?? (billingAddress == null ? null : billingAddress.StateProvinceID) )
                    </select></label></li>
            <li class="zip">
                <label>Zip Code:<input type="text" name="zip" data-val-postalcode="Postal Code is not valid" value="@(Request["zip"] ?? (billingAddress == null ? null : billingAddress.PostalCode) )" @Validation.GetHtml("zip")/></label>
            </li>
            <li class="card-number">
                <label>Card number:<input type="text" name="card-number" value="@Request["card-number"]" @Validation.GetHtml("card-number")/></label>
            </li>
            <!-- Collapsed next elements code to avoid white spaces that create excesive width on IE -->
            <li class="card-exp"><label>Exp:<select name="card-exp-month" @Validation.GetHtml("card-exp-month")>
                        @LcHelpers.MonthOptions(Request["card-exp-month"])
                    </select></label><select name="card-exp-year">
                        @LcHelpers.CardYearOptions(Request["card-exp-year"])
                    </select></li>
            <li class="card-cvv">
                <label>CVV Code:<input type="text" name="cvv" value="@Request["cvv"]" @Validation.GetHtml("cvv")/></label>
            </li>
            <li class="save-to-my-payments">
                <label class="save"><input type="checkbox" @LcHelpers.IsChecked("true", Request["save-payment"] ?? (billingAddress != null ? "true" : "false")) name="save-payment" value="true" />Save</label>
                <label class="save-as">payment details as:<input type="text" value="@(Request["save-payment-as"] ?? (billingAddress == null ? null : billingAddress.AddressName))" name="save-payment-as" @Validation.GetHtml("save-payment-as")/></label>
            </li>
        </ul>
    </fieldset>
    <fieldset class="your-provider box">
        <legend>Your provider:</legend>

                @RenderPage(UrlUtil.LangPath + "Profile/$UserInfoWidget.cshtml", new
                   {
                       Data = p,
                       Size = "mini",
                       WithGoogleMap = false,
                       UserType = "provider",
                       PositionData = pos,
                       WithFullRating = true
                   })

                @printProviderFeaturedInfo(pos)

        @*
        <h6 class="provider-and-position"><span class="provider-name">@p.FirstName</span>-<span class="provider-position">@pos.PositionSingular</span></h6>
        <img class="avatar provider-avatar" alt="Provider photo" src="@Href(UrlUtil.LangPath + "Profile/Photo/?UserID=" + p.UserID)"/>
        @RenderPage(UrlUtil.LangPath + "Reviews/$UserRatingSummaryWidget.cshtml", new { ReviewedID = p.UserID, PositionID = pos.PositionID })
        <a target="_blank" href="@(UrlUtil.LangPath)Profile/?UserID=@(p.UserID)">View profile</a>*@
        @*<div class="provider-features-lists">
            <div class="years-experience">
                <h5>Years experience:</h5>
                <ul><li>0.5 years</li></ul>
            </div>
            <div class="licenses">
                <h5>Licenses:</h5>
                <ul><li>CA License</li><li>HSA certified</li></ul>
            </div>
            <div class="experience-level">
                <h5>Experience level:</h5>
                <ul><li>Expert</li></ul>
            </div>
        </div>*@
    </fieldset>
    <fieldset class="services-summary box">
        <legend>Summary of services to be performed:</legend>
        <ul>
            @if (!String.IsNullOrEmpty(strServices))
            {
            <li class="services-list">
                <strong>Services:</strong>
                @*Sweeping, mopping, vacuuming, dusting, bed-making, dishes, trash emptying, toilets*@
                @strServices
            </li>
            }
            @if (!String.IsNullOrEmpty(strPackages))
            {
            <li class="packages-list">
                <strong>Packages:</strong>
                @strPackages
            </li>
            }
            <li class="special-instructions">
                <strong>Special instructions:</strong>
                @summary.SpecialRequests
            </li>
            <li class="location">
                <strong>Location:</strong>
                @*187 Bocana St., San Francisco, CA 94110*@
                @summary.AddressLine1 @(summary.AddressLine2), @(summary.City), @summary.StateProvinceCode @summary.PostalCodeID
            </li>
            <li class="details">
                <strong>Details:</strong>
                @*Home with 3 bedrooms, 2 bathrooms, 1 kitchen, 2 living areas, and has cats.*@
                @strDetails
            </li>
        </ul>
        @*<div class="acti
                }ons">
            <button class="button edit">Edit</button>
        </div>*@
    </fieldset>
    <fieldset class="appt-time-price box">
        <legend>Appointment time and price:</legend>
        <div class="schedule">
            <h6>Ranked in order of preference:</h6>
            <ol>
                <li class="preferred-option">@*Monday, April 15th, 2012, 11:00am to 2:00pm*@
                    @(dt1Start.ToLongDateString()),
                    @dt1Start.ToShortTimeString() to
                    @dt1End.ToShortTimeString()
                </li>
                <li class="alternative-option-1">
                    @(dt2Start.ToLongDateString()),
                    @dt2Start.ToShortTimeString() to
                    @dt2End.ToShortTimeString()
                </li>
                <li class="alternative-option-2">
                    @(dt3Start.ToLongDateString()),
                    @dt3Start.ToShortTimeString() to
                    @dt3End.ToShortTimeString()
                </li>
            </ol>
        </div>
        <table class="calculation">
            <tr><th>Estimated time required:</th><td class="time-required">@summary.ServiceDuration hours</td></tr>
            <tr>
                <th><span class="time-required">@summary.ServiceDuration hours</span> @('@') <span class="hour-price">$@summary.HourlyPrice</span></th>
                <td class="subtotal-price">$@summary.SubtotalPrice</td>
            </tr>
            <tr>
                <th>Loconomics service fee:</th>
                <td class="fee-pricee">$@summary.FeePrice</td>
            </tr>
            <tr>
                <th>Total estimated price:</th>
                <td class="total-price">$@summary.TotalPrice</td>
            </tr>
        </table>
    </fieldset>
    <fieldset class="actions">
        <button data-wizard-next-step="@Href(UrlUtil.LangPath + "Dashboard/Mailbox/")" class="complete-booking next finish main-action">Complete booking</button>
    </fieldset>
</form>
