@using WebMatrix.Data;

@{   
    string element = PageData["Element"];
    DateTime? date = PageData["Date"];
    decimal? durationHours = PageData["DurationHours"];
    int userID = PageData["UserID"] ?? 0;
    if ((String.IsNullOrEmpty(element) || !date.HasValue) && UrlData.Count > 1) {
        element = UrlData[0];
        date = LcHelpers.CreateDateTime(UrlData[1]);
    }
    if (!date.HasValue) {
        date = DateTime.Today;
    }
    if (!durationHours.HasValue){
        if (UrlData.Count > 2) {
            durationHours = LcHelpers.CreateDecimal(UrlData[2]);
        } else {
            durationHours = 4M;
        }
    }
    if (userID == 0 && UrlData.Count > 3) {
        userID = UrlData[3].AsInt();
    }
}
@functions{
    List<dynamic> createBlocks(dynamic availData, decimal durationHours){
        var availHours = new List<dynamic>();
        // Creating time blocks and checking its availability in blocks with same duration
        // as service duration (durationHours), instead of standard 30 minutes
        {
            var f = Math.Ceiling((decimal) durationHours / .5M);
            for (int ih = 0; ih < availData.Count; ih++)
            {
                var h = availData[ih];
                // Only 'free' and 'tentative' states:
                if (h.CalendarAvailabilityTypeID != 1 &&
                    h.CalendarAvailabilityTypeID != 3)
                {
                    continue;
                }
                
                var serviceEnd = h.TimeBlock.Add(TimeSpan.FromHours((double)durationHours));
                for (int jh = ih; jh < availData.Count; jh++)
                {
                    var j = availData[jh];
                    // Only 'free' and 'tentative' states:
                    if (j.CalendarAvailabilityTypeID != 1 &&
                        j.CalendarAvailabilityTypeID != 3)
                    {
                        break;
                    }
                    // Blocks retrieved from database are EVER consecutive, because of that
                    // there is no need to check if there are time-blocks lost between checks

                    // Get the end time of current 'j' block (half hour blocks ever)
                    var blockEnd = j.TimeBlock.Add(TimeSpan.FromHours(.5));
                    if (serviceEnd <= blockEnd) {
                        availHours.Add(new {
                            Start = h.TimeBlock,
                            End = serviceEnd
                        });
                        break;
                    }
                }
            }
        }
        return availHours;
    }
}

@switch (element) {
    case "WeekDaySelector":
        <div id="weekDaySelector" data-date="@(date.Value.ToString("R"))" data-reload-mode="replace-me" data-source-url="@(UrlUtil.LangPath)/Booking/$ScheduleCalendarElements/@(element)/@(date.Value.ToString("s"))/">
            <a href="#previous-week" class="week-slider" id="previousWeek">&lt;</a>
            <ul>
                @{
                    var dateWeek = date.Value.AddDays(7);
                    for(var idate = date; idate < dateWeek; idate = idate.Value.AddDays(1)) {
                        <li><a href="#select-day" class="action day-selection-action" type="button" data-date="@idate.Value.ToString("R")">
                            <div>@idate.Value.ToString("ddd")</div>
                            <div>@idate.Value.ToShortDateString()</div>
                        </a></li>
                    }
                }
            </ul>
            <a href="#next-week" class="week-slider" id="nextWeek">&gt;</a>
        </div>
        break;
    case "DayHoursSelector":
        dynamic availData = null;
        using (var db = Database.Open("sqlloco"))
        {
            availData = db.Query("EXEC dbo.GetProviderAvailabilityFullSet @0, @1, @2", userID, date, date);
        }
    
        <table id="dayHoursSelector" data-user-id="@(userID)" data-date="@(date.Value.ToString("R"))" data-duration-hours="@(durationHours)" class="step-block" data-reload-mode="replace-me" data-source-url="@(UrlUtil.LangPath)/Booking/$ScheduleCalendarElements/@(element)/@(date.Value.ToString("s"))/@(durationHours)/@(userID)/">
            <caption><h2>@(date.Value.ToString("dddd, MMM d"))</h2></caption>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
            @{
                var availHours = createBlocks(availData, (decimal)durationHours);

                foreach (var h in availHours)
                {
                    <tr>
                        <td class="start">@h.Start.ToString("hh':'mm")</td>
                        <td class="end">@h.End.ToString("hh':'mm")</td>
                        <td class="selector"><select class="choice-selector">
                            <option value="">select</option>
                            <option value="first">first choice</option>
                            <option value="second">second choice</option>
                            <option value="third">third choice</option>
                        </select></td>
                    </tr>
                }
                if (availHours.Count == 0)
                {
                    <tr>
                        <td colspan="3">There are no available hours for this day</td>
                    </tr>
                }
            }
        </table>
        break;
}
