@{
    var myUserType = PageData["MyUserType"];
    var booking = PageData["BookingData"];
    var prefix = PageData["IdPrefix"];
    var isRequest = PageData["IsRequest"];
}
<div class="actions w-BookingDetails-actions">
    @*  CANCEL ACTIONS *@
    @if (myUserType == LcData.UserInfo.UserType.Customer)
    {
        if (isRequest && booking.BookingRequestStatusID == 1) {
            @*  If is customer and booking request is incomplete (status:1),
                allow customer to cancel it (See that $cancelBookingRequest must follow same condition-rule) *@
            <button class="button item-action booking-request-action button-cancel-booking"
                type="button" data-booking-request-id="@booking.BookingRequestID">Cancel</button>
        } else if (!isRequest && booking.BookingStatusID == 1) {
            <button class="button item-action booking-action button-cancel-booking"
                type="button" data-booking-id="@booking.BookingID" data-booking-request-id="@booking.BookingRequestID"
                data-must-confirm="#@(prefix)-confirm-cancellation-policy">Cancel</button>
            <div class="popups">
                <div id="@(prefix)-confirm-cancellation-policy" class="popup confirm-popup">
                    If you wish to cancel this booking, the following cancellation policy will apply:

                    @RenderPage("$CancellationPolicyInfoWidget.cshtml", new { CancellationPolicyID = booking.CancellationPolicyID })

                    <strong>Are you sure you want cancel this booking?</strong>
                    <div class="actions">
                        <a href="#confirm-no" class="cancel-action">No</a>
                        <a href="#confirm-yes" class="main-action">Yes</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        // REVIEW ACTIONS
        // When booking is not cancelled and service date is passed, show Review options:
        if (!isRequest && booking.BookingStatusID < 6 && DateTime.Now > booking.ConfirmedDateEnd)
        {
            if (myUserType == LcData.UserInfo.UserType.Customer)
            {
                <button class="button main-action review-booking-action" type="button" data-booking-id="@booking.BookingID">
                    @(booking.ReviewedByCustomer == true ? "View my review" : "Review provider")
                </button>
                if (booking.ReviewedByProvider == true)
                {
                <button class="button item-action review-booking-action" type="button" data-booking-id="@booking.BookingID" data-as-user-id="@booking.ProviderUserID">
                    View provider review
                </button>
                }
            }
            else if (myUserType == LcData.UserInfo.UserType.Provider)
            {
                <button class="button main-action review-booking-action" type="button" data-booking-id="@booking.BookingID">
                    @(booking.ReviewedByProvider == true ? "View my review" : "Review client")
                </button>
                if (booking.ReviewedByCustomer == true)
                {
                <button class="button item-action review-booking-action" type="button" data-booking-id="@booking.BookingID" data-as-user-id="@booking.CustomerUserID">
                    View customer review
                </button>
                }
            }
        }
    }
</div>