@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();
    
    int thisUserID = (int)(PageData["AsUserID"] ?? Request["AsUserID"].AsInt());
    if (thisUserID == 0) {
        thisUserID = WebSecurity.CurrentUserId;
    }
    
    var thisUserData = LcData.UserInfo.GetUserRow(thisUserID);
    int bID = Request["BookingID"].AsInt();
    
    dynamic booking = PageData["booking"] = LcData.Booking.GetBooking(bID);

}
@helper printDateTimeRange(DateTime? start, DateTime? end){
    if (start.HasValue && end.HasValue) {
        @start.Value.ToLongDateString()
        <text>, </text>
        @start.Value.ToShortTimeString()
        <text> to </text>
        @end.Value.ToShortTimeString()
    } else {
        <span class="no-dates">Date not available</span>
    }
}
@if (DateTime.Now <= booking.EndTime) {
    <div class="booking">
        This booking has not yet been completed.
    </div>
} else if (booking == null)
{
    <div class="booking">
        We're having problems finding the booking.  Contact us at support@loconomics.com
    </div>
}
else
{
    // Checking item: user type of the other user, not current user
    int itsUserID = booking.ProviderUserID;
    string itsUserType = "provider";
    string itsUserLabel = "Provider";
    string myUserType = "customer";
    //string myUserPrefix = "Customer";
    if (thisUserID == booking.ProviderUserID) {
        itsUserType = "customer";
        itsUserLabel = "Customer";
        myUserType = "provider";
        itsUserID = booking.CustomerUserID;
    } // we don't check 'else' nelse 'else if (item.CustoerUserID..) because are just the default values
    var itsUserData = LcData.UserInfo.GetUserRowWithContactData(itsUserID);
    
    var readView = (myUserType == "customer" && booking.ReviewedByCustomer) || (myUserType == "provider" && booking.ReviewedByProvider);

<div class="booking-review booking-request booking">
    @if (readView) {
        <h3>@thisUserData.FirstName, please review <span class="user-public-name">@itsUserData.FirstName</span></h3>
    } else {
        <h3>Tell us how it went with <span class="user-public-name">@itsUserData.FirstName</span></h3>
        <span class="updateddate">This will only take a couple minutes and will be a big help to @itsUserData.FirstName and the community</span>
    }
    <h4>Booking Summary</h4>
    <div class="booking-summary">
        <ul class="item-summary">
            <li class="time">
                <h5>Time:</h5> 
                @printDateTimeRange(booking.StartTime, booking.EndTime)
            </li>
            <li class="position">
                <h5>Service:</h5>
                @booking.PositionSingular services
            </li>
            <li class="details">
                <h5>Details:</h5> @LcData.Booking.GetBookingRequestDetails(booking.BookingRequestID)
            </li>
        </ul>
        <div class="actions">
            <button class="item-action open-booking-action" data-booking-id="@bID">View</button>
            <div class="total-price item-extra-info">$@booking.TotalPrice</div>
        </div>
    </div>
    @if (myUserType == "customer") {
        if (booking.ReviewedByCustomer) {
            @RenderPage(LcUrl.RenderLangPath + "Reviews/$BookingRatingDetails.cshtml", new { AsUserID = thisUserID })
        } else {
            @RenderPage(LcUrl.RenderLangPath + "Reviews/$ProviderRatingForm.cshtml")
        }
    } else if (myUserType == "provider") {
        if (booking.ReviewedByProvider) {
            @RenderPage(LcUrl.RenderLangPath + "Reviews/$BookingRatingDetails.cshtml", new { AsUserID = thisUserID })
        } else {
            @RenderPage(LcUrl.RenderLangPath + "Reviews/$CustomerRatingForm.cshtml")
        }
    }
</div>
}
