@{
    var booking = PageData["BookingData"];
    var myUserType = PageData["MyUserType"];
}
<div class="w-BookingRequestedTimes">
    @if (booking.BookingRequestStatusID == 2 && myUserType == LcData.UserInfo.UserType.Provider)
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">First choice:</h5>
            <a class="action booking-request-action" href="@(LcUrl.LangPath)NewDashboard/messages/bookingrequest/@(booking.BookingRequestID)/confirm/preferred/">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </a>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">Second choice:</h5>
            <a class="action booking-request-action button-confirm-datetime" href="@(LcUrl.LangPath)NewDashboard/messages/bookingrequest/@(booking.BookingRequestID)/confirm/alternative1/">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </a>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">Third choice:</h5>
            <a class="action booking-request-action button-confirm-datetime" href="@(LcUrl.LangPath)NewDashboard/messages/bookingrequest/@(booking.BookingRequestID)/confirm/alternative2/">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.AlternativeDate2Start, booking.AlternativeDate2End)
            </a>
        }

        @* TODO Still not implemented the feature 'propose new times'
        <h5 class="w-BookingRequestedTimes-optionTitle">Propose new times</h5>
        <button type="button" class="action booking-request-action propose-booking-times-action" data-booking-request-id="@booking.BookingRequestID">
            Click here to propose new times to Joshua.
        </button>*@
        
        <h5 class="w-BookingRequestedTimes-optionTitle">Decline booking request</h5>
        <a class="action booking-request-action button-decline-booking" href="@(LcUrl.LangPath)NewDashboard/messages/bookingrequest/@(booking.BookingRequestID)/decline/">
            Decline booking.
        </a>
    }
    else
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">First choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </div>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">Second choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </div>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 class="w-BookingRequestedTimes-optionTitle">Third choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate2Start, booking.AlternativeDate2End)
            </div>
        }
    }
</div>