@{
    var booking = PageData["BookingData"];
    var myUserType = PageData["MyUserType"];
}
<div class="w-BookingRequestedTimes">
    @if (booking.BookingRequestStatusID == 2 && myUserType == LcData.UserInfo.UserType.Provider)
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 class="c-SectionTitle">First choice:</h5>
            <button type="button" class="action booking-request-action button-confirm-datetime" data-booking-request-id="@booking.BookingRequestID" data-date-type="preferred">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </button>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 class="c-SectionTitle">Second choice:</h5>
            <button type="button" class="action booking-request-action button-confirm-datetime" data-booking-request-id="@booking.BookingRequestID" data-date-type="alternative1">
                Click here to confirm @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </button>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 class="c-SectionTitle">Third choice:</h5>
            <button type="button" class="action booking-request-action button-decline-booking" data-booking-request-id="@booking.BookingRequestID">
                Decline booking request. You can offer alternative times, if you’d like.
            </button>
        }

        <h5 class="c-SectionTitle">Decline booking request</h5>
        <button type="button" class="action booking-request-action button-decline-booking" data-booking-request-id="@booking.BookingRequestID">
            Decline booking request. You can offer alternative times, if you’d like.
        </button>
    }
    else
    {
        if (booking.PreferredDateStart is DateTime && booking.PreferredDateEnd is DateTime)
        {
            <h5 class="c-SectionTitle">First choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.PreferredDateStart, booking.PreferredDateEnd)
            </div>
        }
        if (booking.AlternativeDate1Start is DateTime && booking.AlternativeDate1End is DateTime)
        {
            <h5 class="c-SectionTitle">Second choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate1Start, booking.AlternativeDate1End)
            </div>
        }
        if (booking.AlternativeDate2Start is DateTime && booking.AlternativeDate2End is DateTime)
        {
            <h5 class="c-SectionTitle">Third choice:</h5>
            <div class="w-BookingRequestedTimes-date">
                @LcHelpers.DateTimeRangeToString(booking.AlternativeDate2Start, booking.AlternativeDate2End)
            </div>
        }
    }
</div>