@using WebMatrix.Data;
@{
    dynamic booking = PageData[0];
    string myUserType = PageData[1];
    bool isRequest = PageData[2] ?? false;
    bool showPayment = PageData[3] ?? true;
    bool showPricing = PageData[4] ?? true;
    bool showCancellationPolicy = PageData[5] ?? true;
    var BookingDate = PageData["BookingDate"];
    
    if (booking == null || booking["BookingRequestID"] == null) {
        throw new Exception("No data to bound RequestedBookingServices");
    }
    
    var myUserID = (myUserType == "customer" ? booking.CustomerUserID : myUserType == "provider" ? booking.ProviderUserID : 0);
    
    dynamic summary = LcData.Booking.GetBookingRequestForUser(booking.BookingRequestID, myUserID, false);
    var pricingSummary = LcData.Booking.GetPricingSummary(summary);
    var pricingSummaryGroups = LcData.Booking.GetPricingSummaryGroups(summary.PricingEstimateID, summary);
    
    string strServices = LcData.Booking.GetBookingRequestServices(booking.BookingRequestID, booking.PricingEstimateID);
    string strVarsOpts = LcData.Booking.GetBookingRequestDetails(booking.BookingRequestID, booking.PricingEstimateID);
    // Packages and add-ons are included in pricing summary now
    //string strPackAddons = LcData.Booking.GetBookingRequestPackages(booking.BookingRequestID, booking.PricingEstimateID);
}
@helper printQuantityIfNeeded(string q){
    decimal quantity = 0;
    decimal.TryParse(q, out quantity);
    if (quantity > 1) {
        @("(" + quantity.ToString() + " items)")
    }
}
    <div style="@LcEmailTemplateHelper.StyleMessageSection()">

        @if (showPayment)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Payment:</h5>
            <div>
                @switch (myUserType)
                {
                    case "provider":
                        <text>
                        Payment (direct deposit scheduled for @String.Format("{0:d}", booking.PaymentDate ?? "<date not available>")
                        to checking account @("****" + LcEncryptor.Decrypt(booking.PaymentProviderAccountLastDigits)))
                        </text>
                                        break;
                    case "customer":
                        <text>
                        Payment (scheduled for @String.Format("{0:d}", booking.PaymentDate ?? "<date not available>")
                        from credit card @("****" + LcEncryptor.Decrypt(booking.PaymentCustomerCardLastDigits)))
                        </text>
                                     break;
                    default:
                        <text>
                        Total to be paid on @String.Format("{0:d}", booking.PaymentDate ?? "<date not available>")
                        </text>
                                       break;
                }
            </div>
        }


        @if (showPricing)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Pricing summary:</h5>
            if (myUserType == "provider")
            {
                @LcPricingView.EmailProviderPricingSummary(null, pricingSummary, pricingSummaryGroups, 0)
            }
            else if (myUserType == "customer")
            {
                @LcPricingView.EmailCustomerPricingSummary(null, pricingSummary, pricingSummaryGroups, 0)
            }
        }
        
        @* Packages and add-ons are included in pricing summary now
        if (!String.IsNullOrEmpty(strPackAddons))
        {
            <div class="packages">
                @strPackAddons
            </div>
        }*@
        
        @if (!String.IsNullOrEmpty(strServices))
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Services requested:</h5>
            <div>
                @strServices
            </div>
        }

        @if (!String.IsNullOrEmpty(strVarsOpts))
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Estimate for:</h5>
            <div class="estimate">
                @strVarsOpts
            </div>
        }
        @if (!String.IsNullOrEmpty(booking.SpecialRequests))
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Special instructions:</h5>
            <p @LcEmailTemplateHelper.StyleResetP()>@booking.SpecialRequests</p>
        }
        else
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Special instructions:</h5>
            <p @LcEmailTemplateHelper.StyleResetP()>None</p>
        }
        @if (isRequest)
        {
        <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Location and contact information:</h5>
        <div>
            <p>
            Full location and contact information will be shown after the appointment is confirmed.
            </p>
        </div>
        }

        @if (showCancellationPolicy)
        {
            <h5 @LcEmailTemplateHelper.StyleH5("font-size: 1.1em;margin: 8px 0 0;color: #6c6c6c;")>Cancellation policy</h5>
            <div>
               @RenderPage("$CancellationPolicyInfoWidget.cshtml", new
               {
                   CancellationPolicyID = booking.CancellationPolicyID,
                   DisplayForUserType = myUserType,
                   BookingDate = BookingDate,
                   DisplayedCustomerName = LcData.UserInfo.GetUserRow(booking.CustomerUserID).FirstName
               })
            </div>
        }
    </div>
