@{
    LcHelpers.SecurePage();
    
    var customer = PageData["customerrow"] ?? (PageData["customerrow"] = LcData.UserInfo.GetUserRow());
    var provider = PageData["providerrow"] ?? (PageData["providerrow"] = LcData.UserInfo.GetUserRow(Request["providerid"].AsInt()));
    var position = PageData["positionrow"] ?? (PageData["positionrow"] = LcData.UserInfo.GetUserPos(
        Request["providerid"].AsInt(),
        Request["positionid"].AsInt()));
    var bookCode = Request["BookCode"] ?? (string)Session["BookCode"];
    
    var data = getData(customer, provider, position, bookCode);
    
    Session["PriceIsEstimated"] = data.PriceIsEstimated;
    
    var summary = new LcPricingModel.PricingSummaryData();
    
    Dictionary<string, LcPricingModel.PricingModelData> modelsData = null;

    if (IsPost) {
        modelsData = processData(customer, provider, position, data, summary);
    }
    
    // TODO I believe that finally is not need, is not being used, and is not reset
    // between view calls
    var viewData = new {
        Success = false
    };
    
    var hasPricingSummary = data.ContainsSummary && 
        (data.ContainsServices || data.ContainsVariables || data.ContainsOptions || data.ContainsPackages || data.ContainsAddons);
}
@functions{
    dynamic getData(dynamic c, dynamic p, dynamic pos, string bookCode) {
        
        // General Data
        // TODO: Get Customer Type Id
        var clienttypeid = 1;
        
        // Multi-pricing:
        var pricingTypes = LcData.GetPositionPricingTypes(pos.PositionID, clienttypeid);
        // Emulate a pricing type id
        int pricingtypeid = 0;
        // If almost one of the pricing types is in the package-based collection,
        // we set the emulated pricingtypeid as 3 (package) for compatibility with current booking:
        foreach(var pt in pricingTypes) {
            if (LcPricingModel.PackageBasePricingTypeConfigs.ContainsKey(pt.PricingTypeID)) {
                pricingtypeid = 3;
            }
        }

        // Define that price selected and payed is estimated or not
        bool priceIsEstimated = false;
        
        // Get provider hour price
        var hourPrice = LcData.GetProviderHourlyRate(p.UserID, pos.PositionID, clienttypeid);
        
        // Booking type with fees policy
        var feeData = LcData.Booking.GetFeeFor(c.UserID, p.UserID, pricingtypeid, pos.PositionID, bookCode);
        var fee = LcPricingModel.GetFee(feeData);
        var pfee = LcPricingModel.GetPFee(feeData);
        var feesSet = LcPricingModel.GetFeesSetFor(c.UserID, p.UserID, pricingtypeid, pos.PositionID, bookCode);
        
        // Collection of Summary numbers per group that will be a detail line of the result
        var SummaryLines = new Dictionary<string, LcPricingModel.PricingSummaryData>();

        // Configuring available data/groups depending on Pricing Type:
        bool hasServices = true, 
            hasVariables = true,
            hasOptions = true,
            hasPackages = true,
            hasAddons = true,
            hasSummary = true,
            hasInstructions = true;
        /*
         * We need granulated control over what show and what not
         * independing of database data, we add exceptions
         * here to avoid some 'elements groups' or configurate
         * some properties
         */
        switch (pricingtypeid) {
            // Packages
            case 3:
                hasVariables = false;
                priceIsEstimated = false;
                break;
            // Custom
            case 2:
                hasPackages = false;
                hasAddons = false;
                priceIsEstimated = true;
                break;
        }

        /*
         * Retrieving data of each group
         */
        dynamic dataCats = null, 
            pvars = null, 
            poptions = null, 
            packages = null, 
            addons = null;
        bool thereAreAttributes = false;

        // Services
        if (hasServices) {        
            // Services: categories and attributes
            dataCats = LcData.GetServiceCatsAndItsAttributes(pos.PositionID, "booking-services", pos.UserID);
            foreach (var cat in dataCats) {
                if (thereAreAttributes) {
                    break;
                }
                foreach (var att in cat.Value["ServiceAttributes"]) {
                    thereAreAttributes = true;
                    break;
                }
            }
        }

        // Packages
        if (hasPackages) {
            packages = LcData.GetPricingPackagesByProviderPosition(pos.UserID, pos.PositionID, -1, -1, false);
            if (packages.Packages.Count > 0) {
                // Add to summary
                SummaryLines.Add("packages", new LcPricingModel.PricingSummaryData("Package"));
            }
        }

        // Add-ons
        if (hasAddons) {
            addons = LcData.GetPricingPackagesByProviderPosition(pos.UserID, pos.PositionID, -1, -1, true);
            if (addons.Packages.Count > 0) {
                // Add to summary
                SummaryLines.Add("addons", new LcPricingModel.PricingSummaryData("Add-on services"));
            }
        }
        
        // Variables
        if (hasVariables) {
            // Get the Pricing Variables and with the selected Provider Value; if provider didn't select
            // previously values for a variable, that variable will not be returned.
            pvars = LcData.GetPricingVariables(c.UserID, p.UserID, pos.PositionID, clienttypeid, pricingtypeid);
            if (pvars.Count > 0) {
                // Add to summary
                SummaryLines.Add("variables", new LcPricingModel.PricingSummaryData("Estimated Cost"));
            }
        }

        // Options
        if (hasOptions) {
            poptions = LcData.GetPricingOptions(c.UserID, p.UserID, pos.PositionID, clienttypeid, pricingtypeid);
            if (poptions.Count > 0) {
                // Add to summary
                SummaryLines.Add("options", new LcPricingModel.PricingSummaryData("Optional Services"));
            }
        }
        
        // Return struct with all data and availability information (Contains* properties)
        return new {
            ContainsServices = hasServices && thereAreAttributes,
            Services = dataCats,
            ContainsVariables = hasVariables && pvars.Count > 0,
            Variables = pvars,
            ContainsOptions = hasOptions && poptions.Count > 0,
            Options = poptions,
            ContainsPackages = hasPackages && packages.Packages.Count > 0,
            Packages = packages,
            ContainsAddons = hasAddons && addons.Packages.Count > 0,
            Addons = addons,
            ContainsSummary = hasSummary,
            ContainsInstructions = hasInstructions,
            PriceIsEstimated = priceIsEstimated,
            Fee = fee,
            PFee = pfee,
            FeesSet = feesSet,
            HourPrice = hourPrice,
            BookingTypeID = feeData.BookingTypeID,
            PricingTypeID = pricingtypeid,
            PricingTypes = pricingTypes,
            ClientTypeID = clienttypeid,
            SummaryLines = SummaryLines
        };
    }
    
    Dictionary<string, LcPricingModel.PricingModelData> processData(dynamic c, dynamic p, dynamic pos, dynamic data, LcPricingModel.PricingSummaryData summary) {

        var rtn = new Dictionary<string, LcPricingModel.PricingModelData>();
        
        var mustSave = UrlData[0].ToLower() != "calculate";
        
        var pricingTypeID = data.PricingTypeID;
        var hourPrice = data.HourPrice;

        // Calculate & Save
        LcPricingModel.PricingModelData mdVariables = null, mdOptions = null, mdPackages = null, mdAddons = null;

        try {
                
            /* Calculate summary
             */
            if (data.ContainsVariables) {
                mdVariables = LcPricingModel.CalculateVariables(data.Variables, data.HourPrice, data.Fee);
                //rtn.Add("variables", mdVariables);
                data.SummaryLines["variables"].Add(mdVariables.SummaryTotal);
            }
            if (data.ContainsOptions) {
                mdOptions = LcPricingModel.CalculateOptions(data.Options, data.Fee);
                rtn.Add("options", mdOptions);
                data.SummaryLines["options"].Add(mdOptions.SummaryTotal);
            }
            if (data.ContainsPackages) {
                mdPackages = LcPricingModel.CalculatePackages(data.Packages, data.Fee, ModelState);
                //rtn.Add("packages", mdPackages);
                data.SummaryLines["packages"].Add(mdPackages.SummaryTotal);
                // BECAUSE now everything is contained in a package, and this define the pricing type, we allow
                // the selected package to change the PricingTypeID', to save the real pricing type choosen
                pricingTypeID = mdPackages.Data["PricingTypeID"] ?? 3;
                // And allow to an hourly rate package set the pricing hourlyRate, too to save real data instead of 0 ever
                // (if there is no hourly rate, it will be zero as expected)
                hourPrice = mdPackages.Data["HourlyRate"];
            }
            if (data.ContainsAddons) {
                mdAddons = LcPricingModel.CalculateAddons(data.Addons, data.Fee, ModelState);
                //rtn.Add("addons", mdAddons);
                data.SummaryLines["addons"].Add(mdAddons.SummaryTotal);
            }
            
            // Calculate summary totals:
            foreach(var line in data.SummaryLines) {
                summary.Add(line.Value);
            }
            // and calculate summary payment-processing fees
			// As decided on 2013/06/02 on Barcelona, we apply the payment-processing-fee on
			// the Provider price (wihout our fees) instead of the total price (thats the price
			// sent through Braintree), thats: the SubtotalPrice, not TotalPrice.
            // On this case, provider fees are calculated with 2 decimals of precission like the
            // payment processing system does:
            summary.PFeePrice = (new LcPricingModel.Price(summary.SubtotalPrice, data.PFee, 2)).FeePrice;

            /* Save all data?
                */
            if (mustSave && ModelState.IsValid) {
                // Create Pricing Estimate with calculated summary
                // We ever create a new estimate with revision 1 here
                int estimateID = 0, revisionID = 1;
                var estimate = LcData.Booking.CreatePricingEstimate(
                    estimateID,
                    revisionID,
                    pricingTypeID,
                    summary.ServiceDuration,
                    summary.FirstSessionDuration,
                    hourPrice,
                    summary.SubtotalPrice,
                    summary.FeePrice,
                    summary.TotalPrice,
                    summary.PFeePrice);
                // IDs created:
                estimateID = estimate.PricingEstimateID;
                revisionID = estimate.PricingEstimateRevision;

                /* Save every detail
                    */
                if (data.ContainsServices) {
                    LcPricingModel.SaveServices(estimateID, revisionID);
                }
                if (data.ContainsVariables) {
                    LcPricingModel.SaveVariables(estimateID, revisionID, data.Variables, c.UserID, hourPrice, mdVariables.Data["PricingVariablesNumbers"]);
                }
                if (data.ContainsOptions) {
                    LcPricingModel.SaveOptions(estimateID, revisionID, data.Options, c.UserID, mdOptions.Data["PricingOptionsNumbers"]);
                }
                if (data.ContainsPackages) {
                    LcPricingModel.SavePackages(estimateID, revisionID, mdPackages, ModelState, hourPrice);
                }
                if (data.ContainsAddons) {
                    LcPricingModel.SaveAddons(estimateID, revisionID, mdAddons, ModelState, hourPrice);
                }

                /*
                * Create Booking Request
                */
                int cancellationPolicyID = LcData.Booking.GetProviderCancellationPolicyID(p.UserID, pos.PositionID);
                var bookingRequestID = LcData.Booking.CreateRequest(
                    c.UserID,
                    p.UserID,
                    pos.PositionID,
                    data.BookingTypeID,
                    estimateID,
                    cancellationPolicyID,
                    data.ContainsSummary ? Request["booking-services-special-instructions"] : null
                );
            }
        } catch (Exception ex) {
            LcHelpers.ReturnJsonError(-1, ex.Message);
        }
        
        // Return data out of try-catch block to don't break the Thread
        if (mustSave && ModelState.IsValid) {
            // All fine, continue wizard next step:
            LcHelpers.ReturnJsonResult(0, null);
        }
        
        return rtn;
    }
    
    LcPricingModel.PricingModelData GetModelDataForView(string viewName, Dictionary<string, LcPricingModel.PricingModelData> modelsData) {
        if (modelsData != null && modelsData.ContainsKey(viewName)) {
            return modelsData[viewName];
        } else {
            return null;
        }
    }
}

<h2>Select services</h2>

<form id="booking-services" action="@(LcUrl.LangPath)Booking/$Pricing/" method="post" class="services package-pricing calculate-summary">
    <input type="hidden" name="providerid" value="@provider.UserID"/>
    <input type="hidden" name="positionid" value="@position.PositionID"/>
    <fieldset class="pricing-wizard ajax ajax-box step-blocks" data-ajax-fieldset-action="@(LcUrl.LangPath)Booking/$Pricing/Calculate/?providerid=@(provider.UserID)&amp;positionid=@(position.PositionID)">
        @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)

        @if (data.ContainsServices)
        {
            <fieldset>
                <legend>Please select the services you’d like performed (some may require an additional fee)</legend>
                @LcPricingView.Services(viewData, data.Services)
            </fieldset>
        }
        
        @if (data.ContainsPackages)
        {
            <fieldset>
                @LcPricingView.Packages(viewData, data.Packages, data.FeesSet)
            </fieldset>
        }
        
        @if (data.ContainsAddons)
        {
            <fieldset>
                <legend>Select add-on services</legend>
                @LcPricingView.Addons(viewData, data.Addons, data.FeesSet)
            </fieldset>
        }

        @if (data.ContainsVariables)
        {
            <fieldset>
                <legend>Help us determine an accurate price</legend>
                @LcPricingView.Variables(viewData, data.Variables, data.HourPrice, data.Fee)
            </fieldset>
        }
        
        @if (data.ContainsOptions)
        {
            <fieldset>
                <legend>Please add any additional options you’d like</legend>
                @LcPricingView.Options(viewData, data.Options, GetModelDataForView("options", modelsData), data.Fee)
            </fieldset>
        }
        
        @if (data.ContainsInstructions)
        {
            <fieldset class="special-instructions">
                <legend>Any details that might help @provider.FirstName perform the service better?</legend>
                <textarea rows="7" name="booking-services-special-instructions">@Request["booking-services-special-instructions"]</textarea>
            </fieldset>
        }

        @if (!hasPricingSummary)
        {
            <div class="no-pricing-wizard">
                Currently we're unable to provide a pricing estimate for this provider. Please proceed to book a free estimate with the provider to determine a fair price together.
            </div>
        }
        else
        {
            <fieldset>
                <legend>Pricing summary</legend>
                @LcPricingView.CustomerPricingSummary(viewData, summary, data.SummaryLines, data.HourPrice, true)
            </fieldset>
        }

    </fieldset>
    <fieldset class="actions">
        <button data-wizard-next-step="#schedule" class="schedule-service-button next main-action">Save & continue</button>
    </fieldset>
    @if (IsPost)
    {
        <script type="text/javascript">
            lcSetupCalculateTableItemsTotals();
            LC.setupCalculateSummary(true);
			LC.initCustomerPackageSliders();
        </script>
    }
</form>
