@using WebMatrix.Data;
@{
    dynamic booking = PageData["BookingData"];
    LcData.UserInfo.UserType forUserType = PageData["ForUserType"];
    bool isRequest = PageData["IsRequest"] ?? false;
    bool showPayment = PageData["ShowPayment"] ?? false;
    bool showPricing = PageData["ShowPricing"] ?? false;
    bool showCancellationPolicy = PageData["ShowCancellationPolicy"] ?? false;
    bool showPackages = PageData["ShowPackages"] ?? false;
    var BookingDate = PageData["BookingDate"];
    string cssClasses = PageData["CssClasses"] ?? "";
    var u = LcData.UserInfo.GetUserRow();

    if (booking == null || booking["BookingRequestID"] == null) {
        throw new Exception("No data to bound RequestedBookingServices");
    }

    dynamic pricingSummary = null, pricingSummaryDetails = null;
    if (showPricing) {
        var summary = LcData.Booking.GetBookingRequestForUser(booking.BookingRequestID, u.UserID, u.IsAdmin);
        pricingSummary = LcData.Booking.GetPricingSummary(summary);
        //pricingSummaryGroups = LcData.Booking.GetPricingSummaryGroups(summary.PricingEstimateID, summary);
        pricingSummaryDetails = LcData.Booking.GetPricingSummaryDetails(summary.PricingEstimateID, summary.PricingEstimateRevision);
    }
    
    // Packages and add-ons are included in pricing summary now,
    // BUT maybe we are in booking/confirmation/ with a special block for services and we want show the packages-addons inside
    string strPackAddons = "";
    if (showPackages) {
        strPackAddons = LcData.Booking.GetBookingRequestPackages(booking.BookingRequestID, booking.PricingEstimateID);
    }
}
@helper printQuantityIfNeeded(string q){
    decimal quantity = 0;
    decimal.TryParse(q, out quantity);
    if (quantity > 1) {
        @("(" + quantity.ToString() + " items)")
    }
}

    <div class="@cssClasses">

        @if (showPayment)
        {
            <h5>Payment</h5>
            <div class="payment">
                @LcData.Booking.GetBookingPaymentInformation(booking, forUserType)
            </div>
        }

        @if (showPricing)
        {
            <h5>Pricing Summary</h5>
            if (forUserType == LcData.UserInfo.UserType.Provider)
            {
                @LcPricingView.ProviderPricingSummaryDetailed(pricingSummary, pricingSummaryDetails)
            }
            else if (forUserType == LcData.UserInfo.UserType.Provider)
            {
                @LcPricingView.CustomerPricingSummaryDetailed(pricingSummary, pricingSummaryDetails)
            }
        }
        
        @if (showPackages)
        {
            <div class="packages">
                <h5>Services Requested</h5>
                @(strPackAddons ?? "")
            </div>
        }

        @if (!String.IsNullOrWhiteSpace(booking.SpecialRequests)) {
            <h5>Special instructions:</h5>
            <p class="special-instructions">@booking.SpecialRequests</p>
        }
        @if (isRequest)
        {
        <h5>Location and contact information:</h5>
        <div class="location">
            <p>
            Full location and contact information will be shown after the appointment is confirmed.
            </p>
        </div>
        }

        @if (showCancellationPolicy)
        {
            <h5>Cancellation policy</h5>
            <div class="cancellation-policy">
               @RenderPage("$CancellationPolicyInfoWidget.cshtml", new
               {
                   CancellationPolicyID = booking.CancellationPolicyID,
                   DisplayForUserType = forUserType.ToString(),
                   BookingDate = BookingDate,
                   DisplayedCustomerName = LcData.UserInfo.GetUserRow(booking.CustomerUserID).FirstName
               })
            </div>
        }
    </div>