@* Booking Request declined by provider
 *@
@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    // All the data for this email:
    var info = LcEmailTemplateHelper.GetBookingInfo();

    Layout = LcUrl.RenderLangPath + "_EmailLayout.cshtml";

    // Data for the EmailLayout:
    PageData["messageSubtitle"] = LcEmailTemplateHelper.GetLastUpdateText(info.Booking.UpdatedDate);
    PageData["ViewOnSiteURL"] = info.ViewOnSiteURL;
    PageData["showSign"] = true;
    PageData["helpReference"] = "booking request #" + info.BookingRequestID.ToString();
}
<div>
    @switch (info.SentTo) {
		case LcData.UserInfo.UserType.Provider:
                    
            PageData["messageTitle"] = LcData.Booking.GetBookingRequestTitleFor(5, info.CustomerUser, info.SentTo);
            PageData["needHelpAddress"] = "providersupport@loconomics.com";
   
            <p @LcEmailTemplateHelper.StyleResetP()>Hi @(info.ProviderUser.FirstName), <br/><br/>

            This is a confirmation that you've declined @LcHelpers.GetUserDisplayName(info.CustomerUser)'s booking request.
            As you know we want to keep the community strong and reliable so please <a href="mailto:@PageData["needHelpAddress"]">let us know</a>
            on how we could have prevented this from happening. Also, feel free to send a message to @LcEmailTemplateHelper.PrintUserProfileLink(info.CustomerUser) explaining why.

            </p>

            break;
        case LcData.UserInfo.UserType.Customer:

            PageData["messageTitle"] = LcData.Booking.GetBookingRequestTitleFor(5, info.ProviderUser, info.SentTo);
            PageData["needHelpAddress"] = "support@loconomics.com";

            <p @LcEmailTemplateHelper.StyleResetP()>Hello again, @(info.CustomerUser.FirstName)! <br/><br/>

            We’re really sorry to have to let you down. @LcEmailTemplateHelper.PrintUserProfileLink(info.ProviderUser) is unfortunately unable to accept your request at this time.
            <strong>Your credit card has not been charged</strong>, and your authorization will expire shortly.

            @*We'd like you to give us another shot, and we'll waive the booking fees. *@
            <a target="_blank" href="@(LcUrl.LangUrl)?s=@(info.Booking.PositionSingular)">Click here</a> to search for another @(info.Booking.PositionSingular).

            @* and enter TRYAGAINCODE during the checkout process. *@
            </p>

            break;
    }
</div>
