@{
    string size = PageData["Size"] ?? "medium";
    var icon = "";
    switch (size) {
        default:
        case "medium":
            icon = "connect-facebook.png";
            break;
        case "large":
            icon = "connect-facebook-large.png";
            break;
    }
    var redirectUrl = PageData["Redirect"] ?? Request["Redirect"];
}
@helper GetFacebookInitializationScripts(string redirectUrl) {
    var urlsection = PageData["Section"] ?? "Callback"; // Possible values: Callback, Verify, Callback/Provider
    var result = PageData["Result"] ?? "redirect"; // Possible values: redirect, json
    var facebookPermissions = "email,user_about_me";
    
    <div id="fb-root" style="display: none"></div>
    <script type="text/javascript">
        /* Load if not initialized and only after all other elements were loaded in the page */
        if (!window['facebookInitialized']) $(window).load(function() {
            LC.load({
                scripts: ['//connect.facebook.net/@(Facebook.Language)/all.js'],
                complete: function () {
                    FB.init({ appId: '@Facebook.AppId', status: true, cookie: true, xfbml: true });
                },
                completeVerification: function () {
                    return !!window['FB'];
                }
            });
            if (!facebookConnect) {
                var facebookConnect, fbtimer;
                facebookConnect = function () {
                    // If FB is was not loaded still, auto try again
                    if (!window['FB']) {
                        fbtimer = setTimeout($.proxy(facebookConnect, this), 500);
                    } else {
                        if (fbtimer) clearTimeout(fbtimer);
                        var redirect_url = $(this).data('redirect');
                        var profile_url = $(this).data('profile');
                        FB.login(function (response) {
                            if (response.authResponse) {
                                //console.log('FacebookConnect: Welcome!');
                                $.blockUI(loadingBlock);
                                var url = LcUrl.LangPath + "Account/Facebook/@urlsection/?Redirect=" + redirect_url + '&profile=' + profile_url;
                                @if (result == "redirect") {
                                <text>
                                window.location = url;
                                </text>
                                } else if (result == "json") {
                                <text>
                                popup(url, 'small', null, "Verifing");
                                </text>
                                }
                                /*FB.api('/me', function (response) {
                                console.log('FacebookConnect: Good to see you, ' + response.name + '.');
                                });*/
                            } else {
                                //console.log('FacebookConnect: User cancelled login or did not fully authorize.');
                            }
                        }, { scope: '@facebookPermissions' });
                    }
                    return false;
                };
                jQuery(document).on('click', 'a.facebook-connect', facebookConnect);
            }
            window.facebookInitialized = true;
        });
    </script>
}

    @*<a href="https://www.facebook.com/dialog/oauth?client_id=@Server.UrlEncode(facebookAppId)&redirect_uri=@Server.UrlEncode(facebookRedirectUri)&scope=@Server.UrlEncode(facebookPermissions)&state=@Server.UrlEncode((string)facebookState)">
        <img alt="Facebook Connect" src="@(LcUrl.AppPath)img/connect-facebook.png">
    </a>*@

    <a class="facebook-connect" href="#" data-redirect="@Uri.EscapeDataString(redirectUrl ?? "")" data-profile="customer">
        @GetFacebookInitializationScripts(redirectUrl)
        <img alt="Facebook Connect" src="@(LcUrl.AppPath)img/theme/@icon" width="193px" height="24px"/>
    </a>

    @*
    @GetFacebookInitializationScripts()
    @Facebook.LoginButton(
        registerUrl: LcUrl.LangPath + "Account/Facebook/Register/",
        returnUrl: LcUrl.LangPath, 
        callbackUrl: LcUrl.LangPath + "Account/Facebook/Callback/",
        buttonText: "Connect with Facebook",
        extendedPermissions: facebookPermissions)
        *@
    @*
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : 'YOUR_APP_ID',
                status     : true, 
                cookie     : true,
                xfbml      : true,
                oauth      : true,
              });
            };
            (function(d){
               var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
               d.getElementsByTagName('head')[0].appendChild(js);
             }(document));
          </script>
          <div class="fb-login-button">Login with Facebook</div>
    *@