@{
    string size = PageData["Size"] ?? "medium";
    var icon = "";
    switch (size) {
        default:
        case "medium":
            icon = "connect-facebook.png";
            break;
        case "large":
            icon = "connect-facebook-large.png";
            break;
    }
    var redirectUrl = PageData["Redirect"] ?? Request["Redirect"] ?? LcUrl.LangPath;
}
@helper GetFacebookInitializationScripts(string redirectUrl) {
    var urlsection = PageData["Section"] ?? "Callback"; // Possible values: Callback, Verify, Callback/Provider
    var result = PageData["Result"] ?? "redirect"; // Possible values: redirect, json
    var facebookPermissions = "email,user_about_me";
    
    <div id="fb-root" style="display: none"></div>
    <script type="text/javascript">
    (function (window, document, undefined) {

        var urlSection = '@(urlsection)';
        var result = '@(result)';
        var scope = '@(facebookPermissions)';
        var fb = window.facebookUtils;

        // Force Facebook API load calling to ready without callback:
        fb.ready();

        function facebookConnect() {
            // Data on the button/link
            var redirect_url = $(this).data('redirect');
            var profile_url = $(this).data('profile');

            // Login
            fb.login({ scope: scope }, function (auth) {
                //console.log('FacebookConnect: Welcome!');
                $.blockUI(loadingBlock);
                var url = LcUrl.LangPath + "Account/Facebook/" + urlSection + "/?Redirect=" + redirect_url + '&profile=' + profile_url;
                if (result == "redirect") {
                    window.location = url;
                } else if (result == "json") {
                    popup(url, 'small', null, "Verifing");
                    $(document).trigger('connectedToFacebook');
                }
                /*FB.api('/me', function (response) {
                console.log('FacebookConnect: Good to see you, ' + response.name + '.');
                });*/
            }, function (errResponse) {
                //console.log('FacebookConnect: User cancelled login or did not fully authorize.');
            });
        }

        // Attach handler, avoiding double handlers
        jQuery(document)
        .off('click', '.FacebookConnectButtonWidget > .facebook-connect', facebookConnect)
        .on('click', '.FacebookConnectButtonWidget > .facebook-connect', facebookConnect);
    })(window, document);
    </script>
}

    @*<a href="https://www.facebook.com/dialog/oauth?client_id=@Server.UrlEncode(facebookAppId)&redirect_uri=@Server.UrlEncode(facebookRedirectUri)&scope=@Server.UrlEncode(facebookPermissions)&state=@Server.UrlEncode((string)facebookState)">
        <img alt="Facebook Connect" src="@(LcUrl.AppPath)img/connect-facebook.png">
    </a>*@

    <span class="FacebookConnectButtonWidget">
        <a class="facebook-connect" href="#" data-redirect="@Uri.EscapeDataString(redirectUrl ?? "")" data-profile="customer">
            @GetFacebookInitializationScripts(redirectUrl)
            <img alt="Facebook Connect" src="@(LcUrl.AppPath)img/theme/@icon" width="193px" height="24px"/>
        </a>
    </span>
    @*
    @GetFacebookInitializationScripts()
    @Facebook.LoginButton(
        registerUrl: LcUrl.LangPath + "Account/Facebook/Register/",
        returnUrl: LcUrl.LangPath, 
        callbackUrl: LcUrl.LangPath + "Account/Facebook/Callback/",
        buttonText: "Connect with Facebook",
        extendedPermissions: facebookPermissions)
        *@
    @*
          <div id="fb-root"></div>
          <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : 'YOUR_APP_ID',
                status     : true, 
                cookie     : true,
                xfbml      : true,
                oauth      : true,
              });
            };
            (function(d){
               var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
               js = d.createElement('script'); js.id = id; js.async = true;
               js.src = "//connect.facebook.net/en_US/all.js";
               d.getElementsByTagName('head')[0].appendChild(js);
             }(document));
          </script>
          <div class="fb-login-button">Login with Facebook</div>
    *@