@*  $CalendarEditEventForm.cshtml
    List provider availability events
 *@
@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    var idprefix = "availabilityEventsList";

    var events = LcCalendar.GetUserAppointments((int)u.UserID);
}
@if (events == null || events.Count == 0)
{
    <div>You have no appointments.</div>
}
else
{
    <table id="@idprefix">
        <thead>
            <tr>
                <th>What</th>
                <th>Starts</th>
                <th>Ends</th>
                <th>Availability</th>
                <th class="actions">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr class="event crudl-item" data-crudl-item-id="@e.Id">
                    <td>@e.Summary</td>
                    <td>@e.StartTime</td>
                    <td>@e.EndTime</td>
                    <td>@e.CalendarAvailabilityType.CalendarAvailabilityTypeName</td>
                    <td class="actions">
                        <button type="button" class="action edit-action crudl-update">Edit</button>
                        <button type="button" class="action delete-action crudl-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}