@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();
    var idprefix = "preferences";
    
    var u = LcData.UserInfo.GetUserRow();
    PageData["userPrefs"] = null;
    
    Validation.RequireField("SMSBookingCommunication", "Bookings by SMS preference is required");
    Validation.RequireField("PhoneBookingCommunication", "Bookings by Phone preference is required");
    Validation.RequireField("LoconomicsCommunityCommunication", "Loconomics community messages preference is required");
    Validation.RequireField("LoconomicsDBMCampaigns", "Marketing e-mails about Loconomics Service Providers preference is required");
    if (u.IsProvider) {
        Validation.RequireField("ProfileSEOPermission", "Include my profile in search listings preference is required");
        Validation.RequireField("LoconomicsMarketingCampaigns", "Loconomics marketing messages preference is required");
        Validation.RequireField("CoBrandedPartnerPermissions", "Co-branded promotions preference is required");
    }

    if (IsPost) {
        
        var beforePositionStatuses = LcData.UserInfo.GetUserPositionsStatuses((int)u.UserID);
        
        using (var db = Database.Open("sqlloco")){
            db.Execute(@"
                UPDATE  users
                SET     SMSBookingCommunication=@1
                        ,PhoneBookingCommunication=@2
                        ,LoconomicsCommunityCommunication=@3
                        ,LoconomicsDBMCampaigns=@4
                        ,ProfileSEOPermission=@5
                        ,LoconomicsMarketingCampaigns=@6
                        ,CoBrandedPartnerPermissions=@7
                        ,UpdatedDate=getdate()
                        ,ModifiedBy='sys'
                WHERE   UserID = @0
            ", u.UserID,
                Request["SMSBookingCommunication"].AsBool(), 
                Request["PhoneBookingCommunication"].AsBool(),
                Request["LoconomicsCommunityCommunication"].AsBool(),
                Request["LoconomicsDBMCampaigns"].AsBool(),
                u.IsProvider ? Request["ProfileSEOPermission"].AsBool() : false,
                u.IsProvider ? Request["LoconomicsMarketingCampaigns"].AsBool() : false,
                u.IsProvider ? Request["CoBrandedPartnerPermissions"].AsBool() : false
            );
        }
        // Show the profile activation popup with 'next-step' buttons and progress information when need,
        // if not the short message is showed:
        if (!LcHelpers.UseProfileActivationPopup(beforePositionStatuses,
            u.UserID,
            LcRessources.DataSaved,
            "Edit privacy settings"))
        {
            LcHelpers.ReturnJsonResult(5, LcRessources.ShortDataSaved);
        }
    } else {
        using (var db = Database.Open("sqlloco")){
            PageData["userPrefs"] = db.QuerySingle(@"
                SELECT  SMSBookingCommunication
                        ,PhoneBookingCommunication
                        ,LoconomicsCommunityCommunication
                        ,LoconomicsDBMCampaigns
                        ,ProfileSEOPermission
                        ,LoconomicsMarketingCampaigns
                        ,CoBrandedPartnerPermissions
                FROM    Users
                WHERE   UserID=@0
            ", u.UserID);
        }
    }
}
@helper printYesNoOption(string fieldName, bool isYes) {
    string label = isYes ? "Yes" : "No";
    string rvalue = isYes ? "True" : "False";
    <label>@label <input type="radio" @Validation.GetHtml(fieldName) value="@rvalue" name="@fieldName" @LcHelpers.IsChecked(rvalue, Request[fieldName] ?? (PageData["userPrefs"] != null ? PageData["userPrefs"][fieldName].ToString() : "")) /></label>
}
@helper printChoiceOptions(string fieldName, string fieldLabel) {
    @printYesNoOption(fieldName, true)
    @printYesNoOption(fieldName, false)
    <span class="choice-label">@fieldLabel</span>
}
<p class="setting-instructions">
Yep, privacy is pretty important. Let us know what you’re thinking below, and <a href="mailto:providerhelp@loconomics.com">e-mail us</a> with any concerns or questions.
</p>
<div class="preferences">
<form method="post" action="@(LcUrl.LangPath)$Dashboard/$PreferencesPrivacySettings/" class="ajax ajax-box">
    @LcHelpers.GetValidationScripts()
    @Html.ValidationSummary(LcRessources.ValidationSummaryTitle)
    @if (u.IsProvider)
    {
        <fieldset class="personal-data-info">
            <legend>Personal data shown to clients after you’ve accepted a booking*</legend>
            <ul>
                <li>Full name</li>
                <li>E-mail address</li>
                <li>Phone number(s)</li>
                <li>Address where service is to be performed</li>
                <li>Personal website (if listed)</li>
                <li>Professional license or certification information (if applicable)</li>
            </ul>
            <span class="note">*If you are not comfortable sharing this information, you are free to <a href="#preferences-privacysettings-delete-my-account">delete your account</a> or <a href="mailto:help@loconomics.com">e-mail us</a>.</span>
        </fieldset>
    }
    @if (u.IsCustomer)
    {
        <fieldset class="personal-data-info">
            <legend>Personal data shown to providers after your booking has been accepted*</legend>
            <ul>
                <li>Full name</li>
                <li>E-mail address</li>
                <li>Phone number(s)</li>
                <li>Address where service is to be performed</li>
            </ul>
            <span class="note">*If you are not comfortable sharing this information, you are free to <a href="#preferences-privacysettings-delete-my-account">delete your account</a> or <a href="mailto:help@loconomics.com">e-mail us</a>.</span>
        </fieldset>
    }
    <fieldset id="@idprefix-fs-bookingscommunication">
        <legend>Bookings:</legend>
        <ul>
            <li>
                @printChoiceOptions("SMSBookingCommunication", "It’s OK to send me text messages about bookings")
            </li>
            <li>
                @printChoiceOptions("PhoneBookingCommunication", "It’s OK to call me about bookings")
            </li>
        </ul>
    </fieldset>
    <fieldset id="@idprefix-fs-loconomicscommunication">
        <legend>Loconomics:</legend>
        <ul>
            <li>
                @printChoiceOptions("LoconomicsCommunityCommunication", "It’s OK to send me updates about the Loconomics community")
            </li>
            <li>
                @printChoiceOptions("LoconomicsDBMCampaigns", "It’s OK to email me marketing efforts about other service providers within Loconomics")
            </li>
        </ul>
    </fieldset>
    @if (u.IsProvider)
    {
    <fieldset id="@idprefix-fs-marketingcommunication">
        <legend>Marketing:</legend>
        <ul>
            <li>
                @printChoiceOptions("ProfileSEOPermission", "It’s OK to include me in search engine listings like Google and Bing")
            </li>
            <li>
                @printChoiceOptions("LoconomicsMarketingCampaigns", "It’s OK to include my profile in Loconomics marketing")
            </li>
        </ul>
    </fieldset>
    <fieldset id="@idprefix-fs-cobrandingpartners">
        <legend>Co-branding partners:</legend>
        <ul>
            <li>
                @printChoiceOptions("CoBrandedPartnerPermissions", "It’s OK to share my user data for co-branded promotions with our partners")
            </li>
        </ul>
    </fieldset>
    }
    <fieldset class="my-account">
        <legend>My Account</legend>
        <ul>
            <li><a class="change-password" href="@(LcUrl.LangPath + "Account/ChangePassword/")">Change password</a></li>
            @if (u.AccountStatusID > 0)
            {            
            <li id="preferences-privacysettings-delete-my-account"><a href="#delete-my-account">Delete my account</a></li>
            }
            @if (u.AccountStatusID == 1)
            {
            <li><a href="#deactivate-my-account">Deactivate my account</a></li>
            }
            @if (u.AccountStatusID == 2)
            {
            <li><a href="#reactivate-my-account">Reactivate my account</a></li>
            }
        </ul>
    </fieldset>
    <fieldset class="actions">
        <button class="save main-action" type="submit">Save</button>
    </fieldset>
</form>
<div class="my-account-ressources lc-ressources">
    @if (u.AccountStatusID > 0)
    {
    <div class="delete-message-confirm">
        <p>Are you sure you want to delete your account?</p>
        <p>We hate to see you go! Please reconsider and contact us with any concerns. We want you to stay.</p>
        <form action="@(LcUrl.LangPath)Account/$Delete/" method="post" class="ajax ajax-box confirm actions">
            <button type="button" class="cancel-action">No</button>
            <button type="submit" class="main-action">Yes</button>
        </form>
    </div>
    }
    @if (u.AccountStatusID == 1)
    {
    <div class="deactivate-message-confirm">
        <p>Are you sure you want to deactivate your account?</p>
        <form action="@(LcUrl.LangPath)Account/$Deactivate/" method="post" class="ajax ajax-box confirm actions">
            <button type="button" class="cancel-action">No</button>
            <button type="submit" class="main-action">Yes</button>
        </form>
    </div>
    }
    @if (u.AccountStatusID == 2)
    {
    <div class="reactivate-message-confirm">
        <p>Are you sure you want to reactivate your account?</p>
        <form action="@(LcUrl.LangPath)Account/$Reactivate/" method="post" class="ajax ajax-box confirm actions">
            <button type="button" class="cancel-action">No</button>
            <button type="submit" class="main-action">Yes</button>
        </form>
    </div>
    }
</div>
</div>