@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();
    
    // Get User Book Code
    string bookCode = "";
    using (var db = Database.Open("sqlloco")) {
        bookCode = (string)db.QueryValue("SELECT BookCode FROM users WHERE UserID = @0", WebSecurity.CurrentUserId);
        // If there is no book code (minor cases), auto generate one
        if (String.IsNullOrWhiteSpace(bookCode)) {
            bookCode = LcData.UserInfo.GenerateBookCode(WebSecurity.CurrentUserId);
            db.Execute("UPDATE Users SET BookCode = @1 WHERE UserID = @0", WebSecurity.CurrentUserId, bookCode);
        }
    }
    // Get provider positions
    var positions = LcData.UserInfo.GetUserPos(true);

    var selectedSize = Request["size"] ?? "medium.png";
    
    var buttonText = "Click here to book now (on loconomics.com)";
}
<p class="description">
    You can easily add booking to your current website and allow your visitors to book and pay for your services
    using our booking engine. We do not charge any booking fees to your customers if they click on the button
    below from your website. Ask your web developer if you need help inputting the code.
</p>
<div class="website-tools">
    <form>
        <fieldset class="button-size">
            <legend>Select a button size:</legend>
            <div class="size-selection">
                <label><input type="radio" name="size" value="small.png" @LcHelpers.IsChecked(selectedSize, "small.png") /> Small</label>
                <label><input type="radio" name="size" value="medium.png" @LcHelpers.IsChecked(selectedSize, "medium.png") /> Medium</label>
                <label><input type="radio" name="size" value="large.png" @LcHelpers.IsChecked(selectedSize, "large.png") /> Large</label>
                <label><input type="radio" name="size" value="link-only" @LcHelpers.IsChecked(selectedSize, "link-only") /> Link only (no button)</label>
            </div>
            <p>Preview (actual size):</p>
            <div class="button-preview"></div>
        </fieldset>
        <fieldset class="button-url">
            <legend>Select where you'd like the button to link to (you can create multiple buttons if you'd like):</legend>
            <ul>
                @foreach (var pos in positions)
                {
                    <li><label><input type="radio" name="positionid" value="@(pos.PositionID)" />My @pos.PositionSingular booking page</label></li>
                }
                <li><label><input type="radio" name="positionid" value="" />My general profile</label></li>
            </ul>
        </fieldset>
        <fieldset class="button-code" data-base-url="@(LcUrl.AppUrl)book/@(bookCode)/" data-base-src="@(LcUrl.AppPath)img/extern/book-me-button-">
            <legend>Using "Source" or "Code" view in your website editor, copy the code below and paste it into yours:</legend>
            <textarea name="button-source-code" readonly></textarea>
            <script class="template button-source-code-template" type="text/x-template">
<!-- begin Loconomics book-me-button -->
<a style="display:inline-block"><img alt="@buttonText" style="border:none" /></a>
<!-- end Loconomics book-me-button -->
            </script>
            <script class="template link-source-code-template" type="text/x-template">
<!-- begin Loconomics book-me-button -->
<a>@buttonText</a>
<!-- end Loconomics book-me-button -->
            </script>
        </fieldset>
    </form>
</div>