@{
    // Your-work(/positionID)
    LcHelpers.ProviderPage();
    // Forms send the positionID parameter and Get get it from URL (is not the same
    // UrlData position on Get and Post.
    var posID = (Request.Form["positionID"] ?? UrlData[1]).AsInt(-1);
    
    var isInOnboarding = (bool)(PageData["IsInOnboarding"] ?? Request["onboarding"].AsBool(false));
    if (!LcHelpers.InLive && Request["TESTING_SETONBOARDING"].AsBool()) {
        PageData["IsInOnboarding"] = isInOnboarding = true;
    }
    
    var onboardingValidationSummaryMessage = "You're not quite done with this step, but we've saved what you've completed! Log back in when you're ready to finish your profile.";
    
    // User Position record
    dynamic p = null;
    var newPos = false;
    
    // If there is no a positionID (as in Onboarding), get the first on the user list:
    if (posID == -1) {
        p = ((IEnumerable<dynamic>)LcData.UserInfo.GetUserPos()).First<dynamic>();
        if (!isInOnboarding) {
            // Do a redirect when not in onboarding to do the job through the more convenient URL
            // and get the option selected in the sidebar menu:
            Response.Redirect(LcUrl.LangPath + "dashboard/your-work/" + (p == null ? 0 : p.PositionID) + "/");
        }
        posID = p.PositionID;
    }
    else if (posID == 0) {
        // If is 0, shows form to add a position:
        newPos = true;
    } else {
        p = LcData.UserInfo.GetUserPos(WebSecurity.CurrentUserId, posID);
    }

    // NOTE: Section IDs just to link from alerts and other places, not for styling/scripting
}
<h1 class="DashboardSection-page-header">About Your Services @(p != null ? "(" + p.PositionSingular + ")" : "")</h1>

<p class="DashboardSection-page-introduction">
    Your profile is your portal to communicating your services to potential clients in the marketplace.
    We're here to help you along with anything you need to put your best face forward so please don't hesitate
    to ask for help or send use feedback.
</p>

<div class="DashboardYourWork ajax-box">

    @if (!isInOnboarding)
    {
        <div class="DashboardPosition-quickToolsBar">
            <div class="DashboardPosition-quickToolsBar-group">
                <div class="delete-position">
                    <a href="#delete-position" class="DashboardPosition-quickToolsBar-link">Delete position</a>
                    <div class="lc-ressources position-ressources">
                        <div class="delete-message-confirm">
                            <p>Are you really sure you want to delete this position?</p>
                            <form action="@(LcUrl.LangPath)$dashboard/position/$delete" method="post" class="ajax ajax-box confirm actions">
                                <input type="hidden" name="PositionID" value="@posID" />
                                <button type="button" class="close-action cancel-action">No</button>
                                <button type="submit" class="main-action">Yes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if(newPos) {
        <div id="DashboardAddPosition" class="DashboardSection-page-section">
            <h2 class="DashboardSection-page-section-header">Add a new position</h2>
            @RenderPage("Position/$AddNew.cshtml")
        </div>
    } else {

        <form class="BasicForm ajax" method="post" action="@(LcUrl.LangPath)$dashboard/$your-work/@(posID)/@(Request.Url.Query)" @Html.Raw(isInOnboarding ? "data-post-validation='never'" : "")>
            <input type="hidden" name="positionID" value="@(posID)" />
            <input type="hidden" name="onboarding" value="@(isInOnboarding)" />

            <div id="DashboardServices" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Describe your services</h2>
                @RenderPage("YourWork/$Services.cshtml", new { PageState = ModelState, Position = p, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardPricing" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Price your services</h2>
                @RenderPage("YourWork/_$Pricing.cshtml", new { PageState = ModelState, Position = p, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardCancellationPolicy" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Set your cancellation policy</h2>
                @RenderPage("YourWork/$CancellationPolicy.cshtml", new { PageState = ModelState, PositionID = p.PositionID, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardSchedulingOptions" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Set your scheduling confirmation preferences</h2>
                @RenderPage("YourWork/$SchedulingOptions.cshtml", new { PageState = ModelState, PositionID = p.PositionID, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardLocations" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Set your service location(s)</h2>
                @RenderPage("YourWork/_$Locations.cshtml", new { PageState = ModelState, Position = p, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardLicenses" class="DashboardSection-page-section is-required">
                <h2 class="DashboardSection-page-section-header">Verify your professional certification(s)</h2>
                @RenderPage("YourWork/_$Licenses.cshtml", new { PageState = ModelState, Position = p, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardPhotos" class="DashboardSection-page-section">
                <h2 class="DashboardSection-page-section-header">Upload up to 10 images of your work</h2>
                @RenderPage("YourWork/$Photos.cshtml", new { PageState = ModelState, PositionID = p.PositionID, IsInOnboarding = isInOnboarding })
            </div>

            <div id="DashboardReviews" class="DashboardSection-page-section">
                <h2 class="DashboardSection-page-section-header">Ask for reviews from past clients</h2>
                @RenderPage("YourWork/_$Reviews.cshtml", new { PageState = ModelState, PositionID = p.PositionID, IsInOnboarding = isInOnboarding })
            </div>

            <div>
                @Html.ValidationSummary(isInOnboarding ? onboardingValidationSummaryMessage : LcRessources.ValidationSummaryTitle)
            </div>

            <div class="actions">
                <button class="@(isInOnboarding ? "next-action" : "main-action")" type="submit">@(isInOnboarding ? "Next" : "Save")</button>
            </div>
        </form>
    }
</div>

@if(!newPos) {
    if (isInOnboarding)
    {  
        <div class="InlineNotification InlineNotification--hasRequiredSections">
            Required sections
        </div>
    }

    LcHelpers.CheckDashboardSuccessPost("your-work");
}