@model CalendarDll.Data.CalendarEvents

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Event.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CalendarEvents</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "users")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UID)
            @Html.ValidationMessageFor(model => model.UID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CalendarAvailabilityTypeID, "CalendarAvailabilityType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CalendarAvailabilityTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.CalendarAvailabilityTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Transparency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Transparency)
            @Html.ValidationMessageFor(model => model.Transparency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAllDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAllDay)
            @Html.ValidationMessageFor(model => model.IsAllDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StampTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StampTime)
            @Html.ValidationMessageFor(model => model.StampTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeZone)
            @Html.ValidationMessageFor(model => model.TimeZone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedDate)
            @Html.ValidationMessageFor(model => model.UpdatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifyBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifyBy)
            @Html.ValidationMessageFor(model => model.ModifyBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Class)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Class)
            @Html.ValidationMessageFor(model => model.Class)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Organizer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Organizer)
            @Html.ValidationMessageFor(model => model.Organizer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sequence)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sequence)
            @Html.ValidationMessageFor(model => model.Sequence)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Geo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Geo)
            @Html.ValidationMessageFor(model => model.Geo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecurrenceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecurrenceId)
            @Html.ValidationMessageFor(model => model.RecurrenceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeBlock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeBlock)
            @Html.ValidationMessageFor(model => model.TimeBlock)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DayofWeek)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DayofWeek", string.Empty)
            @Html.ValidationMessageFor(model => model.DayofWeek)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventType, "CalendarEventType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EventType", String.Empty)
            @Html.ValidationMessageFor(model => model.EventType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
