@* Cancellation Policy for the position
*@
@{
    LcHelpers.SecurePage();
    
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;

    int providerID = WebSecurity.CurrentUserId;
    int positionID = PageData["PositionID"] ?? Request["PositionID"].AsInt();

    Validation.RequireField("cancellation-policy", "Please, select a valid cancellation policy");
    if (IsPost && Validation.IsValid()) {
        var policyID = Request["cancellation-policy"].AsInt();
        using (var db = Database.Open("sqlloco")) {
            db.Execute(@"
                UPDATE userprofilepositions
                SET CancellationPolicyID = @2
                WHERE UserID = @0 AND PositionID = @1
                    AND LanguageID = @3
                    AND CountryID = @4
            ", providerID, positionID, policyID, LcData.GetCurrentLanguageID(), LcData.GetCurrentCountryID());
        }
        
        if (doReturn) {
            LcHelpers.ReturnJsonResult(5, LcRessources.ShortDataSaved);
        }
    }

    var policies = LcData.Booking.GetCancellationPolicies();
    var selectedPolicyID = LcData.Booking.GetProviderCancellationPolicyID(providerID, positionID);
    
    var prefix = "cancellation-policy-" + positionID.ToString();
}
<p class="DashboardSection-page-section-introduction">
    We want you to maintain a steady flow of clients.
    We know that no-shows and last-minute cancellations are pain.
    Set your cancellation policy below---we'll enforce it for you.
</p>
<fieldset class="DashboardCancellationPolicy ajax ajax-box" data-ajax-fieldset-action="@(LcUrl.LangPath)$Dashboard/YourWork/$CancellationPolicy/?PositionID=@(positionID)">
    <ul>
        @foreach (var policy in policies)
        {
            <li>
                <label data-tooltip-url="#@prefix-policy-@policy.CancellationPolicyID"><input @LcHelpers.IsChecked(policy.CancellationPolicyID, new object[]{ Request["cancellation-policy"], selectedPolicyID }) type="radio" name="cancellation-policy" value="@policy.CancellationPolicyID" /> @policy.CancellationPolicyName <span class="DashboardCancellationPolicy-info">(learn more)</span></label>
                <div class="popups">
                    <div id="@prefix-policy-@policy.CancellationPolicyID" class="popup">
                        @RenderPage(LcUrl.RenderLangPath + "Booking/$CancellationPolicyInfoWidget.cshtml", new { CancellationPolicyID = policy.CancellationPolicyID, DisplayForUserType = "provider" })
                    </div>
                </div>
            </li>
        }
    </ul>
</fieldset>