@* Licenses and professional certifications
*@
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRowWithContactData();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    var pos = PageData["Position"];
    int positionID = pos.PositionID;
    
    var datacontext = "licenses";
    dynamic licenses = null;
    var sqlGetLicenses = @"
        SELECT
            L.*,
            SP.StateProvinceName,
            SP.StateProvinceCode
        FROM
            licensecertification As L
             INNER JOIN
            positionlicense As P
              ON L.LicenseCertificationID = P.LicenseCertificationID
                AND L.StateProvinceID = P.StateProvinceID
                AND L.CountryID = P.CountryID
             INNER JOIN
            StateProvince As SP
              ON SP.StateProvinceID = L.StateProvinceID
        WHERE
            P.PositionID = @0
             AND
            L.Active = 1
             AND
            P.Active = 1
             AND
            L.StateProvinceID = @1
    ";

    using (var db = Database.Open("sqlloco")) {
        licenses = db.Query(sqlGetLicenses, positionID, u.StateProvinceID);
    }
}

@if (!(u.StateProvinceID is int))
{
    <p class="DashboardSection-page-section-introduction">
        Please specify your address <a href="@(LcUrl.LangPath)Dashboard/Account/#account-profile-contact">here</a> in order for us to determine if a license is required to perform this work.
    </p>
}
else if (licenses == null || licenses.Count == 0)
{
    <p class="DashboardSection-page-section-introduction">
        Our research has indicated that a license or certification is not needed for this type of work. If this is incorrect, please <a href="mailto:providerhelp@loconomics.com">e-mail us</a>, and we'll update our records accordingly.
    </p>
}
else
{
    <p class="DashboardSection-page-section-introduction">
        Our research tells that you require a professional license or certification to perform this work. Please input your license details below, and we’ll verify it right away.  If you feel any of the information below is incomplete or inaccurate, please <a href="mailto:providerhelp@loconomics.com">e-mail us</a>, and we'll update our records accordingly.
    </p>

    <fieldset class="DashboardLicenses crudl Crudl--basicStyle" data-crudl-context="@datacontext" data-crudl-item-id-parameter="UserLicenseID" data-crudl-extra-query="subform=true&PositionID=@positionID">
        <div class="DashboardLicenses-editor crudl-editor BasicForm" data-source-url="@(LcUrl.LangUrl)$dashboard/YourWork/$LicensesItemEdit/">
        </div>
        <div class="DashboardLicenses-list crudl-viewer">
            <div class="lc-ressources">
                <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
                <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
            </div>
        
            <div class="ActionsBoxList">
                @foreach (var license in licenses)
                {
                    <div class="ActionBox">
                        <a href="#add-license" class="crudl-create" data-crudl-extra-query="LicenseID=@(license.LicenseCertificationID)">@license.LicenseCertificationType</a>
                        <p>
                            @license.LicenseCertificationTypeDescription
                        </p>
                    </div>
                }
            </div>

            <div class="crudl-list" data-source-url="@(LcUrl.LangUrl)$dashboard/YourWork/$LicensesList/?PositionID=@(positionID)">
                @RenderPage("$LicensesList.cshtml", new { PositionID = positionID })
            </div>
        </div>
    </fieldset>
}