@{
    string userType = ""; // Possible values: provider and customer
    var u = LcData.UserInfo.GetUserRow();
    if (u != null) {
        if (u.IsProvider) {
            userType = "provider";
        } else if (u.IsCustomer) {
            userType = "customer";
        }
    }
}
<div class="dashboard-help-widget user-type-@userType">
    @switch (userType)
    {
        case "provider":
            <article class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Calendar/">Update my availability</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Positions/#!pricing">Update my pricing</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Positions/">Update my profile</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Preferences/#privacy-settings">Manage my privacy settings</a></li>
                    <li><a href="@(UrlUtil.LangPath)Dashboard/Account/#account-personal">Update my contact information</a></li>
                </ul>
            </article>
            <article class="top-five-faqs">
                <h3>Top Five FAQs</h3>
                <a class="view-more" target="_blank" href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">view all</a>
                <ul>
                    <li><a href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">How do i get paid?</a></li>
                    <li><a href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">How much does it cost?</a></li>
                    <li><a href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">Who submits reviews?</a></li>
                    <li><a href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">How do customers find me?</a></li>
                    <li><a href="@(UrlUtil.LangPath)HelpCenter/#FAQS/">Do I pay taxes?</a></li>
                </ul>
            </article>
            <article class="support">
                <h3>How Can We Help?</h3>
                <ul>
                    <li><a href="mailto:providerhelp@loconomics.com">Concact us</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Profile+issues">Profile issues</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Problems+with+a+payment">Problems with a payment</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Change+or+cancel+a+booking">Change/cancel a booking</a></li>
                    <li><a href="mailto:providerhelp@loconomics.com?subject=Problem+with+a+client">Problem with a client</a></li>
                </ul>
            </article>
            break;
        case "customer":
            break;
    }
</div>