	<div id="howItWorksModal" class="modal">
		<h2 class="cushycms">How It Works</h2>
		<ol id="howItWorks">
			<li class="find clearfix">
				<img class="num" src="@Href(UrlUtil.AppPath + "img/icon-01.png")" alt="1" />
				<img class="icon" src="@Href(UrlUtil.AppPath + "img/icon-cart-new.png")" alt="" />
				<h3 class="cushycms"><a href="@Href(UrlUtil.LangPath)">Find, book, &amp; pay for a service.</a></h3>
			</li>
			<li class="performed clearfix">
				<img class="num" src="@Href(UrlUtil.AppPath + "img/icon-02.png")" alt="1" />
				<img class="icon" src="@Href(UrlUtil.AppPath + "img/icon-home-new.png")" alt="" />
				<h3 class="cushycms"><a href="@Href(UrlUtil.LangPath)">Service performed.</a></h3>
			</li>
			<li class="share clearfix">
				<img class="num" src="@Href(UrlUtil.AppPath + "img/icon-03.png")" alt="1" />
				<img class="icon" src="@Href(UrlUtil.AppPath + "img/icon-share.png")" alt="" />
				<h3 class="cushycms"><a href="@Href(UrlUtil.LangPath)">Write a review &amp; tell your friends.</a></h3>
			</li>
		</ol>
	</div>