@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.RenderLangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Reference";
    
    var thisUserID = (Request["ProviderUserID"] ?? Request["UserID"]).AsInt();
    var posID = Request["PositionID"].AsInt();
    var thisUser = LcData.UserInfo.GetUserRow(thisUserID);

    // Data for the EmailLayout:
    PageData["messageTitle"] = "Hello!";// "Reference";
    // Create URL:
    PageData["viewOnSiteUrl"] = UrlUtil.LangUrl + "Reviews/ProviderReferenceWelcome/?ProviderUserID=" + thisUserID.ToString() + "&PositionID=" + posID.ToString();
    PageData["isNotAUser"] = true;
}

<div>
    @*<h3 @LcEmailTemplateHelper.StyleH3()>Hello!</h3>*@

    <div style="margin:20px 0;font-size:1.1em">
        <p @LcEmailTemplateHelper.StyleResetP()>@thisUser.FirstName @thisUser.LastName is building a reputation on Loconomics, a community
            marketplace for local services built on trust and reviews. @thisUser.FirstName has indicated
            you as a past customer and is asking you to provide a reference to display publicly on
            @thisUser.FirstName's Loconomics profile that will help @thisUser.FirstName:</p>
        <ul @LcEmailTemplateHelper.StyleUlOl(true, "margin:8px 4px;")>
            <li>build a reputation within the community</li>
            <li>attract new customers</li>
        </ul>
        <p style="margin:15px 0">Let @thisUser.FirstName know if you have any questions.</p>
        <p style="margin:10px 0">Your help is appreciated!</p>
    </div>
    <div>
        <a href="@PageData["viewOnSiteUrl"]" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Write @thisUser.FirstName a reference</a>
    </div>
</div>
