@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.LangPath + "_EmailLayout.cshtml";
    Page.Title = "Welcome to Loconomics.com";
    
    var thisUserID = Request["UserID"].AsInt();
    var thisUser = DashboardFunctions.GetUserRow(thisUserID);
    
    var resetURL = Request["ResetURL"];
    var resetToken = Request["ResetToken"];
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Welcome";
    // Create URL:
    PageData["viewOnSiteUrl"] = resetURL;
}

<div class="welcome">
    <h3>We’re glad you’re here, @thisUser.FirstName</h3>
    <p class="subh3">Welcome to the Loconomics community!</p>

    @if (!String.IsNullOrEmpty(resetURL))
    {
    <h4>Restore your password</h4>
    <div>
        <p>Click on 'Reset my password' and then write your new password!</p>
        <p>If you have problems with the link or viewing this email, please copy and paste next
        link on your browser: @resetURL</p>
        @if (!String.IsNullOrEmpty(resetToken)) {
        <p>Or go to <a href="@(UrlUtil.LangUrl)Account/PasswordReset/">@(UrlUtil.LangUrl)Account/PasswordReset/</a> and input
        the reset code: @resetToken </p>
        }
    </div>
    }
    <div>
        <a href="@resetURL" target="_blank" class="respond">Reset my password</a>
    </div>

    <h4>Reminders</h4>

    <div class="reminders message-section">
        <ol class="ol" style="list-style: decimal inside">
            <li>Our Privacy Policy and Terms of Use are located <a href="@(UrlUtil.LangUrl)About/">here</a> for your reference</li>
            <li>We’re here to help you and welcome your feedback--please e-mail us at
                support@loconomics.com at any time with questions or feedback.</li>
            <li>Never share your Loconomics password with anyone via email, including us!</li>
        </ol>
    </div>
</div>