@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.LangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - License Verification Request";
    
    var providerID = Request["ProviderUserID"].AsInt();
    var positionID = Request["PositionID"].AsInt();
    var licenseID = Request["LicenseCertificationID"].AsInt();
    var provider = LcData.UserInfo.GetUserRow(providerID);
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "License Verification Request";
    // Create URL:
    PageData["viewOnSiteUrl"] = UrlUtil.LangUrl + "Profile/?UserID=" + providerID.ToString();
    
    var sqlGetLicenseRequest = @"
        SELECT
            V.ProviderUserID,
            L.LicenseCertificationType,
            V.LicenseCertificationURL,
            V.FirstName,
            V.LastName,
            V.MiddleInitial,
            V.SecondLastName,
            V.BusinessName,
            V.LicenseCertificationNumber,
            V.City,
            SP.StateProvinceName,
            C.CountyName,
            S.StatusName,
            S.StatusDescription,
            L.VerificationWebsiteURL
        FROM
            LicenseCertification As L
             INNER JOIN
            userlicenseverification As V
              ON L.LicenseCertificationID = V.LicenseCertificationID
             INNER JOIN
            Status As S
              ON V.StatusID = S.StatusID
             INNER JOIN
            StateProvince As SP
              ON V.StateProvinceID = SP.StateProvinceID
             INNER JOIN
            County As C
              ON V.CountyID = C.CountyID
        WHERE
            V.ProviderUserID = @0
             AND
            V.PositionID = @1
             AND
            V.LicenseCertificationID = @2
    ";
    dynamic data = null;
    using (var db = Database.Open("sqlloco")) {
        data = db.QuerySingle(sqlGetLicenseRequest, providerID, positionID, licenseID);
    }
}
<div>
    <ul>
        <li><strong>License Certification Type:</strong> @data.LicenseCertificationType</li>
        <li><strong>License Certification URL:</strong> <a href="@data.LicenseCertificationURL">@data.LicenseCertificationURL</a></li>
        <li><strong>License Certification Number:</strong> @data.LicenseCertificationNumber</li>
        <li><strong>License Verification Website URL:</strong> <a href="@data.VerificationWebsiteURL">@data.VerificationWebsiteURL</a></li>

        <li><strong>User - UserID:</strong> @providerID</li>
        <li><strong>User - Email:</strong> @provider.Email</li>
        <li><strong>User - First Name:</strong> @provider.FirstName</li>
        <li><strong>User - Last Name:</strong> @provider.LastName</li>
        @if (LcData.GetCurrentCountryID() == 1)
        {
        <li><strong>User - Middle Initial:</strong> @provider.MiddleIn</li>
        }
        @if (LcData.GetCurrentCountryID() == 2)
        {
        <li><strong>User - Second Last Name:</strong> @provider.SecondLastName</li>
        }
        <li><strong>User - City:</strong> @provider.City</li>
        <li><strong>User - State Name:</strong> @provider.StateProvinceName</li>
        
        <li><strong>License - First Name:</strong> @data.FirstName</li>
        <li><strong>License - Last Name:</strong> @data.LastName</li>
        @if (LcData.GetCurrentCountryID() == 1)
        {
        <li><strong>License - Middle Initial:</strong> @data.MiddleInitial</li>
        }
        @if (LcData.GetCurrentCountryID() == 2)
        {
        <li><strong>License - Second Last Name:</strong> @data.SecondLastName</li>
        }
        <li><strong>License - Business Name:</strong> @data.BusinessName</li>
        <li><strong>License - City:</strong> @data.City</li>
        <li><strong>License - State Name:</strong> @data.StateProvinceName</li>
        <li><strong>License - County Name:</strong> @data.CountyName</li>

        <li><strong>Request Status Name:</strong> @data.StatusName</li>
        <li><strong>Request Status Description:</strong> @data.StatusDescription</li>        
    </ul>
</div>