@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.LangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Reset Password";
    
    var thisUserID = Request["UserID"].AsInt();
    var thisUser = DashboardFunctions.GetUserRow(thisUserID);
    
    var resetURL = Request["ResetURL"];
    var resetToken = Request["ResetToken"];
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Reset Password";
    // Create URL:
    PageData["viewOnSiteUrl"] = resetURL;
}

<div>
    <h3 @LcEmailTemplateHelper.StyleH3()>Do you lost your password, @thisUser.FirstName?</h3>
    <p @LcEmailTemplateHelper.StyleResetP()>Someone requested restore the password associated to this email on loconomics.com, if you don't requested it don't worry, 
        you can continue using your current password without restore it, but if you want pres next button to create a new password:</p>

    @if (!String.IsNullOrEmpty(resetURL))
    {
    <h4 @LcEmailTemplateHelper.StyleH4()>Restore your password</h4>
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>Click on 'Reset my password' and then write your new password!</p>
        <p @LcEmailTemplateHelper.StyleResetP()>If you have problems with the link or viewing this email, please copy and paste next
        link on your browser: @resetURL</p>
        @if (!String.IsNullOrEmpty(resetToken)) {
        <p @LcEmailTemplateHelper.StyleResetP()>Or go to <a href="@(UrlUtil.LangUrl)Account/PasswordReset/">@(UrlUtil.LangUrl)Account/PasswordReset/</a> and input
        the reset code: @resetToken </p>
        }
    </div>
    }
    <div>
        <a href="@resetURL" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Reset my password</a>
    </div>

    <h4>Reminders</h4>

    <div style="@LcEmailTemplateHelper.StyleMessageSection()">
        <ol @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>Our Privacy Policy and Terms of Use are located <a href="@(UrlUtil.LangUrl)About/">here</a> for your reference</li>
            <li>We’re here to help you and welcome your feedback--please e-mail us at
                support@loconomics.com at any time with questions or feedback.</li>
            <li>Never share your Loconomics password with anyone via email, including us!</li>
        </ol>
    </div>
</div>