@using WebMatrix.Data;
@{
    LcMessaging.SecureTemplate();
    
    Layout = UrlUtil.RenderLangPath + "_EmailLayout.cshtml";
    Page.Title = "Loconomics.com - Reset Password";
    
    var thisUserID = Request["UserID"].AsInt();
    var thisUser = LcData.UserInfo.GetUserRow(thisUserID);
    
    var resetURL = Request["ResetURL"];
    var resetToken = Request["ResetToken"];
    
    // Data for the EmailLayout:
    PageData["messageTitle"] = "Reset Password";
    // Create URL:
    PageData["viewOnSiteUrl"] = resetURL;
}

<div>
    <p @LcEmailTemplateHelper.StyleResetP()>Hi, @thisUser.FirstName,</p>
    <p @LcEmailTemplateHelper.StyleResetP()>It looks like you’ve misplaced the key to your kingdom. Er, password to your Loconomics account. If this is true and you requested a new password, please click the link below:</p>
    <div>
        <a href="@resetURL" target="_blank" style="@LcEmailTemplateHelper.StyleRespondButton()" class="respond">Reset my password</a>
    </div>
    @if (!String.IsNullOrEmpty(resetURL))
    {
    <div>
        <p @LcEmailTemplateHelper.StyleResetP()>If this is all one big mistake and you didn’t request a new password, don’t worry. You can keep using your old one.</p>
        <p @LcEmailTemplateHelper.StyleResetP()>If you have problems with the link or with viewing this email, copy and paste  @resetURL into your browser.</p>
        @if (!String.IsNullOrEmpty(resetToken)) {
        <p @LcEmailTemplateHelper.StyleResetP()>Alternatively, go to <a href="@(UrlUtil.LangUrl)Account/PasswordReset/">@(UrlUtil.LangUrl)Account/PasswordReset/</a> and input
        our reset code: @resetToken </p>
        }
    </div>
    }


    <h4>Reminders</h4>

    <div style="@LcEmailTemplateHelper.StyleMessageSection()">
        <ol @LcEmailTemplateHelper.StyleUlOl(true)>
            <li>Our Privacy Policy and Terms of Use are always easily found <a href="@(UrlUtil.LangUrl)About/">here</a></li>
            <li>You can always email us at support@loconomics.com with any and all questions.</li>
            <li>Keep your password private! </li>
        </ol>
    </div>
</div>