@{
    
}
<article id="FAQs-BecomeProvider">
    <h2 class="cushycms">Becoming a provider</h2>
    <ol>
        <li id="FAQs-BecomeProvider-Q1">
            <h3>How do I sign up?</h3>
            <p class="cushycms">
			It’s a matter of clicks! Clicking Become a Provider on our home page will let you start creating your profile. From there, you can edit, add, delete, or deactivate at any point. As usual, we’re around to help. Let us know if you have any questions.  
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q2">
            <h3>Is Loconomics an employer?</h3>
            <p class="cushycms">
			Nope! Well, not to the many independent service providers we showcase and link with customers. They’re their own bosses. We, on the other hand, are a small team of dedicated Localistas working hard behind the scenes to maintain Loconomics. But we do not employ any of the providers on our site.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q3">
            <h3>What information do I need to sign up?</h3>
            <p class="cushycms">
			Just the usual – name, of course, and some contact info. The more information you are able to display on Loconomics, the more customers you might initially attract, since you won’t just be a floating head. None of your super-private info is displayed publicly, don’t worry.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q4">
            <h3>Who submits reviews?</h3>
            <p class="cushycms">
			We like feedback. It helps future customers pick the provider right for them. We encourage all customers to thoughtfully assess their experience with providers found through Loconomics. Providers, too, have a hand in the deal and are able to request references and reviews from their customers, They’re also able to review customers, ensuring future good fits for all.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q5">
            <h3>How many job titles can I have?</h3>
            <p class="cushycms">
			Five! All easily managed from one dashboard. But we are open to helping you expand your empire. <a href="mailto:providerhelp@loconomics.com" target="_blank">Shoot us an e-mail</a> if you’d like to talk shop.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q6">
            <h3>Why isn't my profile activated?</h3>
            <p class="cushycms">
			It’s got to be plugged in. Rather, turned on. Head over to your dashboard and, with your mouse, slide the “ON/OFF” button in the upper left corner to “ON”. Still not working? Double-check that you’ve completed all of the “Activate” alerts for your position. If so, and you’re still stumped, send us an email pronto. 
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q7">
            <h3>How can I deactivate my profile?</h3>
            <p class="cushycms">
			With a tiny little click! Visit <a href="@(LcUrl.LangPath)Dashboard/Positions/">My Work</a> in your dashboard and find the “ON/OFF” button in the top left corner. Sliding the button to “OFF” will mean your profile won’t show up in searches or be publicly viewed. All of your info is stored and can be reactivated by sliding the button to “ON”. To delete your account permanently, go to your <a href="@(LcUrl.LangPath)Dashboard/Preferences/#privacy-settings">Privacy Settings</a>, where you can do so. We’ll miss you!
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q8">
            <h3>How can edit my profile?</h3>
            <p class="cushycms">
			From your dashboard, click <a href="@(LcUrl.LangPath)Dashboard/Positions/">My Work</a> and start editing. From here, you can continually edit your services, your pricing, your photos – all that good stuff. Clicking “Save” will preserve all your hard work.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q9">
            <h3>How do I add a new position?</h3>
            <p class="cushycms">
			The dashboard has it all. Click <a href="@(LcUrl.LangPath)Dashboard/Positions/">My Work</a> on the left side of the screen, just under your photo, then select the tab in the middle reading “Add a New Position”. You will manage all your positions from the same dashboard. Pretty easy.
        </li>
        <li id="FAQs-BecomeProvider-Q10">
            <h3>Can I suggest a new job title?</h3>
            <p class="cushycms">
			Please, please do! Fire away. Wait, can we guess? Professional whistler. Personal rodeo clown. Gum scraper? Seriously, though, please <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">send us a note</a> with any questions and suggestions you have. Don’t see yourself and your service on the list? Let us know. We definitely want to add it.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q11">
            <h3>Do I pay taxes?</h3>
            <p class="cushycms">
			We’re not going to step between you and Uncle Sam. But federal tax law requires we give you a 1099 form. We will not deduct any federal, state, or local taxes from your pay.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q12">
            <h3>Is my personal information secure?</h3>
            <p class="cushycms">
			Most definitely. We safely encrypt and store your private info, and we’ll never share your personal details with anyone without permission (here’s our <a href="@(LcUrl.LangPath)About/PrivacyPolicy/">Privacy Policy</a>). Loconomics is certified by TRUSTe. The only information that is made public is what you choose to put on your profile.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q13">
            <h3>How long does it take to get paid?</h3>
            <p class="cushycms">
			First off, we have to make sure you’re a real person and that you showed up to do your job. After you complete your first booking, we withhold your payment for five days while we double-check. After this, your bank account sees direct deposits from every booking within 48 hours. Some variation is to be expected, depending on your bank, holidays and weekends, processing, and all that stuff. But it should never take more than a few days.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q14">
            <h3>Can I be paid by check?</h3>
            <p class="cushycms">
			Yes, though as socially conscious folks, we like to encourage the paperless, direct deposit route. Let us know if you do indeed prefer checks. We can make it happen, though with processing and mail, it might take a little longer.
		    </p>
		</li>
        <li id="FAQs-BecomeProvider-Q15">
            <h3>Are direct deposit and checks my only payment options?</h3>
            <p class="cushycms">
			Currently, yes. We’re still working on securing other payment options, but right now, these are the cheapest, meaning you get more of your hard-earned money. 
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q16">
            <h3>What if there's a problem with my payment?</h3>
            <p class="cushycms">
			You deserve every penny you earn. If you feel there’s a payment problem and enough time has passed without you reaping the fruits of your labor, let us know right away by <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">sending us a note</a>.
            </p>
        </li>
        <li id="FAQs-BecomeProvider-Q17">
            <h3>How much does Loconomics cost?</h3>
            <p class="cushycms">
			Except for the tiny @LcPayment.MarketplaceProviderFee payment processing fee, using Loconomics is free. We want you to feel comfortable and at home using our booking service. Check out the research and links we’ve peppered the site with. Bone up on your competition. Glow a little with every good review. And line your pockets with a little extra.
			</p>
        </li>
    </ol>
</article>