@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();
   
    // Dismiss feature #243:
    if (Request["action"] == "dismiss") {
        // Validate required input
        if (Request["AlertID"].IsInt()) {
            var aID = Request["AlertID"].AsInt();
            // PositionID is not required because there are alert
            // that doesn not required (Zero value for that cases)
            var posID = Request["PositionID"].AsInt(0);

            // The change in database is done updating an existing record
            // for that alertID, that positionID and the user,
            // if not exists, bad attempt from the user, nothing is done,
            // silence for security and easier way:
            using (var db = Database.Open("sqlloco")) {
                db.Execute(@"
                    UPDATE  UserAlert
                    SET     Dismissed = 1
                    WHERE   UserID = @0 AND
                            AlertID = @1 AND
                            PositionID = @2
                ", WebSecurity.CurrentUserId, aID, posID);
            }
            // NOTE: There is a chance for manual uses of the URL in that a
            // user attempts to off an alert that is required, and the change
            // on the 'dismissed' flag at database will happen successfully
            // BUT, when we show, count and validate alerts, the dismissed field
            // is ignored on required alerts, then it does not take effects :-)
            
            // Returns
            if (!Request.IsAjaxRequest()) {
                // On Non Ajax requests, we redirect to the
                // alerts full page
                Response.Redirect(LcUrl.LangPath + "R5Dashboard/Alerts/");
            }
            // For Ajax requests, we continue processing to return the new html
            // for the page, getting updated alerts list, it just MUST be executed
            // as a Reload on the main div element on this file
        }
    }
    
    // Load alerts:
    dynamic alerts = LcData.GetActiveUserAlerts(WebSecurity.CurrentUserId);
}
<div id="dashboard-alerts" class="dashboard-alerts" data-reload-mode="replace-me" data-source-url="@(LcUrl.LangPath)$R5Dashboard/$Alerts/">
@if (alerts.Count > 0)
{
    <ul>
        @{
            // We need show the results in groups based on AlerType fields
            // We already get the data sorted by AlertTypeName, we implement
            // the group-by here in the view generation instead of do a 
            // database call for groups and other for each group alerts.
            // Simply remember last AlertTypeName and compare, when changed the new
            // group header must be showed
            var lastAlertType = "";
            foreach (var alert in alerts)
            {
                // Check AlerType for grouping
                if (lastAlertType != alert.AlertTypeName)
                {
                    <li class="group">
                        <h2>@alert.AlertTypeName</h2>
                        <span class="description">@alert.AlertTypeDescription</span>
                    </li>
                }
                lastAlertType = alert.AlertTypeName;

                string completeUrl = LcData.CreateAlertURL(alert);
                <li class="item @(alert.Required ? "required" : "")">
                    @if (completeUrl != null)
                    {
                        <a class="alert-info" href="@completeUrl">@alert.AlertHeadlineDisplay 
                        @if (alert.PositionSpecific)
                        {
                            <span class="alert-position">(@alert.PositionSingular)</span>
                        }
                        <span class="more">&gt;&gt;</span></a>
                    }
                    else
                    {
                        <span class="alert-info">@alert.AlertHeadlineDisplay</span>
                    }
                    @* Dismiss feature #243, only for non required alerts *@
                    @if (!alert.Required) {
                        <a class="dismiss-alert" href="@(LcUrl.LangPath)$R5Dashboard/$Alerts/?action=dismiss&AlertID=@(alert.AlertID)&PositionID=@(alert.PositionID)">dismiss</a>
                    }
                </li>
            }
        }
    </ul>
} else {
    <div class="empty"><h2>Congratulations, you've completed all alerts!</h2></div>
}
</div>