@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    var u = LcData.UserInfo.GetUserRow();

    var abbrLangCode = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var culture = System.Globalization.CultureInfo.CurrentUICulture.Name;
    // Updated assets version, to avoid problems with cache of css & js assets
    LcAssets.AssetsVersion = "";
    
    // Sniff IE browsers or based on its same engine (Trident).
    var isIE = Request.UserAgent.Contains("MSIE") || Request.UserAgent.Contains("Trident");
    
    // Main assets that allow minification
    var styleCss = "Styles/common";
    var loadScripts = new List<string>();
    // Enabled only on dev
    if (LcHelpers.InDev) {
        loadScripts.Add("libs.js");
        loadScripts.Add("app.js");
        styleCss += ".css";
    } else {
        loadScripts.Add("common.min.js");
        styleCss += ".min.css";
    }
}
<!doctype html>
    <!--[if lt IE 8]>    <html class="no-js ie ie7 oldie" lang="@abbrLangCode" data-culture="@culture"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js ie ie8 oldie" lang="@abbrLangCode" data-culture="@culture"> <![endif]-->
    <!--[if gt IE 8]> <html class="no-js ie" lang="@abbrLangCode" data-culture="@culture"> <![endif]-->
    <!--[if !IE]><!--> <html class="no-js" lang="@abbrLangCode" data-culture="@culture"> <!--<![endif]-->
     <head>
          <meta charset="utf-8"/>
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
          <title>Loconomics - @Page.Title</title>
          <meta name="description" content="Find service providers to do the job right. At your service!"/>
          <meta name="author" content="Loconomics Inc."/>
          @* Mobile viewport optimization is need only if there is a well optimized css counter-part, disabled until that: <meta name="viewport" content="width=device-width,initial-scale=1"/>*@
          <link rel="shortcut icon" href="@Href(LcUrl.AppPath + "favicon.ico")" type="image/x-icon" />

            @* Our styles *@
            @LcAssets.PrintStyleTag(LcUrl.AppPath + styleCss)
            @LcAssets.GetStylesTags()

            @foreach (var js in loadScripts)
            {
                @LcAssets.PrintScriptTag(LcUrl.AppPath + "Scripts/" + js)
            }

           @* Additional styles for test pages *@
           <style type="text/css">
            .objectinfo span.type 
            {
                cursor: pointer;
            }
            .objectinfo .closedTree:before
            {
                content: '+';
                position: relative;
                left: -12px;
            }
           </style>
           @LcAssets.PrintScriptTag(LcUrl.AppPath + "Scripts/libs.js")
           <script type="text/javascript">
               @* Our LcUrl class *@
               @Html.Raw(LcUrl.ToJsVar())
               @* OUR namespace (abbreviated Loconomics) *@
               var LC = window['LC'] || {};

                yepnope({
                    test: typeof JSON === 'object',
                    nope: LcUrl.AppPath + "Scripts/libs/json2.js"
                });

                @* Additional scripts for Test pages *@
                // Convert objectinfo in collapsable object
               $(document).on('click', '.objectinfo span', function () {
                   var te = $(this).siblings('.typeEnumeration, .typeContainer');
                   te.toggle();
                   if (te.length) $(this).toggleClass('closedTree');
               });
            </script>

            @if(isIE){
            <!--[if lt IE 9]>
            <style type="text/css">
                body,html,iframe{overflow: hidden; overflow:hidden !important;}
            </style>
            <![endif]-->
            }
    </head>
    <body class="@PageData["BodyClass"]">

        <div id="container">
            UserID: @Html.Raw(WebSecurity.CurrentUserId == -1 ? "<a href='login' class='login'>Login</a>" : WebSecurity.CurrentUserId.ToString())
            <div id="main">
                @RenderBody()
            </div>
        </div>

        <div class="scripts">
            @* Javascript linked from asp.net *@
            @LcAssets.GetScriptsTags()
            @if (PageData["InlineScript"] != null)
            {
                <script type="text/javascript">@Html.Raw(PageData["InlineScript"])</script>
            }
        </div>
        <div class="lc-ressources">
            <span id="lcres-quit-without-save">@LcRessources.GetText("quit-without-save")</span>
            <span id="lcres-changes-not-saved">@LcRessources.GetText("changes-not-saved")</span>
            <span id="lcres-tab-has-changes-stay-on">@LcRessources.GetText("tab-has-changes-stay-on")</span>
            <span id="lcres-tab-has-changes-continue-without-change">@LcRessources.GetText("tab-has-changes-continue-without-change")</span>
        </div>

    </body>
</html>
