@{
    LcHelpers.TestArea();
    Layout = "_TestLayout.cshtml";
    
    var imported = false;
    if (IsPost) {
        // Import
        if (Request.Files["ics"] != null) {
            LcCalendar.Import(WebSecurity.CurrentUserId, Request.Files["ics"].InputStream);
            imported = true;
        }
    }
}
<div>
    <h2>Import calendar file to user: @WebSecurity.CurrentUserId</h2>
    <form method="post" enctype="multipart/form-data">
        Select file: <input type="file" name="ics" />
        <div class="actions">
            <input type="submit" class="main-action" value="Import" />
        </div>
        @if (imported)
        {
            <div class="info">File imported!</div>
        }
    </form>
    <h2>Time Zones</h2>
    @{
        System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> zones = TimeZoneInfo.GetSystemTimeZones();
        <div>@String.Format("The local system has the following {0} time zones", zones.Count)</div>
        <table>
        <tr><th>DisplayName</th><th>Microsoft TimeZoneInfo ID</th><th>Offset</th><th>DST</th></tr>
        @foreach (TimeZoneInfo zone in zones) {
           <tr><td>@zone.DisplayName</td><td>@(zone.Id)</td><td>@zone.BaseUtcOffset</td><td>@zone.SupportsDaylightSavingTime</td></tr>
        }
        </table>
    }
</div>