@{
    var item = PageData["Item"];
}
@helper hrefProfile(dynamic p){
    @Href(UrlUtil.LangPath + "Profile/?providerid=" + p.UserID + "&positionid=" + p.PositionID);
}
        <div class="overview">
            @RenderPage(UrlUtil.LangPath + "Profile/$UserInfoWidget.cshtml", new { 
                Size = "medium", 
                UserID = item.UserID,
                PositionID = item.PositionID,
                UserType = "provider", 
                WithGooglemap = false,
                WithFullRating = true,
                WithLinkInName = true
            })
            @*
            <div class="positions">Positions:  Housekeeper, Gardener, and <a href="#" class="view-more">2 more</a></div>
            <div class="services">Services offered:  ironing, mopping, dusting, bed-
                making, sweeping, vacuuming, and <a href="#" class="view-more">14 more</a></div>*@
        </div>
        
        @RenderPage(UrlUtil.LangPath + "Profile/$UserVerificationsWidget.cshtml", new { UserID = item.UserID, Size = "mini", ContainerID = "" })
        
        <div class="hightlighted-review">

            @RenderPage(UrlUtil.LangPath + "Reviews/$FeaturedReview.cshtml", new { ReviewedID = item.UserID, PositionID = item.PositionID })
            @*
            <img alt="Reviewer photo" class="reviewer-photo" src="@Href(UrlUtil.AppPath + "img/generic-friend-avatar.png")"/>
            <p>
                @item.FirstName is really great at what he does. He was pleasant, communica...
                <a href="#" class="view-more">view more</a>
            </p>*@
        </div>

       <a class="button fanciful book" href="@hrefProfile(item)">
        view and book for <span class="hour-price">$17/hr.</span>
       </a>