@*
    Print a list of search categories (aka position main categories)
    Params (via PageData):
        string CategoriesTitle = null : optional string to show a h3 header element as list title.
        string SelectedCategory = null : optional string identifying the category that must be marked as 'selected item'
*@
@{
    string title = PageData["CategoriesTitle"];
    string urlBase = PageData["UrlBase"] ?? UrlUtil.LangPath + "Search/";
}
@functions{
    string sel(string name){
        return (name == (PageData["SelectedCategory"] ?? "").ToLower()) ? "selected" : "";
    }
}
<div class="search-categories">
    @if (!String.IsNullOrEmpty(title))
    {
         <h3 class="cat-list-title">@title</h3>
    }
    <ul>
		<li class="cat-home @sel("home")">
			<a href="@(urlBase + "?c=Home")">Home</a>
            <div class="details">
                <div class="description">
                    <h5><strong>home</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-child @sel("child")">
			<a href="@(urlBase + "?c=Child")">Child</a>
            <div class="details">
                <div class="description">
                    <h5><strong>child</strong> services ready to be booked</h5>
                    <p>Children are people, too. Help your child learn a language, play an instrument, or give you a night out on the town.  Tutors, babysitters, hairstylists, photographers, and more.</p>
                </div>
            </div>
		</li>
		<li class="cat-pets @sel("pet")">
			<a href="@(urlBase + "?c=Pet")">Pets</a>
            <div class="details">
                <div class="description">
                    <h5><strong>pet</strong> services ready to be booked</h5>
                    <p>Throw your dog a bone.  Better yet, treat your pet to grooming services, walkers, sitters, and more.</p>
                </div>
            </div>
		</li>
		<li class="cat-people @sel("personal")">
			<a href="@(urlBase + "?c=Personal")">Personal</a>
            <div class="details">
                <div class="description">
                    <h5><strong>personal</strong> services ready to be booked</h5>
                    <p>You need a massage. Personal trainers, music teachers, and a number of therapists are here and ready to help you become the person you deserve to be.</p>
                </div>
            </div>
		</li>
		<li class="cat-transport @sel("transport")">
			<a href="@(urlBase + "?c=Transport")">Transport</a>
            <div class="details">
                <div class="description">
                    <h5><strong>transport</strong> services ready to be booked</h5>
                    <p>There are mechanics, bicycle repairers, and car detailers all wanting to help you get where you need to go.</p>
                </div>
            </div>
		</li>
		<li class="cat-business @sel("business")">
			<a href="@(urlBase + "?c=Business")">Business</a>
            <div class="details">
                <div class="description">
                    <h5><strong>business</strong> services ready to be booked</h5>
                    <p>Tax season have you nervous? Need a cleaner for your office?  Get some help for your business to make this year more successful than the rest.</p>
                </div>
            </div>
		</li>
		<li class="cat-elderly @sel("elder")">
			<a href="@(urlBase + "?c=Elder")">Elderly</a>
            <div class="details">
                <div class="description">
                    <h5><strong>elderly</strong> services ready to be booked</h5>
                    <p>Do you or a family member need a little extra help around the house? Browse through service providers wanting to help make life easier.</p>
                </div>
            </div>
		</li>
		<li class="cat-celebrations @sel("celebration")">
			<a href="@(urlBase + "?c=Celebration")">Celebrations</a>
            <div class="details">
                <div class="description">
                    <h5><strong>celebrations</strong> services ready to be booked</h5>
                    <p>Make your next celebration a real blowout with help from some very talented professionals. Photographers, DJs, musicians and more.</p>
                </div>
            </div>
		</li>
	</ul>
</div>