<div class="search-categories">
	<ul>
		<li class="cat-home selected">
			<a href="@Href("~/en_US/Search?Service=Home")">Home</a>
		</li>
		<li class="cat-child">
			<a href="@Href("~/en_US/Search?Service=Child")">Child</a>
		</li>
		<li class="cat-pets">
			<a href="@Href("~/en_US/Search?Service=Pet")">Pets</a>
		</li>
		<li class="cat-people">
			<a href="@Href("~/en_US/Search?Service=Personal")">People</a>
		</li>
		<li class="cat-transport">
			<a href="@Href("~/en_US/Search?Service=Transport")">Transport</a>
		</li>
		<li class="cat-business">
			<a href="@Href("~/en_US/Search?Service=Business")">Business</a>
		</li>
		<li class="cat-elderly">
			<a href="@Href("~/en_US/Search?Service=Elder")">Elderly</a>
		</li>
		<li class="cat-celebrations">
			<a href="@Href("~/en_US/Search?Service=Celebration")">Celebrations</a>
		</li>
	</ul>
    <h1><strong>Home</strong> services ready to be booked nearby</h1>
    <p class="help">Need some help around the house? Painters, housekeepers, handymen and more await you and your home.  Select a provider from the results below or refine your search to find your perfect provider</p>
    <div class="subcategories buttons-list">
        Services in "<span class="selected-category">home</span>":
        <ol>
            <li><a class="button fanciful selected" href="#">help</a></li>
            <li><a class="button fanciful" href="#">garden</a></li>
            <li><a class="button fanciful" href="#">maintenance</a></li>
            <li><a class="button fanciful selected" href="#">repair</a></li>
            <li><a class="button fanciful" href="#">design</a></li>
            <li><a class="button fanciful" href="#">remodeling</a></li>
        </ol>
    </div>
</div>
