@*
    Print a list of search categories (aka position main categories)
    Params (via PageData):
        string CategoriesTitle = null : optional string to show a h3 header element as list title.
        string SelectedCategory = null : optional string identifying the category that must be marked as 'selected item'
*@
@{
    string title = PageData["CategoriesTitle"];
}
@functions{
    string sel(string name){
        return (name == (PageData["SelectedCategory"] ?? "").ToLower()) ? "selected" : "";
    }
}
<div class="search-categories">
    @if (!String.IsNullOrEmpty(title))
    {
         <h3 class="cat-list-title">@title</h3>
    }
    <ul>
		<li class="cat-home @sel("home")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Home")">Home</a>
            <div class="details">
                <div class="description">
                    <h5><strong>home</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-child @sel("child")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Child")">Child</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Child</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-pets @sel("pet")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Pet")">Pets</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Pets</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-people @sel("personal")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Personal")">People</a>
            <div class="details">
                <div class="description">
                    <h5><strong>People</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-transport @sel("transport")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Transport")">Transport</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Transport</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-business @sel("business")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Business")">Business</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Business</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-elderly @sel("elder")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Elder")">Elderly</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Elderly</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
		<li class="cat-celebrations @sel("celebration")">
			<a href="@Href(UrlUtil.LangPath + "Search/?c=Celebration")">Celebrations</a>
            <div class="details">
                <div class="description">
                    <h5><strong>Celebrations</strong> services ready to be booked</h5>
                    <p>Need some help around the house? Painters, housekeepers, handymen and more await you and your home. You’ll be able to select the perfect service provider that suits your exact needs and budget.  Reviews from customers like yourself will help you along.</p>
                </div>
            </div>
		</li>
	</ul>
</div>