@{
    bool showTitle = (bool)PageData[0];
    // Page[1]: selected category internal-name
    PageData["selected"] = (PageData.Keys.Contains(1) ? PageData[1] : "");
}
@functions{
    string sel(string name){
        return (name == PageData["selected"].ToLower()) ? "selected" : "";
    }
}
    <ul>
        @if (showTitle)
        {
            <li class="cat-list-title"><h3>Or browse by category</h3></li>
        }
		<li class="cat-home @sel("home")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Home")">Home</a>
		</li>
		<li class="cat-child @sel("child")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Child")">Child</a>
		</li>
		<li class="cat-pets @sel("pet")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Pet")">Pets</a>
		</li>
		<li class="cat-people @sel("personal")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Personal")">People</a>
		</li>
		<li class="cat-transport @sel("transport")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Transport")">Transport</a>
		</li>
		<li class="cat-business @sel("business")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Business")">Business</a>
		</li>
		<li class="cat-elderly @sel("elder")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Elder")">Elderly</a>
		</li>
		<li class="cat-celebrations @sel("celebration")">
			<a href="@Href(UrlUtil.LangPath + "Search/?Service=Celebration")">Celebrations</a>
		</li>
	</ul>