@{
    var p = PageData["item"];
}
@helper printFriend(string name, string photo){
    if (String.IsNullOrEmpty(photo)){ photo = "generic-friend-avatar.png";}
    /* Between LI and A elements must not have white spaces */
    <li><a href="@Href(UrlUtil.LangPath + "Profile/?user=" + name)"><img alt="@name" src="@Href(UrlUtil.AppPath + "img/" + photo)"/></a></li>
}
@helper hrefProfile(){
    var p = PageData["item"];
    @Href(UrlUtil.LangPath + "Profile/?providerid=" + p.UserID + "&positionid=" + p.PositionID);
}
@helper printName(dynamic p){
    string l = (string)p["LastName"];
    if (l.Length > 1) { l = l.Substring(0, 1); }
    @(p["FirstName"] + " " + @l + ".")
}

        <h6 class="provider-name"><a href="@hrefProfile()">@printName(p)</a></h6>
        <img alt="Provider photo" class="provider-photo avatar" width="50px" height="50px" src="@Href(UrlUtil.LangPath + "Profile/Photo/" + p.UserID)"/>
        
        <div class="overview">
            <div class="positions">Positions:  Housekeeper, Gardener, and <a href="#" class="view-more">2 more</a></div>
            <div class="services">Services offered:  ironing, mopping, dusting, bed-
                making, sweeping, vacuuming, and <a href="#" class="view-more">14 more</a></div>
        </div>
        
        @RenderPage(UrlUtil.LangPath + "Reviews/$UserRatingSummaryWidget.cshtml", new { ReviewedID = p.UserID, PositionID = p.PositionID, RatingWithNote = false })
        
        <ul class="verifications-summary">
            <li class="license">2 licenses</li>
            <li class="verification">4 verifications</li>
            <li class="total-reviews">22 reviews</li>
        </ul>

        <div class="social-connections">
            <ul>
                @printFriend("Fernando", null)
                @printFriend("Joshua", null)
                @printFriend("Fernando", null)
                @printFriend("Joshua", null)
                @printFriend("Fernando", null)
            </ul>
            <span class="friends"><span class="quantity">14</span> of your friends have used this provider's services</span>
        </div>
        
        <div class="hightlighted-review">
            <img alt="Reviewer photo" class="reviewer-photo" src="@Href(UrlUtil.AppPath + "img/generic-friend-avatar.png")"/>
            <p>
                @p.FirstName is really great at what he does. He was pleasant, communica...
                <a href="#" class="view-more">view more</a>
            </p>
        </div>

       <a class="button fanciful book" href="@hrefProfile()">
        view and book for <span class="hour-price">$17/hr.</span>
       </a>
