@{
    var item = PageData["Item"];
    
    // TODO: implement ClientTypeID
    int clientTypeID = 1;
    
    dynamic customer = PageData["Customer"];

    var providerPrice = LcData.GetProviderPrice(item.UserID, item.PositionID, clientTypeID, (customer == null ? 0 : customer.UserID));

    var dataCats = LcData.GetServiceCatsAndItsAttributes(item.PositionID, "without-special-cats only-user-checked", item.UserID);
    
    // Stats display setup
    var ustats = LcData.UserInfo.GetUserStats(item.UserID);
    var responseTime = "N/A";
    if (ustats != null) {
        responseTime = LcData.UserInfo.GetFormatedUserResponseTime(ustats.ResponseTimeMinutes);
    }
}
@helper hrefProfile(dynamic p){
    @Href(UrlUtil.LangPath + "Profile/?UserID=" + p.UserID + "#position" + p.PositionID);
}
        @RenderPage(UrlUtil.LangPath + "Profile/$UserInfoWidget.cshtml", new { 
            Size = "search", 
            Data = item,
            UserID = item.UserID,
            PositionID = item.PositionID,
            UserType = "provider", 
            WithGooglemap = false,
            WithFullRating = false,
            WithLinkInName = true
        })
        
        <div class="provider-services">
            @foreach (var cat in dataCats)
            {
                if (cat.Value["ServiceAttributes"].Count > 0)
                {
                    <div>
                        <h5>@cat.Value["ServiceAttributeCategoryName"]</h5>
                        @{
                            var attrs = new List<string>();
                        
                            foreach(var att in cat.Value["ServiceAttributes"]){
                                attrs.Add(att.ServiceAttribute);
                            }
                        }
                        @LcHelpers.JoinNotEmptyStrings(", ", attrs)
                    </div>
                }
            }
        </div>
        
        <div class="provider-data">
            @RenderPage(UrlUtil.LangPath + "Profile/$UserVerificationsWidget.cshtml", new { UserID = item.UserID, Size = "mini", ContainerID = "", OnlyIconType = "verification" })
            <div class="response-time">
                <em>Response time</em> <strong>@responseTime</strong>
            </div>
            <div class="price">
                From <strong>@String.Format("{0:C}", providerPrice.Price)
                @if (providerPrice.IsHourly)
                {
                    <text>/h</text>
                }
                </strong>
            </div>
        </div>

        @*<div class="hightlighted-review">
            @RenderPage(UrlUtil.LangPath + "Reviews/$FeaturedReview.cshtml", new { ReviewedID = item.UserID, PositionID = item.PositionID })
            
            <img alt="Reviewer photo" class="reviewer-photo" src="@Href(UrlUtil.AppPath + "img/generic-friend-avatar.png")"/>
            <p>
                @item.FirstName is really great at what he does. He was pleasant, communica...
                <a href="#" class="view-more">view more</a>
            </p>
        </div>*@

       <a class="action book" href="@hrefProfile(item)">view</a>